<main id="main" class="main-container">
  <section id="my-profile" class="user-dashboard">
    <header class="top-header">
      <div class="container1350">
        <div class="left">
          <h1>{{'setting-user.setting-your' | translate}}</h1>
        </div>
        <div class="right">
          <p>{{'setting-user.setting-welcome-info-left' | translate}} {{username}}  {{'setting-user.setting-welcome-info-right' | translate}}</p>
        </div>
      </div>
    </header>
    <div class="container900">
    <div *ngIf="showAccountNotVerified" class="alert alert-warning">
      <b>
        {{'setting-user.email-not-verified' | translate}}
      </b>
    </div>


    <h3>{{'setting-user.setting-profile' | translate}}</h3>
    <div class="form-styling form-horizontal">
    <div class="form-group">
    <label class="col-xs-12 col-sm-4 col-md-4 col-lg-4 control-label">{{'setting-user.setting-profile-image' | translate}}</label>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span *ngIf="companyProfileImg">
      <img [src]="companyProfileImg"
      class="image-preview--profile_image"
      alt="{{'setting-user.setting-profile-image-alt' | translate}}"></span>
    </div>
    </div>
    </div>

    <form class="form-styling form-horizontal" [formGroup]="updateSettingForm" (ngSubmit)="onSubmit()">
      <div class="form-group ">
      <label class="control-label " for="profile_image"></label>
          <input description="min 500x500 JPG image" accept="image/*" (change)="onFileSelectedProfileImg($event)"
          id="profile_image" name="profile_image" type="file">
          <div>{{'setting-user.setting-image-size-info' | translate}}</div>
      </div>

      <div class="form-group ">
        <label class=" control-label" for="fullName">{{'setting-user.setting-form-name' | translate}}</label>
        <input class="form-control" formControlName="fullName" id="fullName" name="fullName"
         readonly="readonly" type="text">
      </div>

      <div class="form-group ">
        <label class="control-label" for="profile_title">{{'setting-user.setting-form-title' | translate}}</label>
        <input class="form-control" formControlName="jobTitle" id="profile_title" name="profile_title"
            placeholder="{{'setting-user.Setting-form-title-placeholder' | translate}}" type="text">
      </div>

      <div class="form-group ">
        <label class="control-label" for="email">{{'setting-user.setting-form-email'| translate}}</label>
          <input class="form-control" formControlName="email" id="email" name="email" readonly="readonly"
            type="text">
      </div>

      <div class="form-group ">
        <label class="control-label " for="summary">{{'setting-user.setting-form-summary' | translate}}</label>
        <textarea class="form-control" formControlName="summary" id="summary" name="summary"
        placeholder="{{'setting-user.setting-form-summary-placeholder' | translate}}"></textarea>
      </div>

      <div class="form-group">
      <label class="control-label " for="cv"></label>
          <input (change)="onFileSelectedCv($event)" id="cv" name="cv"
           accept=".doc,.docx,.txt,.pdf"
           type="file">
          <div>{{'setting-user.setting-saved' | translate}}</div>
      </div>

      <p *ngIf="profileCV" class="preview-resume" (click)="openCV()">
        <i class="fa fa-file-text-o" aria-hidden="true"></i>
        Preview Your Resume
      </p>

      <div class="form-group">
          <button class="btn btn-primary" [disabled]="loading || !updateSettingForm.valid">
            <span *ngIf="!loading">{{'setting-user.setting-form-summary-update' | translate}}</span>
            <span *ngIf="loading" class="spinner-icon"><mat-icon><mat-spinner color="warn" diameter="20">
            </mat-spinner></mat-icon></span>
          </button>
      </div>
    </form>
    <hr>
    </div>
  </section>
  </main>

  <ngx-smart-modal #myModal customClass="msg-modal" identifier="myModal">
    <h1 class="cv-name">{{ username }} CV</h1>
     <ngx-doc-viewer class="doc-viewer" url="{{profileCV}}" viewer="google"></ngx-doc-viewer>
    <button class="btn btn-primary top_space_2" (click)="myModal.close()">Close</button>
  </ngx-smart-modal>
