.main-container {
  background-color: #F7F7F7;
  position: relative;
  text-rendering: geometricPrecision;
  background-repeat: repeat;


  form.form-styling {
    width: 33rem;
    margin: auto;
  }

  .form-styling.form-horizontal {
    width: 30rem;
    margin: auto;
    margin-left: 11rem;
  }

  label {
    text-transform: capitalize;
  }

  img.image-preview--profile_image {
    width: 150px;
    margin-left: -15px;
    border: 1px solid #dddddd;
    padding: 3px;
  }

  .top-header {
    background-color: #f9f9f9;
    -moz-box-shadow: 0px 10px 20px 0px #eee;
    -webkit-box-shadow: 0px 10px 20px 0px #eee;
    box-shadow: 0px 10px 20px 0px #eee;
    background-color: #fff;
    margin-top: 3rem;
  }

  .top-header .container1350 {
    padding: 40px 60px;
  }

  .container1350 {
      max-width: 1350px;
      width: 100%;
      height: auto;
      margin: 0 auto;
  }

  .container1350:before, .container1350:after {
    content: " ";
    display: table;
  }

  .top-header .left {
    width: 65%;
    padding-right: 20px;
  }

  .top-header .left, .top-header .right {
      float: left;
  }

  .top-header h1 {
    font-size: 54px;
    font-family: "Nunito Sans",Helvetica,sans-serif;
    font-weight: 900;
    font-style: normal;
    text-rendering: optimizeLegibility;
    text-transform: uppercase;
    margin: 0;
    line-height: 1.2em;
    font-weight: normal;
  }

  .top-header .right {
    width: 35%;
  }

  .top-header .left, .top-header .right {
      float: left;
  }

  .top-header p {
    font-family: "Nunito Sans",Helvetica,sans-serif;
    font-weight: 300;
    font-style: normal;
    text-rendering: optimizeLegibility;
    font-size: 17px;
  }

  .container1350:after {
    clear: both;
  }

  .container1350:before, .container1350:after {
      content: " ";
      display: table;
  }

  .container900 {
    padding: 37px 0;
  }

  .container900 {
      max-width: 900px;
      width: 100%;
      height: auto;
      margin: 0 auto;
  }

  .user-dashboard h3 {
    margin: 20px 15px;
    text-transform: capitalize;
  }

  .form-horizontal .form-group {
    margin-left: -15px;
    margin-right: -15px;
  }

  .form-group {
      margin-bottom: 15px;
  }

  .user-dashboard h3 {
    margin: 20px 15px;
  }

  .user-dashboard .alert {
    margin: 0px 0 15px 0;
  }

  .alert {
      margin: 30px auto;
      text-align: center;
  }

  .alert-warning {
      background-color: #fcf8e3;
      border-color: #faebcc;
      color: #8a6d3b;
  }

  button, input[type="submit"] {
    outline: none;
    cursor: pointer;
    border: none;
    line-height: 1.2em;
    text-decoration: none !important;
  }

  .tm-orange-round-button {
    -webkit-transition: background 200ms ease-out;
    -moz-transition: background 200ms ease-out;
    -ms-transition: background 200ms ease-out;
    -o-transition: background 200ms ease-out;
    transition: background 200ms ease-out;
    padding: 12px 30px;
    display: inline-block;
    background-color: #f87964;
    line-height: 1.2em;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-family: "Nunito Sans",Helvetica,sans-serif;
    font-weight: 700;
    font-style: normal;
    text-rendering: optimizeLegibility;
    font-size: 11px;
    border-radius: 25px;
    letter-spacing: 1px;
  }

  .form-styling button[type="submit"], .form-group button[type="submit"] {
    -webkit-transition: background 200ms ease-out;
    -moz-transition: background 200ms ease-out;
    -ms-transition: background 200ms ease-out;
    -o-transition: background 200ms ease-out;
    transition: background 200ms ease-out;
    padding: 12px 30px;
    display: inline-block;
    background-color: #53b6d0;
    line-height: 1.2em;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-family: "Nunito Sans",Helvetica,sans-serif;
    font-weight: 700;
    font-style: normal;
    text-rendering: optimizeLegibility;
    font-size: 11px;
    border-radius: 25px;
    letter-spacing: 1px;
}
.blue-solid-button-sm {
    -webkit-transition: background 200ms ease-out;
    -moz-transition: background 200ms ease-out;
    -ms-transition: background 200ms ease-out;
    -o-transition: background 200ms ease-out;
    transition: background 200ms ease-out;
    width: auto;
    font-size: 14px;
    background-color: #53b6d0;
    display: inline-block;
    text-align: center;
    text-transform: capitalize;
    outline: none;
    cursor: pointer;
    padding: 0.9em 2.5em;
    font-family: "Nunito Sans",Helvetica,sans-serif;
    font-weight: 600;
    font-style: normal;
    text-rendering: optimizeLegibility;
    line-height: 1.2em;
    color: #fff;
    border: 1px solid #53b6d0;
  }
}


.open-model {
  width: 70vw;
}

.cv-name {
  font-size: 1.4rem;
  font-weight: bold;
}

.preview-resume {
  font-weight: bold;
  cursor: pointer;
  margin-left: -12px;
}

.doc-viewer {
  height: 70vh;
}


