
<div class="admin-wrapper">
  <div class="row no-gutters">
    <div class="col-sm-6 col-md-2">
      <app-admin-menu></app-admin-menu>
    </div>
    <div class="col-12 col-md-10 col-xs-12">
      <div class="content-body">
        <div class="main-content">
          <h1 class="job-list-title">{{'admin-list-job.title' | translate}}</h1>

          <div class="list-job-filter">
            <form [formGroup]="searchForm">
              <div class="row row-cols-4">
                <div class="col">
                  <!-- (keyup)="applyFilter($event)" -->
                  <input type="text" formControlName="jobTitle" required placeholder="{{'admin-list-job.form-job-title-placeholder' | translate}}"
                  class="form-control form-control-sm" id="companyName">
                </div>
                <div class="col">
                  <select formControlName="company" class="form-control form-control-sm">
                    <option value="">{{'admin-list-job.form-select-company' | translate}}</option>
                    <option *ngFor="let company of companyList" [value]="company.company_name">{{ company.company_name }}</option>
                  </select>
                </div>
                <div class="col">
                  <input type="text" formControlName="discription" placeholder="{{'admin-list-job.form-discription-placeholder' | translate}}"
                  class="form-control form-control-sm" id="discription">
                </div>
                <div class="col">
                  <input type="text" formControlName="city" placeholder="{{'admin-list-job.form-city' | translate}}"
                  class="form-control form-control-sm" id="city">
                </div>
              </div>
              <div class="search-with-date">
                <div class="row row-cols-4">
                  <div class="col">
                    <span class="date-from">{{'admin-list-job.form-date-from' | translate}}</span>
                    <mat-form-field appearance="outline">
                      <input matInput [matDatepicker]="picker1" formControlName="dateFrom">
                      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                      <mat-datepicker #picker1 color="primary"></mat-datepicker>
                    </mat-form-field>
                  </div>

                  <div class="col">
                    <span class="date-from">{{'admin-list-job.form-date-to' | translate}}</span>
                    <mat-form-field appearance="outline">
                      <input matInput [matDatepicker]="picker2" formControlName="dateTo">
                      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                      <mat-datepicker #picker2 color="primary"></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col">
                    <div class="filtered-button">
                      <button class="btn btn-primary" (click)="onSearch()">{{'admin-list-job.form-button' | translate}}</button>
                      <span class="checked-btn">
                        <button *ngIf="selection.hasValue()" class="btn btn-danger">{{'admin-list-job.checkbox-show-button' | translate}}</button>
                      </span>
                    </div>
                  </div>
                  <div class="col">
                  </div>

                </div>
              </div>
          </form>
          </div>

          <div class="table-container mat-elevation-z8">
            <table mat-table matSortActive="title" matSortDirection="asc" matSortDisableClear
             [dataSource]="dataSource" matSort>

              <!-- Checkbox Column -->
              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                  <mat-checkbox (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()"
                                [aria-label]="checkboxLabel()">
                  </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                  <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null"
                                [checked]="selection.isSelected(row)"
                                [aria-label]="checkboxLabel(row)">
                  </mat-checkbox>
                </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'admin-list-job.table-header-title' | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.title}} </td>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="company_name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'admin-list-job.table-header-company-name' | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.company_name}} </td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="location">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'admin-list-job.table-header-location' | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.company_name}} </td>
              </ng-container>

              <!-- payment Column -->
              <ng-container matColumnDef="date_created">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'admin-list-job.table-header-date-created' | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.date_created}} </td>
              </ng-container>


              <!-- Status Column -->
              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'admin-list-job.table-header-status' | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.status}} </td>
              </ng-container>

              <!-- Status Column -->
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
                <td mat-cell *matCellDef="let element">
                  <div class="action-menu">
                    <mat-icon [matMenuTriggerFor]="menu">more_vert</mat-icon>
                </div>

                <mat-menu #menu="matMenu">
                  <button mat-menu-item>
                    <mat-icon>visibility</mat-icon>
                    <span>{{'admin-list-job.table-menu-view' | translate}}</span>
                  </button>
                  <button mat-menu-item>
                    <mat-icon>create</mat-icon>
                    <span>{{'admin-list-job.table-menu-edit' | translate}}</span>
                  </button>
                  <button mat-menu-item>
                    <mat-icon style="color: red;">delete</mat-icon>
                    <span>{{'admin-list-job.table-menu-delete' | translate}}</span>
                  </button>
                </mat-menu>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <!-- <mat-paginator  [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator> -->
            <mat-paginator class="mat-paginator-sticky" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

