.confirm-email-wrapper {
  height: 70vh;

  .comfirm-email__message {
    padding-top: 16rem;
  }

  .email-icon {
    width: 5rem;
    margin: auto;
  }

  .confirm-message {
    width: 21rem;
    margin: auto;
    margin-top: 1rem;
    text-align: center;
  }
}
