<div class="confirm-email-wrapper">
  <div class="comfirm-email__message">
    <div class="email-icon"><img width="120px" src="/assets/icons/mail.png" alt="Email icon"/></div>
    <div class="confirm-message">
      <p>{{'confirm-email-page.confirm-email-message' | translate}}</p>
    </div>
  </div>
</div>
