<div class="admin-wrapper">
  <div class="row no-gutters">
    <div class="col-sm-6 col-md-2">
      <app-admin-menu></app-admin-menu>
    </div>
    <div class="col-12 col-md-10 col-xs-12">
      <div class="content-body">
        <div class="main-content">
          <h1 class="state-list-title">{{'manage-state.title' | translate}}</h1>

          <div class="list-state-filter">
            <form [formGroup]="searchForm">
              <div class="row row-cols-3">
                <div class="col">
                  <div class="form-group">
                    <select (change)="getCountry($event.target.value)" id="countryName" class="form-control form-control-sm" name="countryName" required>
                      <option  value="">{{'manage-state.form-countryName' | translate}}</option>
                      <option *ngFor="let list of countries" value="{{ list.id }}">{{ list.name }}</option>
                    </select>
                  </div>
                </div>
                <div class="col">
                  <div class="filtered-button">
                    <span class="checked-btn">
                      <button *ngIf="this.selection.selected.length >= 1" (click)="onConfirmDeleteState()" class="btn btn-danger" [disabled]="checkedDeleteLoader">
                        <span *ngIf="!checkedDeleteLoader">{{'manage-state.checkbox-show-button' | translate}}</span>
                        <span *ngIf="checkedDeleteLoader" class="spinner-icon"><mat-icon><mat-spinner color="warn" diameter="20">
                        </mat-spinner></mat-icon></span>
                      </button>
                    </span>
                  </div>
                </div>
              </div>
          </form>
          </div>

          <div class="table-container mat-elevation-z8" [hidden]="noStateRecord || isLoadingResults">
            <table mat-table matSortActive="title" matSortDirection="desc" matSortDisableClear
             [dataSource]="dataSource" matSort>

              <!-- Checkbox Column -->
              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                  <mat-checkbox (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()"
                                [aria-label]="checkboxLabel()">
                  </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                  <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null"
                                [checked]="selection.isSelected(row)"
                                [aria-label]="checkboxLabel(row)">
                  </mat-checkbox>
                </td>
              </ng-container>

              <!-- Sortname Column -->
              <ng-container matColumnDef="counterCodeName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'manage-state.table-header-sortname' | translate}}</th>
                <td mat-cell *matCellDef="let element"> {{element.countryCode}} </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="country">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'manage-state.table-header-country' | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.countryName}} </td>
              </ng-container>

              <!-- PhoneCode Column -->
              <ng-container matColumnDef="state">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'manage-state.table-header-state' | translate}}  </th>
                <td mat-cell *matCellDef="let element"> {{element.stateName}} </td>
              </ng-container>

              <!-- Status Column -->
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
                <td mat-cell *matCellDef="let element">
                  <div class="action-menu">
                    <mat-icon [matMenuTriggerFor]="menu">more_vert</mat-icon>
                </div>

                <mat-menu #menu="matMenu">
                  <button (click)="editState(element)" mat-menu-item>
                    <mat-icon>create</mat-icon>
                    <span>{{'manage-state.table-menu-edit' | translate}}</span>
                  </button>
                  <button (click)="deleteSingleState(element)" mat-menu-item>
                    <mat-icon style="color: red;">delete</mat-icon>
                    <span>{{'manage-state.table-menu-delete' | translate}}</span>
                  </button>
                </mat-menu>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator class="mat-paginator-sticky"
             #paginator
             [length] = "resultsLength"
             [pageSize] = "10"
             [pageSizeOptions] = "[5, 10, 25, 100]"
             (page)="getNext($event)">
            </mat-paginator>
          </div>

          <div *ngIf="isLoadingResults">
            <div class="linear-background">
              <div class="inter-draw"></div>
              <div class="inter-crop"></div>
              <div class="inter-right--top"></div>
              <div class="inter-right--bottom"></div>
            </div>
            <div class="linear-background">
              <div class="inter-draw"></div>
              <div class="inter-crop"></div>
              <div class="inter-right--top"></div>
              <div class="inter-right--bottom"></div>
            </div>
            <div class="linear-background">
              <div class="inter-draw"></div>
              <div class="inter-crop"></div>
              <div class="inter-right--top"></div>
              <div class="inter-right--bottom"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="update-wrapper" *ngIf="showEditCountryPanel" [@slideInOut]>
  <form (ngSubmit)="f.form.valid && onUpdateCountry()" #f="ngForm">
    <span (click)="showEditCountryPanel = false" class="material-icons close-icon">
      highlight_off
    </span>
    <div class="add-counrty-form">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-12">
              <div class="form-group">
                <label for="state">{{'add-state.form-add-state' | translate}}</label>
                <input type="text" class="form-control" id="state"  placeholder="{{'add-state.form-add-state-placeholder' | translate}}"
                    name="state" [(ngModel)]="stateModel.state"
                    #state="ngModel" [ngClass]="{ 'is-invalid': f.submitted && state.invalid }" required>
                    <div *ngIf="f.submitted && state.invalid" class="invalid-feedback">
                      <div *ngIf="state.errors.required">{{'add-state.form-country-state-error-message' | translate}}</div>
                  </div>
              </div>
          </div>
        </div>
        <button class="btn btn-primary">
          <span *ngIf="!updateLoading">{{'add-country.form-button' | translate}}</span>
          <span *ngIf="updateLoading" class="spinner-icon"><mat-icon><mat-spinner color="warn" diameter="20">
          </mat-spinner></mat-icon></span>
         </button>
      </div>
    </div>
    </form>
</div>


