<div class="admin-wrapper">
  <div class="row no-gutters">
    <div class="col-sm-6 col-md-2">
      <app-admin-menu></app-admin-menu>
    </div>
    <div class="col-12 col-md-10 col-xs-12">
      <div class="content-body">
        <div class="main-content">
          <h1 class="job-list-title">{{'list-testimonial.title' | translate}}</h1>
          <div class="list-job-filter">
            <form [formGroup]="searchForm">
              <div class="row row-cols-3">
                <div class="col">
                  <input type="text" formControlName="testimonial" required placeholder="{{'list-testimonial.form-testimonial-placeholder' | translate}}"
                  class="form-control form-control-sm" id="testimonial">
                </div>
                <div class="col">
                  <select formControlName="isDefault" class="form-control form-control-sm">
                    <option value="">{{'list-testimonial.form-select-active' | translate}}</option>
                    <option value="true">{{'list-testimonial.form-select-active-yes' | translate}}</option>
                    <option value="false">{{'list-testimonial.form-select-active-no' | translate}}</option>
                  </select>
                </div>
                <div class="col">
                  <div class="filtered-button">
                    <button *ngIf="isSearch" (click)="clearSearch()" class="btn btn-danger clear-search">
                      <span>{{'manage-country.clear-search' | translate}}</span>
                    </button>

                    <button (click)="onSearch()" class="btn btn-primary" [disabled]="searchLoading ">
                      <span *ngIf="!searchLoading">{{'list-testimonial.form-button' | translate}}</span>
                      <span *ngIf="searchLoading" class="spinner-icon"><mat-icon><mat-spinner color="warn" diameter="20">
                      </mat-spinner></mat-icon></span>
                    </button>

                    <span class="checked-btn">
                      <button *ngIf="this.selection.selected.length >= 1" (click)="onConfirmDelete()" class="btn btn-danger" [disabled]="checkedDeleteLoader ">
                        <span *ngIf="!checkedDeleteLoader">{{'list-testimonial.checkbox-show-button' | translate}}</span>
                        <span *ngIf="checkedDeleteLoader" class="spinner-icon"><mat-icon><mat-spinner color="warn" diameter="20">
                        </mat-spinner></mat-icon></span>
                      </button>
                    </span>
                  </div>
                </div>
              </div>
          </form>
          </div>

          <div class="table-container mat-elevation-z8" [hidden]="isLoadingResults || resultsLength == 0">
            <table mat-table matSortActive="title" matSortDirection="desc" matSortDisableClear
             [dataSource]="dataSource" matSort>

              <!-- Checkbox Column -->
              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                  <mat-checkbox (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()"
                                [aria-label]="checkboxLabel()">
                  </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                  <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null"
                                [checked]="selection.isSelected(row)"
                                [aria-label]="checkboxLabel(row)">
                  </mat-checkbox>
                </td>
              </ng-container>

              <!-- Testimonial By Column -->
              <ng-container matColumnDef="testimonialBy">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'list-testimonial.table-header-testimonialBy' | translate}}</th>
                <td mat-cell *matCellDef="let element"> {{element.testimonialBy}} </td>
              </ng-container>

              <!-- Testimonial Column -->
              <ng-container matColumnDef="testimonial">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'list-testimonial.table-header-testimonial' | translate}} </th>
                <td mat-cell *matCellDef="let element"><span [innerHTML]="element.testimonial"></span></td>
              </ng-container>

              <!-- Status Column -->
              <ng-container matColumnDef="companyDesignation">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'list-testimonial.table-header-companyDesignation' | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.companyDesignation}} </td>
              </ng-container>

              <!-- created Column -->
              <ng-container matColumnDef="isDefault">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'list-testimonial.table-header-isDefault' | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{ element.isDefault == 'true' ? 'Yes' : 'No'}} </td>
              </ng-container>


              <!-- Status Column -->
              <ng-container matColumnDef="isActive">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'list-testimonial.table-header-isActive' | translate}} </th>
                <td mat-cell *matCellDef="let element">  {{ element.isActive == 'true' ? 'Yes' : 'No'}} </td>
              </ng-container>

              <!-- Status Column -->
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
                <td mat-cell *matCellDef="let element">
                  <div class="action-menu">
                    <mat-icon [matMenuTriggerFor]="menu">more_vert</mat-icon>
                </div>

                <mat-menu #menu="matMenu">
                  <button (click)="editTestimony(element)"  mat-menu-item>
                    <mat-icon>create</mat-icon>
                    <span>{{'list-testimonial.table-menu-edit' | translate}}</span>
                  </button>
                  <button (click)="deleteSingleTestimony(element)" mat-menu-item>
                    <mat-icon style="color: red;">delete</mat-icon>
                    <span>{{'list-testimonial.table-menu-delete' | translate}}</span>
                  </button>
                </mat-menu>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator class="mat-paginator-sticky"
             #paginator
             [length] = "resultsLength"
             [pageSize] = "10"
             [pageSizeOptions] = "[5, 10, 25, 100]"
             (page)="getNext($event)">
            </mat-paginator>
          </div>

          <div *ngIf="isLoadingResults">
            <div class="linear-background">
              <div class="inter-draw"></div>
              <div class="inter-crop"></div>
              <div class="inter-right--top"></div>
              <div class="inter-right--bottom"></div>
            </div>
            <div class="linear-background">
              <div class="inter-draw"></div>
              <div class="inter-crop"></div>
              <div class="inter-right--top"></div>
              <div class="inter-right--bottom"></div>
            </div>
            <div class="linear-background">
              <div class="inter-draw"></div>
              <div class="inter-crop"></div>
              <div class="inter-right--top"></div>
              <div class="inter-right--bottom"></div>
            </div>
          </div>

          <div *ngIf="resultsLength == 0" class="no-search-wrapper">
            <div class="no-search-info"> <h2>{{'manage-city.no-record-found' | translate}}</h2></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="update-wrapper" *ngIf="showEditTestimonyPanel" [@slideInOut]>
  <span (click)="showEditTestimonyPanel = false" class="material-icons close-icon">
    highlight_off
  </span>
  <form [formGroup]="editTestimonialsForm">
    <div class="form-group">
      <label for="testimonialBy">{{'add-testimonial.form-testimonialBy' | translate}} *</label>
      <input name="testimonialBy" formControlName="testimonialBy" required type="text" class="form-control" id="testimonialBy"
      [ngClass]="{ 'is-invalid': submitted && editForm.testimonialBy.errors }">
      <div *ngIf="submitted && editForm.testimonialBy.errors" class="invalid-feedback">
        <div *ngIf="editForm.testimonialBy.errors.required">{{'add-testimonial.form-testimonialBy-error-message' | translate}}</div>
      </div>
    </div>

    <div class="form-group">
      <label for="companyDesignation">{{'add-testimonial.form-companyDesignation' | translate}} *</label>
      <input name="companyDesignation" formControlName="companyDesignation" required type="text" class="form-control" id="companyDesignation"
      [ngClass]="{ 'is-invalid': submitted && editForm.companyDesignation.errors }">
      <div *ngIf="submitted && editForm.companyDesignation.errors" class="invalid-feedback">
        <div *ngIf="editForm.companyDesignation.errors.required">{{'add-testimonial.form-companyDesignation-error-message' | translate}}</div>
      </div>
    </div>

    <div class="form-group">
    <label for="testimonial">{{'add-testimonial.form-testimonial' | translate}} *</label>
        <ejs-richtexteditor required name="testimonial"
        [ngClass]="{ 'is-invalid': submitted && editForm.testimonial.errors }"
        formControlName="testimonial" [toolbarSettings]='tools'></ejs-richtexteditor>
    </div>

    <div class="checkbox-wrapper">
    <div class="form-group">
      <label class="label-form" for="default">{{'add-testimonial.form-default' | translate}}</label>
        <mat-radio-group id="default" class="defaultChecked" formControlName="default" aria-label="Select an option">
          <mat-radio-button value="true">{{'add-testimonial.form-default-yes' | translate}}</mat-radio-button>
          <mat-radio-button value="false">{{'add-testimonial.form-default-no' | translate}}</mat-radio-button>
        </mat-radio-group>
    </div>

      <div class="form-group">
        <label class="label-form" for="active">{{'add-testimonial.form-active' | translate}}</label>
        <mat-radio-group id="active" formControlName="active" aria-label="Select an option">
          <mat-radio-button value="true">{{'add-testimonial.form-active-yes' | translate}}</mat-radio-button>
          <mat-radio-button value="false">{{'add-testimonial.form-active-no' | translate}}</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
      <div class="sumit-button">
        <button (click)="updateTestimony()" class="btn btn-primary"
            [disabled]="updateLoading || !editTestimonialsForm.valid">
          <span *ngIf="!updateLoading">{{'add-testimonial.form-button' | translate}}</span>
          <span *ngIf="updateLoading" class="spinner-icon"><mat-icon><mat-spinner color="warn" diameter="20">
          </mat-spinner></mat-icon></span>
        </button>
      </div>


  </form>
</div>
