.payment-setting-wrapper {
  margin-top: 1rem;
  width: 50rem;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 3rem;

  .logo-image {
    width: 15rem;
    height: 5rem;
  }

  .row.logo-row {
    background-color: #eeeeee;
    padding-top: 1rem;
    border-top: 1px solid #52b7d0;
  }

  .row.favicon-row {
    background-color: #eeeeee;
    padding-top: 1rem;
    border-bottom: 1px solid #52b7d0;
    margin-top: 1rem;
  }

  .specific-checkbox {
    margin-right: 1rem;
  }

  #mat-radio-5 {
    margin-right: 1rem;
  }

  .mail-driver {
    margin-left: 1rem;
  }

  #mat-radio-11 {
    margin-right: 1rem;
  }

  #mat-radio-14 {
    margin-right: 1rem;
  }

  #mat-radio-8 {
    margin-right: 1rem;
  }

  section.select-payment-type {
    margin-top: -4px;
  }

  #mat-checkbox-1 {
    margin-right: 16px;
  }

  #mat-checkbox-2 {
    margin-right: 16px;
  }

  .toggle-panel  .mat-expansion-panel-header-title,
  .toggle-panel  .mat-expansion-panel-header-description {
    flex-basis: 0;
  }

  .toggle-panel .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
}


