<div class="payment-setting-wrapper">
  <div class="container">
    <div class="row top_space_2">
      <div class="col-sm-12 col-lg-8">
        <div class="mail-driver">
          <div class="form-group row">
            <p class="specific-checkbox" >
              <label><b>{{'payment-gateway.method-type' | translate}}</b></label>
            </p>
              <section class="select-payment-type">
                <mat-checkbox class="example-margin" (change)="addPaymentMethod()" [(ngModel)]="paypal">{{'payment-gateway.type-paypal' | translate}}</mat-checkbox>
                <mat-checkbox class="example-margin" (change)="addPaymentMethod()" [(ngModel)]="stripe">{{'payment-gateway.type-stripe' | translate}}</mat-checkbox>
                <mat-checkbox class="example-margin" (change)="addPaymentMethod()" [(ngModel)]="bankTransfer">{{'payment-gateway.type-bank-transfer' | translate}}</mat-checkbox>
              </section>
          </div>
        </div>
      </div>
    </div>
    <mat-accordion class="toggle-panel" multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{'payment-gateway.paypal-title' | translate}}
          </mat-panel-title>
          <mat-panel-description>
            {{'payment-gateway.paypal-description' | translate}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <form [formGroup]="paypalForm">
          <div class="row top_space_2">
            <div class="col-sm-12 col-lg-8">
              <div class="form-group row">
                <label for="paypalAccount">{{'payment-gateway.form-paypal-account-type' | translate}} *</label>
                <input type="text" formControlName="paypalAccount" required class="form-control" id="paypalAccount"
                [ngClass]="{ 'is-invalid': submittedPaypal && paypalFormGetter.paypalAccount.errors }">
                <div *ngIf="submittedPaypal && paypalFormGetter.paypalAccount.errors" class="invalid-feedback">
                  <div *ngIf="paypalFormGetter.paypalAccount.errors.required">
                    {{'payment-gateway.form-paypal-account-type-error-message' | translate}}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row top_space_2">
            <div class="col-sm-12 col-lg-8">
              <div class="form-group row">
                <label for="paypalClentId">{{'payment-gateway.form-paypal-client-id' | translate}} *</label>
                <input type="text" formControlName="paypalClentId" required class="form-control" id="paypalClentId"
                [ngClass]="{ 'is-invalid': submittedPaypal && paypalFormGetter.paypalClentId.errors }">
                <div *ngIf="submittedPaypal && paypalFormGetter.paypalClentId.errors" class="invalid-feedback">
                  <div *ngIf="paypalFormGetter.paypalClentId.errors.required">
                    {{'payment-gateway.form-paypal-client-id-error-message' | translate}}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row top_space_2">
            <div class="col-sm-12 col-lg-8">
              <div class="form-group row">
                <label for="paypalSecret">{{'payment-gateway.form-paypal-secret' | translate}} *</label>
                <input type="text" formControlName="paypalSecret" required class="form-control" id="paypalSecret"
                [ngClass]="{ 'is-invalid': submittedPaypal && paypalFormGetter.paypalSecret.errors }">
                <div *ngIf="submittedPaypal && paypalFormGetter.paypalSecret.errors" class="invalid-feedback">
                  <div *ngIf="paypalFormGetter.paypalSecret.errors.required">
                    {{'payment-gateway.form-paypal-secret-error-message' | translate}}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row top_space_2">
            <p class="specific-checkbox" >
              <label>{{'payment-gateway.form-is-sandbox' | translate}} *</label>
            </p>
              <mat-radio-group formControlName="isPaypalSandbox" required>
                <mat-radio-button [value]="'yes'">
                  {{'payment-gateway.form-is-sandbox-yes' | translate}}
                </mat-radio-button>
                <mat-radio-button [value]="'no'">
                  {{'payment-gateway.form-is-sandbox-no' | translate}}
                </mat-radio-button>
              </mat-radio-group>
          </div>

          <div class="form-group row top_space_2">
            <p class="specific-checkbox" >
              <label> {{'payment-gateway.form-is-paypal-active' | translate}} *</label>
            </p>
              <mat-radio-group formControlName="isPaypalActive" required>
                <mat-radio-button [value]="'yes'">
                  {{'payment-gateway.form-is-paypal-active-yes' | translate}}
                </mat-radio-button>
                <mat-radio-button [value]="'no'">
                  {{'payment-gateway.form-is-paypal-active-no' | translate}}
                </mat-radio-button>
              </mat-radio-group>
          </div>

          <div class="row top_space_2">
              <button (click)="onSubmitPaypal()" class="btn btn-primary" [disabled]="loadingPaypal || paypalForm.invalid">
                <span *ngIf="!loadingPaypal">
                  {{'payment-gateway.form-submit-button' | translate}}
                </span>
                <span *ngIf="loadingPaypal" class="spinner-icon"><mat-icon><mat-spinner color="warn" diameter="20">
                </mat-spinner></mat-icon></span>
              </button>
          </div>
        </form>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{'payment-gateway.stripe-title' | translate}}
          </mat-panel-title>
          <mat-panel-description>
            {{'payment-gateway.stripe-description' | translate}}
          </mat-panel-description>
        </mat-expansion-panel-header>

        <form [formGroup]="stripeForm">
          <div class="row top_space_2">
            <div class="col-sm-12 col-lg-8">
              <div class="form-group row">
                <label for="stripePublisedKey">{{'payment-gateway.form-stripe-key' | translate}} *</label>
                <input type="text" formControlName="stripePublisedKey" required class="form-control" id="stripePublisedKey"
                [ngClass]="{ 'is-invalid': submittedStripe && stripeFormGetter.stripePublisedKey.errors }">
                <div *ngIf="submittedStripe && stripeFormGetter.stripePublisedKey.errors" class="invalid-feedback">
                  <div *ngIf="stripeFormGetter.stripePublisedKey.errors.required">
                    {{'payment-gateway.form-stripe-key-error-message' | translate}}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row top_space_2">
            <div class="col-sm-12 col-lg-8">
              <div class="form-group row">
                <label for="stripeSecrectKey"> {{'payment-gateway.form-stripe-secret' | translate}} *</label>
                <input type="text" formControlName="stripeSecrectKey" required class="form-control" id="stripeSecrectKey"
                [ngClass]="{ 'is-invalid': submittedStripe && stripeFormGetter.stripeSecrectKey.errors }">
                <div *ngIf="submittedStripe && stripeFormGetter.stripeSecrectKey.errors" class="invalid-feedback">
                  <div *ngIf="stripeFormGetter.stripeSecrectKey.errors.required">
                    {{'payment-gateway.form-stripe-secret-error-message' | translate}}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row top_space_2">
            <p class="specific-checkbox" >
              <label>{{'payment-gateway.form-is-stripe-active' | translate}} *</label>
            </p>
              <mat-radio-group formControlName="isStripeActive" required>
                <mat-radio-button [value]="'yes'">
                  {{'payment-gateway.form-is-stripe-yes' | translate}}
                </mat-radio-button>
                <mat-radio-button [value]="'no'">
                  {{'payment-gateway.form-is-stripe-no' | translate}}
                </mat-radio-button>
              </mat-radio-group>
          </div>

          <div class="row top_space_2">
              <button (click)="onSubmitStripe()" class="btn btn-primary" [disabled]="loadingStripe || stripeForm.invalid">
                <span *ngIf="!loadingStripe">
                  {{'payment-gateway.form-submit-button' | translate}}
                </span>
                <span *ngIf="loadingStripe" class="spinner-icon"><mat-icon><mat-spinner color="warn" diameter="20">
                </mat-spinner></mat-icon></span>
              </button>
          </div>
        </form>

      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{'payment-gateway.bank-transfer-title' | translate}}
          </mat-panel-title>
          <mat-panel-description>
            {{'payment-gateway.bank-transfer-description' | translate}}
          </mat-panel-description>
        </mat-expansion-panel-header>

        <form [formGroup]="bankTransferForm">
          <div class="row top_space_2">
            <div class="col-sm-12 col-lg-8">
              <div class="form-group row">
                <label for="bankTranser">{{'payment-gateway.form-transfer-details' | translate}} *</label>
                <textarea formControlName="bankTranser" required class="form-control"
                id="bankTranser" rows="5"
                [ngClass]="{ 'is-invalid': submittedBankTransfer && bankTransferFormGetter.bankTranser.errors }"></textarea>
                <div *ngIf="submittedBankTransfer && bankTransferFormGetter.bankTranser.errors" class="invalid-feedback">
                  <div *ngIf="bankTransferFormGetter.bankTranser.errors.required">
                    {{'payment-gateway.form-transfer-details-error' | translate}}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row top_space_2">
              <button (click)="onSubmitBankTransfer()" class="btn btn-primary" [disabled]="loadingBankTransfer || bankTransferForm.invalid">
                <span *ngIf="!loadingBankTransfer">
                  {{'payment-gateway.form-submit-button' | translate}}
                </span>
                <span *ngIf="loadingBankTransfer" class="spinner-icon"><mat-icon><mat-spinner color="warn" diameter="20">
                </mat-spinner></mat-icon></span>
              </button>
          </div>
        </form>

      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
