<div class="email-setting-wrapper">
  <div class="container">
    <div class="row top_space_2">
      <div class="col-sm-12 col-lg-8">
        <div class="mail-driver">
          <div class="form-group row">
            <p class="specific-checkbox" >
              <label for="default-country"><b>{{'email-setting.mail-driver-type' | translate}}</b></label>
            </p>
              <mat-radio-group
                [(ngModel)]="mailDriver">
                <mat-radio-button [value]="'smtp'">
                  {{'email-setting.mail-smtp' | translate}}
                </mat-radio-button>
                <mat-radio-button [value]="'sendGrid'">
                  {{'email-setting.mail-sendgrid' | translate}}
                </mat-radio-button>
              </mat-radio-group>
          </div>
        </div>
      </div>
    </div>
    <mat-accordion class="toggle-panel" multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{'email-setting.smtp' | translate}}
          </mat-panel-title>
          <mat-panel-description>
            {{'email-setting.smtp-setting' | translate}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <form [formGroup]="smtpForm">
          <div class="row top_space_2">
            <div class="col-sm-12 col-lg-8">
              <div class="form-group row">
                <label for="site-name">{{'email-setting.form-smtp' | translate}} *</label>
                <input type="text" formControlName="mailHostSmtp" required class="form-control"
                [ngClass]="{ 'is-invalid': submitted && smtp.mailHostSmtp.errors }">
                <div *ngIf="submitted && smtp.mailHostSmtp.errors" class="invalid-feedback">
                  <div *ngIf="smtp.mailHostSmtp.errors.required">{{'email-setting.form-smtp-error-message' | translate}}</div>
                </div>
              </div>
            </div>
          </div>

          <div class="row top_space_2">
            <div class="col-sm-12 col-lg-8">
              <div class="form-group row">
                <label for="site-slogan">{{'email-setting.form-smtp-mail-port' | translate}}</label>
                <input type="text" formControlName="mailPortSmtp" required class="form-control"
                [ngClass]="{ 'is-invalid': submitted && smtp.mailPortSmtp.errors }">
                <div *ngIf="submitted && smtp.mailPortSmtp.errors" class="invalid-feedback">
                  <div *ngIf="smtp.mailPortSmtp.errors.required">{{'email-setting.form-smtp-error' | translate}}</div>
                </div>
              </div>
            </div>
          </div>

          <div class="row top_space_2">
            <div class="col-sm-12 col-lg-8">
              <div class="form-group row">
                <label for="site-slogan">{{'email-setting.form-smtp-mail-username' | translate}}</label>
                <input type="text" formControlName="usernameSmtp" required class="form-control"
                [ngClass]="{ 'is-invalid': submitted && smtp.usernameSmtp.errors }">
                <div *ngIf="submitted && smtp.usernameSmtp.errors" class="invalid-feedback">
                  <div *ngIf="smtp.usernameSmtp.errors.required">{{'email-setting.form-smtp-mail-username-error' | translate}}</div>
                </div>
              </div>
            </div>
          </div>

          <div class="row top_space_2">
            <div class="col-sm-12 col-lg-8">
              <div class="form-group row">
                <label for="from-email">{{'email-setting.form-smtp-mail-password' | translate}}</label>
                <input type="email" formControlName="passwordSmtp" required class="form-control"
                [ngClass]="{ 'is-invalid': submitted && smtp.passwordSmtp.errors }">
                <div *ngIf="submitted && smtp.passwordSmtp.errors" class="invalid-feedback">
                  <div *ngIf="smtp.passwordSmtp.errors.required">{{'email-setting.form-smtp-mail-password-error' | translate}}</div>
                </div>
              </div>
            </div>
          </div>

          <div class="row top_space_2">
                <button (click)="onSubmitSmtp()" class="btn btn-primary" [disabled]="loading || smtpForm.invalid">
                  <span *ngIf="!loading">{{'email-setting.form-submit-button' | translate}}</span>
                  <span *ngIf="loading" class="spinner-icon"><mat-icon><mat-spinner color="warn" diameter="20">
                  </mat-spinner></mat-icon></span>
                 </button>
          </div>
        </form>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{'email-setting.sendgrid' | translate}}
          </mat-panel-title>
          <mat-panel-description>
            {{'email-setting.sendgrid-setting' | translate}}
          </mat-panel-description>
        </mat-expansion-panel-header>

        <form [formGroup]="sendGridForm">
          <div class="row top_space_2">
            <div class="col-sm-12 col-lg-8">
              <div class="form-group row">
                <label for="site-name">{{'email-setting.form-sendgrid' | translate}} *</label>
                <input type="text" formControlName="mailHostSendGrid" required class="form-control"
                [ngClass]="{ 'is-invalid': submitted && sendGrid.mailHostSendGrid.errors }">
                <div *ngIf="submitted && sendGrid.mailHostSendGrid.errors" class="invalid-feedback">
                  <div *ngIf="sendGrid.mailHostSendGrid.errors.required">{{'email-setting.form-sendgrid-error-message' | translate}}d</div>
                </div>
              </div>
            </div>
          </div>

          <div class="row top_space_2">
            <div class="col-sm-12 col-lg-8">
              <div class="form-group row">
                <label for="site-slogan">{{'email-setting.form-sendgrid-mail-port' | translate}}</label>
                <input type="text" formControlName="mailPortSendGrid" required class="form-control"
                [ngClass]="{ 'is-invalid': submitted && sendGrid.mailPortSendGrid.errors }">
                <div *ngIf="submitted && sendGrid.mailPortSendGrid.errors" class="invalid-feedback">
                  <div *ngIf="sendGrid.mailPortSendGrid.errors.required">{{'email-setting.form-sendgrid-error' | translate}}</div>
                </div>
              </div>
            </div>
          </div>

          <div class="row top_space_2">
            <div class="col-sm-12 col-lg-8">
              <div class="form-group row">
                <label for="site-slogan">{{'email-setting.form-sendgrid-mail-username' | translate}}</label>
                <input type="text" formControlName="usernameSendGrid" required class="form-control"
                [ngClass]="{ 'is-invalid': submitted && sendGrid.usernameSendGrid.errors }">
                <div *ngIf="submitted && sendGrid.usernameSendGrid.errors" class="invalid-feedback">
                  <div *ngIf="sendGrid.usernameSendGrid.errors.required">{{'email-setting.form-sendgrid-mail-username-error' | translate}}</div>
                </div>
              </div>
            </div>
          </div>

          <div class="row top_space_2">
            <div class="col-sm-12 col-lg-8">
              <div class="form-group row">
                <label for="from-email">{{'email-setting.form-sendgrid-mail-password' | translate}}</label>
                <input type="email" formControlName="passwordSendGrid" required class="form-control"
                [ngClass]="{ 'is-invalid': submitted && sendGrid.passwordSendGrid.errors }">
                <div *ngIf="submitted && sendGrid.passwordSendGrid.errors" class="invalid-feedback">
                  <div *ngIf="sendGrid.passwordSendGrid.errors.required">
                    {{'email-setting.form-sendgrid-mail-password-error' | translate}}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row top_space_2">
                <button (click)="onSubmitSendGrid()" class="btn btn-primary" [disabled]="loading || sendGridForm.invalid">
                  <span *ngIf="!loading">{{'email-setting.form-submit-button' | translate}}</span>
                  <span *ngIf="loading" class="spinner-icon"><mat-icon><mat-spinner color="warn" diameter="20">
                  </mat-spinner></mat-icon></span>
                 </button>
          </div>
        </form>

      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
