.top-info-container {
  width: 100%;
  background-color: #f1f1f1;
  padding: 80px 0 125px;
}

.top-info {
  width: 100%;
  max-width: 600px;
  margin-left: 200px;
}

.main-tag {
  font-family: nunito sans,Helvetica,sans-serif;
  font-weight: 700;
  font-style: normal;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
}

.article-title {
  font-family: barlow semi condensed,Helvetica,sans-serif;
  font-weight: 600;
  font-style: normal;
  text-rendering: optimizeLegibility;
  color: #333;
  font-size: 42px;
  line-height: 48px;
  max-width: 550px;
  margin: 20px 0;
}

.posts-wrapper {
  position: relative;
}

.post-main-container {
  padding: 20px 20px 40px;
}
.recommendation-list, .post-main-container {
  width: 95%;
  max-width: 1500px;
  background-color: #fff;
}

@media (min-width: 1400px){
  .jobs-sidebar, .docked-component--docked .jobs-sidebar__docking {
    right: auto;
    left: 1020px;
  }
}

@media (min-width: 1320px) {
  .jobs-sidebar, .docked-component--docked .jobs-sidebar__docking {
    right: 7%;
 }
}

@media (min-width: 1170px) {
  .jobs-sidebar, .docked-component--docked .jobs-sidebar__docking {
    right: 5%;
  }
}

@media (min-width: 1130px) {
  .jobs-sidebar, .docked-component--docked .jobs-sidebar__docking {
    right: 1%;
  }
}

.jobs-sidebar {
    z-index: 100;
    height: 100%;
    position: absolute;
    padding-bottom: 400px;
}

.docked-component--scrolls-in-container {
  margin-top: 27px;
}

.docked-component--scrolls-in-container {
  position: relative;
  height: 100%;
}

.docked-component--scrolls-in-container.docked-component--dock-end .docked-component__content {
  position: absolute;
  bottom: 0;
  z-index: 1;
}
@media (min-width: 1400px) {
  .jobs-sidebar__docking {
    right: auto;
  }
}

.jobs-sidebar__docking {
  position: relative;
  margin-top: 27px;
  right: 0;
}


  .mfe-jobs-banner {
    width: 300px;
    display: grid;
    grid-template-areas:
        "container"
        "museLogo";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }


@media (min-width: 1130px) {
  .mfe-jobs-banner__container {
    display: grid;
    grid-area: container;
    grid-template-areas:
        "header"
        "hotjobs"
        "explore"
        "searchlocation";
    grid-template-columns: 1fr;
  }
}

@media (min-width: 1130px) {
  .mfe-jobs-banner__header {
    font-size: 22px;
    margin-top: 20px;
  }
}

.mfe-jobs-banner__header
.mfe-jobs-banner__logo {
  display: none;
  grid-area: headerLogo;
}

@media (min-width: 1130px) {
  .mfe-jobs-banner__logo {
    display: block;
    text-align: center;
    background-color: #F7F7F7;
    line-height: 0;
    padding: 5px 0;
    grid-area: museLogo;
  }
}

.mfe-jobs-banner__logo svg {
  height: 16px;
  width: 51px;
}
svg:not(:root) {
  overflow: hidden;
}

.mfe-jobs-banner__header .text {
  display: inline-block;
  grid-area: headerText;
  line-height: 18px;
}

@media (min-width: 1130px) {
  .mfe-jobs-banner__hot-jobs {
    grid-area: hotjobs;
    display: flex;
    flex-direction: column;
    margin: 10px 0 24px 0;
    padding-bottom: 24px;
    border-bottom: 1px solid #D8D8D8;
  }
}

@media (min-width: 1130px) {
  .mfe-jobs-banner__hot-jobs .mfe-jobs-banner__button-link:first-of-type {
    margin-top: 0;
  }
}

@media (min-width: 1130px) {
  .mfe-jobs-banner__hot-jobs .mfe-jobs-banner__button-link {
    margin-top: 8px;
  }
}

.mfe-jobs-banner__button-link {
    font-family: "Nunito Sans", Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.mfe-jobs-banner__header {
    font-family: "Barlow Semi Condensed", Helvetica, sans-serif;
    font-weight: 500;
    font-size: 18px;
    grid-area: header;
    line-height: 22px;
}

.mfe-jobs-banner__hot-jobs a {
  background-color: #B5EADB;
  color: #333;
}

.mfe-jobs-banner__button-link a {
  transition: background 200ms ease-out;
  background-color: #53B6D0;
  border-radius: 4px;
  color: #fff;
  display: block;
  text-align: center;
  text-decoration: none;
}

@media (min-width: 1130px) {
  .mfe-jobs-banner__button-link .full-text {
    display: block;
    padding: 12px 0;
    width: 100%;
  }
}

.mfe-jobs-banner__button-link .short-text {
  display: none;
}

@media (min-width: 1130px) {
  .mfe-jobs-banner__button-link-explore {
    grid-area: explore;
  }
}

@media (min-width: 1130px) {
  .mfe-jobs-banner__icon-container {
    position: absolute;
    top: -27px;
    right: 20px;
  }
}

@media (min-width: 1130px) {
  .mfe-jobs-banner__icon {
    height: 54px;
    width: 54px;
  }
}

@media (min-width: 1130px) {
  .mfe-jobs-banner__icon svg {
    height: 23px;
    width: 23px;
  }
}

.mfe-jobs-banner__icon svg path {
  fill: #fff;
}

.mfe-jobs-banner__icon-container .mfe-jobs-banner__logo {
  display: none;
  grid-area: none;
}
@media (min-width: 1130px) {
  .mfe-jobs-banner__logo {
    display: block;
    text-align: center;
    background-color: #F7F7F7;
    line-height: 0;
    padding: 5px 0;
    grid-area: museLogo;
  }
}

.mfe-jobs-banner__logo svg {
  height: 16px;
  width: 51px;
}
svg:not(:root) {
  overflow: hidden;
}

.mfe-jobs-banner__icon svg {
    vertical-align: middle;
}
svg:not(:root) {
    overflow: hidden;
}

@media (min-width: 1130px) {
  .mfe-jobs-banner__logo {
    display: block;
    text-align: center;
    background-color: #F7F7F7;
    line-height: 0;
    padding: 5px 0;
    grid-area: museLogo;
  }
}

.mfe-jobs-banner__logo svg {
  height: 16px;
  width: 51px;
}

svg:not(:root) {
  overflow: hidden;
}

.social-author-rail {
  text-align: center;
  position: absolute;
  left: 50px;
  top: 800px;
  z-index: 10;
}

.social-author-rail:before, .social-author-rail:after {
  content: " ";
  display: table;
}

.social-author-rail .author {
  text-align: center;
  margin: 20px 0 30px;
  max-width: 150px;
}

.social-author-rail .author-name {
  font-family: barlow semi condensed,Helvetica,sans-serif;
  font-weight: 500;
  font-style: normal;
  text-rendering: optimizeLegibility;
  color: #666;
  font-size: 15px;
  text-transform: uppercase;
  line-height: 1.5em;
  border-bottom: 1px solid #f7f7f7;
}

.social-author-rail .author-name p {
  font-family: Georgia,Georgia,Serif;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-style: italic;
  display: block;
  text-transform: none;
  margin: 0;
}

ul.round-follow-btns.vertical {
  padding: 0;
  margin: 0;
}
.round-follow-btns {
  text-align: center;
}

ul.round-follow-btns.vertical li {
  list-style-type: none;
}
.social-author-rail li {
  text-align: center;
}

.social-author-rail .round-follow-btns a {
  display: block;
  margin: 25px 0;
}
.round-follow-btns a {
  font-size: 17px!important;
  color: #fff;
}

.social-author-rail:after {
  clear: both;
}
.social-author-rail:before, .social-author-rail:after {
  content: " ";
  display: table;
}

.main-image-sponsored-container {
  min-height: 77px;
  margin-bottom: 30px;
  position: relative;
  margin-left: 180px;
  top: -130px;
  max-width: 700px;
  margin-bottom: -90px;
}

.image-attachment-right, .image-attachment-center, .image-attachment-left, .image-attachment-center.large, .main-article-image {
  position: relative;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.main-article-image .image-pin {
  display: none;
  position: absolute;
  left: 5px;
  top: 5px;
  margin: 0;
}

.main-article-image .image-pin .btn {
  border: none;
}

.btn-pinterest {
  color: #fff;
  background-color: #cc2127;
  border-color: rgba(0,0,0,.2);
}

.btn-social-icon {
  position: relative;
  padding-left: 44px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 34px;
  width: 34px;
  padding: 0;
}

.main-column {
  position: relative;
  margin-left: 200px;
  max-width: 650px;
}

.article-content {
  max-width: 750px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  color: #3a3a3a;
  margin: 10px 0 0 50px;
  padding: 0;
  overflow: visible;
  width: 100%;
  font-family: Georgia,serif;
  font-size: 17px;
}

.article-content:before, .article-content:after {
  content: " ";
  display: table;
}

.article-row {
  width: auto!important;
  position: relative;
}


@media (min-width: 1500px) {
  .article-row .article-main-column {
    margin-right: 0;
  }
}

@media (min-width: 1145px) {
  .article-row .article-main-column {
    margin-right: 80px;
  }
}

@media (min-width: 992px) {
  .article-row .article-main-column {
    margin-right: 85px;
  }
}

.optin-form {
  border-top: 1px solid #eee;
  min-height: 190px;
  line-height: 190px;
}

.optin-form:before, .optin-form:after {
  content: " ";
  display: table;
}

.optin-form .col-sm-6>div {
  line-height: 30px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.optin-form .excerpt h3 {
  font-family: barlow semi condensed,Helvetica,sans-serif;
  font-weight: 500;
  font-style: normal;
  text-rendering: optimizeLegibility;
  color: #3852d4;
  font-size: 23px;
  margin: 0 0 10px;
}

.optin-form .excerpt p {
  font-family: nunito sans,Helvetica,sans-serif;
  font-weight: 600;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-size: 16px;
  margin: 0;
  text-align: left;
  line-height: 19px;
}
.article-content p {
  color: #333;
  margin: 0 0 20px;
  text-align: left;
  width: 100%;
  line-height: 1.6em;
}

.optin-form .col-sm-6>div {
  line-height: 30px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.form-styling input, .form-styling select, .form-styling textarea, .form-group input, .form-group select, .form-group textarea {
  font-family: georgia,Georgia,Serif;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  border-radius: 0;
  height: auto;
  font-size: 15px;
  padding: 7px 12px;
  -webkit-transition: none;
  transition: none;
}

.form-group {
  margin-bottom: 15px;
}

.optin-form .email-capture-input input[type=email] {
  font-family: nunito sans,Helvetica,sans-serif;
  font-weight: 700;
  font-style: normal;
  text-rendering: optimizeLegibility;
  color: #000;
  padding: 6px 70px 6px 15px;
  border: 2px solid #ddd;
  width: 275px;
  min-height: 45px;
  line-height: 30px;
  font-size: 14px;
}

.optin-form .email-capture-input button {
  font-size: 17px;
  font-weight: 700;
  padding: 13px 30px;
  position: absolute;
  top: 0;
  right: -25px;
}
.form-styling button[type=submit], .form-group button[type=submit] {
  -webkit-transition: background 200ms ease-out;
  -moz-transition: background 200ms ease-out;
  -ms-transition: background 200ms ease-out;
  -o-transition: background 200ms ease-out;
  transition: background 200ms ease-out;
  padding: 12px 30px;
  display: inline-block;
  background-color: #53b6d0;
  line-height: 1.2em;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-family: nunito sans,Helvetica,sans-serif;
  font-weight: 700;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-size: 11px;
  border-radius: 25px;
  letter-spacing: 1px;
}

.optin-form .terms {
  font-family: nunito sans,Helvetica,sans-serif;
  font-weight: 600;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-size: 14px;
  font-style: italic;
}

.article-content p {
  color: #333;
  margin: 0 0 20px;
  text-align: left;
  width: 100%;
  line-height: 1.6em;
}

.tags-topics {
  background-color: #fff;
  padding: 10px 0 5px;
  margin: 20px 0;
  line-height: 1em;
  border-top: 1px solid #eee;
}

.author-info {
  border-top: 1px solid #eee;
  padding: 40px 0 0;
}

.simple-author-image {
  float: left;
  width: 75px;
  height: 75px;
}

.simple-author-image img {
  border-radius: 100%;
  width: 100%;
  height: 100%;
}

.author-info .author-info-text {
  margin-left: 75px;
  padding-left: 15px;
}

.author-info .author-description {
  position: relative;
}
.author-info .author-description {
  font-family: nunito sans,Helvetica,sans-serif;
  font-weight: 600;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 15px;
  width: auto;
}
.article-content p {
  color: #333;
  margin: 0 0 20px;
  text-align: left;
  width: 100%;
  line-height: 1.6em;
}

.read-more {
  font-family: nunito sans,Helvetica,sans-serif;
  font-weight: 700;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-size: 12px;
  color: #3852d4;
  text-transform: uppercase;
  display: inline-block;
}

.read-more span {
  text-decoration: underline;
}

.tags-topics h4 {
  font-family: barlow semi condensed,Helvetica,sans-serif;
  font-weight: 500;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-size: 18px;
  text-transform: uppercase;
  text-align: left;
  color: #333;
  margin: 10px 0;
}
.tm-brighter-blue-round-button {
  -webkit-transition: background 200ms ease-out;
  -moz-transition: background 200ms ease-out;
  -ms-transition: background 200ms ease-out;
  -o-transition: background 200ms ease-out;
  transition: background 200ms ease-out;
  padding: 12px 30px;
  display: inline-block;
  background-color: #3852d4;
  line-height: 1.2em;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-family: nunito sans,Helvetica,sans-serif;
  font-weight: 700;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-size: 11px;
  border-radius: 25px;
  letter-spacing: 1px;
}

.article-row .article-main-column {
    width: auto!important;
    position: relative;
}
.btn-social-icon {
  width: 25px;
  height: 25px;
  text-shadow: none;
  border: none;
}

.mfe-jobs-banner__icon {
    border-radius: 50%;
    background-color: #53B6D0;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mfe-jobs-banner__icon-container {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    width: fit-content;
}

.mfe-jobs-banner__button-link a {
  transition: background 200ms ease-out;
  background-color: #53B6D0;
  border-radius: 4px;
  color: #fff;
  display: block;
  text-align: center;
  text-decoration: none;
}


.mfe-jobs-banner__button-link {
    font-family: "Nunito Sans", Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.mfe-jobs-banner__button-link .full-text {
    // display: none;
}

.mfe-jobs-banner__container {
    margin: 10px;
}



.mfe-jobs-banner {
    background-color: #fff;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    width: 300px;
    min-height: 60px;
    position: relative;
    color: #333;
}

.recommended-content {
  background-color: #f7f7f7;
  padding: 60px 24px 75px;
}

.recommended-content>h3 {
  font-family: barlow semi condensed,Helvetica,sans-serif;
  font-weight: 600;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-size: 40px;
  color: #333;
  line-height: 48px;
  text-align: center;
  margin: 0 0 25px;
}

.recommended-content .recommended-content__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.recommended-content .recommended-content__list .vertical-tile {
  width: 100%;
  max-width: 384px;
  margin: 0 16px;
}

.mfe-job-recommendation-tile {
  min-width: 277px;
  width: 100%;
  max-width: 372px;
  height: 172px;
}

.mfe-job-recommendation-tile__container {
  position: relative;
  margin-top: 28px;
  height: 144px;
  background-color: #FFF;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.mfe-job-recommendation-tile__logo-pill {
  background-color: #FFF;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 155px;
  height: 56px;
  border: 1px solid #D8D8D8;
  box-sizing: border-box;
  border-radius: 28px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  top: -28px;
  right: 12px;
}

.mfe-job-recommendation-tile__logo-pill img {
  max-width: 108px;
  max-height: 48px;
}

.mfe-job-recommendation-tile__content {
  min-width: 240px;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.mfe-job-recommendation-tile__company-name {
  font-family: "Nunito Sans", Helvetica, sans-serif;
  font-weight: normal;
  color: #666;
  margin: 32px 16px 0 16px;
  width: auto;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 24px;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mfe-job-recommendation-tile__job-title {
  font-family: "Nunito Sans", Helvetica, sans-serif;
  font-weight: normal;
  color: #333;
  width: auto;
  font-size: 18px;
  margin: 4px 16px 0 16px;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mfe-job-recommendation-tile__footer {
  margin: 4px 16px 0 16px;
  width: auto;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mfe-job-recommendation-tile__tooltip--enabled {
  display: block;
  visibility: hidden;
  opacity: 0;
  width: auto;
  height: 0;
  background-color: #E8F1F3;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  left: 0;
  right: 0;
  position: relative;
  margin: 5px 55px 0 55px;
  z-index: 2;
}

.mfe-job-recommendation-tile__tooltip {
  display: none;
}
.tooltip {
  font-weight: 400!important;
  font-family: Helvetica;
  line-height: 1.4em!important;
}

.action-items {
  background-color: #fff;
  position: relative;
  top: -10px;
  margin-bottom: -10px;
}
.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-family: helvetica neue,Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-break: auto;
  line-height: 1.42857;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  font-size: 12px;
  opacity: 0;
  filter: alpha(opacity=0);
}
[role=button] {
  cursor: pointer;
}
