<div class="detail">
  <div class="top-info-container">
    <div class="top-info">
    <a href="/tags/interviewing-for-a-job" class="main-tag">Interviewing for a Job</a>
    <h1 class="article-title below">7 Questions to Ask in a Software Engineering Interview to Figure Out If It's the Right Fit</h1>
    </div>
  </div>
</div>

<div id="posts">
  <div class="posts-wrapper">
  <div id="post-container-24402" class="post-main-container">
  <div id="jobs-sidebar">
    <aside class="jobs-sidebar">
    <div class="docked-component docked-component--undocked docked-component--scrolls-in-container docked-component--disabled-xs ">
      <div class="docked-component__content jobs-sidebar__docking">
        <div>
          <div class="mfe-jobs-banner">
            <div class="mfe-jobs-banner__container">
              <div class="mfe-jobs-banner__header">
                <div class="mfe-jobs-banner__logo">
                  <svg viewBox="0 0 51 10" width="1em" height="1em">
                    <path d="M.906 4.172h-.81A.096.096 0 0 1 0 4.076V2.868c0-.053.043-.096.095-.096h.757a.096.096 0 0 0 .096-.096V.942c0-.053.042-.096.095-.096h1.512c.053 0 .095.043.095.096v1.83h1.023c.052 0 .095.043.095.096v1.208a.096.096 0 0 1-.095.096h-.928a.096.096 0 0 0-.095.096v2.76c0 1.164.907 1.33 1.387 1.33.086 0 .158-.005.211-.01a.095.095 0 0 1 .105.094v1.345a.096.096 0 0 1-.083.095 3.474 3.474 0 0 1-.452.03C2.843 9.911.906 9.62.906 7.25V4.172m15.996 1.22c-.027-.845-.604-1.428-1.318-1.428-.893 0-1.525.541-1.717 1.428h3.035zm-1.318-2.786c2.005 0 3.103 1.483 3.103 3.355 0 .207-.04.651-.04.651h-4.835c.138 1.248 1.044 1.9 2.101 1.9.916 0 1.642-.524 1.88-.719a.095.095 0 0 1 .142.025l.63 1.055a.098.098 0 0 1-.019.122 4.281 4.281 0 0 1-2.756 1.013c-2.321 0-3.763-1.69-3.763-3.7 0-2.177 1.456-3.702 3.557-3.702zM41.943 4.28V4.2c0-.513-.749-.714-1.202-.714-.968 0-1.545.333-1.545 1.02 0 1.572 3.893 1.212 3.893 3.54 0 1.172-1.05 1.962-2.43 1.962-1.56 0-2.413-.915-2.616-1.164a.096.096 0 0 1 0-.122l.414-.503a.094.094 0 0 1 .144-.002c.22.253.945.973 2.072.973.775 0 1.462-.374 1.462-1.116 0-1.531-3.893-1.254-3.893-3.514 0-1.268 1.078-1.892 2.472-1.892.707 0 2.114.278 2.114 1.269v.175c0 .05-.037.091-.086.096l-.8.072m7.173 1.34c-.055-1.448-.94-2.162-1.957-2.162-1.147 0-2.156.756-2.39 2.163h4.347zm-1.943-2.952c1.915 0 2.911 1.49 2.911 3.23 0 .167-.027.472-.027.472h-5.329c.028 1.767 1.257 2.786 2.692 2.786 1.035 0 1.77-.576 2.006-.789a.095.095 0 0 1 .143.02l.348.548a.097.097 0 0 1-.017.124c-.24.212-1.174.95-2.521.95-2.053 0-3.633-1.505-3.633-3.667.007-2.294 1.566-3.674 3.427-3.674zM4.866 1.802L4.863.096c0-.053.042-.096.095-.096h.719c.645 0 .933.291.933.929V3.41c0 .347-.027.596-.027.596h.027c.33-.68 1.195-1.4 2.404-1.4 1.565 0 2.444.818 2.444 2.69v4.546h-.81c-.646 0-.92-.277-.92-.943V5.656c0-.86-.234-1.442-1.113-1.442-.92 0-1.634.61-1.895 1.47-.082.277-.11.582-.11.914v3.148a.096.096 0 0 1-.095.096H4.961a.096.096 0 0 1-.095-.096V1.802M31.12 3.964l-.004-1.033c0-.053.043-.096.095-.096h.066c.59 0 .79.25.79.825v3.382c0 1.102.179 2.08 1.517 2.08 1.573 0 2.555-1.408 2.555-2.926V2.938c0-.053.042-.096.095-.096h.75c.053 0 .095.043.095.096v6.904h-.075c-.577 0-.845-.25-.845-.783v-.32l-.001-.381h-.028c-.275.686-1.159 1.65-2.676 1.65-1.64 0-2.334-.894-2.334-2.717V3.964m-11.464.224v5.61c0 .053.043.096.096.096h.75a.096.096 0 0 0 .095-.096V6.58c0-.326.028-.645.11-.936.295-1.067 1.133-2.058 2.266-2.058 1.311 0 1.462 1.026 1.462 2.086v4.125c0 .053.043.096.095.096h.75a.096.096 0 0 0 .096-.096V6.58c0-.381.028-.714.124-1.019.281-1.026 1.146-1.975 2.197-1.975 1.27 0 1.504.942 1.504 2.086V9.04c0 .603-.032.853.559.853h.293a.096.096 0 0 0 .095-.096v-4.36c0-1.727-.625-2.718-2.307-2.718-1.174 0-2.183.804-2.554 1.754h-.028c-.213-1.158-.872-1.754-2.156-1.754-1.078 0-2.17.818-2.513 1.768h-.027s.027-.222.027-.5V3.67c0-.534.018-.783-.559-.783h-.378l.003 1.301" fill="#666" fill-rule="evenodd"></path></svg>
                  </div>
                  <span class="text">Hot Jobs on The Muse</span>
                </div>
                <div class="mfe-jobs-banner__hot-jobs">
                  <div class="mfe-jobs-banner__button-link ">
                    <a href="/search?searchType=jobs&amp;keyword=sales">
                      <span class="full-text">sales Jobs</span>
                      <span class="short-text">sales</span>
                    </a>
                  </div>
                  <div class="mfe-jobs-banner__button-link ">
                    <a href="/search?searchType=jobs&amp;keyword=marketing">
                      <span class="full-text">marketing Jobs</span>
                      <span class="short-text">marketing</span>
                    </a>
                  </div>
                  <div class="mfe-jobs-banner__button-link ">
                    <a href="/search?searchType=jobs&amp;keyword=product">
                      <span class="full-text">product Jobs</span>
                      <span class="short-text">product</span>
                    </a>
                  </div>
                  <div class="mfe-jobs-banner__button-link ">
                    <a href="/search?searchType=jobs&amp;keyword=software engineering">
                      <span class="full-text">software engineering Jobs</span>
                      <span class="short-text">engineering</span>
                    </a>
                  </div>
                  <div class="mfe-jobs-banner__button-link mfe-jobs-banner__button-link-explore">
                    <a href="/search?searchType=jobs">
                      <span class="full-text">Explore All Jobs <svg data-name="Layer 1" viewBox="0 0 6.89 11.31" width="1em" height="1em">
                        <path fill="#53b6d0" d="M1.24 11.31L0 10.07l4.42-4.42L0 1.24 1.24 0l5.65 5.65-5.65 5.66z"></path>
                      </svg>
                    </span>
                    <span class="short-text">All Jobs</span>
                  </a>
                </div>
              </div>
              <div class="mfe-jobs-banner__button-link mfe-jobs-banner__button-link-explore">
                <a href="/search?searchType=jobs">
                  <span class="full-text">Explore All Jobs <svg data-name="Layer 1" viewBox="0 0 6.89 11.31" width="1em" height="1em">
                    <path fill="#53b6d0" d="M1.24 11.31L0 10.07l4.42-4.42L0 1.24 1.24 0l5.65 5.65-5.65 5.66z"></path>
                  </svg>
                </span>
                <span class="short-text">All Jobs</span>
              </a>
            </div>
            <div class="mfe-jobs-banner__icon-container">
              <div class="mfe-jobs-banner__icon">
                <svg viewBox="0 0 20 24" width="1em" height="1em">
                  <path d="M10 .934c5.134 0 9.295 4.201 9.295 9.383 0 7.714-6.546 9.902-9.295 13.634C7.322 20.204.705 18.42.705 10.317.705 5.135 4.866.934 10 .934zm0 4.497c-2.727 0-4.938 2.187-4.938 4.886 0 2.698 2.211 4.886 4.938 4.886s4.938-2.188 4.938-4.886c0-2.699-2.211-4.886-4.938-4.886z" fill-rule="evenodd"></path></svg></div><div class="mfe-jobs-banner__logo"><svg viewBox="0 0 51 10" width="1em" height="1em"><path d="M.906 4.172h-.81A.096.096 0 0 1 0 4.076V2.868c0-.053.043-.096.095-.096h.757a.096.096 0 0 0 .096-.096V.942c0-.053.042-.096.095-.096h1.512c.053 0 .095.043.095.096v1.83h1.023c.052 0 .095.043.095.096v1.208a.096.096 0 0 1-.095.096h-.928a.096.096 0 0 0-.095.096v2.76c0 1.164.907 1.33 1.387 1.33.086 0 .158-.005.211-.01a.095.095 0 0 1 .105.094v1.345a.096.096 0 0 1-.083.095 3.474 3.474 0 0 1-.452.03C2.843 9.911.906 9.62.906 7.25V4.172m15.996 1.22c-.027-.845-.604-1.428-1.318-1.428-.893 0-1.525.541-1.717 1.428h3.035zm-1.318-2.786c2.005 0 3.103 1.483 3.103 3.355 0 .207-.04.651-.04.651h-4.835c.138 1.248 1.044 1.9 2.101 1.9.916 0 1.642-.524 1.88-.719a.095.095 0 0 1 .142.025l.63 1.055a.098.098 0 0 1-.019.122 4.281 4.281 0 0 1-2.756 1.013c-2.321 0-3.763-1.69-3.763-3.7 0-2.177 1.456-3.702 3.557-3.702zM41.943 4.28V4.2c0-.513-.749-.714-1.202-.714-.968 0-1.545.333-1.545 1.02 0 1.572 3.893 1.212 3.893 3.54 0 1.172-1.05 1.962-2.43 1.962-1.56 0-2.413-.915-2.616-1.164a.096.096 0 0 1 0-.122l.414-.503a.094.094 0 0 1 .144-.002c.22.253.945.973 2.072.973.775 0 1.462-.374 1.462-1.116 0-1.531-3.893-1.254-3.893-3.514 0-1.268 1.078-1.892 2.472-1.892.707 0 2.114.278 2.114 1.269v.175c0 .05-.037.091-.086.096l-.8.072m7.173 1.34c-.055-1.448-.94-2.162-1.957-2.162-1.147 0-2.156.756-2.39 2.163h4.347zm-1.943-2.952c1.915 0 2.911 1.49 2.911 3.23 0 .167-.027.472-.027.472h-5.329c.028 1.767 1.257 2.786 2.692 2.786 1.035 0 1.77-.576 2.006-.789a.095.095 0 0 1 .143.02l.348.548a.097.097 0 0 1-.017.124c-.24.212-1.174.95-2.521.95-2.053 0-3.633-1.505-3.633-3.667.007-2.294 1.566-3.674 3.427-3.674zM4.866 1.802L4.863.096c0-.053.042-.096.095-.096h.719c.645 0 .933.291.933.929V3.41c0 .347-.027.596-.027.596h.027c.33-.68 1.195-1.4 2.404-1.4 1.565 0 2.444.818 2.444 2.69v4.546h-.81c-.646 0-.92-.277-.92-.943V5.656c0-.86-.234-1.442-1.113-1.442-.92 0-1.634.61-1.895 1.47-.082.277-.11.582-.11.914v3.148a.096.096 0 0 1-.095.096H4.961a.096.096 0 0 1-.095-.096V1.802M31.12 3.964l-.004-1.033c0-.053.043-.096.095-.096h.066c.59 0 .79.25.79.825v3.382c0 1.102.179 2.08 1.517 2.08 1.573 0 2.555-1.408 2.555-2.926V2.938c0-.053.042-.096.095-.096h.75c.053 0 .095.043.095.096v6.904h-.075c-.577 0-.845-.25-.845-.783v-.32l-.001-.381h-.028c-.275.686-1.159 1.65-2.676 1.65-1.64 0-2.334-.894-2.334-2.717V3.964m-11.464.224v5.61c0 .053.043.096.096.096h.75a.096.096 0 0 0 .095-.096V6.58c0-.326.028-.645.11-.936.295-1.067 1.133-2.058 2.266-2.058 1.311 0 1.462 1.026 1.462 2.086v4.125c0 .053.043.096.095.096h.75a.096.096 0 0 0 .096-.096V6.58c0-.381.028-.714.124-1.019.281-1.026 1.146-1.975 2.197-1.975 1.27 0 1.504.942 1.504 2.086V9.04c0 .603-.032.853.559.853h.293a.096.096 0 0 0 .095-.096v-4.36c0-1.727-.625-2.718-2.307-2.718-1.174 0-2.183.804-2.554 1.754h-.028c-.213-1.158-.872-1.754-2.156-1.754-1.078 0-2.17.818-2.513 1.768h-.027s.027-.222.027-.5V3.67c0-.534.018-.783-.559-.783h-.378l.003 1.301" fill="#666" fill-rule="evenodd"></path></svg></div></div></div><div class="mfe-jobs-banner__logo"><svg viewBox="0 0 51 10" width="1em" height="1em"><path d="M.906 4.172h-.81A.096.096 0 0 1 0 4.076V2.868c0-.053.043-.096.095-.096h.757a.096.096 0 0 0 .096-.096V.942c0-.053.042-.096.095-.096h1.512c.053 0 .095.043.095.096v1.83h1.023c.052 0 .095.043.095.096v1.208a.096.096 0 0 1-.095.096h-.928a.096.096 0 0 0-.095.096v2.76c0 1.164.907 1.33 1.387 1.33.086 0 .158-.005.211-.01a.095.095 0 0 1 .105.094v1.345a.096.096 0 0 1-.083.095 3.474 3.474 0 0 1-.452.03C2.843 9.911.906 9.62.906 7.25V4.172m15.996 1.22c-.027-.845-.604-1.428-1.318-1.428-.893 0-1.525.541-1.717 1.428h3.035zm-1.318-2.786c2.005 0 3.103 1.483 3.103 3.355 0 .207-.04.651-.04.651h-4.835c.138 1.248 1.044 1.9 2.101 1.9.916 0 1.642-.524 1.88-.719a.095.095 0 0 1 .142.025l.63 1.055a.098.098 0 0 1-.019.122 4.281 4.281 0 0 1-2.756 1.013c-2.321 0-3.763-1.69-3.763-3.7 0-2.177 1.456-3.702 3.557-3.702zM41.943 4.28V4.2c0-.513-.749-.714-1.202-.714-.968 0-1.545.333-1.545 1.02 0 1.572 3.893 1.212 3.893 3.54 0 1.172-1.05 1.962-2.43 1.962-1.56 0-2.413-.915-2.616-1.164a.096.096 0 0 1 0-.122l.414-.503a.094.094 0 0 1 .144-.002c.22.253.945.973 2.072.973.775 0 1.462-.374 1.462-1.116 0-1.531-3.893-1.254-3.893-3.514 0-1.268 1.078-1.892 2.472-1.892.707 0 2.114.278 2.114 1.269v.175c0 .05-.037.091-.086.096l-.8.072m7.173 1.34c-.055-1.448-.94-2.162-1.957-2.162-1.147 0-2.156.756-2.39 2.163h4.347zm-1.943-2.952c1.915 0 2.911 1.49 2.911 3.23 0 .167-.027.472-.027.472h-5.329c.028 1.767 1.257 2.786 2.692 2.786 1.035 0 1.77-.576 2.006-.789a.095.095 0 0 1 .143.02l.348.548a.097.097 0 0 1-.017.124c-.24.212-1.174.95-2.521.95-2.053 0-3.633-1.505-3.633-3.667.007-2.294 1.566-3.674 3.427-3.674zM4.866 1.802L4.863.096c0-.053.042-.096.095-.096h.719c.645 0 .933.291.933.929V3.41c0 .347-.027.596-.027.596h.027c.33-.68 1.195-1.4 2.404-1.4 1.565 0 2.444.818 2.444 2.69v4.546h-.81c-.646 0-.92-.277-.92-.943V5.656c0-.86-.234-1.442-1.113-1.442-.92 0-1.634.61-1.895 1.47-.082.277-.11.582-.11.914v3.148a.096.096 0 0 1-.095.096H4.961a.096.096 0 0 1-.095-.096V1.802M31.12 3.964l-.004-1.033c0-.053.043-.096.095-.096h.066c.59 0 .79.25.79.825v3.382c0 1.102.179 2.08 1.517 2.08 1.573 0 2.555-1.408 2.555-2.926V2.938c0-.053.042-.096.095-.096h.75c.053 0 .095.043.095.096v6.904h-.075c-.577 0-.845-.25-.845-.783v-.32l-.001-.381h-.028c-.275.686-1.159 1.65-2.676 1.65-1.64 0-2.334-.894-2.334-2.717V3.964m-11.464.224v5.61c0 .053.043.096.096.096h.75a.096.096 0 0 0 .095-.096V6.58c0-.326.028-.645.11-.936.295-1.067 1.133-2.058 2.266-2.058 1.311 0 1.462 1.026 1.462 2.086v4.125c0 .053.043.096.095.096h.75a.096.096 0 0 0 .096-.096V6.58c0-.381.028-.714.124-1.019.281-1.026 1.146-1.975 2.197-1.975 1.27 0 1.504.942 1.504 2.086V9.04c0 .603-.032.853.559.853h.293a.096.096 0 0 0 .095-.096v-4.36c0-1.727-.625-2.718-2.307-2.718-1.174 0-2.183.804-2.554 1.754h-.028c-.213-1.158-.872-1.754-2.156-1.754-1.078 0-2.17.818-2.513 1.768h-.027s.027-.222.027-.5V3.67c0-.534.018-.783-.559-.783h-.378l.003 1.301" fill="#666" fill-rule="evenodd"></path></svg></div></div></div></div></div>
    </aside></div>
  <div class="social-author-rail" style="top: 262px;">
  <div class="social-container">
  <div class="author">
  <a href="/author/joy-ebertz" class="author-name"> <p>by</p>Joy Ebertz</a>
  </div>
  <ul id="share" class="round-follow-btns vertical">
  <li class="facebook">
  <a aria-label="facebook" class="share-button facebook" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.themuse.com%2Fadvice%2Fsoftware-engineer-questions-to-ask-interview-find-the-right-fit" target="_blank" rel="noopener noreferrer" data-source="facebook">
  <i aria-hidden="true" class="fa fa-facebook"></i>
  </a>
  </li>
  <li class="twitter">
  <a aria-label="twitter" class="share-button" href="https://twitter.com/share?url=https%3A%2F%2Fwww.themuse.com%2Fadvice%2Fsoftware-engineer-questions-to-ask-interview-find-the-right-fit&amp;text=7+Questions+to+Ask+in+a+Software+Engineering+Interview+to+Figure+Out+If+It%27s+the+Right+Fit&amp;via=TheMuse @jkebertz" target="_blank" rel="noopener noreferrer" data-source="twitter">
  <i aria-hidden="true" class="fa fa-twitter"></i>
  </a>
  </li>
  <li class="linkedin">
  <a aria-label="linkedin" class="share-button linkedin" href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https%3A%2F%2Fwww.themuse.com%2Fadvice%2Fsoftware-engineer-questions-to-ask-interview-find-the-right-fit&amp;source=The%20Muse&amp;title=7+Questions+to+Ask+in+a+Software+Engineering+Interview+to+Figure+Out+If+It%27s+the+Right+Fit" target="_blank" rel="noopener noreferrer" data-source="linkedin">
  <i aria-hidden="true" class="fa fa-linkedin"></i>
  </a>
  </li>
  <li class="email">
  <a aria-label="email" class="share-button email" href="mailto:?Subject=7 Questions to Ask in a Software Engineering Interview to Figure Out If It's the Right Fit&amp;body=Just read this awesome article I thought I would share with you! Check it out here: https://www.themuse.com/advice/software-engineer-questions-to-ask-interview-find-the-right-fit">
  <i aria-hidden="true" class="fa fa-envelope-o"></i>
  </a>
  </li>
  <li class="favorite-pin-container"><div><a aria-label="favorite" href="#" class="favorite" data-original-title="" title=""><i class="fa fa-thumb-tack" aria-hidden="true"></i></a></div></li>
  </ul>
  </div>
  </div>
  <div class="main-image-sponsored-container">
  <div class="main-article-image">
  <img class="img-responsive" src="https://pilbox.themuse.com/image.png?url=https%3A%2F%2Fassets.themuse.com%2Fuploaded%2Fattachments%2F40545%2F94bb6111-a6b4-4a23-b4f9-9fd69fa0d8d6.png%3Fv%3Dedc3b67aed995f982f528066774d2d2142275b7b3230a16e4648932289082ad1&amp;h=367&amp;prog=1" width="700" height="342" alt="person sitting and talking at a job interview">
  <div class="image-pin" data-image-url="https%3A%2F%2Fassets.themuse.com%2Fuploaded%2Fattachments%2F40545%2F94bb6111-a6b4-4a23-b4f9-9fd69fa0d8d6.png%3Fv%3Dedc3b67aed995f982f528066774d2d2142275b7b3230a16e4648932289082ad1"><div><a class="btn btn-social-icon btn-pinterest share-button" href="http://pinterest.com/pin/create/button?url=https%3A%2F%2Fwww.themuse.com%2Fadvice%2Fsoftware-engineer-questions-to-ask-interview-find-the-right-fit&amp;media=https%3A%2F%2Fassets.themuse.com%2Fuploaded%2Fattachments%2F40545%2F94bb6111-a6b4-4a23-b4f9-9fd69fa0d8d6.png%3Fv%3Dedc3b67aed995f982f528066774d2d2142275b7b3230a16e4648932289082ad1&amp;description=7%20Questions%20to%20Ask%20in%20a%20Software%20Engineering%20Interview%20to%20Figure%20Out%20If%20It's%20the%20Right%20Fit" target="_blank"><i class="fa fa-pinterest"></i></a></div></div>
  </div>
  </div>
  <div class="main-column">
  <div class="article-content">
  <div class="article-row">
  <div class="article-main-column compiled-content with-side-articles share-base">
  <p>When you’re looking for a new job, it's obvious that the company is interviewing you. It can be harder to remember that you're also interviewing the company to see if the role, the team, and the organization as a whole are the right fit <em>for you</em>. After all, the last thing you want is to spend a couple of years stuck in a job you wish you’d never taken. </p>
  <p>And you can and should be picky: As an engineer, you have skills that are in high demand. It seems like everyone in the tech industry is hiring—and software is expanding into many other industries, too. That’s all the more reason to make sure you're screening and evaluating companies based on fit. </p>
  <p>But how do you actually do that? If you’re a programmer embarking on a job search, what questions should you ask to figure out if a company and role are a good fit? As a senior staff software engineer who has also spent some time as a hiring manager and interviewed many times on both side of the fence, I've given some thought to it. </p>
  <p>While the exact qualities you're prioritizing and looking for will vary depending on what you value and on your working style, there are a few questions that can be especially revealing.</p>
  <ol>
  <li><a href="https://www.themuse.com/advice/software-engineer-questions-to-ask-interview-find-the-right-fit#question1">What Does the Team Look Like?</a></li>
  <li><a href="https://www.themuse.com/advice/software-engineer-questions-to-ask-interview-find-the-right-fit#question2">What Are Your Expectations for the Person in This Role?</a></li>
  <li><a href="https://www.themuse.com/advice/software-engineer-questions-to-ask-interview-find-the-right-fit#question3">What’s Your Tech Stack and What Development Tools Do You Use?</a></li>
  <li><a href="https://www.themuse.com/advice/software-engineer-questions-to-ask-interview-find-the-right-fit#question4">How Are Design Decisions Made? And If There Are Conflicts, How Are Those Conflicts Resolved?</a></li>
  <li><a href="https://www.themuse.com/advice/software-engineer-questions-to-ask-interview-find-the-right-fit#question5">How Are Projects Prioritized and Planned?</a></li>
  <li><a href="https://www.themuse.com/advice/software-engineer-questions-to-ask-interview-find-the-right-fit#question6">What Are the Biggest Challenges Facing Your Team?</a><a name="question1"></a></li>
  <li><a href="https://www.themuse.com/advice/software-engineer-questions-to-ask-interview-find-the-right-fit#question7">What Is Your Diversity and Inclusion Strategy?</a></li>
  </ol>
  <p><br></p>
  <h2>1. What Does the Team Look Like?</h2>
  <p>Because you’ll be working most closely with your team, those people will have the biggest impact on your experience at the company. So you’ll probably want to have a sense of what the team looks like. How many people are there? What are their roles? How do they interact? Some people thrive on larger teams while others do best on much smaller teams; some people like the context that working closely with people on other teams brings while others find it more distracting than helpful. </p>
  <p>Asking about the size and structure of your potential team and learning about its day-to-day functioning can tell you something about how cross-collaborative the team is, what the seniority of its members is, and how job responsibilities are distributed. Does the team work a lot with product management or NOC (the network operations center)? Are those functions considered to be part of the team? <em>Is</em> there a separate Ops team or is the team practicing devOps? Does the team have insight into customer concerns or input into product features? How is the manager involved with the team? Are there senior team members to learn from or junior people to mentor? </p>
  <p>There’s a lot to unpack here, but the answers can reveal whether there are opportunities to learn the things you want to learn—such as how to keep a server running or how to run a usability test—and they can give you a sense of what the team dynamic will be. </p>
  <p>You may have a very clear image of what you’re looking for in a team, but if you’re struggling to figure out exactly what’s important to you, <a name="question2"></a>think about past experiences and what you loved or found frustrating about them. The patterns you see will help you identify your priorities. </p>
  <p><br></p>
  <h2>2. What Are Your Expectations for the Person in This Role?</h2>
  <p>While this can reveal interesting information at any level and for any kind of role, it’s especially important for higher-level engineers. Entry-level software positions typically look similar across companies and titles and bands are consistent. However, at higher levels, there tends to be a lot more variation. </p>
  <p>For example, a senior staff software engineer job at two different companies can come with completely different sets of expectations. When I was recently interviewing for roles with this title, I found that some companies expected me to be on a small scrum team and spend all of my time coding while others expected me to spend a large percentage (in at least one case, more than half) of my time mentoring, speaking, or working cross-functionally. Some hoped to leverage particular knowledge I already had while others wanted to leverage more general design thinking or leadership experience. None of these are <em>bad</em>, but they might not be what you’re looking for. </p>
  <p>It's also important to find out if a company will offer growth opportunities in the areas you want to focus on. For example, if they want you to leverage your deep knowledge of Java but you want to learn a new programming language, you're going to have problems. If, however, they want to<a name="question3"></a> leverage your knowledge of API design while still allowing you to learn a new language, that might be a good fit.</p>
  <p><br></p>
  <h2>3. What’s Your Tech Stack and What Development Tools Do You Use?</h2>
  <p>Many engineers care a lot about the tech stack they work in and the tools they’ll be using. If you're one of them, you should definitely ask this question and make sure the answers align with your preferences. I’ve personally never cared too much about the exact languages or development tools a company uses, but I still find them useful to ask about because these questions can also reveal the company’s approach to code and projects more broadly.</p>
  <p>For example, when I was interviewing recently, I discovered that one of the companies I was talking to was using a cutting-edge programming language. Using brand-new technologies can be an opportunity to become an expert and help shape the direction that technology takes industry-wide. However, it can also mean surprise bugs that take weeks or months to unearth and a lack of community support. </p>
  <p>What development tools a company is using can also be informative. Are they picking best of breed or cheaper alternatives? Are they trying to build everything in-house? Are they missing key elements? For example, do they seem to skimp on or lack monitoring tools? If they aren’t following industry best practices, that might be a red flag—or you could see it as an opportunity for you to introduce those practices. Influencing an engineering culture in a positive way is often a good way to get promoted, but it can also be a lot of work, or in some cases, an unwinnable battle. </p>
  <p>Natalia Vinnik, Senior Engineering Manager at Google, likes to ask specifically about code review tools. She's not tied to a specific tool, but rather she’s trying to see if there's a culture around code and design reviews. First of all, <em>is</em> there a code review tool? And do they gate production changes? </p>
  <p>“It tells a lot about eng culture,” she says. For example, it can tell you “if people are open to get feedback from each other or if it's more about implementation and [code] doesn't matter as long as it works.”<a name="question4"></a> Companies that have a strong culture of feedback on code are often more open to feedback in other areas.</p>
  <p><br></p>
  <h2>4. How Are Design Decisions Made? And If There Are Conflicts, How Are Those Conflicts Resolved?</h2>
  <p>Some companies are very collaborative and others are very hierarchical; some have strict processes and others are more fluid. Asking about design decisions is a great way to learn which ways a company leans. Plus, design discussions are one of the places where conflict is most likely to arise, so understanding how those conflicts are resolved can help you get a sense of the overall working style at an organization. </p>
  <p>Does the team plan designs in collaborative sessions or does one engineer go off and write a design document? Who is in charge of various designs? Is it always a single tech lead or is responsibility shared, with different team members playing the lead role for different projects? Is feedback discussed in group meetings, one-on-one sessions, emails, or not at all? (It can be a problem if there’s no chance to give feedback.) If there are disagreements, does the lead engineer make the decision or the manager or the group with a vote?</p>
  <p>If you're like me, one of the things you like most about software is having a say in design and other technical decisions, which may not be a possibility if you’re more junior and the company is very hierarchical. However, the other extreme can be a red flag too—I've seen companies where very little gets done because the culture is <em>so</em> collaborative that you need to get everyone to agree on each little detail before moving forward. </p>
  <p>There’s no correct answer here, just one that appeals to your preferences. The exact balance that works best for you may depend on how much you enjoy being involved in design in the first place, how much structure and <a name="question5"></a>instruction you prefer, how willing you are to speak up and voice your opinion, and how adept you are at influencing others.</p>
  <p><br></p>
  <h2>5. How Are Projects Prioritized and Planned?</h2>
  <p>Understanding how a company picks which projects to put its resources toward and how it goes about bringing those projects to fruition can tell you a lot about what’s important there—both in terms of products and in terms of engineering values. For example, is the company prioritizing tech debt or only focusing on new features? Are they able to focus on doing a few things well or do they try to do a little bit of everything? Are they building things to last or are they over-engineering?</p>
  <p>But that’s not the only reason to ask this question. The answer can also indicate how much influence you, as an individual engineer, might have. If you have a great idea, what would it take to make it a reality? Is there a lot of red tape or would you have a good amount of freedom to test things out? If they mention holding hackathons and actually implementing features inspired by hacks, for example, it can indicate an openness to ideas coming from anywhere. </p>
  <p>This question can also give good insight into how nimble and fast moving the company really is. Every software company I've ever talked to has claimed to practice Agile (almost all Scrum). However, some of them are actually mostly using the Waterfall methodology with a facade of Agile. Some people thrive better in a truly Agile environment where they are constantly making adjustments and pivoting, but others do better with more predictability and longer time horizons. Digging into what <a name="question6"></a>processes actually look like—rather than going solely by terminology that may not reflect reality—can ensure that you find the right fit for you. </p>
  <p><br></p>
  <h2>6. What Are the Biggest Challenges Facing Your Team?</h2>
  <p>I like to leave this question open-ended since I think it's interesting to see if people pick something technical, cultural, or process related. Regardless, the answer can tell you a lot about team culture and can give you insight into what you might be working on. </p>
  <p>Are the challenges they bring up something you're excited to try to fix or at least willing to work with? Samantha Paras, Engineering Tech Lead at DataFox, also likes to ask this to gauge if one of the challenges mentioned is an area that she feels like she can contribute to. Knowing that she can make an impact makes her much more excited about a company. </p>
  <p><em>Are</em> there challenges? If a team isn’t trying to improve anything, that can indicate apathy or little room for growth on the team. Does everyone on the team reference the <em>same</em> challenge? Consistency can mean good self-awareness across the team (or alternately, a serious problem). Do they seem optimistic about finding a solution? </p>
  <p>When I was interviewing at one company, every single person I talked to referenced their design and decision making process being cumbersome and slow. While I obviously wouldn’t want to deal with that, the fact that everyone noticed the problem and wanted it fixed made it seem likely to be addressed quickly. Several of them also referenced discussions they were already having around changing that process. </p>
  <p>A good follow-up question might be, “How easy is it to make changes?” or “How empowered do you feel to solve that challenge?” Too much change can be bad, but it's also a bad sign if it's impossible to course correct or confront challenges. </p>
  <p>Vinnik likes to ask a slightly different question: "What keeps you up at night?" But she's looking for the same sort of information. "I like to know what real technical and [organizational] challenges the company faces and how they think about [them]. I look for transparency and how they approach challenges,” she says. “If they only talk about working a lot and being paged a <a name="question7"></a>lot without thinking about fundamental changes that can help, it's a red flag. If they say there are no challenges or something vague it's a yellow flag."</p>
  <p><br></p>
  <h2>7. What Is Your Diversity and Inclusion Strategy?</h2>
  <p>The tech industry (and software engineering in particular) really struggles with diversity and inclusion—despite the fact that research has shown that diversity <a href="https://code.likeagirl.io/the-case-for-diversity-in-tech-ed7cb58d7e83" rel="nofollow" target="_blank">improves performance</a>. </p>
  <p>Paras always wants to make sure that a company isn't just looking to hire a diverse group, which is often the easier and more obvious thing, but is also working to make their culture more inclusive. Inclusion efforts might mean supporting employee resource groups, educating leaders, and fostering company values around celebrating differences. Paras also points out that with diversity and inclusion, grassroots efforts alone aren’t enough, so it's important to find out if and how leadership supports the efforts.</p>
  <p>You’d be hard-pressed to find a software company with perfect diversity numbers, so you’re not necessarily looking for them to have everything figured out. Instead, you’re trying to gauge how they respond to a longstanding problem, if they’re even willing to admit they have one. I find it extremely telling to see if a company tries to put a positive spin on something negative or if they admit they have work to do. I also like to see how much thought and effort they’ve put toward doing better. Are they trying creative solutions? Are they using data to inform their efforts? Are they actually working to fix the issue or are they complacent and giving excuses? (Read more about how to tell if a company’s walking the walk on diversity and inclusion <a href="https://www.themuse.com/advice/how-to-tell-company-cares-diversity-and-inclusion-ellen-pao">here</a>.) </p>
  <p>The answer might tell you more about the company than just its D&amp;I strategy. How a company approaches this very challenging problem can be indicative of how they approach other complicated issues and how transparent they tend to be. Do they face obstacles head-on and strive for constant improvement even when it’s hard or do they just push things under the rug?</p>
  <p><br></p>
  <p>With most of these questions, there isn't a general right or wrong answer. It’s all about finding the place that sounds perfect <em>to you</em>. Do you thrive with consistency or chaos? Do you work well under pressure or do you shut down? Do you get excited about working with brand-new technologies or do you get tired even contemplating it? </p>
  <p>Almost every company you’ll talk to leaves at least five minutes at the end of each interview for you to ask any questions you have. Use that time wisely. Your job is a big part of your life, so it’s worth taking the time to ensure the one you're accepting is the best possible fit for you.</p>
  <p><br></p>
  <div class="post-email-capture"><div><div class="optin-form"><div class="excerpt col-sm-6 col-xs-12"><div class="email-capture-container"><h3>Can We Send You a Helpful Email?</h3><p>More articles like this one, job opportunities you'll actually like, and advice that doesn't sound like it was written in the '80s.</p></div></div><div class="email-capture-input col-sm-6 col-xs-12"><div class="email-capture-container"><div><form method="POST" role="form" class="email-capture-form form-styling"><div><input type="hidden" name="_xsrf" value="2|43771d2b|b8c794c11ac4a4b59dbfac67c428ea58|1579299666"><div><div class="form-wrapper email"><div class="form-group email"><input type="email" class="form-control" placeholder="Your Email" name="email"></div></div></div><button type="submit" name="action" value="sign-up" class="tm-brighter-blue-round-button">Go</button></div></form></div></div></div><div class="terms col-sm-12 col-xs-12"><p>By submitting your email address, you agree to The Muse <a href="/user/terms" target="_blank">Terms of Use</a> and <a href="/user/privacy" target="_blank">Privacy Policy</a>.</p></div></div><div><div class="optin-success-msg"><div><h3>Success!</h3><p class="success">Check your inbox for your first installment of Muse goodness.</p></div></div></div></div></div>
  </div>
  </div>
  <div class="tags-topics">
  <h4>Topics</h4>
  <a href="/tags/engineering" rel="nofollow">Engineering</a>
  <span>, </span>
  <a href="/tags/tech" rel="nofollow">Tech</a>
  <span>, </span>
  <a href="/tags/interviewing-for-a-job" rel="nofollow">Interviewing for a Job</a>
  <span>, </span>
  <a href="/tags/job-search" rel="nofollow">Job Search</a>
  </div>
  <p class="image-credit">
  Photo of
  person sitting and talking at a job interview courtesy of Luis Alvarez/Getty Images.
  </p>
  <div class="author-info">
  <a class="simple-author-image" href="/author/joy-ebertz">
  <noscript>
  <img src="https://assets.themuse.com/uploaded/user/1587279/authorship_primary.jpg?v=6bed0366d5a23c9ca53f6d65a3ffffa97f2b325ef6fbbfdba67fb72e6181b68d" alt="Career Guidance"/>
  </noscript>
  <img alt="Career Guidance" src="https://assets.themuse.com/uploaded/user/1587279/authorship_primary.jpg?v=6bed0366d5a23c9ca53f6d65a3ffffa97f2b325ef6fbbfdba67fb72e6181b68d">
  </a>
  <div class="author-info-text">
  <p class="author-description"><a href="https://www.linkedin.com/in/joyebertz/">Joy Ebertz</a> is a senior staff engineer at Split.io working on the backend of the core platform. Prior to that she was at Box, where she worked as both an engineer and an engineering manager on governance, security, and platform features. In addition to building software, Joy enjoys writing and maintains a <a href="https://medium.com/@jkebertz">blog</a> and also spends large amounts of time trail running.</p>
  <a class="read-more" href="/author/joy-ebertz"><span>More from this Author</span> <i class="fa fa-long-arrow-right"></i></a>
  </div>
  </div>
  </div>
  </div>
  <div class="modal fade class-modal" id="muse-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
  <div class="modal-content">
  <div class="modal-body">
  <a href="#" class="close" data-dismiss="modal">×</a>
  <p>
  Hmmm, seems you've already signed up for this class. While you're here, you may as well check out all the <a href="/jobs">amazing companies that are hiring</a> like crazy right now.
  </p>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  <div id="recommended-content" data-placement="Individual Post"><div class="recommended-content"><h3>Recommendations for You</h3><ul class="recommended-content__list"><li class="vertical-tile"><div><div class="mfe-job-recommendation-tile"><a href="/jobs/andela/director-engineer-growth-and-development" class="mfe-job-recommendation-tile__link-wrapper" role="button"><div class="mfe-job-recommendation-tile__container"><div class="mfe-job-recommendation-tile__logo-pill"><img src="https://pilbox.themuse.com/image.png?h=250&amp;url=https%3A%2F%2Fassets.themuse.com%2Fuploaded%2Fcompanies%2F744%2Fsmall_logo.png%3Fv%3D3d183ebf52f18592c04bf17dc951ffb565df9761ea28657618d818c4f08d9251"></div><div class="mfe-job-recommendation-tile__content"><div class="mfe-job-recommendation-tile__company-name">Andela</div><div class="mfe-job-recommendation-tile__job-title">Director, Engineer Growth and Development</div><div class="mfe-job-recommendation-tile__footer"><div class="mfe-job-recommendation-tile__location">Multiple Locations</div><div class="mfe-job-recommendation-tile__view-job">View Job <svg data-name="Layer 1" viewBox="0 0 6.89 11.31" width="1em" height="1em" class="mfe-icon mfe-icon--IconArrowRightShape mfe-icon--muse-blue" style="height: 16px; width: 16px;"><path fill="#53b6d0" d="M1.24 11.31L0 10.07l4.42-4.42L0 1.24 1.24 0l5.65 5.65-5.65 5.66z"></path></svg></div></div><span class="mfe-job-recommendation-tile__tooltip mfe-job-recommendation-tile__tooltip--enabled tooltip"><div class="mfe-job-recommendation-tile__tooltip-container"><div class="mfe-job-recommendation-tile__tooltip-company">Andela</div><div class="mfe-job-recommendation-tile__tooltip-title">Director, Engineer Growth and Development</div><div class="mfe-job-recommendation-tile__tooltip-location">Multiple Locations</div></div></span></div></div></a></div></div></li><li class="vertical-tile"><div><div class="mfe-job-recommendation-tile"><a href="/jobs/andela/communications-senior-coordinator" class="mfe-job-recommendation-tile__link-wrapper" role="button"><div class="mfe-job-recommendation-tile__container"><div class="mfe-job-recommendation-tile__logo-pill"><img src="https://pilbox.themuse.com/image.png?h=250&amp;url=https%3A%2F%2Fassets.themuse.com%2Fuploaded%2Fcompanies%2F744%2Fsmall_logo.png%3Fv%3D3d183ebf52f18592c04bf17dc951ffb565df9761ea28657618d818c4f08d9251"></div><div class="mfe-job-recommendation-tile__content"><div class="mfe-job-recommendation-tile__company-name">Andela</div><div class="mfe-job-recommendation-tile__job-title">Communications Senior Coordinator</div><div class="mfe-job-recommendation-tile__footer"><div class="mfe-job-recommendation-tile__location">Lagos, Nigeria</div><div class="mfe-job-recommendation-tile__view-job">View Job <svg data-name="Layer 1" viewBox="0 0 6.89 11.31" width="1em" height="1em" class="mfe-icon mfe-icon--IconArrowRightShape mfe-icon--muse-blue" style="height: 16px; width: 16px;"><path fill="#53b6d0" d="M1.24 11.31L0 10.07l4.42-4.42L0 1.24 1.24 0l5.65 5.65-5.65 5.66z"></path></svg></div></div><span class="mfe-job-recommendation-tile__tooltip tooltip"><div class="mfe-job-recommendation-tile__tooltip-container"><div class="mfe-job-recommendation-tile__tooltip-company">Andela</div><div class="mfe-job-recommendation-tile__tooltip-title">Communications Senior Coordinator</div><div class="mfe-job-recommendation-tile__tooltip-location">Lagos, Nigeria</div></div></span></div></div></a></div></div></li></ul></div></div>
  <div class="action-items">
  <div id="post-user-onboarding" class="post-onboarding-wrapper"><div><div></div></div></div>
  </div>
  </div>

