<div class="setting-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="title">
          <h1>Settings</h1>
        </div>
      </div>
      <div class="col-6 col-md-4">

      </div>
    </div>
  </div>
</div>
