<div class="admin-wrapper">
  <div class="row no-gutters">
    <div class="col-sm-6 col-md-2">
      <app-admin-menu></app-admin-menu>
    </div>
    <div class="col-12 col-md-10 col-xs-12">
      <div class="content-body">
        <div class="main-content">
          <div class="header-title-wrapper">
            <h1>{{'admin-tabs.title' | translate}}</h1>
          </div>
          <div class="tabs-content">
            <mat-tab-group mat-align-tabs="start">
              <mat-tab label="{{'admin-tabs.site-tab' | translate}}">
               <app-main-setting></app-main-setting>
              </mat-tab>
              <mat-tab label="{{'admin-tabs.email-setting-tab' | translate}}">
                <app-email-setting></app-email-setting>
              </mat-tab>
              <mat-tab label="{{'admin-tabs.manage-ads-tab' | translate}}">
                <app-manage-ads></app-manage-ads>
              </mat-tab>
              <mat-tab label="{{'admin-tabs.payment-gateway-tab' | translate}}">
                <app-payment-gateway></app-payment-gateway>
              </mat-tab>
              <mat-tab label="{{'admin-tabs.social-tab' | translate}}">
                <app-social></app-social>
              </mat-tab>
              <mat-tab label="{{'admin-tabs.email-template-tab' | translate}}">
                <app-email-template></app-email-template>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
