<div class="job-list-wrapper">
  <div class="job-list container-fluid">
    <div class="manage">
      <div class="row no-gutters">
        <div class="col-6 col-md-2">
          <app-menu></app-menu>
        </div>
        <div class="col-sm-6 col-md-10">
          <div class="job-list-content-wrapper">
            <div class="routed-content">
              <div class="list-tbl">
                <div class="job-list-title">
                  <h1>Applied Users</h1>
                </div>
                <div class="row no-gutters">
                  <div class="col-sm-6 col-md-9">
                    <div class="job-list">
                      <div class="search-results-container">
                      <div>
                       </div>
                       <div>
                        <div *ngIf="resultsLength == 0" class="no-search-wrapper">
                          <div class="no-search-info"> <h2>{{'manage-city.no-record-found' | translate}}</h2></div>
                        </div>

                        <div *ngIf="isLoadingResults">
                          <div class="linear-background">
                            <div class="inter-draw"></div>
                            <div class="inter-crop"></div>
                            <div class="inter-right--top"></div>
                            <div class="inter-right--bottom"></div>
                          </div>
                          <div class="linear-background">
                            <div class="inter-draw"></div>
                            <div class="inter-crop"></div>
                            <div class="inter-right--top"></div>
                            <div class="inter-right--bottom"></div>
                          </div>
                          <div class="linear-background">
                            <div class="inter-draw"></div>
                            <div class="inter-crop"></div>
                            <div class="inter-right--top"></div>
                            <div class="inter-right--bottom"></div>
                          </div>
                        </div>
                      </div>
                        <ul [hidden]="isLoadingResults || resultsLength == 0">
                          <li class="job-list-individual" *ngFor="let applicant of applicants">
                            <div>
                              <div class="mfe-job-tile">
                                <div class="mfe-job-tile__link-wrapper">
                                  <div class="mfe-job-tile__row">
                                    <div class="mfe-job-tile__column mfe-job-tile__column--left">
                                      <div class="mfe-job-tile__title">
                                        Name
                                      </div>
                                      <h2 class="mfe-job-tile__header">
                                        {{ applicant.fullname }}
                                      </h2>
                                    </div>
                                    <div class="mfe-job-tile__column mfe-job-tile__column--right">
                                      <div class="mfe-job-tile__title">
                                        Email
                                      </div>
                                      <h3 class="mfe-job-tile__header"><span class="locations">
                                        {{ applicant.email }}
                                      </span></h3>
                                    </div>
                                  </div>
                                  <div class="mfe-job-tile__row">
                                    <span (click)="openCV(applicant)" class="mfe-job-tile__details mfe-job-tile__details--details">
                                      View {{ applicant.fullname}} CV
                                  </span>
                                </div>
                              </div>
                              <div>

                              </div>
                              <div>
                                <div class="job-menu">
                                    <mat-icon [matMenuTriggerFor]="menu">more_vert</mat-icon>
                                </div>

                                <mat-menu #menu="matMenu">
                                  <button mat-menu-item (click)="downloadCVFile(applicant)">
                                    <mat-icon>article</mat-icon>
                                    <span>Download CV</span>
                                  </button>
                                  <button (click)="onConfirmDelete(applicant.applicant_id)" mat-menu-item>
                                    <mat-icon style="color: red;">delete</mat-icon>
                                    <span>Delete</span>
                                  </button>
                                </mat-menu>
                              </div>
                            </div>
                          </div>

                        </li>
                      </ul>
                    </div>
                    </div>
                    <div class="pagination-wrapper paginate">
                      <pagination [totalItems]="resultsLength" [itemsPerPage]="5" (pageChanged)="pageChanged($event)"></pagination>

                    </div>
                  </div>
                  <div class="col-6 col-md-3">Ads</div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<ngx-smart-modal #myModal customClass="msg-modal" identifier="myModal">
  <h1 class="cv-name">{{ userCVName }} CV</h1>
   <ngx-doc-viewer class="doc-viewer" url="{{cvLink}}" viewer="google"></ngx-doc-viewer>
  <button class="btn btn-primary top_space_2" (click)="myModal.close()">Close</button>
</ngx-smart-modal>
