<div class="faqs">
<div class="container faq-wrapper">
  <h3>FAQs</h3>
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel *ngFor="let faq of faqList">
        <mat-expansion-panel-header>
          <mat-panel-title>
           <b class="faq-header">{{ faq.question }}</b>
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <span [innerHTML]="faq.answer"></span>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
