<div class="row no-gutters">
    <div class="col-12 col-sm-6 col-md-4 signUp__sec">
        <div class="signUp_logo">
            <img class="signUp_lo__img" [src]="settingData?.logo">
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-8">
            <div class="signIn__login_btn">
                <a [routerLink]="['/sign-in']">{{'forgot-password.sign-in-button' | translate}}</a>
            </div>
                    <div class="center__div sign_up__div">
                        <span class="signUp_welcome__logotext">{{'forgot-password.title' | translate}}</span>
                        <div class="row signUp_as__sec">
                                <div class="col-6">
                                    <div [ngClass]="{user_icon_clicked: onselectUser, user_icon: !onselectUser}"
                                        (click)="onSelectUser()">
                                        <div>
                                            <img class="signUp_logo__img" src="assets/icons/user.svg">
                                            <p class="signUp_logo__text">{{'forgot-password.candidate-tab' | translate}}</p>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-6">
                                    <div [ngClass]="{user_icon_clicked: onselectRecuiter, user_icon: !onselectRecuiter}"
                                         (click)="onSelectRecruiter()">
                                         <div>
                                            <img class="signUp_logo__img" src="assets/icons/company.svg">
                                            <p class="signUp_logo__text">{{'forgot-password.recruiter-tab' | translate}}</p>
                                         </div>
                                    </div>
                                </div>
                              </div>
                        <div class="fi_form space_around_1">
                            <form class="space_around_1" name="form" (ngSubmit)="f.form.valid && onSubmit()"
                         #f="ngForm" >

                            <div class="form-group">
                                <label for="email">{{'forgot-password.email-field' | translate}}</label>
                                <input type="text" class="form-control" name="email" [(ngModel)]="model.email"
                                #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email />
                                <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                                    <div *ngIf="email.errors.required">{{'forgot-password.email-error' | translate}}</div>
                                    <div *ngIf="email.errors.email">{{'forgot-password.email-invalid-error' | translate}}</div>
                                </div>
                            </div>
                            <div class="form-group top_space_2">
                              <button class="btn btn-primary" [disabled]="loading">
                                <span *ngIf="!loading">{{'forgot-password.submit-button' | translate}}</span>
                                <span *ngIf="loading" class="spinner-icon"><mat-icon><mat-spinner color="warn" diameter="20"></mat-spinner></mat-icon></span>
                              </button>
                            </div>
                            </form>
                        </div>
                    </div>
    </div>
</div>
