<div class="plan-wrapper">
  <div class="row no-gutters">
    <div class="col-sm-6 col-md-2">
      <app-admin-menu></app-admin-menu>
    </div>
    <div class="col-12 col-md-10 col-xs-12">
      <div class="content-body">
        <div class="main-content">
          <h1 class="plan-list-title">{{'list-plan.list-plan-title' | translate}} </h1>
          <div class="list-plan-filter">
            <form [formGroup]="searchForm">
              <div class="row row-cols-3">
                <div class="col">
                  <input type="text" formControlName="name" required placeholder="{{'list-plan.form-plan-name-placeholder' | translate}}"
                  class="form-control form-control-sm" id="name">
                </div>
                <div class="col">
                  <select formControlName="activate" class="form-control form-control-sm">
                    <option value="">{{'list-plan.form-activated-choose' | translate}}</option>
                    <option value="true">{{'list-plan.form-activated-choose-yes' | translate}}</option>
                    <option value="false">{{'list-plan.form-activated-choose-no' | translate}}</option>
                  </select>
                </div>
                <div class="col">
                  <div class="filtered-button">

                    <button *ngIf="isSearch" (click)="clearSearch()" class="btn btn-danger clear-search">
                      <span>{{'manage-country.clear-search' | translate}}</span>
                    </button>

                    <button (click)="onSearch()" class="btn btn-primary" [disabled]="searchLoading ">
                      <span *ngIf="!searchLoading">{{'list-plan.form-button' | translate}}</span>
                      <span *ngIf="searchLoading" class="spinner-icon"><mat-icon><mat-spinner color="warn" diameter="20">
                      </mat-spinner></mat-icon></span>
                    </button>

                    <span class="checked-btn">
                      <button *ngIf="this.selection.selected.length >= 1" (click)="onConfirmDelete()" class="btn btn-danger"
                        [disabled]="checkedDeleteLoader ">
                        <span *ngIf="!checkedDeleteLoader">{{'list-plan.checkbox-show-button' | translate}}</span>
                        <span *ngIf="checkedDeleteLoader" class="spinner-icon"><mat-icon><mat-spinner color="warn" diameter="20">
                        </mat-spinner></mat-icon></span>
                      </button>
                    </span>
                  </div>
                </div>
              </div>
          </form>
          </div>

          <div class="table-container mat-elevation-z8" [hidden]="isLoadingResults || resultsLength == 0">
            <table mat-table matSortActive="title" matSortDirection="asc" matSortDisableClear
             [dataSource]="dataSource" matSort>

              <!-- Checkbox Column -->
              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                  <mat-checkbox (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()"
                                [aria-label]="checkboxLabel()">
                  </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                  <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null"
                                [checked]="selection.isSelected(row)"
                                [aria-label]="checkboxLabel(row)">
                  </mat-checkbox>
                </td>
              </ng-container>

              <!-- Plan Name By Column -->
              <ng-container matColumnDef="plan_name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'list-plan.table-header-plan_name' | translate}}</th>
                <td mat-cell *matCellDef="let element"> {{element.plan_name}} </td>
              </ng-container>

              <!-- Plan Term Column -->
              <ng-container matColumnDef="plan_limit">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'list-plan.table-header-no-post' | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.plan_limit}} </td>
              </ng-container>

              <!-- Amount Column -->
              <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'list-plan.table-header-amount' | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
              </ng-container>

              <!-- Recommended Column -->
              <ng-container matColumnDef="recommended">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'list-plan.table-header-recommended' | translate}} </th>
                <td mat-cell *matCellDef="let element">
                  {{element.recommended == '1' ? 'Yes' : 'No'}}
                </td>
              </ng-container>

              <!-- Status Column -->
              <ng-container matColumnDef="activated">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'list-plan.table-header-activated' | translate}} </th>
                <td mat-cell *matCellDef="let element">
                  {{element.activate == 'true' ? 'Yes' : 'No'}}
                </td>
              </ng-container>

              <!-- Status Column -->
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
                <td mat-cell *matCellDef="let element">
                  <div class="action-menu">
                    <mat-icon [matMenuTriggerFor]="menu">more_vert</mat-icon>
                </div>

                <mat-menu #menu="matMenu">
                  <button (click)="editPlan(element)"  mat-menu-item>
                    <mat-icon>create</mat-icon>
                    <span>{{'list-testimonial.table-menu-edit' | translate}}</span>
                  </button>

                  <button *ngIf="element.activate == 'false'" (click)="activatePlan(element)" mat-menu-item>
                    <mat-icon>check_circle_outline</mat-icon>
                    <span>{{'list-plan.activate-plan' | translate}}</span>
                  </button>

                  <button *ngIf="element.activate == 'true'" (click)="deactivatePlan(element)" mat-menu-item>
                    <mat-icon>not_interested</mat-icon>
                    <span>{{'list-plan.deactivate-plan' | translate}}</span>
                  </button>

                  <button (click)="deleteSinglePlan(element)" mat-menu-item>
                    <mat-icon style="color: red;">delete</mat-icon>
                    <span>{{'list-plan.table-menu-delete' | translate}}</span>
                  </button>
                </mat-menu>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator class="mat-paginator-sticky"
             #paginator
             [length] = "resultsLength"
             [pageSize] = "10"
             [pageSizeOptions] = "[5, 10, 25, 100]"
             (page)="getNext($event)">
            </mat-paginator>

          </div>

          <div *ngIf="isLoadingResults">
            <div class="linear-background">
              <div class="inter-draw"></div>
              <div class="inter-crop"></div>
              <div class="inter-right--top"></div>
              <div class="inter-right--bottom"></div>
            </div>
            <div class="linear-background">
              <div class="inter-draw"></div>
              <div class="inter-crop"></div>
              <div class="inter-right--top"></div>
              <div class="inter-right--bottom"></div>
            </div>
            <div class="linear-background">
              <div class="inter-draw"></div>
              <div class="inter-crop"></div>
              <div class="inter-right--top"></div>
              <div class="inter-right--bottom"></div>
            </div>
          </div>

          <div *ngIf="resultsLength == 0" class="no-search-wrapper">
            <div class="no-search-info"> <h2>{{'manage-city.no-record-found' | translate}}</h2></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="update-wrapper" *ngIf="showEditPlanPanel" [@slideInOut]>
  <span (click)="showEditPlanPanel = false" class="material-icons close-icon">
    highlight_off
  </span>
  <form [formGroup]="editPlanForm">
    <div class="form-group">
      <label for="plan_name">{{'add-plan.add-pan-title' | translate}} *</label>
      <input name="plan_name" placeholder="{{'add-plan.form-plan-name-placeholder' | translate}}" formControlName="plan_name" required type="text" class="form-control form-control-sm" id="plan_name">
      <div *ngIf="f.plan_name.errors" class="invalid-feedback">
        <div *ngIf="f.plan_name.errors.required">{{'add-plan.form-plan-name-error' | translate}}</div>
      </div>
    </div>

    <div class="form-group">
      <label for="plan_expired">{{'add-plan.form-plan-expired' | translate}} *</label>
      <select formControlName="plan_expired" class="form-control form-control-sm">
        <option value="">{{'add-plan.form-plan-default' | translate}}</option>
        <option value="2-days">{{'add-plan.form-plan-in-two-days' | translate}}</option>
        <option value="7-days">{{'add-plan.form-plan-in-7-days' | translate}}</option>
        <option value="14-days">{{'add-plan.form-plan-in-14-days' | translate}}</option>
        <option value="1-month">{{'add-plan.form-plan-in-1-month' | translate}}</option>
        <option value="2-month">{{'add-plan.form-plan-in-2-month' | translate}}</option>
        <option value="3-month">{{'add-plan.form-plan-in-3-month' | translate}}</option>
        <option value="4-month">{{'add-plan.form-plan-in-4-month' | translate}}</option>
        <option value="5-month">{{'add-plan.form-plan-in-5-month' | translate}}</option>
        <option value="6-month">{{'add-plan.form-plan-in-6-month' | translate}}</option>
      </select>
      <div *ngIf="f.plan_expired.errors" class="invalid-feedback">
        <div *ngIf="f.plan_expired.errors.required">{{'add-plan.form-plan-expired-error' | translate}}</div>
      </div>
    </div>

    <div class="form-group">
      <label for="plan_limit">{{'add-plan.form-post-limit' | translate}} *</label>
      <input name="plan_limit" formControlName="plan_limit" required type="text" class="form-control form-control-sm" id="plan_limit">
      <div *ngIf="f.plan_limit.errors" class="invalid-feedback">
        <div *ngIf="f.plan_limit.errors.required">{{'add-plan.form-post-limit-error' | translate}}</div>
      </div>
    </div>

    <div class="form-group">
      <label for="job_expired">{{'add-plan.form-plan-job-expired' | translate}} *</label>
      <select formControlName="job_expired" class="form-control form-control-sm">
        <option value="">{{'add-plan.form-plan-term-choose' | translate}}</option>
        <option value="2-days">{{'add-plan.form-plan-job-in-two-days' | translate}}</option>
        <option value="7-days">{{'add-plan.form-plan-job-in-7-days' | translate}}</option>
        <option value="14-days">{{'add-plan.form-plan-job-in-14-days' | translate}}</option>
        <option value="1-month">{{'add-plan.form-plan-job-in-1-month' | translate}}</option>
        <option value="2-month">{{'add-plan.form-plan-job-in-2-month' | translate}}</option>
        <option value="3-month">{{'add-plan.form-plan-job-in-3-month' | translate}}</option>
        <option value="4-month">{{'add-plan.form-plan-job-in-4-month' | translate}}</option>
        <option value="5-month">{{'add-plan.form-plan-job-in-5-month' | translate}}</option>
        <option value="6-month">{{'add-plan.form-plan-job-in-6-month' | translate}}</option>
      </select>
      <div *ngIf="f.job_expired.errors" class="invalid-feedback">
        <div *ngIf="f.job_expired.errors.required">{{'add-plan.form-plan-expired-error' | translate}}</div>
      </div>
    </div>


    <div class="form-group">
      <label for="featured">{{'add-plan.form-plan-is-featured' | translate}} *</label>
      <select formControlName="featured" class="form-control form-control-sm">
        <option value="">{{'add-plan.form-plan-is-featured-default' | translate}}</option>
        <option value="true">{{'add-plan.form-plan-is-featured-yes' | translate}}</option>
        <option value="false">{{'add-plan.form-plan-is-featured-no' | translate}}</option>
      </select>
      <div *ngIf="f.featured.errors" class="invalid-feedback">
        <div *ngIf="f.featured.errors.required">{{'add-plan.form-plan-is-featured-error' | translate}}</div>
      </div>
    </div>

    <div class="form-group">
      <label for="urgent">{{'add-plan.form-plan-is-urgent' | translate}} *</label>
      <select formControlName="urgent" class="form-control form-control-sm">
        <option value="">{{'add-plan.form-plan-is-urgent-default' | translate}}</option>
        <option value="true">{{'add-plan.form-plan-is-urgent-yes' | translate}}</option>
        <option value="false">{{'add-plan.form-plan-is-urgent-no' | translate}}</option>
      </select>
      <div *ngIf="f.urgent.errors" class="invalid-feedback">
        <div *ngIf="f.urgent.errors.required">{{'add-plan.form-plan-is-urgent-error' | translate}}</div>
      </div>
    </div>

    <div class="form-group">
      <label for="highlight">{{'add-plan.form-plan-highlight' | translate}} *</label>
      <select formControlName="highlight" class="form-control form-control-sm">
        <option value="">{{'add-plan.form-plan-is-highlight-default' | translate}}</option>
        <option value="true">{{'add-plan.form-plan-is-highlight-yes' | translate}}</option>
        <option value="false">{{'add-plan.form-plan-is-highlight-no' | translate}}</option>
      </select>
      <div *ngIf="f.highlight.errors" class="invalid-feedback">
        <div *ngIf="f.highlight.errors.required">{{'add-plan.form-plan-is-highlight-default' | translate}}</div>
      </div>
    </div>

    <div class="form-group">
      <label for="on_top_of_search">{{'add-plan.form-plan-top-on-search-category' | translate}} *</label>
      <select formControlName="on_top_of_search" class="form-control form-control-sm">
        <option value="">{{'add-plan.form-plan-is-search-category-default' | translate}}</option>
        <option value="true">{{'add-plan.form-plan-is-search-yes' | translate}}</option>
        <option value="false">{{'add-plan.form-plan-is-search-no' | translate}}</option>
      </select>
      <div *ngIf="f.highlight.errors" class="invalid-feedback">
        <div *ngIf="f.highlight.errors.required">{{'add-plan.form-plan-is-search-error' | translate}}</div>
      </div>
    </div>

    <div class="form-group">
      <label for="on_home_page">{{'add-plan.form-plan-home-page' | translate}} *</label>
      <select formControlName="on_home_page" class="form-control form-control-sm">
        <option value="">{{'add-plan.form-plan-is-home-page-default' | translate}}</option>
        <option value="true">{{'add-plan.form-plan-is-home-page-yes' | translate}}</option>
        <option value="false">{{'add-plan.form-plan-is-home-page-no' | translate}}</option>
      </select>
      <div *ngIf="f.on_home_page.errors" class="invalid-feedback">
        <div *ngIf="f.on_home_page.errors.required">{{'add-plan.form-plan-home-page-error' | translate}}</div>
      </div>
    </div>

    <div class="form-group">
      <label for="amount">{{'add-plan.form-amount' | translate}}</label>
      <div class="input-group mb-2">
        <input type="text" id="amount" formControlName="amount" class="form-control form-control-sm"
         placeholder="{{this.currencySign}} 200"
         (blur)="transformAmountMin()">
      </div>
      <div *ngIf="f.amount.errors" class="invalid-feedback">
        <div *ngIf="f.amount.errors.required">{{'add-plan.form-amount-placeholder' | translate}}</div>
      </div>
    </div>

    <div class="form-group">
      <label for="activate">{{'add-plan.form-activate' | translate}} *</label>
      <select formControlName="activate" class="form-control form-control-sm">
        <option value="">{{'add-plan.form-activate-choose' | translate}}</option>
        <option value="true">{{'add-plan.form-activate-yes' | translate}}</option>
        <option value="false">{{'add-plan.form-activate-no' | translate}}</option>
      </select>
      <div *ngIf="f.activate.errors" class="invalid-feedback">
        <div *ngIf="f.activate.errors.required">{{'add-plan.form-activate-placeholder' | translate}}</div>
      </div>
    </div>

    <div class="form-group">
      <label for="activate">{{'add-plan.form-free' | translate}} *</label>
      <select formControlName="isfree" class="form-control form-control-sm">
        <option value="">{{'add-plan.form-free-choose' | translate}}</option>
        <option value="true">{{'add-plan.form-free-yes' | translate}}</option>
        <option value="false">{{'add-plan.form-free-no' | translate}}</option>
      </select>
      <div *ngIf="f.activate.errors" class="invalid-feedback">
        <div *ngIf="f.activate.errors.required">{{'add-plan.form-activate-placeholder' | translate}}</div>
      </div>
    </div>

    <div class="form-group">
      <section class="example-section">
        <mat-checkbox formControlName="recommended">{{'add-plan.form-activate-recommended' | translate}}</mat-checkbox>
      </section>
    </div>


    <div class="sumit-button">
      <button (click)="updatePlan()" class="btn btn-primary" [disabled]="loading || editPlanForm.invalid">
        <span *ngIf="!loading">{{'add-plan.form-submit-button' | translate}}</span>
        <span *ngIf="loading" class="spinner-icon"><mat-icon><mat-spinner color="warn" diameter="20">
        </mat-spinner></mat-icon></span>
       </button>
    </div>
  </form>
</div>
