.content-body {
  margin-top: 4rem;

  .transaction-title h1 {
    font-size: 1.5rem;
    text-transform: uppercase;
  }

  table {
    width: 100%;
  }

  .transaction-route {
    margin-left: 2rem;
    margin-bottom: 2rem;
    margin-right: 1rem;
    min-height: 80vh;
  }

  .transaction-title {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .main-content {
    margin: 3rem;
  }

  .table-container {
    height: 600px;
    overflow: auto;
    background-color: #ffffff;
  }

  .mat-paginator-sticky {
    bottom: 0px;
    position: sticky;
    z-index: 10;
    background-color: #eee;
    padding-bottom: 5px;
  }

  .plan-list-title {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }

  .list-plan-filter {
    margin-bottom: 1rem;
    border: 1px solid #dddddd;
    padding: 10px;
    background-color: #ffffff;
    position: sticky;
    top: 3.2rem;
    z-index: 110;
  }

  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  }


  .date-from {
    margin-right: 8px;
    position: relative;
    bottom: 6px;
    font-size: .8rem;
    color: var(--gray);
  }

  .search-with-date {
    margin-top: 1rem;
  }

  .action-menu {
    cursor: pointer;
    position: relative;
    top: 3px;
  }

  span.checked-btn {
    margin-left: 13px;
  }

}

.sidebar-nav {
  margin-top: -3rem;
}

.clear-search {
  margin-right: 1rem;
}

.no-search-info {
  width: 30rem;
  padding: 1rem;
  margin: auto;
  text-align: center;
}


.close-icon {
  position: absolute;
  top: 18px;
  right: 24px;
  cursor: pointer;
}

.checkbox-wrapper {
  margin-top: 1rem;
}

.e-richtexteditor .e-rte-content .e-content, .e-richtexteditor .e-source-content .e-content {
  padding: 10px;
  margin-top: 0px;
}

#mat-radio-2 {
  margin-right: 1rem;
  margin-left: 1rem;
}

#mat-radio-5 {
  margin-left: 1.5rem;
  margin-right: 1rem;
}

.update-wrapper {
  width: 25rem;
  margin: auto;
  position: absolute;
  z-index: 111;
  height: 100vh;
  top: 0px;
  right: 2px;
  top: 3rem;
  background: #fff;
  padding: 3rem;
  border-left: 1px solid #52b7d0;
  overflow: auto;
}

