<div mat-dialog-content>
  <div>
    <ngx-paypal [config]="payPalConfig"></ngx-paypal>
  </div>
</div>
<div mat-dialog-actions>
  <button class="btn btn-danger" (click)="onNoClick()">{{'payment-dialog.close-button' | translate}}</button>
</div>
