<div class="admin-wrapper">
  <div class="row no-gutters">
    <div class="col-sm-6 col-md-2">
      <app-admin-menu></app-admin-menu>
    </div>
    <div class="col-12 col-md-10 col-xs-12">
      <div class="content-body">
        <div class="main-content">
          <div class="add-country-wrapper">

            <form (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">
            <div class="add-counrty-form">
              <div class="container">
                <div class="title-wrapper">
                  <h1>{{'add-country.title' | translate}}</h1>
                </div>
                <div class="row">
                  <div class="col-6 col-md-4">
                    <div class="form-group">
                      <label for="sortnamecode">{{'add-country.form-sortnamecode-label' | translate}}</label>
                      <input type="text" class="form-control" id="sortnamecode" placeholder="{{'add-country.form-sortnamecode-placeholder' | translate}}"
                          name="sortnamecode" [(ngModel)]="countryModel.sortnamecode"
                          #sortnamecode="ngModel" [ngClass]="{ 'is-invalid': f.submitted && sortnamecode.invalid }" required>
                          <div *ngIf="f.submitted && sortnamecode.invalid" class="invalid-feedback">
                            <div *ngIf="sortnamecode.errors.required">{{'add-country.form-sortnamecode-error-message' | translate}}</div>
                        </div>
                    </div>
                  </div>
                  <div class="col-6 col-md-4">
                    <div class="form-group">
                      <label for="country">{{'add-country.form-country-label' | translate}}</label>
                      <input type="text" class="form-control" id="country"  placeholder="{{'add-country.form-country-placeholder' | translate}}"
                          name="country" [(ngModel)]="countryModel.country"
                          #country="ngModel" [ngClass]="{ 'is-invalid': f.submitted && country.invalid }" required>
                          <div *ngIf="f.submitted && country.invalid" class="invalid-feedback">
                            <div *ngIf="country.errors.required">{{'add-country.form-country-error-message' | translate}}</div>
                        </div>
                    </div>
                  </div>
                  <div class="col-6 col-md-4">
                    <div class="form-group">
                      <label for="phoneCode">{{'add-country.form-phoneCode-label' | translate}}</label>
                      <input type="text" class="form-control" id="phoneCode"  placeholder="{{'add-country.form-phoneCode-placeholder' | translate}}" name="phoneCode"
                          [(ngModel)]="countryModel.phoneCode"
                          #phoneCode="ngModel" [ngClass]="{ 'is-invalid': f.submitted && phoneCode.invalid }" required>
                          <div *ngIf="f.submitted && phoneCode.invalid" class="invalid-feedback">
                            <div *ngIf="phoneCode.errors.required">{{'add-country.form-phoneCode-error-message' | translate}}</div>
                        </div>
                    </div>
                  </div>
                </div>
                <button class="btn btn-primary" [disabled]="loading || !f.form.valid">
                  <span *ngIf="!loading">{{'add-country.form-button' | translate}}</span>
                  <span *ngIf="loading" class="spinner-icon"><mat-icon><mat-spinner color="warn" diameter="20">
                  </mat-spinner></mat-icon></span>
                 </button>
              </div>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
