<footer class="footer-distributed">

    <div class="footer-left">

      <img width="120px" alt="Logo" [src]="settingData?.logo"/>

      <p class="footer-links">
        <a [routerLink]="['/']">Home</a>
        |
        <a [routerLink]="['/company/list']">Companies</a>
        |
        <a [routerLink]="['/job/list']">Jobs</a>
        |
        <a [routerLink]="['/job/faq']">Faqs</a>
      </p>

      <p class="footer-company-name">{{ settingData?.siteName }} © {{ year }}</p>
    </div>

    <div class="footer-center">
      <div>
        <i class="fa fa-map-marker"></i>
        <p>{{ settingData?.address }}</p>
      </div>

      <div>
        <i class="fa fa-phone"></i>
        <p>{{ settingData?.phone }}</p>
      </div>

      <div>
        <i class="fa fa-envelope"></i>
        <p>{{ settingData?.toEmail }}</p>
      </div>

    </div>

    <div class="footer-right">

      <p class="footer-company-about">
        <span>{{ settingData?.aboutSite }}</span>
      </p>

      <div class="footer-icons">
        <a href="{{ socialData?.facebook }}"  target="_blank"><i class="fa fa-facebook"></i></a>
        <a href="{{ socialData?.twitter }}"  target="_blank"><i class="fa fa-twitter"></i></a>
        <a href="{ socialData?.linkedin }}"  target="_blank"><i class="fa fa-linkedin"></i></a>
      </div>

    </div>

  </footer>
