<div class="wrapper">
  <div class="tabs-wrapper">
    <div class="tab-button">
    <div class="list__tab-wrapper">
      <div class="jobs-content" *ngIf="isJob">
        <div class="list__job-wrapper">
          <div class="row no-gutters">
            <div class="col-sm-6 col-md-12">
              <div class="search-results-container">
                <div class="listing-header"><h1 class="section-header">{{'applied-job.job-you-applied-to' | translate}}</h1></div>

                <div>
                  <div *ngIf="noAppliedList" class="no-search-wrapper">
                    <div class="no-search-info">
                      <h2><img width="40" src="/assets/imgs/box.svg">
                        {{'manage-city.no-record-found' | translate}}</h2></div>
                  </div>

                  <div *ngIf="isLoadingResults">
                    <div class="linear-background">
                      <div class="inter-draw"></div>
                      <div class="inter-crop"></div>
                      <div class="inter-right--top"></div>
                      <div class="inter-right--bottom"></div>
                    </div>
                    <div class="linear-background">
                      <div class="inter-draw"></div>
                      <div class="inter-crop"></div>
                      <div class="inter-right--top"></div>
                      <div class="inter-right--bottom"></div>
                    </div>
                    <div class="linear-background">
                      <div class="inter-draw"></div>
                      <div class="inter-crop"></div>
                      <div class="inter-right--top"></div>
                      <div class="inter-right--bottom"></div>
                    </div>
                  </div>
                </div>

                <ul>
                  <li class="job-list-individual" *ngFor="let job of appliedList">
                    <div>
                      <div class="mfe-job-tile">
                        <span class="mfe-job-tile__link-wrapper">
                          <div class="mfe-job-tile__row">
                            <div class="mfe-job-tile__column mfe-job-tile__column--left">
                              <div class="mfe-job-tile__title">
                                {{ job.company_name }}
                              </div>
                              <h2 class="mfe-job-tile__header">
                                {{ job.title }}
                              </h2>
                            </div>
                            <div class="mfe-job-tile__column mfe-job-tile__column--right">
                              <div class="mfe-job-tile__title">{{'applied-job.company-job-is-in' | translate}}</div>
                              <h3 class="mfe-job-tile__header"><span class="locations">{{ job.location }}</span></h3>
                            </div>
                          </div>
                          <div class="mfe-job-tile__row">
                            <span class="mfe-job-tile__details mfe-job-tile__details--details">
                              {{'applied-job.job-view-full-posting' | translate}}
                              <svg data-name="Layer 1" viewBox="0 0 6.89 11.31" width="1em" height="1em"
                              class="mfe-icon mfe-icon--IconArrowRightShape mfe-icon--green"
                              style="height: 11px; width: 11px;">
                              <path fill="#53b6d0" d="M1.24 11.31L0 10.07l4.42-4.42L0 1.24 1.24 0l5.65 5.65-5.65 5.66z"></path>
                            </svg>
                            <span class="appliedDate">{{ job.date_applied | date }}</span>
                          </span>
                        </div>
                      </span>
                      <div>
                        <div>
                          <div class="job-menu">
                              <mat-icon [matMenuTriggerFor]="menu">more_vert</mat-icon>
                          </div>

                          <mat-menu #menu="matMenu">
                            <button [routerLink]="['/job/detail']" [queryParams]="{ a: job.jobId}"  mat-menu-item>
                              <mat-icon>visibility</mat-icon>
                              <span>View full Posting</span>
                            </button>
                            <button (click)="onConfirmDelete(job.applicant_id)" mat-menu-item>
                              <mat-icon style="color: red;">delete</mat-icon>
                              <span>Delete</span>
                            </button>
                          </mat-menu>
                        </div>
                      </div>
                      <div>
                    </div>
                    </div>
                  </div>

                </li>
              </ul>
            </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>

