<div class="membership-wrapper">
  <div class="membership container-fluid">
    <div class="manage">
      <div class="row no-gutters">
        <div class="col-6 col-md-2">
          <app-menu></app-menu>
        </div>
        <div class="col-sm-6 col-md-10">
          <div class="membership-content-wrapper">
            <div class="pricing-info container">
              <div class="membership-title">
                <h1>{{'membership-page.title' | translate}}</h1>
              </div>
              <div class="membership-info" *ngIf="planDetails?.isPlanActive == true && planDetails?.isCancel == 'no'">
                <span>{{'membership-page.plan-discription-start' | translate}}
                  <b>{{ planDetails?.planName }}</b>
                  {{'membership-page.plan-discription-end' | translate}}</span>
                <div class="alert alert-success subscription-notify" role="alert">
                  {{'membership-page.plan-discription-expired' | translate}} <b>{{ planDetails?.planExpiredOn | date }}</b>
                  <small class="planInfo"><i class="fa fa-square" aria-hidden="true"></i> {{'membership-page.total-job-post-limit' | translate}} <b>{{planDetails?.total}}</b></small>
                  <small class="planInfo"><i class="fa fa-square" aria-hidden="true"></i> {{'membership-page.used-job-post' | translate}} <b>{{planDetails?.used}}</b></small>
                  <small class="planInfo"><i class="fa fa-square" aria-hidden="true"></i> {{'membership-page.remaining-job-post' | translate}} <b>{{planDetails?.remain}}</b></small>
                  <button class="btn btn-danger subscribe-plan" (click)="cancelSubscription(planDetails?.subscriptionId)">
                    <i class="fa fa-times-circle" aria-hidden="true"></i> {{'membership-page.button-subscribe-cancel' | translate}}</button>
                </div>
              </div>
            </div>

            <div class="routed-content">
              <div class="container pricing-wrapper content">
                <div class="row">
                  <div class="col-md-3" *ngFor="let item of list">
                    <div [ngClass]="{'pricing-active': item.recommended == '1'}" class="pricing  hover-effect">
                      <div class="pricing-head">
                        <h3>{{ item.plan_name}} </h3>
                        <h4>
                          <i>{{ item.amount}}</i>
                        </h4>
                      </div>
                      <ul class="pricing-content list-unstyled">
                        <li>
                          <i class="fa fa-check-square-o checked" aria-hidden="true"></i>
                          {{'membership-page.post-limit' | translate}} {{ item.plan_limit}}
                        </li>
                        <li>
                          <i class="fa fa-check-square-o checked" aria-hidden="true"></i>
                          {{'membership-page.post-expired' | translate}} {{ item.job_expired}}
                        </li>
                        <li>
                          <i class="fa fa-check-square-o checked" aria-hidden="true"></i>
                          {{'membership-page.plan-expired' | translate}} {{ item.plan_expired}}
                        </li>
                        <li>
                          <i *ngIf="item.featured == 'true'" class="fa fa-check-square-o checked" aria-hidden="true"></i>
                          <i *ngIf="item.featured != 'true'"  class="fa fa-times-circle cancel" aria-hidden="true"></i>
                          {{'membership-page.is-featured' | translate}}
                        </li>
                        <li>
                          <i *ngIf="item.urgent == 'true'" class="fa fa-check-square-o checked" aria-hidden="true"></i>
                          <i *ngIf="item.urgent != 'true'"  class="fa fa-times-circle cancel" aria-hidden="true"></i>
                          {{'membership-page.is-urgent' | translate}}
                        </li>
                        <li>
                          <i *ngIf="item.highlight == 'true'" class="fa fa-check-square-o checked" aria-hidden="true"></i>
                          <i *ngIf="item.highlight != 'true'"  class="fa fa-times-circle cancel" aria-hidden="true"></i>
                          {{'membership-page.is-highlight' | translate}}
                        </li>
                        <li>
                          <i *ngIf="item.on_top_of_search == 'true'" class="fa fa-check-square-o checked" aria-hidden="true"></i>
                          <i *ngIf="item.on_top_of_search != 'true'"  class="fa fa-times-circle cancel" aria-hidden="true"></i>
                          {{'membership-page.category-search-top' | translate}}
                        </li>
                        <li>
                          <i *ngIf="item.on_home_page == 'true'" class="fa fa-check-square-o checked" aria-hidden="true"></i>
                          <i *ngIf="item.on_home_page != 'true'"  class="fa fa-times-circle cancel" aria-hidden="true"></i>
                          {{'membership-page.show-add-home-page' | translate}}
                        </li>
                      </ul>
                      <div class="pricing-footer" *ngIf="item.isfree != 'true'">
                        <button *ngIf="this.planDetails?.isPlanActive != true" class="btn btn-primary" (click)="openDialog(item)"> {{'membership-page.button-name' | translate}}</button>
                        <button *ngIf="this.planDetails?.isPlanActive == true" class="btn btn-primary" (click)="openDialogPlanActine(item)"> {{'membership-page.button-name' | translate}}</button>

                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


