<div class="admin-wrapper">
  <div class="row no-gutters">
    <div class="col-sm-6 col-md-2">
      <app-admin-menu></app-admin-menu>
    </div>
    <div class="col-12 col-md-10 col-xs-12">
      <div class="content-body">
        <div class="main-content">
          <h1 class="job-list-title">{{'manage-faqs.title' | translate}}</h1>

          <div class="list-job-filter">
            <form [formGroup]="searchForm">
              <div class="row row-cols-3">
                <div class="col">
                  <input type="text" formControlName="question" required placeholder="{{'manage-faqs.form-question-placeholder' | translate}}"
                  class="form-control form-control-sm" id="question">
                </div>
                <div class="col">
                  <select formControlName="status" class="form-control form-control-sm">
                    <option value="">{{'manage-faqs.form-select-status' | translate}}</option>
                    <option value="published"> {{'manage-faqs.form-published' | translate}}</option>
                    <option value="unpublished"> {{'manage-faqs.form-unpublished' | translate}}</option>
                  </select>
                </div>
                <div class="col">
                  <div class="filtered-button">
                    <button *ngIf="isSearch" (click)="clearSearch()" class="btn btn-danger clear-search">
                      <span>{{'manage-country.clear-search' | translate}}</span>
                    </button>

                    <button (click)="onSearch()" class="btn btn-primary" [disabled]="searchLoading ">
                      <span *ngIf="!searchLoading">{{'manage-faqs.form-button' | translate}}</span>
                      <span *ngIf="searchLoading" class="spinner-icon"><mat-icon><mat-spinner color="warn" diameter="20">
                      </mat-spinner></mat-icon></span>
                    </button>

                    <span class="checked-btn">
                      <button *ngIf="this.selection.selected.length >= 1" (click)="onConfirmDelete()" class="btn btn-danger" [disabled]="checkedDeleteLoader ">
                        <span *ngIf="!checkedDeleteLoader">{{'manage-faqs.checkbox-show-button' | translate}}</span>
                        <span *ngIf="checkedDeleteLoader" class="spinner-icon"><mat-icon><mat-spinner color="warn" diameter="20">
                        </mat-spinner></mat-icon></span>
                      </button>
                    </span>
                  </div>
                </div>
              </div>
          </form>
          </div>

          <div class="table-container mat-elevation-z8" [hidden]="isLoadingResults || resultsLength == 0">
            <table mat-table matSortActive="title" matSortDirection="asc" matSortDisableClear
             [dataSource]="dataSource" matSort>

              <!-- Checkbox Column -->
              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                  <mat-checkbox (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()"
                                [aria-label]="checkboxLabel()">
                  </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                  <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null"
                                [checked]="selection.isSelected(row)"
                                [aria-label]="checkboxLabel(row)">
                  </mat-checkbox>
                </td>
              </ng-container>

              <!-- Question Column -->
              <ng-container matColumnDef="question">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'manage-faqs.table-header-question' | translate}}</th>
                <td mat-cell *matCellDef="let element"> {{element.question}} </td>
              </ng-container>

              <!-- Answer Column -->
              <ng-container matColumnDef="answer">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'manage-faqs.table-header-answer' | translate}} </th>
                <td mat-cell *matCellDef="let element"> <span [innerHTML]="element.answer"></span></td>
              </ng-container>

              <!-- Status Column -->
              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'manage-faqs.table-header-status' | translate}} </th>
                <td mat-cell *matCellDef="let element"><span class="status">{{element.status}}</span>  </td>
              </ng-container>

              <!-- created Column -->
              <ng-container matColumnDef="created_date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'manage-faqs.table-header-created-date' | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.created_date | date}} </td>
              </ng-container>


              <!-- Status Column -->
              <ng-container matColumnDef="updated_date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'manage-faqs.table-header-updated-date' | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.updated_date | date }} </td>
              </ng-container>

              <!-- Status Column -->
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
                <td mat-cell *matCellDef="let element">
                  <div class="action-menu">
                    <mat-icon [matMenuTriggerFor]="menu">more_vert</mat-icon>
                </div>

                <mat-menu #menu="matMenu">
                  <button (click)="editFaq(element)" mat-menu-item>
                    <mat-icon>create</mat-icon>
                    <span>{{'manage-faqs.table-menu-edit' | translate}}</span>
                  </button>
                  <button (click)="deleteSingleFaq(element)" mat-menu-item>
                    <mat-icon style="color: red;">delete</mat-icon>
                    <span>{{'manage-faqs.table-menu-delete' | translate}}</span>
                  </button>
                </mat-menu>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator class="mat-paginator-sticky"
             #paginator
             [length] = "resultsLength"
             [pageSize] = "10"
             [pageSizeOptions] = "[5, 10, 25, 100]"
             (page)="getNext($event)">
            </mat-paginator>
          </div>

          <div *ngIf="isLoadingResults">
            <div class="linear-background">
              <div class="inter-draw"></div>
              <div class="inter-crop"></div>
              <div class="inter-right--top"></div>
              <div class="inter-right--bottom"></div>
            </div>
            <div class="linear-background">
              <div class="inter-draw"></div>
              <div class="inter-crop"></div>
              <div class="inter-right--top"></div>
              <div class="inter-right--bottom"></div>
            </div>
            <div class="linear-background">
              <div class="inter-draw"></div>
              <div class="inter-crop"></div>
              <div class="inter-right--top"></div>
              <div class="inter-right--bottom"></div>
            </div>
          </div>

          <div *ngIf="resultsLength == 0" class="no-search-wrapper">
            <div class="no-search-info"> <h2>{{'manage-city.no-record-found' | translate}}</h2></div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


<div class="update-wrapper" *ngIf="showEditFaqPanel" [@slideInOut]>
  <span (click)="showEditFaqPanel = false" class="material-icons close-icon">
    highlight_off
  </span>
  <form [formGroup]="editFaqForm">
    <div class="form-group">
      <label for="question">{{'add-faq.form-question' | translate}} *</label>
      <input name="question" formControlName="question" required type="text" class="form-control" id="question"
      [ngClass]="{ 'is-invalid': submitted && edit.question.errors }">
      <div *ngIf="submitted && edit.question.errors" class="invalid-feedback">
        <div *ngIf="edit.question.errors.required">{{'add-faq.form-question-error-message' | translate}}</div>
      </div>
    </div>

    <div class="form-group">
      <label for="answer">{{'add-faq.form-answer' | translate}} *</label>
         <ejs-richtexteditor required name="answer"
         [ngClass]="{ 'is-invalid': submitted && edit.answer.errors }"
         formControlName="answer" [toolbarSettings]='tools'></ejs-richtexteditor>
      </div>

      <div class="form-group">
        <label for="answer">{{'add-faq.form-staus-label' | translate}} *</label>
        <select formControlName="status" class="form-control form-control-sm">
          <option value="">{{'add-faq.form-status' | translate}}</option>
          <option value="published">{{'add-faq.form-status-published' | translate}}</option>
          <option value="unpublished">{{'add-faq.form-status-unpublished' | translate}}</option>
        </select>
        <div *ngIf="submitted && edit.status.errors" class="invalid-feedback">
          <div *ngIf="edit.status.errors.required">{{'add-faq.form-status-error-message' | translate}}</div>
        </div>
      </div>
    <div class="sumit-button">
       <button class="btn btn-primary" (click)="updateFaq()" [disabled]="loading || !editFaqForm.valid">
        <span *ngIf="!loading">{{'add-faq.add-form-button' | translate}}</span>
        <span *ngIf="loading" class="spinner-icon"><mat-icon><mat-spinner color="warn" diameter="20">
        </mat-spinner></mat-icon></span>
       </button>
    </div>
  </form>
</div>
