.pageNotFound {
  margin-top: 20%;
  text-align: center;
  height: 30vh;
}

.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
