.job-wrapper {
  margin-top: 104px;

  h1 {
    text-transform: uppercase;
    font-size: 32px;
    font-family: nunito sans,Helvetica,sans-serif;
    font-weight: 300;
    font-style: normal;
    text-rendering: optimizeLegibility;
  }

  .filter-all-jobs {
    float: right;
    margin: 12px 0 0;
  }

  .filter-all-jobs i, .jobs-browse-section .view-jobs i {
    font-size: 12px;
    margin-left: 5px;
  }

  .tm-brighter-blue-round-button:visited, .tm-brighter-blue-round-button:focus {
    color: #fff;
  }

  .filter-all-jobs {
    font-size: 14px;
  }

  .tm-brighter-blue-round-button {
    -webkit-transition: background 200ms ease-out;
    -moz-transition: background 200ms ease-out;
    -ms-transition: background 200ms ease-out;
    -o-transition: background 200ms ease-out;
    transition: background 200ms ease-out;
    padding: 12px 30px;
    display: inline-block;
    background-color: #3852d4;
    line-height: 1.2em;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-family: nunito sans,Helvetica,sans-serif;
    font-weight: 700;
    font-style: normal;
    text-rendering: optimizeLegibility;
    font-size: 11px;
    border-radius: 25px;
    letter-spacing: 1px;
    margin-top: 0rem;
}

.tm-brighter-blue-round-button:hover:not([disabled]) {
  background-color: #273eb2;
  color: #fff;
}
}

.blk {
  max-width: 1230px;
  width: 100%;
  height: auto;
  margin: 0 auto;

  .job-element {
    background-color: #f9f9f9;
    -moz-box-shadow: 0 10px 20px 0 #eee;
    -webkit-box-shadow: 0 10px 20px 0 #eee;
    box-shadow: 0 10px 20px 0 #eee;
    max-width: 400px;
    margin-top: 37px;
    position: relative;
    display: block;
    margin-top: 37px;
    background-color: #fff;
  }

  .tile-copy {
    border-top: 3px solid #666;
    background-color: #fff;
    z-index: 20;
    overflow: hidden;
    height: 9rem;
  }

  .job-element .metadata {
    text-align: left;
    font-size: 13px;
    padding: 0 15px 20px;
    font-family: nunito sans,Helvetica,sans-serif;
    font-weight: 600;
    font-style: normal;
    text-rendering: optimizeLegibility;
    color: #333;
}

.metadata {
  display: inline-block;
  width: 100%;
}

.job-element .metadata li {
  display: inline-block;
  margin-bottom: 0;
  line-height: 20px;
  margin-right: 5px;
}

  .job-title {
    font-size: 1.6rem !important;
  }

  .job-title-reduce {
    font-size: 1.1rem !important;
  }

  .job-element h3 {
    display: block;
    color: #333;
    margin: 20px 15px 10px;
  }
  .job-element h2, .job-element h3 {
      font-family: barlow semi condensed,Helvetica,sans-serif;
      font-weight: 500;
      font-style: normal;
      text-rendering: optimizeLegibility;
      margin: 20px 15px 10px;
  }

  .job-element h3 span {
    font-size: 13px;
    display: block;
    font-family: nunito sans,Helvetica,sans-serif;
    font-weight: 700;
    font-style: normal;
    text-rendering: optimizeLegibility;
    text-transform: uppercase;
    color: #666;
    margin-bottom: 10px;
  }

  .job-element h3 span:before, .job-element h3 span:after {
    content: " ";
    display: table;
  }

  .job-element .white-gradient {
    // height: 140px;
    background: linear-gradient(rgba(255,255,255,0),rgba(255,255,255,0),rgba(255,255,255,0),rgba(255,255,255,0),rgba(255,255,255,0),rgba(255,255,255,0),rgba(255,255,255,0.1),rgba(255,255,255,0.6),rgba(255,255,255,0.9));
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  .job-element .white-gradient:before, .job-element .white-gradient:after {
    content: " ";
    display: table;
  }

  .job-element .white-gradient:after {
    clear: both;
  }

  .job-element .tile-bg {
    padding-top: 73.5%;
    position: relative;
    z-index: 0;
  }

  .job-element .tile-bg img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
  }

  .job-element .new-label {
    position: absolute;
    right: -12px;
    top: 15px;
    z-index: 30;
  }

  .job-element .new-label .fa-caret-right {
    z-index: 0;
    position: absolute;
    right: -1px;
    bottom: -17px;
    font-size: 35px;
    color: #458fa3;
  }

  .job-element .new-label span {
    position: relative;
    z-index: 30;
    padding: 10px;
    color: #fff;
    font-size: 11px;
    font-family: nunito sans,Helvetica,sans-serif;
    font-weight: 900;
    font-style: normal;
    text-rendering: optimizeLegibility;
    background-color: #53b6d0;
    text-transform: uppercase;
    display: block;
  }

  .job-element .favorite-container {
    bottom: 10px;
  }

  .job-element .favorite-container {
    z-index: 20;
    position: absolute;
    right: 10px;
    top: 180px;
    box-shadow: 3px 3px 5px 2px #ccc;
    height: 25px;
  }

  .favorite-box-container .favorite, .favorite-box-container .unfavorite,
  .favorite-container .favorite, .favorite-container .unfavorite {
    display: inline-block;
    line-height: 1em;
    color: #fd745a;
    text-align: center;
    font-size: 18px;
    padding: 12px 11px 10px;
    border-radius: 36px;
    background-color: #fff;
    -webkit-transition: color 200ms ease-out;
    -moz-transition: color 200ms ease-out;
    -ms-transition: color 200ms ease-out;
    -o-transition: color 200ms ease-out;
    transition: color 200ms ease-out;
  }

  .job-element:after {
    clear: both;
  }
}


.back-to-browse {
  padding: 50px 0;
  text-align: center;
  margin: auto;

  .filter-all-jobs {
    font-size: 14px;
  }

  .jobs-browse-section .back-to-browse {
    background: 0 0;
    border: none;
  }

  .full-width {
    width: 100%;
    position: relative;
  }

  .tm-brighter-blue-round-button:visited, .tm-brighter-blue-round-button:focus {
    color: #fff;
  }

  .tm-brighter-blue-round-button {
    -webkit-transition: background 200ms ease-out;
    -moz-transition: background 200ms ease-out;
    -ms-transition: background 200ms ease-out;
    -o-transition: background 200ms ease-out;
    transition: background 200ms ease-out;
    padding: 12px 30px;
    display: inline-block;
    background-color: #3852d4;
    line-height: 1.2em;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-family: nunito sans,Helvetica,sans-serif;
    font-weight: 700;
    font-style: normal;
    text-rendering: optimizeLegibility;
    font-size: 11px;
    border-radius: 25px;
    letter-spacing: 1px;
  }

  .jobs-browse-section .view-jobs i {
    font-size: 12px;
    margin-left: 5px;
  }

  .tm-brighter-blue-round-button {
    -webkit-transition: background 200ms ease-out;
    -moz-transition: background 200ms ease-out;
    -ms-transition: background 200ms ease-out;
    -o-transition: background 200ms ease-out;
    transition: background 200ms ease-out;
    padding: 12px 30px;
    display: inline-block;
    background-color: #3852d4;
    line-height: 1.2em;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-family: nunito sans,Helvetica,sans-serif;
    font-weight: 700;
    font-style: normal;
    text-rendering: optimizeLegibility;
    font-size: 11px;
    border-radius: 25px;
    letter-spacing: 1px;
  }

  .visible-sm {
    display: none!important;
  }

}
