<div class="container job-wrapper">
  <div class="header-job browse-heading">
    <div class="row">
      <div class="col-8"><h1>{{'job-listing.title' | translate}}</h1></div>
      <div class="col-4">
        <a class="tm-brighter-blue-round-button filter-all-jobs" href="/search">
          {{'job-listing.filter-job-button' | translate}} <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="blk">
    <div class="row">
      <div class="col-6 col-md-4" *ngFor="let job of joblist">
        <div>
          <div>
            <div class="track-tile">
              <div class="job-element Andela" data-id="2212201">
                <a href="/jobs/andela/software-engineer-front-end?ref=Featured-0" data-tile-link="true">
                  <div class="tile-copy">
                    <h3>
                      <span>{{ job.company_name}}</span>
                      <span class="job-title" [ngClass]="{ 'job-title-reduce': job.title_length > 20}" >{{ job.job_title }}</span>
                    </h3>
                    <ul class="metadata">
                      <li *ngFor="let city of job.city">
                        {{ city }},
                      </li>
                    </ul>
                  </div>
                    <div class="white-gradient hidden-xs">
                      </div>
                        <div class="tile-bg">
                        <img alt="{{ job.job_title }}" src="https://pilbox.themuse.com/image.jpg?url=https%3A%2F%2Fassets.themuse.com%2Fuploaded%2Fcompanies%2F744%2Fmodule_offices%2F12169%2Fad76eef1-f4b8-4596-a097-12d7ee4c67cd.jpg%3Fv%3D14f0504fc0d41c82c72c91d5d0d112aca95d359dc8c43ed48b1dbdc4bf4c9fcf&amp;h=295&amp;prog=1&amp;w=400">
                      </div>
                      </a>
                      <div class="favorite-container">
                        <div>
                          <a aria-label="favorite" href="#" class="favorite" data-original-title="" title="">
                          <i aria-hidden="true" class="fa fa-heart-o"></i>
                        </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
        </div>
      </div>


      <div class="full-width back-to-browse">
        <a class="tm-brighter-blue-round-button view-jobs hidden-sm hidden-xs" href="/search">
          {{'job-listing.view-more-job-button' | translate}}
          <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
        </a>
        <a class="tm-brighter-blue-round-button filter-all-jobs  visible-sm visible-xs" href="/search">
          {{'job-listing.filter-job-button' | translate}} <i class="fa fa-long-arrow-right" aria-hidden="true">
          </i>
        </a>
      </div>
    </div>
  </div>
</div>
