.wrapper {
  .pagination-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
  }

}


ul {
  list-style-type: none;
}

.section-header {
  font-size: 1.8rem;
  margin: 1.5rem;
  margin-left: 3rem;
  margin-top: 3rem;
}

.search-results-container {
  padding: 1.5rem;
  width: 54rem;
  margin: auto;
}

.job-list-individual {
  margin-bottom: 10px;

  .mfe-job-tile {
    position: relative;
    color: #333;
    background-color: white;
    text-decoration: none !important;
    box-sizing: border-box;
    border-bottom: 1px #ddd solid;
    max-width: 770px;
    width: 100%;
    height: 125px;
    padding: 20px 15px;
    margin: 0;
    cursor: pointer;
  }

  .mfe-job-tile__link-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .mfe-job-tile__row {
    display: flex;
    margin-right: 60px;
  }

  .mfe-job-tile__column--left {
    width: 70%;
  }

  .mfe-job-tile__column {
      min-width: 75px;
      padding: 0 15px 0 0;
      margin: 0;
  }

  .mfe-job-tile__title {
    font-family: "Nunito Sans", Helvetica, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 14px;
    background-color: transparent;
    color: #999;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
  }

  .mfe-job-tile__header {
    font-family: "Barlow Semi Condensed", Helvetica, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    background-color: transparent;
    color: #333;
    text-transform: none;
    margin: 0;
    padding: 0;
  }

  .locations {
    margin-right: 0.4rem;
    display: inline-block;
  }

  .mfe-job-tile__column--right {
    width: 30%;
  }
  .mfe-job-tile__column {
      min-width: 75px;
      padding: 0 15px 0 0;
      margin: 0;
  }

  .mfe-job-tile__row {
    display: flex;
    margin-right: 60px;
  }

  .mfe-job-tile__details {
    font-family: "Nunito Sans", Helvetica, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 13px;
    background-color: transparent;
    color: #0ABA8A;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
  }

  .mfe-job-tile__details svg {
    margin-left: 5px;
  }

  svg:not(:root) {
      overflow: hidden;
  }

  .mfe-icon--green path {
    fill: #0ABA8A;
  }

  .mfe-tile-tag--smoke {
    background-color: #B7B7B7;
  }

  .mfe-tile-tag {
    font-family: "Nunito Sans", Helvetica, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #FFF;
    background-color: #53B6D0;
    font-size: 14px;
    letter-spacing: 1px;
    position: absolute;
    top: 10px;
    right: -10px;
    padding: 6.5px 8px 5.5px 8px;
    line-height: 1em;
    box-shadow: -1px 1px 2px 0px rgba(51, 51, 51, 0.3);
  }

  [role=button] {
    cursor: pointer;
  }

  .listing-page__content .button-pagination {
    margin: 20px 0;
    max-width: 770px;
  }

  .button-pagination {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;

  }
}
