<div class="wrapper">
  <div class="tabs-wrapper">
    <div class="tab-button">

    <div class="list__tab-wrapper">
      <div class="jobs-content" *ngIf="isJob">
        <div class="list__job-wrapper">
          <div class="row no-gutters">
            <div class="col-sm-6 col-md-12">
              <div class="search-results-container">
                <div class="listing-header"><h1 class="section-header">{{'saved-job.job-you-saved' | translate}}</h1></div>
                <ul>
                  <li class="job-list-individual" *ngFor="let job of jobLists">
                    <div>
                      <div class="mfe-job-tile">
                        <a class="mfe-job-tile__link-wrapper" tabindex="0">
                          <div class="mfe-job-tile__row">
                            <div class="mfe-job-tile__column mfe-job-tile__column--left">
                              <div class="mfe-job-tile__title">
                                {{ job.company_name }}
                              </div>
                              <h2 class="mfe-job-tile__header">
                                {{ job.job_title }}
                              </h2>
                            </div>
                            <div class="mfe-job-tile__column mfe-job-tile__column--right">
                              <div class="mfe-job-tile__title">{{'saved-job.company-job-is-in' | translate}}</div>
                              <h3 *ngIf="job.location.length === 1" class="mfe-job-tile__header"><span class="locations" *ngFor="let location of job.location">{{ location }}</span></h3>
                              <h3 *ngIf="job.location.length > 1" class="mfe-job-tile__header"><span class="locations" *ngFor="let location of job.location">{{ location }},</span></h3>
                            </div>
                          </div>
                          <div class="mfe-job-tile__row">
                            <span class="mfe-job-tile__details mfe-job-tile__details--details">
                              {{'saved-job.job-view-full-posting' | translate}}
                              <svg data-name="Layer 1" viewBox="0 0 6.89 11.31" width="1em" height="1em"
                              class="mfe-icon mfe-icon--IconArrowRightShape mfe-icon--green"
                              style="height: 11px; width: 11px;">
                              <path fill="#53b6d0" d="M1.24 11.31L0 10.07l4.42-4.42L0 1.24 1.24 0l5.65 5.65-5.65 5.66z"></path>
                            </svg>
                          </span>
                        </div>
                      </a>
                      <div>
                        <span class="mfe-tile-tag mfe-tile-tag--smoke" tabindex="0" role="button" aria-label="Save Job">
                           {{'saved-job.job-save' | translate}}
                          <svg viewBox="0 0 16 16" width="1em" height="1em" class="mfe-icon mfe-icon--IconPinOutline mfe-icon--snow"
                           style="height: 12px; width: 12px;">
                           <path d="M13.046 4.827l-.435-.063-4.224 4.979.202.457c.007.018.606 1.398.436 3.003L2.798 6.97a5.536 5.536 0 0 1 3.005.449l.46.208 4.968-4.226-.076-.446a1.946 1.946 0 0 1-.019-.512l2.394 2.399c-.16.013-.323.008-.484-.015m2.83.11L11.071.125a.424.424 0 0 0-.622.024c-.626 1.215-.93 2.083-.91 2.602L5.987 5.772a7.163 7.163 0 0 0-5.026.03s-1.051.533-.955.63l4.217 4.217-3.727 3.733c-.298.298-.287.792.024 1.103.31.312.805.32 1.102.023l3.728-3.733 4.216 4.219c.094.096.63-.937.63-.937.821-2.061.331-4.111.028-5.022l3.053-3.593c.503.01 1.36-.284 2.57-.879a.425.425 0 0 0 .029-.625" fill="#000" fill-rule="evenodd">
                           </path>
                          </svg>
                        </span>
                      </div>
                      <div>

                      </div>
                    </div>
                  </div>

                </li>
              </ul>
              <div class="pagination-wrapper paginate">
                <pagination [totalItems]="30"></pagination>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>

