.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box div {
  width: 100px;
  height: 100px;
}

.title {
  margin-top: 5rem;

  h1 {
    font-size: 1.6rem;
    text-transform: uppercase;
  }
}

.sumit-button {
  margin-top: 1rem;
}

.main-content {
  margin-bottom: 2rem;
}

#mat-radio-2 {
  margin-right: 1rem;
}

#mat-radio-5 {
  margin-right: 1rem;
}

label.label-form {
  display: block;
  margin-top: 1rem;
}

.e-richtexteditor .e-rte-content .e-content, .e-richtexteditor .e-source-content .e-content {
  margin-top: 0rem !important;
}
