<div class="admin-wrapper">
  <div class="row no-gutters">
    <div class="col-sm-6 col-md-2">
      <app-admin-menu></app-admin-menu>
    </div>
    <div class="col-12 col-md-10 col-xs-12">
      <div class="content-body">
        <div class="main-content">
          <div class="container">
            <div class="row">
              <div class="col-6 col-md-2"></div>
              <div class="col-6 col-md-6">
                <div class="title">
                  <h1 class="title-heading"> {{'add-testimonial.title' | translate}}</h1>
                </div>
                <div class="testimonial-form-wrapper">
                  <form [formGroup]="addTestimonialsForm">
                    <div class="form-group">
                      <label for="testimonialBy">{{'add-testimonial.form-testimonialBy' | translate}} *</label>
                      <input name="testimonialBy" formControlName="testimonialBy" required type="text" class="form-control" id="testimonialBy"
                      [ngClass]="{ 'is-invalid': submitted && f.testimonialBy.errors }">
                      <div *ngIf="submitted && f.testimonialBy.errors" class="invalid-feedback">
                        <div *ngIf="f.testimonialBy.errors.required">{{'add-testimonial.form-testimonialBy-error-message' | translate}}</div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="companyDesignation">{{'add-testimonial.form-companyDesignation' | translate}} *</label>
                      <input name="companyDesignation" formControlName="companyDesignation" required type="text" class="form-control" id="companyDesignation"
                      [ngClass]="{ 'is-invalid': submitted && f.companyDesignation.errors }">
                      <div *ngIf="submitted && f.companyDesignation.errors" class="invalid-feedback">
                        <div *ngIf="f.companyDesignation.errors.required">{{'add-testimonial.form-companyDesignation-error-message' | translate}}</div>
                      </div>
                    </div>

                    <div class="form-group">
                    <label for="testimonial">{{'add-testimonial.form-testimonial' | translate}} *</label>
                        <ejs-richtexteditor required name="testimonial"
                        [ngClass]="{ 'is-invalid': submitted && f.testimonial.errors }"
                        formControlName="testimonial" [toolbarSettings]='tools'></ejs-richtexteditor>
                    </div>

                    <div class="form-group">
                      <label class="label-form" for="default">{{'add-testimonial.form-default' | translate}}</label>
                      <div class="default-checked">
                        <mat-radio-group id="default" class="defaultChecked" formControlName="default" aria-label="Select an option">
                          <mat-radio-button value="true">{{'add-testimonial.form-default-yes' | translate}}</mat-radio-button>
                          <mat-radio-button value="false">{{'add-testimonial.form-default-no' | translate}}</mat-radio-button>
                        </mat-radio-group>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="label-form" for="active">{{'add-testimonial.form-active' | translate}}</label>
                      <mat-radio-group id="active" formControlName="active" aria-label="Select an option">
                        <mat-radio-button value="true">{{'add-testimonial.form-active-yes' | translate}}</mat-radio-button>
                        <mat-radio-button value="false">{{'add-testimonial.form-active-no' | translate}}</mat-radio-button>
                      </mat-radio-group>
                    </div>
                    <div class="sumit-button">
                      <button (click)="addTestimonial()" class="btn btn-primary"
                          [disabled]="loading || !addTestimonialsForm.valid">
                        <span *ngIf="!loading">{{'add-testimonial.form-button' | translate}}</span>
                        <span *ngIf="loading" class="spinner-icon"><mat-icon><mat-spinner color="warn" diameter="20">
                        </mat-spinner></mat-icon></span>
                      </button>
                    </div>
                  </form>

                </div>

              </div>
              <div class="col-6 col-md-2"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
