<div class="search__wrapper">
  <p class="search__title">{{ title }}</p>
  <div class="search__form-job" *ngIf="checkTabsType === 'isJob'">
    <div class="search__form-field-job">
      <form>
        <div class="search__input">
          <div class="form-group form-control__margin">
            <input type="text" placeholder="{{'search-component.job-form-title-placeholder' | translate}}" name="job_title"
            class="form-control form-control-sm" [(ngModel)]="searchFieldJobType.jobTitle">
          </div>

          <div class="form-group">
            <label for="exampleFormControlSelect1">{{'add-job.form-category' | translate}} *</label>
            <select class="custom-select form-control-sm"
              name="category" [(ngModel)]="searchFieldJobType.category">
              <option value="ads">{{'company-list.company-industry-ads' | translate}}</option>
              <option value="architecture">{{'company-list.company-industry-architecture' | translate}}</option>
              <option value="art">{{'company-list.company-industry-art' | translate}}</option>
              <option value="biotechnology">{{'company-list.company-industry-biotechnology' | translate}}</option>
              <option value="client">{{'company-list.company-industry-client' | translate}}</option>
              <option value="consulting">{{'company-list.company-industry-consulting' | translate}}</option>
              <option value="consumer">{{'company-list.company-industry-consumer' | translate}}</option>
              <option value="education">{{'company-list.company-industry-education' | translate}}</option>
              <option value="engineering">{{'company-list.company-industry-engineering' | translate}}</option>
              <option value="entertainment">{{'company-list.company-industry-entertainment' | translate}}</option>
              <option value="fashion">{{'company-list.company-industry-fashion' | translate}}</option>
              <option value="finance">{{'company-list.company-industry-finance' | translate}}</option>
              <option value="food">{{'company-list.company-industry-food' | translate}}</option>
              <option value="government">{{'company-list.company-industry-government' | translate}}</option>
              <option value="healthcare">{{'company-list.company-industry-healthcare' | translate}}</option>
              <option value="insurance">{{'company-list.company-industry-insurance' | translate}}</option>
              <option value="law">{{'company-list.company-industry-law' | translate}}</option>
              <option value="manufacturing">{{'company-list.company-industry-manufacturing' | translate}}</option>
              <option value="media">{{'company-list.company-industry-media' | translate}}</option>
              <option value="estate">{{'company-list.company-industry-estate' | translate}}</option>
              <option value="social">{{'company-list.company-industry-social' | translate}}</option>
              <option value="social-media">{{'company-list.company-industry-social-media' | translate}}</option>
              <option value="tech">{{'company-list.company-industry-tech' | translate}}</option>
              <option value="telecom">{{'company-list.company-industry-telecom' | translate}}</option>
              <option value="travel">{{'company-list.company-industry-travel' | translate}}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="exampleFormControlSelect1">{{'search-component.job-form-level-title' | translate}}</label>
            <select class="custom-select form-control-sm"
              name="category" [(ngModel)]="searchFieldJobType.jobType">
              <option value="full_time">{{'search-component.form-job-type-full-time' | translate}}</option>
              <option value="part_time">{{'search-component.form-job-type-part-time' | translate}}</option>
              <option value="freelance">{{'search-component.form-job-type-Freelance' | translate}} </option>
              <option value="intenship">{{'search-component.form-job-type-intenship' | translate}} </option>
              <option value="remote">{{'search-component.form-job-type-Remote' | translate}} </option>
            </select>
          </div>

          <div class="form-group">
            <label for="exampleFormControlSelect1">{{'search-component.job-form-company-size-title' | translate}}</label>
            <select class="custom-select form-control-sm"
              name="companysize" [(ngModel)]="searchFieldJobType.companysize">
              <option value="small">{{'search-component.job-form-level-small' | translate}} </option>
              <option value="medium">{{'search-component.job-form-level-medium' | translate}}</option>
              <option value="large">{{'search-component.job-form-level-large' | translate}}</option>
            </select>
          </div>
          <button class="btn btn-primary top_space_1" (click)="searchJobWithField()">Search</button>
          <button class="btn btn-danger top_space_1 cancel-search" ngif="!clearSearch" (click)="clearSearchJob()">X</button>
        </div>
      </form>
    </div>
  </div>

  <div class="search__form-company" *ngIf="checkTabsType === 'isCompany'">
    <form>
      <div class="form-group">
        <label for="name"> {{'search-component.company-form-name' | translate}} </label>
        <input type="text" name="name" placeholder="{{'search-component.company-form-name-placeholder' | translate}}" class="form-control">
      </div>

      <div class="form-group">
        <label for="name"> {{'search-component.company-form-location' | translate}} </label>
        <input type="text" name="location" placeholder="{{'search-component.company-form-location-placeholder' | translate}}" class="form-control">
      </div>
      <button class="btn btn-primary top_space_2">Filtered</button>
    </form>
  </div>
</div>
