.search__wrapper {
  padding: 1.2rem;
  height: 100vh;

  .search__title {
    font-weight: bold;
    text-transform: capitalize;
  }

  .search__job-level {
    .search__job-level--heading {
      margin-top: 1rem;
      color: #666;
    }
  }

  .cancel-search {
    margin-left: 3.4rem;
  }
}
