<div class="admin-wrapper">
  <div class="row no-gutters">
    <div class="col-sm-6 col-md-2">
      <app-admin-menu></app-admin-menu>
    </div>
    <div class="col-12 col-md-10 col-xs-12">
      <div class="content-body">
        <div class="main-content">

        </div>
      </div>
    </div>
  </div>
</div>
