<div class="manage-ads-wrapper">
  <div class="container">
    <div class="row top_space_2">
      <div class="col-sm-12 col-lg-12">
        <div class="home-page-section">
          <form [formGroup]="AdsSettingForm">
          <div class="row top_space_2">
            <div class="col-sm-12 col-lg-12">
              <div class="form-group row">
                <label for="homePageAdstop">{{'manage-ads.home-page-top-ads' | translate}}</label>
                <textarea class="form-control" formControlName="homePageAdstop" id="homePageAdstop" rows="3"></textarea>
              </div>
            </div>
          </div>

          <div class="row top_space_2">
            <div class="col-sm-12 col-lg-12">
              <div class="form-group row">
                <label for="homePageAdsbottom">{{'manage-ads.home-page-bottom-ads' | translate}}</label>
                <textarea class="form-control" formControlName="homePageAdsbottom" id="homePageAdsbottom" rows="3"></textarea>
              </div>
            </div>
          </div>

          <div class="row top_space_2">
            <div class="col-sm-12 col-lg-12">
              <div class="form-group row">
                <label for="jobListPage">{{'manage-ads.job-list-page-ads' | translate}}</label>
                <textarea class="form-control" formControlName="jobListPage"  id="jobListPage" rows="3"></textarea>
              </div>
            </div>
          </div>

          <div class="row top_space_2">
            <div class="col-sm-12 col-lg-12">
              <div class="form-group row">
                <label for="jobDetailsPageRightAds">{{'manage-ads.job-details-right-ads' | translate}}</label>
                <textarea class="form-control" formControlName="jobDetailsPageRightAds" id="jobDetailsPageRightAds" rows="3"></textarea>
              </div>
            </div>
          </div>

          <div class="row top_space_2">
            <div class="col-sm-12 col-lg-12">
              <div class="form-group row">
                <label for="jobDetailsPage">{{'manage-ads.job-details-left-ads' | translate}}</label>
                <textarea class="form-control" formControlName="jobDetailsPage" id="jobDetailsPage" rows="3"></textarea>
              </div>
            </div>
          </div>

          <div class="row top_space_2">
            <div class="col-sm-12 col-lg-12">
              <div class="form-group row">
                <label for="companyTopAds">{{'manage-ads.company-list-page-top-ads' | translate}}</label>
                <textarea class="form-control" formControlName="companyTopAds" id="companyTopAds" rows="3"></textarea>
              </div>
            </div>
          </div>

          <div class="row top_space_2">
            <div class="col-sm-12 col-lg-12">
              <div class="form-group row">
                <label for="companyBottomAds">{{'manage-ads.company-list-page-bottom-ads' | translate}}</label>
                <textarea class="form-control" formControlName="companyBottomAds" id="companyBottomAds" rows="3"></textarea>
              </div>
            </div>
          </div>

          <div class="row top_space_2">
            <div class="col-sm-12 col-lg-12">
              <div class="form-group row">
                <label for="companyDetailAds">{{'manage-ads.company-details-ads' | translate}}</label>
                <textarea class="form-control" formControlName="companyDetailAds" id="companyDetailAds" rows="3"></textarea>
              </div>
            </div>
          </div>

          <div class="row top_space_2">
            <div class="col-sm-12 col-lg-12">
              <div class="form-group row">
                <label for="jobAppliedAds">{{'manage-ads.job-applied-list-ads' | translate}}</label>
                <textarea class="form-control" formControlName="jobAppliedAds" id="jobAppliedAds" rows="3"></textarea>
              </div>
            </div>
          </div>

          <div class="row top_space_2">
            <div class="col-sm-12 col-lg-12">
              <div class="form-group row">
               <button (click)="onSubmitAds()" class="btn btn-primary" [disabled]="loading || AdsSettingForm.invalid">
                  <span *ngIf="!loading">{{'manage-ads.form-submit-button' | translate}}</span>
                  <span *ngIf="loading" class="spinner-icon"><mat-icon><mat-spinner color="warn" diameter="20">
                  </mat-spinner></mat-icon></span>
                 </button>
              </div>
            </div>
          </div>

        </form>
        </div>
      </div>
    </div>
  </div>
</div>
