.admin-wrapper {

  .info-panel {
    margin-top: 6rem;

    span.title {
      display: block;
      text-align: center;
      padding: .5rem;
      color: #ffffff;
      font-weight: bold;
      font-size: 1.2rem;
      text-transform: unset;
      background-color: #385056
    }

    span.count {
      text-align: center;
      display: block;
      font-size: 2rem;
      color: #ffffff;
      font-weight: bold;
      text-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.6);
      margin-top: 1rem;
  }

    .total-user-count {
      height: 8rem;
      background-color: #32c5d2;
      border-radius: 8px;
    }

    .total-active-user-count {
      height: 8rem;
      background-color: #e7505a;
      border-radius: 8px;
    }

    .verified-user-count {
      height: 8rem;
      background-color: #3598dc;
      border-radius: 8px;
    }

    .todays-count{
      height: 8rem;
      background-color: #e7505a;
      border-radius: 8px;
    }

    .active-jobs-count {
      height: 8rem;
      background-color: #3598dc;
      border-radius: 8px;
    }

    .featured-jobs-count {
      height: 8rem;
      background-color: #8E44AD;
      border-radius: 8px;
    }

  }

  .search-results-container {
    padding: 1.5rem;
  }

  table {
    width: 100%;
  }

  .transaction-route {
    margin-left: 2rem;
    margin-bottom: 2rem;
    margin-right: 1rem;
    min-height: 80vh;
  }

  .transaction-title {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .main-content {
    margin: 3rem;
  }

  .table-container {
    height: 600px;
    overflow: auto;
    background-color: #ffffff;
  }

  .mat-paginator-sticky {
    bottom: 0px;
    position: sticky;
    z-index: 10;
    background-color: #eee;
    padding-bottom: 5px;
  }

  .job-list-title {
    font-size: 1.3rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    margin-top: 4rem;
  }

  .staus-colum {
    text-transform: capitalize;
  }

  .list-job-filter {
    margin-bottom: 1rem;
    border: 1px solid #dddddd;
    padding: 10px;
    background-color: #ffffff;
    position: sticky;
    top: 3.2rem;
    z-index: 2000;
  }

  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  }


  .date-from {
    margin-right: 8px;
    position: relative;
    bottom: 6px;
    font-size: .8rem;
    color: var(--gray);
  }

  .search-with-date {
    margin-top: 1rem;
  }

  .filtered-button {
    margin-top: .4rem;
  }

  .action-menu {
    cursor: pointer;
    position: relative;
    top: 3px;
  }

  span.checked-btn {
    margin-left: 13px;
  }
 ul {
   list-style: none;
 }

  .latest-job {
    width: 65%;
    margin: auto;
  }

  h1.latest-job-title {
    margin-top: 3rem;
    font-size: 1.5rem;
    text-transform: uppercase;
 }

  .search-results-container {
    border: 1px solid #dddddd;
    background-color: #eeeeee;
    height: 30rem;
    overflow: auto;
  }

  .pagination-wrapper.paginate {
    width: 200px;
    margin: auto;
    position: relative;
    top: 2rem;
    bottom: 3rem;
    height: 10rem;
}

.job-menu {
  position: absolute;
  right: 1rem;
  top: 1.3rem;
}

}
