
<div class="admin-wrapper">
  <div class="row no-gutters">
    <div class="col-sm-6 col-md-2">
      <app-admin-menu></app-admin-menu>
    </div>
    <div class="col-12 col-md-10 col-xs-12">
      <div class="content-body">
        <div class="main-content">
          <div class="info-panel">
            <div class="container">
              <div class="row row-cols-6">
                <div class="col">
                  <div class="total-user-count">
                    <span class="title">{{'admin-dashboard.admin-dashboard-today-user' | translate}}</span>
                    <span class="count">234</span>
                  </div>
                </div>
                <div class="col">
                  <div class="total-active-user-count shadow">
                    <span class="title">{{'admin-dashboard.admin-dashboard-active-user' | translate}}</span>
                    <span class="count">4</span>
                  </div>
                </div>
                <div class="col">
                  <div class="verified-user-count shadow">
                    <span class="title">{{'admin-dashboard.admin-dashboard-verified-user' | translate}}</span>
                    <span class="count">98</span>
                  </div>
                </div>
                <div class="col">
                  <div class="todays-count shadow">
                    <span class="title">{{'admin-dashboard.admin-dashboard-today-job' | translate}}</span>
                    <span class="count">24</span>
                  </div>
                </div>
                <div class="col">
                  <div class="active-jobs-count shadow">
                    <span class="title">{{'admin-dashboard.admin-dashboard-total-job' | translate}}</span>
                    <span class="count">98</span>
                  </div>
                </div>
                <div class="col">
                  <div class="featured-jobs-count shadow">
                    <span class="title">{{'admin-dashboard.admin-dashboard-featured-job' | translate}}</span>
                    <span class="count">553</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <h1 class="job-list-title">{{'admin-dashboard.admin-dashboard-manage-job-title' | translate}}</h1>

          <div class="list-job-filter">
            <form [formGroup]="searchForm">
              <div class="row row-cols-4">
                <div class="col">
                  <!-- (keyup)="applyFilter($event)" -->
                  <input type="text" formControlName="jobTitle" required
                  placeholder="{{'admin-dashboard.form-jobTitle-placeholder' | translate}}"
                  class="form-control form-control-sm" id="companyName">
                </div>
                <div class="col">
                  <select formControlName="company" class="form-control form-control-sm">
                    <option value="">{{'admin-dashboard.form-default-value-company' | translate}}</option>
                    <option *ngFor="let company of companyList" [value]="company.company_name">{{ company.company_name }}</option>
                  </select>
                </div>
                <div class="col">
                  <input type="text" formControlName="discription"
                  placeholder="{{'admin-dashboard.form-discription-placeholder' | translate}}"
                  class="form-control form-control-sm" id="discription">
                </div>
                <div class="col">
                  <input type="text" formControlName="city" placeholder="{{'admin-dashboard.form-city-placeholder' | translate}}"
                  class="form-control form-control-sm" id="city">
                </div>
              </div>
              <div class="search-with-date">
                <div class="row row-cols-4">
                  <div class="col">
                    <select formControlName="status" class="form-control">
                      <option value="">{{'admin-dashboard.form-status-default-value' | translate}}</option>
                      <option value="unapproved">{{'admin-dashboard.form-status-value-unapproved' | translate}}</option>
                      <option value="approved">{{'admin-dashboard.form-status-value-approved' | translate}}</option>
                      <option value="banned">{{'admin-dashboard.form-status-value-banned' | translate}}</option>
                      <option value="expired">{{'admin-dashboard.form-status-value-expired' | translate}}</option>
                      <option value="flaged">{{'admin-dashboard.form-status-value-flaged' | translate}}</option>
                    </select>
                  </div>
                  <div class="col">
                    <span class="date-from">{{'admin-dashboard.form-date-from' | translate}}</span>
                    <mat-form-field appearance="outline">
                      <input matInput [matDatepicker]="picker1" formControlName="dateFrom">
                      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                      <mat-datepicker #picker1 color="primary"></mat-datepicker>
                    </mat-form-field>
                  </div>

                  <div class="col">
                    <span class="date-from">{{'admin-dashboard.form-date-to' | translate}}</span>
                    <mat-form-field appearance="outline">
                      <input matInput [matDatepicker]="picker2" formControlName="dateTo">
                      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                      <mat-datepicker #picker2 color="primary"></mat-datepicker>
                    </mat-form-field>
                  </div>

                  <div class="col">
                    <div class="filtered-button">
                      <button class="btn btn-primary" (click)="onSearch()">{{'admin-dashboard.form-button' | translate}}</button>
                      <span class="checked-btn">
                        <button *ngIf="selection.hasValue()" class="btn btn-danger">{{'admin-dashboard.checkbox-show-button' | translate}}</button>
                      </span>
                    </div>
                  </div>

                </div>
              </div>
          </form>
          </div>

          <div class="table-container mat-elevation-z8">
            <table mat-table matSortActive="title" matSortDirection="asc" matSortDisableClear
             [dataSource]="dataSource" matSort>

              <!-- Checkbox Column -->
              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                  <mat-checkbox (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()"
                                [aria-label]="checkboxLabel()">
                  </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                  <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null"
                                [checked]="selection.isSelected(row)"
                                [aria-label]="checkboxLabel(row)">
                  </mat-checkbox>
                </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'admin-dashboard.table-header-title' | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.job_title}} </td>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="company_name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'admin-dashboard.table-header-company-name' | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.company_name}} </td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="location">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'admin-dashboard.table-header-location' | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.company_name}} </td>
              </ng-container>

              <!-- payment Column -->
              <ng-container matColumnDef="date_created">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'admin-dashboard.table-header-date-created' | translate}}  </th>
                <td mat-cell *matCellDef="let element"> {{element.created_at}} </td>
              </ng-container>


              <!-- Status Column -->
              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'admin-dashboard.table-header-status' | translate}} </th>
                <td mat-cell *matCellDef="let element"><span class="staus-colum">{{element.status}} </span> </td>
              </ng-container>

              <!-- Status Column -->
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
                <td mat-cell *matCellDef="let element">
                  <div class="action-menu">
                    <mat-icon [matMenuTriggerFor]="menu">more_vert</mat-icon>
                </div>

                <mat-menu #menu="matMenu">
                  <button mat-menu-item>
                    <mat-icon>visibility</mat-icon>
                    <span>{{'admin-dashboard.table-menu-view' | translate}}</span>
                  </button>
                  <button mat-menu-item>
                    <mat-icon>create</mat-icon>
                    <span>{{'admin-dashboard.table-menu-edit' | translate}}</span>
                  </button>
                  <button mat-menu-item>
                    <mat-icon style="color: red;">delete</mat-icon>
                    <span>{{'admin-dashboard.table-menu-delete' | translate}}</span>
                  </button>
                </mat-menu>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <!-- <mat-paginator  [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator> -->
            <mat-paginator class="mat-paginator-sticky" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

