<section class="job_wapper">
    <div class="image-header__holder">
        <h1 class="image-header__title">{{'home.intro-text' | translate}}</h1>
        <!-- <h2>{{'Name' | translate}}</h2> -->
    </div>

    <div class="banner-search">
        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" >
            <div class="banner-form-box">
               <div class="banner-form-input">
                  <input type="text" name="jobname" [(ngModel)]="model.jobname" #jobname="ngModel"
                  placeholder="{{'home.search-title-placeholder' | translate}}">
               </div>
               <div class="banner-form-input">
                  <input type="text" name="location" [(ngModel)]="model.location" #location="ngModel"
                  placeholder="{{'home.city-state-placeholder' | translate}}">
               </div>
               <div class="banner-form-input">
                  <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
               </div>
            </div>
         </form>
     </div>
  </section>
<section class="introText_wrapper">
  <div class="container">
      <div class="row job-dis">
          <div class="col-12 col-md-8">
            <div class="intro-1-text">
              <h3>{{'home.verified-header' | translate}}</h3>
              <p>{{'home.verified-discription' | translate}}</p>

              <div class="signIn__login_btn">
                  <a class="btn-intro" [routerLink]="['/job/list']">{{'home.verified-button-name' | translate}}</a>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4">
              <div class="intro-1-img">
                  <img src="/assets/icons/verified.png">
              </div>
          </div>
      </div>
      <div class="row job-search">
          <div class="col-12 col-md-4">
              <div class="intro-2-img">
                  <img src="/assets/icons/alertsemail.png">
               </div>
          </div>
          <div class="col-12 col-md-8">
               <div class="intro-2-text">
                  <h3>{{'home.seamless-header' | translate}}</h3>
                  <p> {{'home.seamless-discription' | translate}}</p>
                  <div class="signIn__login_btn">
                      <a class="btn-intro" [routerLink]="['/job/list']">{{'home.seamless-button-name' | translate}}</a>
                  </div>
              </div>
          </div>
      </div>
      <div class="row job-start">
          <div class="col-12 col-md-8">
              <div class="intro-3-text">
                  <h3>{{'home.job-card-header' | translate}}</h3>
                  <p>{{'home.job-card-discription' | translate}}</p>
                  <div class="signIn__login_btn">
                      <a class="btn-intro" [routerLink]="['/company/list']">{{'home.job-button-name' | translate}}</a>
                  </div>
              </div>
          </div>
          <div class="col-12 col-md-4">
              <div class="intro-3-img">
                  <img src="/assets/icons/get-started.png">
                </div>
          </div>
      </div>
  </div>
</section>

<section class="job-list-wrapper">
        <div class="job-list">
          <div class="job-list-title">
              <h1 class="job-list-title-heading"><span class="company-toggle">{{'home.listing-header' | translate}}</span></h1>
              <p>{{'home.listing-discription' | translate}}</p>
                <div class=" job-tab">
                    <ul class="nav nav-pills job-tab-switch" id="pills-tab" role="tablist">
                       <li class="nav-item">
                          <a (click)="toggle = 'company'" [ngClass]="{'active': toggle =='company'}"  class="nav-link">
                            {{'home.listing-company-button' | translate}}
                          </a>
                       </li>
                       <li class="nav-item">
                          <a (click)="toggle = 'job'" [ngClass]="{'active': toggle =='job'}" class="nav-link show">
                            {{'home.listing-job-button' | translate}}
                          </a>
                       </li>
                    </ul>
                 </div>
          </div>
          <div class="job-list-body" *ngIf="toggle === 'job'">
              <a [routerLink]="['/job/detail']" [queryParams]="{ a: jobs.job_id}"
               class="top-company-list-wraper" *ngFor="let jobs of featuredjobsList">
                <div class="top-company-list">
                  <div class="company-list-logo">
                     <a href="#">
                     <img width="180" [src]="jobs.logo" alt="company list 1">
                     </a>
                  </div>
                  <div class="company-list-details">
                     <h3 class="job-name">{{ jobs.title }}</h3>
                     <small class="small-text company-state icon-sp"> {{ jobs.location }} <i class="icon ion-md-navigation"></i> </small>
                     <small class="small-text varify icon-sp"><i class="icon ion-md-arrow-forward"></i> {{ jobs.min_salary }} - {{ jobs.max_salary }}</small>
                  </div>
                  <div class="company-list-btn">
                     <a href="#" class="jobguru-btn">{{'home.listing-apply-button' | translate}}</a>
                  </div>
               </div>
            </a>
          </div>

          <div class="job-list-body"  *ngIf="toggle === 'company'">
              <a [routerLink]="['/company/detail']" [queryParams]="{ link: company.company_id}"
              class="top-company-list-wraper" *ngFor="let company of featuredcompaniesList">
                <div class="top-company-list">
                   <div class="company-list-logo">
                      <a href="#">
                      <img width="180" [src]="company.logo" alt="company list">
                      </a>
                   </div>
                   <div class="company-list-details">
                      <h3 class="job-name">{{ company.company_name }}</h3>
                      <small class="small-text company-state icon-sp"> {{ company.location }} <i class="icon ion-md-navigation"></i> </small>
                   </div>
                   <div class="company-list-btn">
                      <a href="#" class="jobguru-btn">{{'home.partner-view-profile' | translate}}</a>
                   </div>
                </div>
              </a>
          </div>

        </div>
</section>

<section class="article-section">
  <app-testimonial></app-testimonial>
</section>

<section class="recuter_logo_wapper">
    <div class="container recuter_s">
      <h1>{{'home.partner-companies-header' | translate}}</h1>
      <h3>{{'home.partner-description' | translate}}</h3>
      <div class="row company-help">
          <div class="col-6 col-md-3" *ngFor="let company of featuredcompaniesList">
            <img width="180" [src]="company.logo" alt="company list">
          </div>
        </div>
    </div>
  </section>


