$color1: rgba(31, 24, 32, 1);
$color2: rgba(232, 119, 39, 1);
$color3: rgba(221, 70, 108, 1);
$color4: rgba(240, 188, 212, 1);
$color5: rgba(173, 221, 130, 1);

section#testim {
  background-color: #1a222a;
}

.home_wapper {
   // background: radial-gradient(1468.84px at 99.16% 1.68%,#59D5FC 0%,rgba(255,255,255,0) 100%),linear-gradient(199.6deg,#FF9BEE 7.29%,#DA57C8 47.3%,#311263 87.32%);
    background: #363B4D url(/assets/imgs/fixedBg.jpg) no-repeat;
    background-size: cover;
    background-position: center 30%;
    height: 100vh;
}

.job_wapper {
    background: linear-gradient(#004092, #020202, transparent), url("/assets/imgs/fixedBg.jpg") no-repeat center;
    background-size: cover;
    background-position: center 30%;
    height: 100vh;


    h1 {
        text-align: center;
        padding-top: 7rem;
        color: #fff;
        font-size: 3rem;
    }

    .image-header__title {
        font-weight: 500;
        font-style: normal;
        text-rendering: optimizeLegibility;
        font-size: 50px;
        line-height: 56px;
        letter-spacing: -1px;
        margin: auto;
        padding: 0;
        max-width: 690px;
        color: #fff;
        text-shadow: 0 0 10px rgba(0,0,0,.8);
        font-size: 2.3rem;
        font-family: 'Nunito', sans-serif;
    }

    .image-header__holder {
        transition: transform .5s ease;
        padding-top: 15rem !important;
        margin-bottom: 3rem;
    }

    h3 {
        text-align: center;
        color: #25ad60;
        padding: 1rem 2rem;
        font-size: 1.3rem;
        font-weight: 700;
    }

    .banner-text {
        position: absolute;
        top: 35%;
        z-index: 1;
        width: 100%;
        text-align: center;
    }

    .banner-form-box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 60%;
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0 2px 12px rgba(0, 0, 0, .09);
        margin: 20px auto 0;
        height: 3rem;
    }

    @media (max-width: 880px) {
        .banner-form-input {
            display: block;
            border-radius: 5px;
            padding: 5px;
            background: #fff none repeat scroll 0 0;
            margin-top: 8px;
        }
    }


    .banner-form-input {
        padding: 10px 12px;
        border-right: 1px solid #e4e4e4;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: relative;

        button {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            margin: 0;
            width: 100%;
            border: medium none;
            cursor: pointer;
            background: #25AD60 none repeat scroll 0 0;
            color: #fff;
            border-radius: 0px 4px 4px 0px;
            -webkit-transition: all 0.4s ease 0s;
            transition: all 0.4s ease 0s;
        }

        input {
            padding: 5px 10px;
            width: 100%;
            border: medium none;
        }

        select.banner-select {
            width: 100%;
            padding: 5rem;
            border: 0px;
            background-color: #fff;
        }



    }

    .banner-form-input:last-child {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 0;
        -webkit-box-flex: .2;
        -ms-flex: .2;
        flex: .2;
        border-right: 0px;
    }

}


.introText {
    padding-top: 15%;
    color: #fff;
    margin-left: 4rem;

    h1 {
        font-size: 5rem;
        font-weight: 700;
        color: $color3;
    }

    .intro-para {
        font-size: 2rem;
        border-left: 3px solid #fff;
        padding-left: 1rem;
    }

    .link-upload__resume a {
        color: #dd466c;
        display: block;
        font-size: 0.875rem;
        padding: 0.9rem;
        background: #ddd;
        width: 8rem;
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
        margin-top: 3rem;
        border-radius: 0.3rem;
    }

    .link-upload__resume a:hover {
        background: #ccc;
    }
}

.introText_wrapper {
    background: #eee;
    padding: 4rem;

    img {
        width: 15rem;
    }

    .row.job-dis {
        margin-bottom: 4rem;
    }

    .row.job-search {
        margin-bottom: 6rem;
        margin-bottom: 6rem;
    }

    .row.job-start {
        margin-bottom: 4rem;
    }

    .btn-intro {
        font-size: 0.8rem;
        text-transform: uppercase;
        font-weight: 500;
        transition: 0.25s;
        padding: 0 0 3px;
        background: none;
        color: #3A6E8F;
        letter-spacing: 1px;
        margin-bottom: 2rem;
    }

    .row.job-dis {
        background: #fff;
        padding: 3rem;
        border-bottom: 2px solid #ccc;
    }

    .row.job-search {
        background: #eee;
        padding: 3rem;
    }

    .row.job-start {
        background: #fff;
        padding: 3rem;
        border-top: 2px solid #ccc;
    }

    .signIn__login_btn {
        margin-bottom: 2rem;
    }

    .intro-2-text h3 {
            margin-top: 2rem;
    }

}


.fixed_intro_wrapper {
    background-image: url(/assets/imgs/fixedBg.jpg);
    background-position: center center;
    background-attachment: fixed;

    .fixed_intro {
        height: 23rem;
    }

    .job-list-title h1 {
        font-size: 2rem;
        color: #dd466c;
        margin-bottom: 1rem;
    }

    .rightcontent {
        height: 23rem;
        padding: 2rem;
        margin-left: -1rem;
        margin-top: -4px;
        color: #fff;
    }

    .right_content {
        margin-top: 3rem;
    }

    a {
        color: #dd466c;
        display: block;
        font-size: 0.875rem;
        padding: 0.9rem;
        background: #ddd;
        width: 8rem;
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
        margin-top: 1rem;
        border-radius: 0.3rem;
    }
}
.job-list-wrapper {

    .job-list {
        padding: 3rem;
    }

    p {
        text-align: center;
    }

    h1.job-list-title-heading {
        text-align: center;
    }

    .job-name {
        font-size: 1.3rem;
    }

    .company-state i {
        color: #16a8d8;
    }

    .open-icon i {
        color: #ef8c45;
    }

    .varify i {
        color: #4bd518;
    }

    .icon-sp {
        margin-right: 1rem;
    }

    .job-tab {
        margin-top: 3rem;
        text-align: center;
    }

    .job-tab .job-tab-switch {
        text-align: center;
        width: auto;
        float: none;
        display: inline-block;
        padding: 5px;
        border: 1px solid #ddd;
        border-radius: 30px;
        background: #fff none repeat scroll 0 0;
    }

    .job-tab-switch li {
        display: inline-block;
    }

    .job-tab-switch li>a {
        border-radius: 30px !important;
        display: inline-block !important;
        padding: 10px 30px !important;
        text-transform: capitalize !important;
        color: #111;
        font-weight: 500 !important;
        cursor: pointer;
    }

    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        color: #fff;
        background-color: #007bff;
    }

    .job-tab-switch li>a.active {
        border-radius: 30px !important;
        display: inline-block !important;
        padding: 10px 30px !important;
        text-transform: capitalize !important;
        color: #fff;
        font-weight: 500 !important;
        background: #52b7d0 none repeat scroll 0 0 !important;
    }
    .nav-pills .nav-link {
        -webkit-border-radius: 0.25rem;
        border-radius: 0.25rem;
    }

    .top-company-list-wraper {
        display: block;
        margin-bottom: 15px;
        background: #fff none repeat scroll 0 0;
        border: 1px solid #eee;
        -webkit-transition: all 0.4s ease 0s;
        transition: all 0.4s ease 0s;
        padding: 1.5rem;
        border-radius: 4px;
    }

    .job-list-body {
        width: 50%;
        margin: auto;
        margin-top: 2rem;
    }

    .top-company-list-wraper:hover {
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    }

    .top-company-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 0;
        top: 0;
        justify-content: space-around;
    }

    .company-list-details {
        flex: 1;
        margin-left: 3rem;
    }

    .company-list-btn {
       a {
         text-transform: capitalize;
       }
    }
}

.recuter_logo_wapper {
    background-color: #fff;

    .recuter_s {
        padding: 5rem;
        text-align: center;
        color: #797979;
    }

    h3 {
        font-size: 1.1rem;
        margin: 1rem;
    }

    .company-help {
      margin-top: 3rem;
    }
}

small.small-text {
  color: #323c46;
}

h3.job-name {
  color: #615555;
}

.company-list-btn {
  font-size: 0.8rem;
  color: #ddd;
}

.article-section {
    padding-top: 3rem;


    .article-wraper {
        height: 32rem;
        padding: 4rem;
        display: flex;
    }

    .article-title {
        font-size: 2rem;
        font-weight: 800;
    }

    .social-card-header{
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
        height: 96px;
    }

    .card-deck {
        margin-top: 3rem;
        margin-bottom: 4rem;
    }

    h3 {
        font-size: 1.36rem;
    }

}


