  <app-auto-logout></app-auto-logout>
  <header class="header" *ngIf="navbarStatus">
    <div class="header-container">
        <a class="the-muse-logo" [routerLink]="['/']"><img alt="{{settingData?.siteName}}"
          [src]="settingData?.logo"></a>
        <nav class="user-nav" *ngIf="!userLoggedIn">
            <div id="sign-in" class="sign-in-wrapper right hidden-xs">
                <a class="sign-in-modal" [routerLink]="['/sign-in']">Sign in</a>
            </div>

            <div id="sign-up" class="sign-up hidden-xs">
                <a class="btn-sign-up sign-up-modal" [routerLink]="['/sign-up']">Sign Up</a>
            </div>
        </nav>

        <nav class="user-nav loggedin" *ngIf="accountType == 3">
            <ul class="tm-dropdown">
                <li (click)="toggleNavbar()" class="active">
                  <div id="sign-up" class="sign-up hidden-xs">
                    <span class="userLogged"><i class="fa fa-user-circle-o" aria-hidden="true"></i> {{ fullname }} </span>
                  </div>
                </li>
                <ul class="dropdown-list" *ngIf="navbarOpen" (click)="closeMenuOnclick()">
                    <li><a class="menu-items" [routerLink]="['/user/applied']">Applied Jobs</a></li>
                    <li><a class="menu-items user-settings" [routerLink]="['/user/setting']">Your Settings</a></li>
                    <hr>
                    <li (click)="logout()"><a class="menu-items user-settings" id="signout"> Sign out</a></li>
                </ul>
            </ul>
        </nav>

        <nav class="user-nav loggedin" *ngIf="accountType == 2">
          <ul class="tm-dropdown">
              <li (click)="toggleNavbar()" class="active">
                  <i class="icon ion-md-person"></i>{{ fullname }}<i class="icon ion-md-arrow-dropdown"></i>
              </li>
              <ul class="dropdown-list" *ngIf="navbarOpen" (click)="closeMenuOnclick()">
                  <li>
                    <a class="menu-items" [routerLink]="['/company/update-profile']" [queryParams]="{link: companyId}">
                      Update profile
                    </a>
                  </li>
                  <li><a class="menu-items" [routerLink]="['/company/dashboard']"> Manage job</a></li>
                  <li><a class="menu-items" [routerLink]="['/company/job-lists']"> My Jobs</a></li>
                  <hr>
                  <li (click)="logout()"><a class="menu-items user-settings" id="signout" href="/user/logout">Sign out</a></li>
              </ul>
          </ul>
      </nav>

      <nav class="user-nav loggedin" *ngIf="accountType == 1">
        <ul class="tm-dropdown">
            <li (click)="toggleNavbar()" class="active">
                <i class="icon ion-md-person"></i>{{ fullname }}<i class="icon ion-md-arrow-dropdown"></i>
            </li>
            <ul class="dropdown-list" *ngIf="navbarOpen" (click)="closeMenuOnclick()">
                <li>
                  <a class="menu-items" [routerLink]="['/admin']">
                    <i class="icon ion-md-heart icon-space"></i>
                    Profile
                  </a>
                </li>
               <hr>
                <li (click)="logout()"><a class="menu-items user-settings" id="signout"> Sign out</a></li>
            </ul>
        </ul>
    </nav>

    <nav class="quick-link-wrapper">
      <span id="quick-link job-link" class="job-link hidden-xs">
          <a class="btn-link" [routerLink]="['/job/list']">Jobs</a>
      </span>

      <span id="quick-link company-link" class="company-link">
          <a class="btn-link" [routerLink]="['/company/list']">Companies</a>
      </span>
  </nav>
  </div>
</header>

