.brand-centered {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
  }
  .navbar-brand {
    display: flex;
    align-items: center;
  }

.navbar {
    padding: 1.2rem 1rem;
    background-color: #19222a;
}

span.userLogged {
  color: #fff;
  position: relative;
  bottom: 0.5rem;
}

nav.user-nav.loggedin {
  background-color: #52b7d0;
  color: #1a222a;
}

.navbar-dark .navbar-nav .nav-link {
    font-weight: bold;
    color: #999;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-family: "Nunito", sans-serif;
}

.user-nav {
  position: relative;
  float: right;
  font-size: 12px;
  z-index: 11;
}

.loggedin .tm-dropdown {
  padding: 15px 15px 0;
  height: 30px;
  float: right;
  position: relative;
  cursor: pointer;
  top: 3px;
}

.loggedin .active {
  -webkit-transition: color 200ms ease-out;
  -moz-transition: color 200ms ease-out;
  -ms-transition: color 200ms ease-out;
  -o-transition: color 200ms ease-out;
  transition: color 200ms ease-out;
  color: var(--gray-dark);
  text-transform: uppercase;
  font-family: "Nunito", sans-serif;
  font-weight: 900;
  font-style: normal;
  text-rendering: optimizeLegibility;
  list-style: none;
  font-family: "Nunito", sans-serif;
}

.loggedin .tm-dropdown .dropdown-list {
  min-width: 190px;
  background-color: #fff;
  list-style-type: none;
}
.loggedin .dropdown-list {
  right: 0;
  padding: 10px 0;
  border-radius: 0 0 4px 4px;
  border: 0;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  //visibility: none;
}
.tm-dropdown .dropdown-list {
  -webkit-transition: opacity .25sms ease-out;
  -moz-transition: opacity .25sms ease-out;
  -ms-transition: opacity .25sms ease-out;
  -o-transition: opacity .25sms ease-out;
  transition: opacity .25sms ease-out;
  top: 43px;
  position: absolute;
  z-index: 1;
  //visibility: hidden;

  li {
    padding: 0.6rem 0rem;
  }

  ul {
    margin-top: 0rem;
    margin-bottom: 0rem;
  }

  li:hover {
    background-color: #52b7d0;
  }

  li a:hover {
    color: #ffffff;
  }
}

.loggedin .menu-items {
  padding: 5px 15px;
  color: #5b5b5b;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-size: 11px;
  width: 100%;
  display: inline-block;
  line-height: 1.42857143;
  text-align: left;
  text-transform: uppercase;
}

.loggedin .dropdown-list .fa {
  padding-right: 13px;
}
.loggedin .fav-job {
  color: #f87964;
}

[class^=fa-]::before, [class*=" fa-"]::before {
  width: auto;
  margin-right: 0;
  margin-left: 0;
}



.header {
  text-align: center;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #19222a;
  z-index: 400;
  border-bottom: 2px solid #52b7d0;
}

.the-muse-logo {
  float: left;
}

.the-muse-logo img {
  width: 100px;
  height: 100%;
  margin: 12px 12px 0;
}

.user-nav {
  position: relative;
  float: right;
  font-size: 12px;
  z-index: 11;
  font-family: "Nunito", sans-serif;
}

.user-nav .sign-in-wrapper.right, .user-nav .sign-up.right, .user-nav .sign-in-wrapper.right {
  margin: 15px 18px 0;
}
.user-nav .sign-in-wrapper, .user-nav .sign-up, .user-nav .sign-in-wrapper {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-rendering: optimizeLegibility;
  text-transform: capitalize;
  font-size: 14px;
  float: left;
}

.user-nav .sign-in-wrapper a.sign-in-modal, .user-nav .sign-up a.sign-in-modal, .user-nav .sign-in-wrapper a.sign-in-modal {
  color: #53b6d0;
}

.user-nav .sign-in-wrapper, .user-nav .sign-up, .user-nav .sign-in-wrapper {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-rendering: optimizeLegibility;
  text-transform: capitalize;
  font-size: 14px;
  float: left;
  font-family: "Nunito", sans-serif;
}
.visible-xs {
  display: none!important;
}

.blue-solid-button-xs, .btn-sign-up {
  -webkit-transition: background 200ms ease-out;
  -moz-transition: background 200ms ease-out;
  -ms-transition: background 200ms ease-out;
  -o-transition: background 200ms ease-out;
  transition: background 200ms ease-out;
  width: auto;
  font-size: 13px;
  background-color: #53b6d0;
  display: inline-block;
  text-align: center;
  text-transform: capitalize;
  outline: none;
  cursor: pointer;
  padding: .9em 2.5em;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-rendering: optimizeLegibility;
  line-height: 1.2em;
  color: #fff;
  border: 1px solid #53b6d0;
  font-family: "Nunito", sans-serif;
}
.btn-sign-up {
  height: 50px;
  padding: 16px 30px 0!important;
}

.btn-link {
  height: 50px;
  padding: 16px 30px 0!important;
}

nav.quick-link-wrapper {
  padding-top: 12px;
  color: #fff;
  padding-top: 12px;
  padding-bottom: 10px;

  a {
    color: #ffffff;
    text-decoration: none;
  }
}


.user-nav .sign-in-wrapper, .user-nav .sign-up, .user-nav .sign-in-wrapper {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-rendering: optimizeLegibility;
  text-transform: capitalize;
  font-size: 14px;
  float: left;
}

.blue-solid-button-xs, .btn-sign-up {
  -webkit-transition: background 200ms ease-out;
  -moz-transition: background 200ms ease-out;
  -ms-transition: background 200ms ease-out;
  -o-transition: background 200ms ease-out;
  transition: background 200ms ease-out;
  width: auto;
  font-size: 13px;
  background-color: #53b6d0;
  display: inline-block;
  text-align: center;
  text-transform: capitalize;
  outline: none;
  cursor: pointer;
  padding: .9em 2.5em;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-rendering: optimizeLegibility;
  line-height: 1.2em;
  color: #fff;
  border: 1px solid #53b6d0;
}
.btn-sign-up {
  height: 50px;
  padding: 16px 30px 0!important;
}

.header .search {
  display: block;
  color: #fff;
  font-size: 17px;
  float: right;
  padding: 13px 15px;
  margin-right: 2px;
  cursor: pointer;
}

.main-nav {
  height: 50px;
  display: inline-block;
  margin: 0 auto;
  padding: 0;
  float: left;
}

.main-nav a {
  -webkit-transition: color 200ms ease-out;
  -moz-transition: color 200ms ease-out;
  -ms-transition: color 200ms ease-out;
  -o-transition: color 200ms ease-out;
  transition: color 200ms ease-out;
  display: inline-block;
  vertical-align: middle;
  font-family: "Nunito", sans-serif;
  font-weight: 900;
  font-style: normal;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
  color: #fff;
  padding: 18px 20px 0;
  height: 50px;
  font-size: 12px;
  text-decoration: none;
  outline: none;
}

.main-nav a.employers-link {
  display: inline-block;
  opacity: .5;
}

.icon-space {
  margin-right: 0.4rem;
  color: red;
}
