<div class="row no-gutters">
    <div class="col-12 col-sm-6 col-md-4 reset-password__sec">
        <div class="reset-password_logo">
            <img class="reset-password_lo__img" [src]="settingData?.logo">
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-8">
            <div class="signIn__login_btn">
                <a [routerLink]="['/sign-in']">{{'reset-password.sign-in-button' | translate}}</a>
            </div>
                    <div class="center__div reset-password__div">
                        <span class="reset-password_welcome__logotext">{{'reset-password.title' | translate}}</span>
                        <div class="row reset-password_as__sec">
                                <div class="col-6">
                                    <div [ngClass]="{user_icon_clicked: onselectUser, user_icon: !onselectUser}"
                                        (click)="onSelectUser()">
                                        <div>
                                            <img class="reset-password_logo__img" src="assets/icons/user.svg">
                                            <p class="reset-password_logo__text">{{'reset-password.candidate-tab' | translate}}</p>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-6">
                                    <div [ngClass]="{user_icon_clicked: onselectRecuiter, user_icon: !onselectRecuiter}"
                                         (click)="onSelectRecruiter()">
                                         <div>
                                            <img class="reset-password_logo__img" src="assets/icons/company.svg">
                                            <p class="reset-password_logo__text">{{'reset-password.recruiter-tab' | translate}}</p>
                                         </div>
                                    </div>
                                </div>
                              </div>
                        <div class="fi_form space_around_1">
                            <form class="space_around_1" name="form" (ngSubmit)="f.form.valid && onSubmit()"
                         #f="ngForm" >

                        <div class="form-group">
                          <label for="password">{{'sign-up.password-field' | translate}}</label>
                          <input type="password" #password="ngModel" class="form-control" [(ngModel)]="model.password" name="password"
                          [type]="isPasswordVisible ? 'text' : 'password'"
                          [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required minlength="7"  />
                           <span class="showHidePassword" (click)="isPasswordVisible = !isPasswordVisible">
                             <span *ngIf="isPasswordVisible"><i class="fa fa-eye" aria-hidden="true"></i> </span>
                             <span *ngIf="!isPasswordVisible"><i class="fa fa-eye-slash" aria-hidden="true"></i> </span>
                           </span>
                      </div>
                      <div class="form-group">
                          <button class="btn btn-primary" [disabled]="loading">
                            <span *ngIf="!loading">{{'reset-password.submit-button' | translate}} </span>
                            <span *ngIf="loading" class="spinner-icon"><mat-icon><mat-spinner color="warn" diameter="20"></mat-spinner></mat-icon></span>
                          </button>

                        </div>


                    </form>
                  </div>
              </div>
    </div>
</div>
