.center__div {
    margin: auto
}

.reset-password__div {
    width: 25rem;
    position: relative;
    top: 4.25rem;
    left: 0;
}

.reset-password__header {
    margin-bottom: 1.25rem;
    background-color: #ddd;
    padding: 0.625rem;
}

.showHidePassword {
  position: relative;
  bottom: 30px;
  left: 21rem;
  cursor: pointer;
}

.reset-password__sec {
    background-image: url("/assets/imgs/signIn_bg.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    height: 100vh;
}

.reset-password_logo__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.reset-password_welcome__text {
    font-size: 2rem;
}

.reset-password_welcome__logotext {
    font-size: 2rem;
    font-weight: 900;
    margin-left: 1rem;
}

.reset-password_welcome__subtext {
    text-align: center;
    color: #999;
}

.reset-password_logo__img {
    width: 4rem;
}

.user_icon {
    border: 1px solid #ddd;
    padding: 1.6rem;
    border-radius: 0.2rem;

}

.user_icon_clicked {
    border: 1px solid #ddd;
    padding: 1.6rem;
    border-radius: 0.2rem;
    background-color: #fff;

}
.reset-password_lo__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.reset-password_icon__img {
    border: 1px solid #ddd;
    padding: 1.6rem;
    border-radius: 0.2rem;
}

.company_icon {
    border: 1px solid #ddd;
    padding: 1.6rem;
    border-radius: 0.2rem;

}
.row.reset-password_as__sec {
    padding: 1rem;
}

.reset-password_logo__text {
    text-align: center;
    padding-top: .5rem;
    color: #999;
    font-size: 0.9rem;
}

.signIn__login_btn {
    float: right;
    margin: 2rem;
    background-color: #fff;
    padding: 0.4rem 2rem;
    border: 1px solid #ddd;
    color: #d45b5b;
    border-radius: 0.2rem;
    font-size: 0.9rem;
    font-weight: 600;
}





