<div class="add-job-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="title">
          <h1><i class="fa fa-plus-circle circle-color" aria-hidden="true"></i> {{'add-job.add-job-title' | translate}}</h1>
          <div class="add-job">
            <form [formGroup]="addJobForm" class="login-container" (ngSubmit)="addJob()">
              <div class="form-group">
                <label for="exampleFormControlSelect1">{{'add-job.form-category' | translate}} *</label>
                <select class="custom-select form-control-sm"
                  name="category" formControlName="category" id="validationTooltip04">
                  <option selected disabled value="">{{'company-list.company-list-industry' | translate}}</option>
                  <option value="ads">{{'company-list.company-industry-ads' | translate}}</option>
                  <option value="architecture">{{'company-list.company-industry-architecture' | translate}}</option>
                  <option value="art">{{'company-list.company-industry-art' | translate}}</option>
                  <option value="biotechnology">{{'company-list.company-industry-biotechnology' | translate}}</option>
                  <option value="client">{{'company-list.company-industry-client' | translate}}</option>
                  <option value="consulting">{{'company-list.company-industry-consulting' | translate}}</option>
                  <option value="consumer">{{'company-list.company-industry-consumer' | translate}}</option>
                  <option value="education">{{'company-list.company-industry-education' | translate}}</option>
                  <option value="engineering">{{'company-list.company-industry-engineering' | translate}}</option>
                  <option value="entertainment">{{'company-list.company-industry-entertainment' | translate}}</option>
                  <option value="fashion">{{'company-list.company-industry-fashion' | translate}}</option>
                  <option value="finance">{{'company-list.company-industry-finance' | translate}}</option>
                  <option value="food">{{'company-list.company-industry-food' | translate}}</option>
                  <option value="government">{{'company-list.company-industry-government' | translate}}</option>
                  <option value="healthcare">{{'company-list.company-industry-healthcare' | translate}}</option>
                  <option value="insurance">{{'company-list.company-industry-insurance' | translate}}</option>
                  <option value="law">{{'company-list.company-industry-law' | translate}}</option>
                  <option value="manufacturing">{{'company-list.company-industry-manufacturing' | translate}}</option>
                  <option value="media">{{'company-list.company-industry-media' | translate}}</option>
                  <option value="estate">{{'company-list.company-industry-estate' | translate}}</option>
                  <option value="social">{{'company-list.company-industry-social' | translate}}</option>
                  <option value="social-media">{{'company-list.company-industry-social-media' | translate}}</option>
                  <option value="tech">{{'company-list.company-industry-tech' | translate}}</option>
                  <option value="telecom">{{'company-list.company-industry-telecom' | translate}}</option>
                  <option value="travel">{{'company-list.company-industry-travel' | translate}}</option>
                </select>
              </div>

              <div class="form-group">
                <label for="title">{{'add-job.form-title-field' | translate}} *</label>
                <input
                [ngClass]="{ 'is-invalid': submitted && formControls.title.errors }"
                type="text" required class="form-control form-control-sm" id="title" name="title" formControlName="title">
                <div *ngIf="submitted && formControls.title.errors" class="invalid-feedback">
                  <div *ngIf="formControls.title.errors.required">{{'add-job.form-title-field-error-message' | translate}}</div>
                </div>
              </div>

              <div class="editor-discription">
                <label for="description">{{'add-job.form-discription-field' | translate}} *</label>
                <ejs-richtexteditor required name="description" formControlName="description" [toolbarSettings]='tools'></ejs-richtexteditor>
                <div *ngIf="submitted && formControls.description.errors" class="invalid-feedback">
                  <div *ngIf="formControls.description.errors.required">{{'add-job.form-discription-field-error-message' | translate}}</div>
                </div>
              </div>

              <div class="form-group">
                <label for="exampleFormControlSelect1">{{'add-job.form-job-type' | translate}} *</label>
                <select class="custom-select form-control-sm"
                  name="jobType" formControlName="jobType" id="validationTooltip04">
                  <option selected disabled value="">{{'add-job.form-job-type' | translate}}</option>
                  <option value="full-time">{{'add-job.form-job-type-full-time' | translate}}</option>
                  <option value="part-time">{{'add-job.form-job-type-part-time' | translate}}</option>
                  <option value="temporary">{{'add-job.form-job-type-temporary' | translate}}</option>
                  <option value="intenship">{{'add-job.form-job-type-intenship' | translate}}</option>
                  <option value="freelance">{{'add-job.form-job-type-Freelance' | translate}}</option>
                  <option value="remote">{{'add-job.form-job-type-Remote' | translate}}</option>
                </select>
              </div>

              <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="inputCity">{{'add-job.form-min-salary' | translate}}</label>
                  <div class="input-group mb-2">
                    <input type="text" id="salaryMin" formControlName="salaryMin" class="form-control form-control-sm" (blur)="transformAmountMin($event)">
                  </div>
                </div>

                <div class="form-group col-md-4">
                  <label for="inputState">{{'add-job.form-max-salary' | translate}}</label>
                  <div class="input-group mb-2">
                    <input type="text" formControlName="salaryMax" class="form-control form-control-sm" (blur)="transformAmountMax($event)" id="salaryMax">
                  </div>
                </div>

                <div class="form-group col-md-4">
                  <div class="form-check mb-2">
                    <mat-checkbox class="example-margin" formControlName="negotiable" >{{'add-job.form-negotiable' | translate}}</mat-checkbox>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="city">{{'add-job.form-city' | translate}} *</label>
                <input
                [ngClass]="{ 'is-invalid': submitted && formControls.city.errors }"
                type="text" class="form-control form-control-sm" id="city" name="city" formControlName="city">
                <div *ngIf="submitted && formControls.city.errors" class="invalid-feedback">
                  <div *ngIf="formControls.city.errors.required">{{'add-job.form-city' | translate}}</div>
                </div>
              </div>

              <div class="form-group">
                <label for="address">{{'add-job.form-address' | translate}}</label>
                <input
                [ngClass]="{ 'is-invalid': submitted && formControls.address.errors }"
                type="text" class="form-control form-control-sm" id="address" name="address" formControlName="address">
              </div>

              <div class="form-group col-md-4">
                <div class="form-check-cv-upload mb-2">
                  <mat-checkbox class="submit_cv" (change)="submitCv($event)" formControlName="submit_cv">
                    {{'add-job.submit-cv' | translate}}
                  </mat-checkbox>
                </div>
              </div>

              <div class="form-group" *ngIf="!this.allowCVupload">
                <label for="jobUrl">{{'add-job.form-application-url' | translate}}</label>
                <input
                [ngClass]="{ 'is-invalid': submitted && formControls.jobUrl.errors }"
                type="text" class="form-control form-control-sm" id="jobUrl" name="jobUrl" formControlName="jobUrl">
                <small>{{'add-job.url-description' | translate}}</small>
              </div>

              <label for="jobUrl">{{'add-job.form-tag' | translate}}</label>
              <mat-form-field class="example-chip-list form-control form-control-sm chip-input">
                <mat-chip-list #chipList aria-label="Tags selection">
                  <mat-chip *ngFor="let tag of tags" [selectable]="selectable"
                           [removable]="removable" (removed)="remove(tag)">
                   <span class="tags-input">{{tag.name}}</span>
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                  <input
                         [matChipInputFor]="chipList"
                         [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                         [matChipInputAddOnBlur]="addOnBlur"
                         (matChipInputTokenEnd)="add($event)">
                </mat-chip-list>
              </mat-form-field>


              <div class="submit-btn">
                <button class="btn btn-primary" [disabled]="!addJobForm.valid">{{'add-job.form-button-name' | translate}}</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4">
        <!-- <div class="ads-banner">
          <span>Banner ads</span>
        </div> -->
      </div>
    </div>
  </div>
</div>
