.add-job-wrapper {
  margin-top: 5rem;
  margin-bottom: 3rem;

  small {
    color: #6c757d;
  }

  .title h1 {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: "Nunito", sans-serif;
  }

  .has-error {
      border-color: rgb(216, 12, 12);
      color: rgb(230, 14, 14);
  }

  .editor-discription {
    margin-bottom: 2rem;
  }

  form.addjob-container {
    margin-top: 1rem;
  }

  body ul li {
    padding: 0;
    margin: 0;
  }

  .form-check.mb-2 {
    margin-top: 2.2rem;
    margin-left: 1rem;
  }

  .submit-btn {
    margin-top: 2rem;
  }

  .subscription-section {
    margin-top: 2rem;
  }

  #mat-radio-2 {
    margin-right: 1rem;
  }

  .ads-banner {
    background-color: #ffffff;
    height: 100%;
    border: 1px solid #dddddd;
  }

  span.tags-input {
    text-transform: capitalize;
  }

  .e-richtexteditor .e-rte-content .e-content, .e-richtexteditor .e-source-content .e-content {
    background: unset;
    box-sizing: border-box;
    height: 100%;
    min-height: 100px;
    outline: 0 solid transparent;
    overflow-x: auto;
    padding: 8px;
    position: relative;
    text-align: inherit;
    z-index: 2;
    min-height: 14rem;
    margin-top: 0rem;
}

.title {
  background: #fff;
  padding: 2rem;
  box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 16px 16px rgba(0,0,0,0.12);
}

#mat-checkbox-2 {
  margin-left: -1rem;
}

.circle-color {
  color: #52b7d0;
}

#mat-radio-20 {
  margin-right: 1rem;
}

}
