<div class="article container">
  <h2 class="tile-grid__header">Featured Articles</h2>

  <div class="row">
    <div class="col-6 col-md-4">
      <div class="mfe-vertical-tile" data-oskar-click="adviceArticleTileClicked"
      data-oskar-view="adviceArticleTileViewed"
      data-oskar-props="{&quot;tile_career_types&quot;:[&quot;tech&quot;,&quot;engineering&quot;],&quot;tile_craft_id&quot;:339528,&quot;tile_index&quot;:0,&quot;tile_job_levels&quot;:[],&quot;tile_legacy_id&quot;:&quot;24402&quot;,&quot;tile_locations&quot;:[],&quot;tile_post_author_craft_id&quot;:&quot;1587279&quot;,&quot;tile_post_author_id&quot;:340166,&quot;tile_post_author_name&quot;:&quot;Joy Ebertz&quot;,&quot;tile_post_author_short_name&quot;:&quot;joy-ebertz&quot;,&quot;tile_post_created_at&quot;:&quot;2019-12-13T16:52:14-05:00&quot;,&quot;tile_post_name&quot;:&quot;7 Questions to Ask in a Software Engineering Interview to Figure Out If It's the Right Fit&quot;,&quot;tile_post_scheduling_date&quot;:&quot;2019-12-16T15:00:00-05:00&quot;,&quot;tile_post_short_name&quot;:&quot;software-engineer-questions-to-ask-interview-find-the-right-fit&quot;,&quot;tile_post_sponsor_company_craft_id&quot;:null,&quot;tile_post_sponsor_company_id&quot;:null,&quot;tile_post_sponsor_company_name&quot;:null,&quot;tile_post_tags&quot;:[],&quot;tile_topics&quot;:&quot;Interviewing&quot;}"><a href="/advice/software-engineer-questions-to-ask-interview-find-the-right-fit" target="_self">
        <div class="mfe-vertical-tile__image" style="background-image:url(&quot;https://cms-assets.themuse.com/media/lead/94bb6111-a6b4-4a23-b4f9-9fd69fa0d8d6.png&quot;)">
        </div>
        <div class="mfe-vertical-tile__body">
          <div class="mfe-vertical-tile__body-content">
            <span class="mfe-vertical-tile__category">Interviewing</span>
            <h3 class="mfe-vertical-tile__title">7 Questions to Ask in a Software Engineering Interview to Figure Out If It's the Right Fit</h3>
          </div>
        </div>
      </a>
      <div class="mfe-vertical-tile__footer">
        <div>
          <a class="mfe-vertical-tile__footer-link" href="/null" target="_self">
            <img class="mfe-vertical-tile__footer-img mfe-vertical-tile__footer-img--rounded" src="https://cms-assets.themuse.com/media/writers/joy-ebertz.jpg">
            <div class="mfe-vertical-tile__footer-text mfe-vertical-tile__footer-text--muse-blue">by Joy Ebertz</div>
          </a>
        </div>
      </div>
    </div>
    </div>
    <div class="col-6 col-md-4">
      <div class="mfe-vertical-tile" data-oskar-click="adviceArticleTileClicked"
      data-oskar-view="adviceArticleTileViewed"
      data-oskar-props="{&quot;tile_career_types&quot;:[&quot;tech&quot;,&quot;engineering&quot;],&quot;tile_craft_id&quot;:339528,&quot;tile_index&quot;:0,&quot;tile_job_levels&quot;:[],&quot;tile_legacy_id&quot;:&quot;24402&quot;,&quot;tile_locations&quot;:[],&quot;tile_post_author_craft_id&quot;:&quot;1587279&quot;,&quot;tile_post_author_id&quot;:340166,&quot;tile_post_author_name&quot;:&quot;Joy Ebertz&quot;,&quot;tile_post_author_short_name&quot;:&quot;joy-ebertz&quot;,&quot;tile_post_created_at&quot;:&quot;2019-12-13T16:52:14-05:00&quot;,&quot;tile_post_name&quot;:&quot;7 Questions to Ask in a Software Engineering Interview to Figure Out If It's the Right Fit&quot;,&quot;tile_post_scheduling_date&quot;:&quot;2019-12-16T15:00:00-05:00&quot;,&quot;tile_post_short_name&quot;:&quot;software-engineer-questions-to-ask-interview-find-the-right-fit&quot;,&quot;tile_post_sponsor_company_craft_id&quot;:null,&quot;tile_post_sponsor_company_id&quot;:null,&quot;tile_post_sponsor_company_name&quot;:null,&quot;tile_post_tags&quot;:[],&quot;tile_topics&quot;:&quot;Interviewing&quot;}"><a href="/advice/software-engineer-questions-to-ask-interview-find-the-right-fit" target="_self">
        <div class="mfe-vertical-tile__image" style="background-image:url(&quot;https://cms-assets.themuse.com/media/lead/94bb6111-a6b4-4a23-b4f9-9fd69fa0d8d6.png&quot;)">
        </div>
        <div class="mfe-vertical-tile__body">
          <div class="mfe-vertical-tile__body-content">
            <span class="mfe-vertical-tile__category">Interviewing</span>
            <h3 class="mfe-vertical-tile__title">7 Questions to Ask in a Software Engineering Interview to Figure Out If It's the Right Fit</h3>
          </div>
        </div>
      </a>
      <div class="mfe-vertical-tile__footer">
        <div>
          <a class="mfe-vertical-tile__footer-link" href="/null" target="_self">
            <img class="mfe-vertical-tile__footer-img mfe-vertical-tile__footer-img--rounded" src="https://cms-assets.themuse.com/media/writers/joy-ebertz.jpg">
            <div class="mfe-vertical-tile__footer-text mfe-vertical-tile__footer-text--muse-blue">by Joy Ebertz</div>
          </a>
        </div>
      </div>
    </div>
    </div>
    <div class="col-6 col-md-4">
      <div class="mfe-vertical-tile" data-oskar-click="adviceArticleTileClicked"
      data-oskar-view="adviceArticleTileViewed"
      data-oskar-props="{&quot;tile_career_types&quot;:[&quot;tech&quot;,&quot;engineering&quot;],&quot;tile_craft_id&quot;:339528,&quot;tile_index&quot;:0,&quot;tile_job_levels&quot;:[],&quot;tile_legacy_id&quot;:&quot;24402&quot;,&quot;tile_locations&quot;:[],&quot;tile_post_author_craft_id&quot;:&quot;1587279&quot;,&quot;tile_post_author_id&quot;:340166,&quot;tile_post_author_name&quot;:&quot;Joy Ebertz&quot;,&quot;tile_post_author_short_name&quot;:&quot;joy-ebertz&quot;,&quot;tile_post_created_at&quot;:&quot;2019-12-13T16:52:14-05:00&quot;,&quot;tile_post_name&quot;:&quot;7 Questions to Ask in a Software Engineering Interview to Figure Out If It's the Right Fit&quot;,&quot;tile_post_scheduling_date&quot;:&quot;2019-12-16T15:00:00-05:00&quot;,&quot;tile_post_short_name&quot;:&quot;software-engineer-questions-to-ask-interview-find-the-right-fit&quot;,&quot;tile_post_sponsor_company_craft_id&quot;:null,&quot;tile_post_sponsor_company_id&quot;:null,&quot;tile_post_sponsor_company_name&quot;:null,&quot;tile_post_tags&quot;:[],&quot;tile_topics&quot;:&quot;Interviewing&quot;}"><a href="/advice/software-engineer-questions-to-ask-interview-find-the-right-fit" target="_self">
        <div class="mfe-vertical-tile__image" style="background-image:url(&quot;https://cms-assets.themuse.com/media/lead/94bb6111-a6b4-4a23-b4f9-9fd69fa0d8d6.png&quot;)">
        </div>
        <div class="mfe-vertical-tile__body">
          <div class="mfe-vertical-tile__body-content">
            <span class="mfe-vertical-tile__category">Interviewing</span>
            <h3 class="mfe-vertical-tile__title">7 Questions to Ask in a Software Engineering Interview to Figure Out If It's the Right Fit</h3>
          </div>
        </div>
      </a>
      <div class="mfe-vertical-tile__footer">
        <div>
          <a class="mfe-vertical-tile__footer-link" href="/null" target="_self">
            <img class="mfe-vertical-tile__footer-img mfe-vertical-tile__footer-img--rounded" src="https://cms-assets.themuse.com/media/writers/joy-ebertz.jpg">
            <div class="mfe-vertical-tile__footer-text mfe-vertical-tile__footer-text--muse-blue">by Joy Ebertz</div>
          </a>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
