@media (min-width: 1289px){
  .tile-grid__header {
    max-width: calc(100% - 50px);
    font-size: 20px;
    letter-spacing: 1.25px;
    line-height: 1em;
  }
}

@media (min-width: 768px) {
  .tile-grid__header {
    max-width: calc(100% - 25px);
  }
}

.article:after {
  content: " ";
  display: table;
  margin-bottom: 20px;
}

.article:before {
  content: " ";
  display: table;
  margin-top: 30px;
}

.tile-grid__header {
  width: 100%;
  max-width: 456px;
  margin: 48px 12.5px 12.5px;
  color: #666;
  font-family: nunito sans,HelveticaNeue-Light,Helvetica Neue Light,Helvetica Neue,
               Helvetica,Arial,Lucida Grande,sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: .88px;
  line-height: 19px;
  text-transform: uppercase;
}

.tile-grid .mfe-vertical-tile {
  max-width: 456px;
  margin: 12.5px;
}
.mfe-vertical-tile {
  max-width: 456px;
  min-width: 274px;
  width: 100%;
  background-color: #fff;
  position: relative;
}

.mfe-vertical-tile * {
  box-sizing: border-box;
  text-decoration: none;
}

.mfe-vertical-tile__image {
  height: 200px;
  background-size: cover;
  background-position: 50%;
  padding: 16px;
  display: flex;
}
.mfe-vertical-tile * {
  box-sizing: border-box;
  text-decoration: none;
}

.tile-grid .mfe-vertical-tile__body {
  max-height: 200px;
  padding: 24px 24px 0;
}
.mfe-vertical-tile__body {
  box-sizing: border-box;
  position: relative;
  height: 234px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 32px 32px 0;
  overflow-y: hidden;
}

.tile-grid .mfe-vertical-tile__category {
  color: #90a4ae;
  font-size: 15px;
  letter-spacing: 1.07px;
  line-height: 20px;
}
.mfe-vertical-tile__category {
  font-family: Nunito Sans,Helvetica,sans-serif;
  font-weight: 900;
  color: #90a4ae;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 17px;
  text-transform: uppercase;
}
.mfe-vertical-tile * {
  box-sizing: border-box;
  text-decoration: none;
}

.tile-grid .mfe-vertical-tile__title {
  font-size: 24px;
  line-height: 32px;
  margin: 4px 0 0;
}
.mfe-vertical-tile__title {
  font-family: Barlow Semi Condensed,Helvetica,sans-serif;
  font-weight: 500;
  color: #333;
  font-size: 28px;
  line-height: 38px;
  margin: 20px 0 0;
}

.tile-grid .mfe-vertical-tile__footer {
  max-height: 65px;
}
.mfe-vertical-tile__footer {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-top: none;
  padding: 24px 32px;
  height: 86px;
  align-items: center;
}
.mfe-vertical-tile * {
  box-sizing: border-box;
  text-decoration: none;
}

.tile-grid .mfe-vertical-tile__footer-link {
  margin-bottom: 10px;
  display: block;
  text-align: left;
}
.mfe-vertical-tile__footer-link {
  display: flex;
  align-items: center;
  width: 100%;
}


.tile-grid .mfe-vertical-tile__footer-img {
  height: auto;
  width: 55px;
}
.mfe-vertical-tile__footer-img--rounded {
  border-radius: 50%;
  height: 38px;
  width: 38px;
  min-width: 38px;
}
.mfe-vertical-tile__footer-img {
  margin-right: 8px;
  height: 32px;
  width: 32px;
  min-width: 32px;
}

.tile-grid .mfe-vertical-tile__footer-text {
  font-size: 15px;
  line-height: 20px;
  display: inline-block;
  padding-right: 0;
  max-width: calc(100% - 63px);
  vertical-align: middle;
  max-height: 60px;
  overflow: hidden;
}
.mfe-vertical-tile__footer-text--muse-blue {
  color: #53b6d0;
}
.mfe-vertical-tile__footer-text {
  font-family: Nunito Sans,Helvetica,sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 17px;
  text-decoration: underline;
  padding-right: 16px;
}
