.dashboard-wrapper {
  margin-top: 4rem;

  .dashboard-title {
    margin-left: 2rem;
    margin-top: 1rem;

    h1 {
      font-size: 1.5rem;
      text-transform: uppercase;
      margin-left: 1rem;
      font-family: "Nunito", sans-serif;
    }
  }

  .email-approved {
    margin-left: 20px;
  }

  .routed-content {
    margin-left: 1rem;
    margin-top: 1.5rem;
  }

  .job-notify {
    width: 17rem;
    height: 11rem;
    background: #fff;
    box-shadow: 0px 10px 1px #ddd, 0 10px 20px #ccc;
    margin: auto;
    border-radius: 4px;

    &:hover {
      background-color: #eeeeee;
    }
  }

  .job-posted-count-title.top-title {
    height: 3rem;
    background-color: #3EAD4D;
    padding: 0.3rem;
    color: #ffffff;
    padding-top: 0.6rem;

    span {
      font-size: 1.2rem;
      text-transform: capitalize;
      margin-left: 1rem;
      padding-top: 0.3rem;
      font-family: "Nunito", sans-serif;
    }

  }

  .posted-count-content {
    .icon {
      width: 30%;
      margin: 10px;
      float: left;

      img {
        display: block;
        margin: auto;
        margin-top: 1rem;
      }
    }

    .content {
      width: 57%;
      float: right;
      margin: 4px;

      span {
        display: block;
        margin: auto;
        text-align: center;
        font-size: 4rem;
        margin-top: 0.4rem;
        font-family: "Nunito", sans-serif;
      }
    }

  }


  .job-pending-count-title.top-title {
    height: 3rem;
    background-color: #3B7EDE;
    padding: 0.3rem;
    color: #ffffff;
    padding-top: 0.6rem;

    span {
      font-size: 1.2rem;
      text-transform: capitalize;
      margin-left: 1rem;
      padding-top: 0.3rem;
      font-family: "Nunito", sans-serif;
    }
  }

  .job-expired-count-title.top-title {
    height: 3rem;
    background-color: #6859F1;
    padding: 0.3rem;
    color: #ffffff;
    padding-top: 0.6rem;

    span {
      font-size: 1.2rem;
      text-transform: capitalize;
      margin-left: 1rem;
      padding-top: 0.3rem;
      font-family: "Nunito", sans-serif;
    }
  }

  .job-banned-count-title.top-title {
    height: 3rem;
    background-color: #E85D44;
    padding: 0.3rem;
    color: #ffffff;
    padding-top: 0.6rem;

    span {
      font-size: 1.2rem;
      text-transform: capitalize;
      margin-left: 1rem;
      padding-top: 0.3rem;
      font-family: "Nunito", sans-serif;
    }
  }

  /* Structure */
.example-container {
  position: relative;
  min-height: 200px;
}

.example-table-container {
  position: relative;
  max-height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}

.chart {
  margin-top: 5rem;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}

  .list-tbl {
    margin: 2rem;
    margin-top: 4rem;
  }

}

.current-job-title h1 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  font-family: "Nunito", sans-serif;
  text-transform: uppercase;
}

.pagination-wrapper.paginate {
  margin: auto;
  width: 43%;
  margin-top: 35px;
}

.job-list-individual {
  margin-bottom: 10px;

  .mfe-job-tile {
    position: relative;
    color: #333;
    background-color: white;
    text-decoration: none !important;
    box-sizing: border-box;
    border-bottom: 1px #ddd solid;
    max-width: 770px;
    width: 100%;
    height: 125px;
    padding: 20px 15px;
    margin: 0;
    cursor: pointer;
  }

  .mfe-job-tile__link-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .mfe-job-tile__row {
    display: flex;
    margin-right: 60px;
  }

  .mfe-job-tile__column--left {
    width: 70%;
  }

  .mfe-job-tile__column {
      min-width: 75px;
      padding: 0 15px 0 0;
      margin: 0;
  }

  .mfe-job-tile__title {
    font-family: "Nunito", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 14px;
    background-color: transparent;
    color: #999;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
  }

  .mfe-job-tile__header {
    font-family: "Nunito", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    background-color: transparent;
    color: #333;
    text-transform: none;
    margin: 0;
    padding: 0;
  }

  .locations {
    margin-right: 0.4rem;
    display: inline-block;
  }

  .mfe-job-tile__column--right {
    width: 30%;
  }
  .mfe-job-tile__column {
      min-width: 75px;
      padding: 0 15px 0 0;
      margin: 0;
  }

  .mfe-job-tile__row {
    display: flex;
    margin-right: 60px;
  }

  .mfe-job-tile__details {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 13px;
    background-color: transparent;
    color: #0ABA8A;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
  }

  .mfe-job-tile__details svg {
    margin-left: 5px;
  }

  svg:not(:root) {
      overflow: hidden;
  }

  .mfe-icon--green path {
    fill: #0ABA8A;
  }

  .mfe-tile-tag--smoke {
    background-color: #B7B7B7;
  }

  .mfe-tile-tag {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #FFF;
    background-color: #53B6D0;
    font-size: 14px;
    letter-spacing: 1px;
    position: absolute;
    top: 10px;
    right: -10px;
    padding: 6.5px 8px 5.5px 8px;
    line-height: 1em;
    box-shadow: -1px 1px 2px 0px rgba(51, 51, 51, 0.3);
  }

  [role=button] {
    cursor: pointer;
  }

  .listing-page__content .button-pagination {
    margin: 20px 0;
    max-width: 770px;
  }

  .button-pagination {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.badge-applied-number {
  margin-left: 7px;
  background-color: #52b7d0;
  padding: 3px;
  border-radius: 6px;
  color: #ffffff;
  font-weight: bold;
}

span.close-search {
  position: relative;
  top: 10px;
  left: -30px;
  color: #f44336;
  cursor: pointer;
  z-index: 10;
}

.job-menu {
  position: absolute;
  right: 1rem;
  top: 1.3rem;
}

.search-form {
  width: 48rem;
  margin-bottom: 1rem;
}

.no-search-info {
  width: 30rem;
  padding: 1rem;
  margin: auto;
  text-align: center;
}

