<div class="main-setting-wrapper">
  <div class="container">
    <form [formGroup]="settingForm">
    <div class="row logo-row">
      <div class="col-sm-12 col-lg-8">
        <div class="form-group">
          <label for="fileNameLogo">{{'site-setting.add-logo' | translate}} *</label>
          <div class="file-upload">
            <input type="file" accept="image/*" (change)="onFileSelected($event)" class="form-control-file" id="logo">
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-lg-4">
        <div class="logo-image">
          <img width="90" [src]="setLogo">
        </div>
      </div>
    </div>

    <div class="row top_space_2">
      <div class="col-sm-12 col-lg-8">
        <div class="form-group row">
          <label for="site-name">{{'site-setting.site-name' | translate}} *</label>
          <input type="text" formControlName="siteName" placeholder="{{'site-setting.site-placeholder' | translate}}"
          class="form-control form-control-sm" id="site-name">
        </div>
      </div>
    </div>

    <div class="row top_space_2">
      <div class="col-sm-12 col-lg-8">
        <div class="form-group row">
          <label for="site-slogan">{{'site-setting.site-slogan' | translate}}</label>
          <input type="text" formControlName="siteSlogan" placeholder="{{'site-setting.site-slogan-placeholder' | translate}}"
          class="form-control form-control-sm" id="site-slogan">
        </div>
      </div>
    </div>

    <div class="row top_space_2">
      <div class="col-sm-12 col-lg-8">
        <div class="form-group row">
          <label for="site-slogan">{{'site-setting.phone' | translate}}</label>
          <input type="text" formControlName="phone" placeholder="{{'site-setting.phone-placeholder' | translate}}"
          class="form-control form-control-sm" id="phone">
        </div>
      </div>
    </div>

    <div class="row top_space_2">
      <div class="col-sm-12 col-lg-8">
        <div class="form-group row">
          <label for="from-email">{{'site-setting.from-email-address' | translate}}</label>
          <input type="email" formControlName="fromEmail"
          placeholder="{{'site-setting.from-email-address-placeholder' | translate}}" class="form-control form-control-sm"
          id="from-email">
        </div>
      </div>
    </div>

    <div class="row top_space_2">
      <div class="col-sm-12 col-lg-8">
        <div class="form-group row">
          <label for="from-email-name">{{'site-setting.from-email-name' | translate}}</label>
          <input type="text" formControlName="fromEmailName" placeholder="{{'site-setting.from-email-name-placeholder' | translate}}"
          class="form-control form-control-sm" id="from-email-name">
        </div>
      </div>
    </div>

    <div class="row top_space_2">
      <div class="col-sm-12 col-lg-8">
        <div class="form-group row">
          <label for="to-email">{{'site-setting.to-email-address' | translate}}</label>
          <input type="email" formControlName="toEmail" placeholder="{{'site-setting.to-email-address-placeholder' | translate}}"
          class="form-control form-control-sm" id="to-email">
        </div>
      </div>
    </div>

    <div class="row top_space_2">
      <div class="col-sm-12 col-lg-8">
        <div class="form-group row">
          <label for="email-name">{{'site-setting.to-email-name' | translate}}</label>
          <input type="text" formControlName="emailName" placeholder="{{'site-setting.to-email-name-placeholder' | translate}}"
          class="form-control form-control-sm" id="email-name">
        </div>
      </div>
    </div>

    <div class="row top_space_2">
      <div class="col-sm-12 col-lg-8">
        <div class="form-group row">
          <label for="default-country">{{'site-setting.default-country' | translate}}</label>
          <select (change)="getSelectedCountryId($event)" id="default-country" formControlName="defaultCountry"
          class="form-control form-control-sm" name="default-country">
            <option value="">{{'site-setting.default-country-default-value' | translate}}</option>
            <option *ngFor="let country of countries" value="{{ country.id}}">{{ country.name }}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="row top_space_2">
      <div class="col-sm-12 col-lg-8">
        <div class="form-group row">
          <label for="default-country-currency">{{'site-setting.default-state' | translate}}</label>
          <select id="states" formControlName="defaultState" class="form-control form-control-sm" name="states" required>
            <option value="">{{'manage-city.form-state' | translate}}</option>
            <option *ngFor="let state of states" value="{{ state.id}}">{{ state.name }}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="row top_space_2">
      <div class="col-sm-12 col-lg-8">
        <div class="form-group row">
          <p class="specific-checkbox" >
            <label for="default-country">{{'site-setting.specific-country' | translate}}</label>
          </p>
            <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="example-radio-group"
              formControlName="specificCountry">
              <mat-radio-button class="example-radio-button"  [value]="'yes'">
                {{'site-setting.specific-country-option-yes' | translate}}
              </mat-radio-button>
              <mat-radio-button class="example-radio-button"  [value]="'no'">
                {{'site-setting.specific-country-option-no' | translate}}
              </mat-radio-button>
            </mat-radio-group>
        </div>
      </div>
    </div>

    <div class="row top_space_2">
      <div class="col-sm-12 col-lg-8">
        <div class="form-group row">
          <label for="default-country-currency">{{'site-setting.default-currency-code' | translate}}</label>
          <select id="default-country-currency"
            formControlName="defaultCurrency" class="form-control form-control-sm" name="default-country-currency">
            <option value="">{{'manage-state.default-currency-option' | translate}}</option>
            <option *ngFor="let currencyCode of currencyCodes" value="{{ currencyCode.symbol}}">{{ currencyCode.code }}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="row top_space_2">
      <div class="col-sm-12 col-lg-8">
        <div class="form-group row">
          <label for="default-country-name">{{'site-setting.default-currency-name' | translate}}</label>
          <select id="default-country-name"
            formControlName="currencyCode" class="form-control form-control-sm" name="default-country-name">
            <option value="">{{'manage-state.default-currency-option' | translate}}</option>
            <option *ngFor="let currencyCode of currencyCodes" value="{{ currencyCode.code }}">{{ currencyCode.name }}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="row top_space_2">
      <div class="col-sm-12 col-lg-8">
        <div class="form-group row">
          <label for="address">{{'site-setting.address' | translate}}</label>
          <input type="text" formControlName="address" placeholder="{{'site-setting.address-placeholder' | translate}}"
          class="form-control form-control-sm" id="address">
        </div>
      </div>
    </div>

    <div class="row top_space_2">
      <div class="col-sm-12 col-lg-8">
        <div class="form-group row">
          <label for="domain">{{'site-setting.domain' | translate}}</label>
          <input type="text" formControlName="domain" placeholder="{{'site-setting.domain-placeholder' | translate}}"
          class="form-control form-control-sm" id="domain">
        </div>
      </div>
    </div>

    <div class="row top_space_2">
      <div class="col-sm-12 col-lg-8">
        <div class="form-group row">
          <label for="about-site">{{'site-setting.about-site' | translate}}</label>
          <textarea class="form-control form-control-sm" formControlName="aboutSite" id="about-site" rows="6"></textarea>
        </div>
      </div>
    </div>

    <div class="row top_space_2">
        <button (click)="onSubmit()" class="btn btn-primary" [disabled]="loading || settingForm.invalid">
          <span *ngIf="!loading">{{'email-template.form-submit-button' | translate}}</span>
          <span *ngIf="loading" class="spinner-icon"><mat-icon><mat-spinner color="warn" diameter="20"></mat-spinner></mat-icon></span>
         </button>
    </div>
  </form>
  </div>
</div>

