.center__div {
    margin: auto
}

.sign_up__div {
    width: 25rem;
    position: relative;
    top: 4.25rem;
    left: 0;
}

.sign_up__header {
    margin-bottom: 1.25rem;
    background-color: #ddd;
    padding: 0.625rem;
}

.showHidePassword {
  position: relative;
  bottom: 30px;
  left: 21rem;
  cursor: pointer;
}

.invalid-feedback.password-error {
  margin-top: -1rem;
}

.signUp__sec {
    background-image: url("/assets/imgs/signIn_bg.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    height: 100vh;
}

.signUp_logo__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.signUp_welcome__text {
    font-size: 2rem;
}

.signUp_welcome__logotext {
    font-size: 2rem;
    font-weight: 900;
}

.signUp_welcome__subtext {
    text-align: center;
    color: #999;
}

.signUp_logo__img {
    width: 4rem;
}

.user_icon {
    border: 1px solid #ddd;
    padding: 1.6rem;
    border-radius: 0.2rem;
    cursor: pointer;
}

.user_icon_clicked {
    border: 1px solid #ddd;
    padding: 1.6rem;
    border-radius: 0.2rem;
    background-color: #fff;
    border: 1px solid #52b7d0;
}
.signUp_lo__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.signUp_icon__img {
    border: 1px solid #ddd;
    padding: 1.6rem;
    border-radius: 0.2rem;
}

.company_icon {
    border: 1px solid #ddd;
    padding: 1.6rem;
    border-radius: 0.2rem;
    cursor: pointer;
}
.row.signUp_as__sec {
    padding: 1rem;
}

.signUp_logo__text {
    text-align: center;
    padding-top: .5rem;
    color: #999;
    font-size: 0.9rem;
}

.signIn__login_btn {
    float: right;
    margin: 2rem;
}

.signUp_logo {
  width: 15rem;
  margin: auto;
  margin-top: 5rem;
}


