
<div class="row no-gutters">
    <div class="col-12 col-sm-6 col-md-4 signUp__sec">
        <div class="signUp_logo">
          <img [src]="settingData.logo">
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-8">
            <div class="signIn__login_btn">
              <button [routerLink]="['/sign-in']" class="btn btn-primary">{{'sign-up.sign-in-button' | translate}}</button>
                <!-- <a class="stretched-link" [routerLink]="['/sign-in']">{{'sign-up.sign-in-button' | translate}}</a> -->
            </div>
                    <div class="center__div sign_up__div">
                        <div class="row signUp_as__sec">
                                <div class="col-6">
                                    <div [ngClass]="{user_icon_clicked: onselectUser, user_icon: !onselectUser}"
                                        (click)="onSelectUser()">
                                        <div>
                                            <img class="signUp_logo__img" src="assets/icons/user.svg">
                                            <p class="signUp_logo__text">{{'sign-up.candidate-tab' | translate}}</p>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-6">
                                    <div [ngClass]="{user_icon_clicked: onselectRecuiter, user_icon: !onselectRecuiter}"
                                         (click)="onSelectRecruiter()">
                                         <div>
                                            <img class="signUp_logo__img" src="assets/icons/company.svg">
                                            <p class="signUp_logo__text">{{'sign-up.recruiter-tab' | translate}}</p>
                                         </div>
                                    </div>
                                </div>
                              </div>
                              <div class="condidate" *ngIf="onselectUser">
                                <div class="fi_form space_around_1">
                                  <form class="space_around_1" *ngIf="step == 1" [formGroup]="userForm" (ngSubmit)="onSubmit()">
                                  <div class="form-group">
                                      <label for="fulllName">{{'sign-up.full-name-field' | translate}}</label>
                                      <input type="text" class="form-control" formControlName="fulllName"
                                      [ngClass]="{ 'is-invalid': submitted && u.fulllName.errors }" required  autofocus/>
                                      <div *ngIf="submitted && u.fulllName.errors" class="invalid-feedback">
                                        <div *ngIf="u.fulllName.errors.required">{{'sign-up.full-name-field-error' | translate}}</div>
                                      </div>
                                  </div>

                                  <div class="form-group">
                                      <label for="email">{{'sign-up.email-field' | translate}}</label>
                                      <input type="text" class="form-control" name="email" formControlName="email"
                                      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                                      [ngClass]="{ 'is-invalid': submitted && u.email.invalid }" required email />
                                      <div class="invalid-feedback" *ngIf="(u.email.touched && u.email.dirty) && u.email.errors">
                                        <div *ngIf="u.email.errors.required">{{'sign-up.email-error' | translate}}</div>
                                        <div *ngIf="u.email.errors.email">{{'sign-up.email-invalid-error' | translate}}</div>
                                        <div *ngIf="(!u.email.errors.required && !u.email.errors.email) && u.email.errors">
                                          {{'sign-up.email-invalid-error' | translate}}
                                        </div>
                                    </div>
                                  </div>
                                  <div class="form-group">
                                      <label for="password">{{'sign-up.password-field' | translate}}</label>
                                      <input type="password" class="form-control" formControlName="password"
                                      [type]="isPasswordVisible ? 'text' : 'password'"
                                       [ngClass]="{ 'is-invalid': submitted && u.password.invalid }" />
                                       <span class="showHidePassword" (click)="isPasswordVisible = !isPasswordVisible">
                                         <span *ngIf="isPasswordVisible"><i class="fa fa-eye" aria-hidden="true"></i> </span>
                                         <span *ngIf="!isPasswordVisible"><i class="fa fa-eye-slash" aria-hidden="true"></i> </span>
                                       </span>
                                      <div *ngIf="submitted && u.password.errors" class="invalid-feedback password-error">
                                        <div *ngIf="u.password.errors.required">{{'sign-up.password-error' | translate}}</div>
                                        <div *ngIf="u.password.errors.minlength">{{'sign-up.password-invalid-error' | translate}}</div>
                                    </div>
                                  </div>
                                  <div class="form-group top_space_2">
                                    <button class="btn btn-primary btn-block" [disabled]="loading">
                                     <span *ngIf="!loading">{{'sign-up.submit-button' | translate}}</span>
                                     <span *ngIf="loading" class="spinner-icon"><mat-icon><mat-spinner color="warn" diameter="20"></mat-spinner></mat-icon></span>
                                    </button>
                                 </div>
                                </form>
                                </div>
                              </div>

                              <div class="recruter" *ngIf="onselectRecuiter">
                                <div class="fi_form space_around_1">
                                  <form class="space_around_1" [formGroup]="userForm" (ngSubmit)="onSubmitCompany()">
                                  <div class="form-group">
                                      <label for="fulllName">{{'sign-up.company-name' | translate}}</label>
                                      <input type="text" class="form-control" formControlName="fulllName"
                                      [ngClass]="{ 'is-invalid': submitted && u.fulllName.errors }" required  autofocus/>
                                      <div *ngIf="submitted && u.fulllName.errors" class="invalid-feedback">
                                        <div *ngIf="u.fulllName.errors.required">{{'sign-up.company-name-error' | translate}}</div>
                                      </div>
                                  </div>

                                  <div class="form-group">
                                      <label for="email">{{'sign-up.company-email' | translate}}</label>
                                      <input type="text" class="form-control" name="email" formControlName="email"
                                      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                                      [ngClass]="{ 'is-invalid': submitted && u.email.invalid }" required email />
                                      <div class="invalid-feedback" *ngIf="(u.email.touched && u.email.dirty) && u.email.errors">
                                        <div *ngIf="u.email.errors.required">{{'sign-up.email-error' | translate}}</div>
                                        <div *ngIf="u.email.errors.email">{{'sign-up.email-invalid-error' | translate}}</div>
                                        <div *ngIf="(!u.email.errors.required && !u.email.errors.email) && u.email.errors">
                                          {{'sign-up.email-invalid-error' | translate}}
                                        </div>
                                    </div>
                                  </div>
                                  <div class="form-group">
                                      <label for="password">{{'sign-up.password-field' | translate}}</label>
                                      <input type="password" class="form-control" formControlName="password"
                                      [type]="isPasswordVisible ? 'text' : 'password'"
                                       [ngClass]="{ 'is-invalid': submitted && u.password.invalid }" />
                                       <span class="showHidePassword" (click)="isPasswordVisible = !isPasswordVisible">
                                         <span *ngIf="isPasswordVisible"><i class="fa fa-eye" aria-hidden="true"></i> </span>
                                         <span *ngIf="!isPasswordVisible"><i class="fa fa-eye-slash" aria-hidden="true"></i> </span>
                                       </span>
                                      <div *ngIf="submitted && u.password.errors" class="invalid-feedback password-error">
                                        <div *ngIf="u.password.errors.required">{{'sign-up.password-error' | translate}}</div>
                                        <div *ngIf="u.password.errors.minlength">{{'sign-up.password-invalid-error' | translate}}</div>
                                    </div>
                                  </div>

                                  <div class="form-group top_space_2">
                                    <button class="btn btn-primary btn-block" [disabled]="loading">
                                     <span *ngIf="!loading">{{'sign-up.submit-button' | translate}}</span>
                                     <span *ngIf="loading" class="spinner-icon"><mat-icon><mat-spinner color="warn" diameter="20"></mat-spinner></mat-icon></span>
                                    </button>
                                 </div>
                                </form>
                                </div>
                              </div>


                    </div>
    </div>
</div>



