.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box div {
  width: 100px;
  height: 100px;
}

.title {
  h1 {
    font-size: 1.6rem;
    text-transform: uppercase;
  }
}

.circle-color {
  color: #52b7d0;
}

.sumit-button {
  margin-top: 1rem;
}

.add-plan-wrapper {
  background-color: #ffffff;
  padding: 1rem;
  margin-top: 5rem;
  box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 16px 16px rgba(0,0,0,0.12);
}

.form-group {
  margin-bottom: 0.9rem;
}

.highlight-job {
  border: 2px solid #b53e3e;
}

.main-content {
  margin-bottom: 2rem;
}

div#richtexteditor_1924200398_0_rte-edit-view {
  margin-top: 0rem;
}
