<div class="admin-wrapper">
  <div class="row no-gutters">
    <div class="col-sm-6 col-md-2">
      <app-admin-menu></app-admin-menu>
    </div>
    <div class="col-12 col-md-10 col-xs-12">
      <div class="content-body">
        <div class="main-content">
          <div class="container">
            <div class="row">
              <div class="col-6 col-md-2"></div>
              <div class="col-6 col-md-6">
                <div class="add-plan-wrapper">
                  <div class="title">
                    <h1 class="title-heading">
                      <i class="fa fa-plus-circle circle-color" aria-hidden="true"></i> {{'add-plan.add-pan-title' | translate}}</h1>
                  </div>
                  <div class="faq-form-wrapper">
                    <form [formGroup]="addPlanForm">
                      <div class="form-group">
                        <label for="plan_name">{{'add-plan.add-pan-title' | translate}} *</label>
                        <input name="plan_name" placeholder="{{'add-plan.form-plan-name-placeholder' | translate}}" formControlName="plan_name" required type="text" class="form-control form-control-sm" id="plan_name">
                        <div *ngIf="f.plan_name.errors" class="invalid-feedback">
                          <div *ngIf="f.plan_name.errors.required">{{'add-plan.form-plan-name-error' | translate}}</div>
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="plan_expired">{{'add-plan.form-plan-expired' | translate}} *</label>
                        <select formControlName="plan_expired" class="form-control form-control-sm">
                          <option value="">{{'add-plan.form-plan-default' | translate}}</option>
                          <option value="2-days">{{'add-plan.form-plan-in-two-days' | translate}}</option>
                          <option value="7-days">{{'add-plan.form-plan-in-7-days' | translate}}</option>
                          <option value="14-days">{{'add-plan.form-plan-in-14-days' | translate}}</option>
                          <option value="1-month">{{'add-plan.form-plan-in-1-month' | translate}}</option>
                          <option value="2-month">{{'add-plan.form-plan-in-2-month' | translate}}</option>
                          <option value="3-month">{{'add-plan.form-plan-in-3-month' | translate}}</option>
                          <option value="4-month">{{'add-plan.form-plan-in-4-month' | translate}}</option>
                          <option value="5-month">{{'add-plan.form-plan-in-5-month' | translate}}</option>
                          <option value="6-month">{{'add-plan.form-plan-in-6-month' | translate}}</option>
                        </select>
                        <div *ngIf="f.plan_expired.errors" class="invalid-feedback">
                          <div *ngIf="f.plan_expired.errors.required">{{'add-plan.form-plan-expired-error' | translate}}</div>
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="plan_limit">{{'add-plan.form-post-limit' | translate}} *</label>
                        <input name="plan_limit" formControlName="plan_limit" required type="text" class="form-control form-control-sm" id="plan_limit">
                        <div *ngIf="f.plan_limit.errors" class="invalid-feedback">
                          <div *ngIf="f.plan_limit.errors.required">{{'add-plan.form-post-limit-error' | translate}}</div>
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="job_expired">{{'add-plan.form-plan-job-expired' | translate}} *</label>
                        <select formControlName="job_expired" class="form-control form-control-sm">
                          <option value="">{{'add-plan.form-plan-term-choose' | translate}}</option>
                          <option value="2-days">{{'add-plan.form-plan-job-in-two-days' | translate}}</option>
                          <option value="7-days">{{'add-plan.form-plan-job-in-7-days' | translate}}</option>
                          <option value="14-days">{{'add-plan.form-plan-job-in-14-days' | translate}}</option>
                          <option value="1-month">{{'add-plan.form-plan-job-in-1-month' | translate}}</option>
                          <option value="2-month">{{'add-plan.form-plan-job-in-2-month' | translate}}</option>
                          <option value="3-month">{{'add-plan.form-plan-job-in-3-month' | translate}}</option>
                          <option value="4-month">{{'add-plan.form-plan-job-in-4-month' | translate}}</option>
                          <option value="5-month">{{'add-plan.form-plan-job-in-5-month' | translate}}</option>
                          <option value="6-month">{{'add-plan.form-plan-job-in-6-month' | translate}}</option>
                        </select>
                        <div *ngIf="f.job_expired.errors" class="invalid-feedback">
                          <div *ngIf="f.job_expired.errors.required">{{'add-plan.form-plan-expired-error' | translate}}</div>
                        </div>
                      </div>


                      <div class="form-group">
                        <label for="featured">{{'add-plan.form-plan-is-featured' | translate}} *</label>
                        <select formControlName="featured" class="form-control form-control-sm">
                          <option value="">{{'add-plan.form-plan-is-featured-default' | translate}}</option>
                          <option value="true">{{'add-plan.form-plan-is-featured-yes' | translate}}</option>
                          <option value="false">{{'add-plan.form-plan-is-featured-no' | translate}}</option>
                        </select>
                        <div *ngIf="f.featured.errors" class="invalid-feedback">
                          <div *ngIf="f.featured.errors.required">{{'add-plan.form-plan-is-featured-error' | translate}}</div>
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="urgent">{{'add-plan.form-plan-is-urgent' | translate}} *</label>
                        <select formControlName="urgent" class="form-control form-control-sm">
                          <option value="">{{'add-plan.form-plan-is-urgent-default' | translate}}</option>
                          <option value="true">{{'add-plan.form-plan-is-urgent-yes' | translate}}</option>
                          <option value="false">{{'add-plan.form-plan-is-urgent-no' | translate}}</option>
                        </select>
                        <div *ngIf="f.urgent.errors" class="invalid-feedback">
                          <div *ngIf="f.urgent.errors.required">{{'add-plan.form-plan-is-urgent-error' | translate}}</div>
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="highlight">{{'add-plan.form-plan-highlight' | translate}} *</label>
                        <select formControlName="highlight" class="form-control form-control-sm">
                          <option value="">{{'add-plan.form-plan-is-highlight-default' | translate}}</option>
                          <option value="true">{{'add-plan.form-plan-is-highlight-yes' | translate}}</option>
                          <option value="false">{{'add-plan.form-plan-is-highlight-no' | translate}}</option>
                        </select>
                        <div *ngIf="f.highlight.errors" class="invalid-feedback">
                          <div *ngIf="f.highlight.errors.required">{{'add-plan.form-plan-is-highlight-default' | translate}}</div>
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="on_top_of_search">{{'add-plan.form-plan-top-on-search-category' | translate}} *</label>
                        <select formControlName="on_top_of_search" class="form-control form-control-sm">
                          <option value="">{{'add-plan.form-plan-is-search-category-default' | translate}}</option>
                          <option value="true">{{'add-plan.form-plan-is-search-yes' | translate}}</option>
                          <option value="false">{{'add-plan.form-plan-is-search-no' | translate}}</option>
                        </select>
                        <div *ngIf="f.highlight.errors" class="invalid-feedback">
                          <div *ngIf="f.highlight.errors.required">{{'add-plan.form-plan-is-search-error' | translate}}</div>
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="on_home_page">{{'add-plan.form-plan-home-page' | translate}} *</label>
                        <select formControlName="on_home_page" class="form-control form-control-sm">
                          <option value="">{{'add-plan.form-plan-is-home-page-default' | translate}}</option>
                          <option value="true">{{'add-plan.form-plan-is-home-page-yes' | translate}}</option>
                          <option value="false">{{'add-plan.form-plan-is-home-page-no' | translate}}</option>
                        </select>
                        <div *ngIf="f.on_home_page.errors" class="invalid-feedback">
                          <div *ngIf="f.on_home_page.errors.required">{{'add-plan.form-plan-home-page-error' | translate}}</div>
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="amount">{{'add-plan.form-amount' | translate}}</label>
                        <div class="input-group mb-2">
                          <input type="text" id="amount" formControlName="amount" class="form-control form-control-sm"
                           placeholder="{{this.currencySign}} 200"
                           (blur)="transformAmountMin()">
                        </div>
                        <div *ngIf="f.amount.errors" class="invalid-feedback">
                          <div *ngIf="f.amount.errors.required">{{'add-plan.form-amount-placeholder' | translate}}</div>
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="activate">{{'add-plan.form-activate' | translate}} *</label>
                        <select formControlName="activate" class="form-control form-control-sm">
                          <option value="">{{'add-plan.form-activate-choose' | translate}}</option>
                          <option value="true">{{'add-plan.form-activate-yes' | translate}}</option>
                          <option value="false">{{'add-plan.form-activate-no' | translate}}</option>
                        </select>
                        <div *ngIf="f.activate.errors" class="invalid-feedback">
                          <div *ngIf="f.activate.errors.required">{{'add-plan.form-activate-placeholder' | translate}}</div>
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="activate">{{'add-plan.form-free' | translate}} *</label>
                        <select formControlName="isfree" class="form-control form-control-sm">
                          <option value="">{{'add-plan.form-free-choose' | translate}}</option>
                          <option value="true">{{'add-plan.form-free-yes' | translate}}</option>
                          <option value="false">{{'add-plan.form-free-no' | translate}}</option>
                        </select>
                        <div *ngIf="f.activate.errors" class="invalid-feedback">
                          <div *ngIf="f.activate.errors.required">{{'add-plan.form-activate-placeholder' | translate}}</div>
                        </div>
                      </div>

                      <div class="form-group">
                        <section class="example-section">
                          <mat-checkbox formControlName="recommended">{{'add-plan.form-activate-recommended' | translate}}</mat-checkbox>
                        </section>
                      </div>


                      <div class="sumit-button">
                        <button (click)="addPlans()" class="btn btn-primary" [disabled]="loading || addPlanForm.invalid">
                          <span *ngIf="!loading">{{'add-plan.form-submit-button' | translate}}</span>
                          <span *ngIf="loading" class="spinner-icon"><mat-icon><mat-spinner color="warn" diameter="20">
                          </mat-spinner></mat-icon></span>
                         </button>
                      </div>


                    </form>
                  </div>
                </div>
              </div>
              <div class="col-6 col-md-2"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
