.add-job-wrapper {
  margin-top: 5rem;
  margin-bottom: 3rem;

  .title h1 {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: "Nunito", sans-serif;
  }

  .has-error {
      border-color: rgb(216, 12, 12);
      color: rgb(230, 14, 14);
  }

  .editor-discription {
    margin-bottom: 2rem;
  }

  form.login-container {
    margin-top: 2rem;
  }

  body ul li {
    padding: 0;
    margin: 0;
  }

  .form-check.mb-2 {
    margin-top: 2.2rem;
    margin-left: 1rem;
  }

  .submit-btn {
    margin-top: 2rem;
  }

  .subscription-section {
    margin-top: 2rem;
  }

  #mat-radio-2 {
    margin-right: 1rem;
  }

  .ads-banner {
    background-color: #ffffff;
    height: 100%;
    border: 1px solid #dddddd;
  }

  span.tags-input {
    text-transform: capitalize;
  }

 .title {
    background: #fff;
    padding: 2rem;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 16px 16px rgba(0, 0, 0, 0.12);
  }

  .form-check-cv-upload.mb-2 {
    margin-left: -1rem;
  }

}

.e-richtexteditor .e-rte-content .e-content, .e-richtexteditor .e-source-content .e-content {
  padding: 10px;
  margin-top: 0rem;
}
