<div class="signIn__page">
  <div class="signIn_img">
    <img width="150" [src]="settingData?.logo">
  </div>
    <div class="signIn_form_wrapper">
        <div class="row no-gutters">
            <div class="signIn_form_sec">
                <div class="socialLogin_sec">

                  <div class="google-btn" (click)="signInWithGoogle()">
                    <div class="google-icon-wrapper">
                      <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
                    </div>
                    <p class="btn-text"><b>{{'login-page.login-google' | translate}}</b></p>
                  </div>
                </div>
                <p class="fancy"><span>{{'login-page.form-external' | translate}}</span></p>
                <form class="space_around_1" name="form" (ngSubmit)="signIn.form.valid && onSubmit()"
                #signIn="ngForm" >
               <div class="form-group">
                   <label for="email">{{'login-page.form-field-email' | translate}}</label>
                   <input type="text" class="form-control" name="email" [(ngModel)]="model.email"
                   #email="ngModel" [ngClass]="{ 'is-invalid': signIn.submitted && email.invalid }" required email />
                   <div *ngIf="signIn.submitted && email.invalid" class="invalid-feedback">
                       <div *ngIf="email.errors.required">{{'login-page.email-error-required' | translate}}</div>
                       <div *ngIf="email.errors.email">{{'login-page.email-error' | translate}}</div>
                   </div>
               </div>
               <div class="form-group">
                   <label for="password">{{'login-page.form-field-password' | translate}}</label>
                   <input type="password" class="form-control" name="password" [(ngModel)]="model.password"
                   #password="ngModel" [ngClass]="{ 'is-invalid': signIn.submitted && password.invalid }" required minlength="6" />
                   <div *ngIf="signIn.submitted && password.invalid" class="invalid-feedback">
                       <div *ngIf="password.errors.required">{{'login-page.password-error-required' | translate}}</div>
                       <div *ngIf="password.errors.minlength">{{'login-page.password-error' | translate}}</div>
                   </div>
               </div>
               <div class="form-group top_space_2">
                  <button class="btn btn-primary btn-block" [disabled]="loading">
                   <span *ngIf="!loading">{{'login-page.login-button' | translate}}</span>
                   <span *ngIf="loading" class="spinner-icon"><mat-icon><mat-spinner color="warn" diameter="20"></mat-spinner></mat-icon></span>
                  </button>
               </div>
               </form>

               <div class="signIn__link">
                 <span class="forget__password">{{'login-page.dont-have-account' | translate}}
                   <a [routerLink]="['/sign-up']"> {{'login-page.sign-up-link' | translate}} </a>
                  </span>
                 <span class="signUp__link">
                    <a [routerLink]="['/forgot-password']">{{'login-page.forgot-password' | translate}}</a>
                 </span>
               </div>
            </div>
        </div>
    </div>
</div>


