.signIn__page {
    background-image: url("/assets/imgs/signIn_bg.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    height: 100vh;
}

.center__div {
    margin: auto
}

.sign_up__div {
    width: 25rem;
    position: relative;
    top: 4.25rem;
    left: 0;
    background-color: #fff;
}

.sign_up__header {
    margin-bottom: 1.25rem;
    background-color: #ddd;
    padding: 0.625rem;
}

.signIn_form_wrapper {
    width: 80%;
    position: relative;
    margin: 0 auto;
    top: 6rem;
    height: auto;
}

.signIn_img_sec {
    background: rgba(230, 228, 229, 0.9);
    padding: 1.5rem;
}

.signIn_form_sec {
    background: rgba(255, 255, 255, 0.9);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 7rem;
  }

.signIn_form_sec {
  padding: 2.5rem 2rem;
  margin: auto;
  width: 500px;
}

.welcome__text {
    font-size: 0.8rem;
    padding-left: 1rem;
    color: #999;
    margin-top: -1.3rem;
    font-weight: 600;
    text-align: center;
    font-family: "Nunito", sans-serif;
}

.socialLogin_sec {
    padding: .6rem;
}

.fancy {
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    padding: 1rem;
    color: #C6514D;
    font-size: 0.7rem;
    font-weight: 600;
  }
.fancy:before, .fancy:after{
    content: "";
    flex: 1 1;
    border-bottom: 1px solid #c6514d;
    margin: auto;
    margin-left: 1rem;
    margin-right: 1rem;
  }

.intro__text {
    font-size: 1.2rem;
    margin-top: 5rem;
    margin-bottom: 1rem;
    line-height: 1.6rem;
    color: #2E2537;
    font-weight: bolder;
    font-family: "Nunito", sans-serif;
}

.intro_text_para {
    font-size: 0.9rem;
    color: #AFA8B0;
}

.forget__password {
    font-size: 0.8rem;
}

.signUp__link {
    font-size: 0.8rem;
    float: right;
}

.signIn__link {
    padding: 0rem 0.8rem;
}

.signUp__link {
    font-size: 0.8rem;
    float: right;
    margin-top: 0.2rem;
}

.col-12.col-sm-12.col-md-6.signIn_form_sec {
  margin: auto;
}

$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669F2;

.google-btn {
  width: 100%;
  height: 42px;
  background-color: #4285f4;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  margin: auto;
  cursor: pointer;

  .google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: $white;
  }
  .google-icon {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
  }
  .btn-text {
    float: right;
    margin: 11px 11px 0 0;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.2px;
    width: 100%;
    text-align: center;
  }
  &:hover {
    box-shadow: 0 0 6px $google-blue;
  }
  &:active {
    background: $button-active-blue;
  }
}

.signIn_img {
  margin: auto;
  width: 10rem;
  padding-top: 7rem;
}


