.update-profile-wrapper {
  width: 50rem;
  margin: auto;
  top: 4rem;
  background-color: #ffffff;
  padding: 2rem;
  padding-top: 4rem;

  .logo-wrapper {
    margin-top: 1rem;
  }

  .company-discription-wrapper {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .update-profile-title {
    text-transform: uppercase;
    margin-bottom: 1rem;
  }

  .form-wrapper {
    margin-bottom: 3rem;
  }

  .logo-image {
    width: 15rem;
    margin-left: 4rem;
    height: 5rem;
    float: right;

    img {
      width: 8rem;
      padding: 2px;
    }
  }

  .profile-image {
    width: 15rem;
    margin-left: 4rem;
    height: 5rem;
    float: right;

    img {
      width: 5rem;
      border: 1px solid #ddd;
      padding: 2px;
    }
  }

  .profile-size-note {
    float: left;
  }

  .social-link {
    margin-top: 3rem;
  }
}

.e-richtexteditor .e-rte-content .e-content, .e-richtexteditor .e-source-content .e-content {
  padding: 10px;
  margin-top: 0rem;
}
