<app-header></app-header>
<mat-progress-bar color="primary" class="progress-bar green-progress" mode="indeterminate" *ngIf="spinnerService.visibility | async"></mat-progress-bar>
  <router-outlet></router-outlet>
<app-footer></app-footer>
