<h1 mat-dialog-title>{{data.title}}</h1>

<div mat-dialog-content>
  {{data.message}}
</div>


<div class="action-button">
  <button class="btn btn-danger" [mat-dialog-close]="true" color="primary">
    Okays!
  </button>
  <button class="btn btn-primary cancel-btn" [mat-dialog-close]="false">
    Cancel
  </button>
</div>
