.job-list-wrapper {
  margin-top: 4rem;

  .job-list-title h1 {
    font-size: 1.5rem;
    text-transform: uppercase;
  }

  .search-results-container {
    margin-left: 2rem;
  }

  .job-list-title {
    margin-left: 2rem;
    margin-bottom: 1rem;
  }

  .job-menu {
    position: absolute;
    right: 1rem;
    top: 1.3rem;
  }

  .dashboard-wrapper {
    margin-top: 4rem;

    .dashboard-title {
      margin-left: 2rem;
      margin-top: 1rem;

      h1 {
        font-size: 1.5rem;
        text-transform: uppercase;
        margin-left: 1rem;
        font-family: "Nunito", sans-serif;
      }

    }

    .routed-content {
      margin-left: 1rem;
      margin-top: 1.5rem;
    }

    .search-results-container {
      margin-left: 2rem;
    }


  .mat-column-created {
    max-width: 124px;
  }

    .list-tbl {
      margin: 2rem;
      margin-top: 4rem;
    }

  }

  .current-job-title h1 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    font-family: "Nunito", sans-serif;
    text-transform: uppercase;
  }

  .pagination-wrapper.paginate {
    margin: auto;
    width: 43%;
    margin-top: 35px;
    margin-bottom: 3rem;
  }

  .job-list-individual {
    margin-bottom: 10px;

    .mfe-job-tile {
      position: relative;
      color: #333;
      background-color: white;
      text-decoration: none !important;
      box-sizing: border-box;
      border-bottom: 1px #ddd solid;
      max-width: 770px;
      width: 100%;
      height: 125px;
      padding: 20px 15px;
      margin: 0;
      cursor: pointer;
    }

    .mfe-job-tile__link-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }

    .mfe-job-tile__row {
      display: flex;
      margin-right: 60px;
    }

    .mfe-job-tile__column--left {
      width: 70%;
    }

    .mfe-job-tile__column {
        min-width: 75px;
        padding: 0 15px 0 0;
        margin: 0;
    }

    .mfe-job-tile__title {
      font-family: "Nunito", sans-serif;
      font-weight: 900;
      font-style: normal;
      font-size: 14px;
      background-color: transparent;
      color: #999;
      text-transform: uppercase;
      margin: 0;
      padding: 0;
    }

    .mfe-job-tile__header {
      font-family: "Nunito", sans-serif;
      font-weight: 500;
      font-style: normal;
      font-size: 18px;
      background-color: transparent;
      color: #333;
      text-transform: none;
      margin: 0;
      padding: 0;
    }

    .locations {
      margin-right: 0.4rem;
      display: inline-block;
    }

    .mfe-job-tile__column--right {
      width: 30%;
    }
    .mfe-job-tile__column {
        min-width: 75px;
        padding: 0 15px 0 0;
        margin: 0;
    }

    .mfe-job-tile__row {
      display: flex;
      margin-right: 60px;
    }

    .mfe-job-tile__details {
      font-family: "Nunito", sans-serif;
      font-weight: 700;
      font-style: normal;
      font-size: 13px;
      background-color: transparent;
      color: #0ABA8A;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin: 0;
      padding: 0;
    }

    .mfe-job-tile__details svg {
      margin-left: 5px;
    }

    svg:not(:root) {
        overflow: hidden;
    }

    .mfe-icon--green path {
      fill: #0ABA8A;
    }

    .mfe-tile-tag--smoke {
      background-color: #B7B7B7;
    }

    .mfe-tile-tag {
      font-family: "Nunito", sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
      color: #FFF;
      background-color: #53B6D0;
      font-size: 14px;
      letter-spacing: 1px;
      position: absolute;
      top: 10px;
      right: -10px;
      padding: 6.5px 8px 5.5px 8px;
      line-height: 1em;
      box-shadow: -1px 1px 2px 0px rgba(51, 51, 51, 0.3);
    }

    [role=button] {
      cursor: pointer;
    }

    .listing-page__content .button-pagination {
      margin: 20px 0;
      max-width: 770px;
    }

    .button-pagination {
      display: flex;
      justify-content: space-between;
      margin: 20px auto;
    }
  }

  ul {
    margin: 0;
    padding: 0;
  }

  .job-list-title {
    margin-left: 2rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }

  .search-form {
    width: 48rem;
    margin-bottom: 1rem;
  }

}

.badge-applied-number {
  margin-left: 7px;
  background-color: #52b7d0;
  padding: 3px;
  border-radius: 6px;
  color: #ffffff;
  font-weight: bold;
}

span.close-search {
  position: relative;
  top: 10px;
  left: -30px;
  color: #f44336;
  cursor: pointer;
  z-index: 10;
}


.no-search-info {
  width: 30rem;
  padding: 1rem;
  margin: auto;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
