<div class="job-list-wrapper">
  <div class="job-list container-fluid">
    <div class="manage">
      <div class="row no-gutters">
        <div class="col-6 col-md-2">
          <app-menu></app-menu>
        </div>
        <div class="col-sm-6 col-md-10">
          <div class="job-list-content-wrapper">
            <div class="routed-content">
              <div class="list-tbl">
                <div class="job-list-title">
                  <h1>{{'search-component.my-jobs' | translate}}</h1>
                </div>
                <div class="row no-gutters">
                  <div class="col-sm-6 col-md-9">
                    <div class="job-list">
                      <div class="search-results-container">
                        <div class="search-form">
                          <label class="sr-only" for="searchJob">{{'search-component.search' | translate}}</label>
                          <div class="input-group mb-2 mr-sm-2">
                            <div class="input-group-prepend">
                              <div class="input-group-text">
                                <span class="material-icons">search</span>
                              </div>
                            </div>
                            <input type="text" class="form-control" id="searchJob" [(ngModel)]="clearValue"
                            placeholder="{{'search-component.search' | translate}}" (keyup)="onKey($event)">
                            <span *ngIf="clear" (click)="clearSearch()" class="close-search"><p>
                              <i class="fa fa-times" aria-hidden="true"></i>
                            </p></span>
                          </div>
                        </div>
                        <div>
                          <div *ngIf="resultsLength == 0" class="no-search-wrapper">
                            <div class="no-search-info">
                              <h2><img width="40" src="/assets/imgs/box.svg">
                                {{'manage-city.no-record-found' | translate}}</h2></div>
                          </div>

                          <div *ngIf="isLoadingResults">
                            <div class="linear-background">
                              <div class="inter-draw"></div>
                              <div class="inter-crop"></div>
                              <div class="inter-right--top"></div>
                              <div class="inter-right--bottom"></div>
                            </div>
                            <div class="linear-background">
                              <div class="inter-draw"></div>
                              <div class="inter-crop"></div>
                              <div class="inter-right--top"></div>
                              <div class="inter-right--bottom"></div>
                            </div>
                            <div class="linear-background">
                              <div class="inter-draw"></div>
                              <div class="inter-crop"></div>
                              <div class="inter-right--top"></div>
                              <div class="inter-right--bottom"></div>
                            </div>
                          </div>
                        </div>
                        <ul [hidden]="isLoadingResults || resultsLength == 0">
                          <li class="job-list-individual" *ngFor="let job of jobLists">
                            <div>
                              <div class="mfe-job-tile">
                                <div class="mfe-job-tile__link-wrapper">
                                  <div class="mfe-job-tile__row">
                                    <div class="mfe-job-tile__column mfe-job-tile__column--left">
                                      <div class="mfe-job-tile__title">
                                        {{ job.company_name }}
                                      </div>
                                      <h2 class="mfe-job-tile__header">
                                        {{ job.title }}
                                      </h2>
                                    </div>
                                    <div class="mfe-job-tile__column mfe-job-tile__column--right">
                                      <div class="mfe-job-tile__title">
                                        {{'search-component.company-job-is-in' | translate}}
                                      </div>
                                      <h3 *ngIf="job.location"
                                      class="mfe-job-tile__header"><span class="locations">
                                        {{ job.location }}</span>
                                      </h3>
                                    </div>
                                  </div>
                                  <div class="mfe-job-tile__row">
                                    <span class="mfe-job-tile__details mfe-job-tile__details--details">
                                      {{'search-component.job-view-full-posting' | translate}}
                                      <svg data-name="Layer 1" viewBox="0 0 6.89 11.31" width="1em" height="1em"
                                      class="mfe-icon mfe-icon--IconArrowRightShape mfe-icon--green"
                                      style="height: 11px; width: 11px;">
                                      <path fill="#53b6d0" d="M1.24 11.31L0 10.07l4.42-4.42L0 1.24 1.24 0l5.65 5.65-5.65 5.66z"></path>
                                    </svg>
                                  </span>
                                </div>
                              </div>
                              <div>

                              </div>
                              <div>
                                <div class="job-menu">
                                    <mat-icon [matMenuTriggerFor]="menu">more_vert</mat-icon>
                                </div>

                                <mat-menu #menu="matMenu">
                                  <button [routerLink]="['/company/applied-users']" [queryParams]="{ a: job.job_id}" mat-menu-item>
                                    <mat-icon>people</mat-icon>
                                    <span>{{'search-component.applied-user' | translate}}</span>
                                    <span class="badge-applied-number">{{ job.applied_user}}</span>
                                  </button>
                                  <button mat-menu-item [routerLink]="['/job/detail']" [queryParams]="{ a: job.job_id}">
                                    <mat-icon>visibility</mat-icon>
                                    <span>View</span>
                                  </button>
                                  <button [routerLink]="['/company/edit-job']" [queryParams]="{ a: job.job_id}" mat-menu-item>
                                    <mat-icon>create</mat-icon>
                                    <span>Edit</span>
                                  </button>
                                  <button (click)="onConfirmDelete(job.job_id)" mat-menu-item>
                                    <mat-icon style="color: red;">delete</mat-icon>
                                    <span>Delete</span>
                                  </button>
                                </mat-menu>
                              </div>
                            </div>
                          </div>

                        </li>
                      </ul>
                      </div>
                    </div>
                    <div class="pagination-wrapper paginate" [hidden]="isLoadingResults || resultsLength == 0">
                      <pagination [totalItems]="resultsLength" [itemsPerPage]="10" (pageChanged)="pageChanged($event)"></pagination>
                    </div>
                  </div>
                  <div class="col-6 col-md-3">Ads</div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
