<div class="admin-wrapper">
  <div class="row no-gutters">
    <div class="col-sm-6 col-md-2">
      <app-admin-menu></app-admin-menu>
    </div>
    <div class="col-12 col-md-10 col-xs-12">
      <div class="content-body">
        <div class="main-content">
          <div class="add-state-wrapper">

            <form (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">
            <div class="add-state-form">
              <div class="container">
                <div class="title-wrapper">
                  <h1>{{'add-state.title' | translate}}</h1>
                </div>
                <div class="row">
                  <div class="col-6 col-md-6">
                    <div class="form-group">
                      <label for="country">{{'add-state.form-country-title' | translate}}</label>
                      <select id="country" class="form-control"  name="country" [(ngModel)]="stateModel.country"
                      #country="ngModel" [ngClass]="{ 'is-invalid': f.submitted && country.invalid }" required>
                        <option *ngFor="let country of countries" value="{{ country.id}}">{{ country.name }}</option>
                      </select>
                      <div *ngIf="f.submitted && country.invalid" class="invalid-feedback">
                          <div *ngIf="country.errors.required">{{'add-state.form-country-title-error-message' | translate}}</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-6 col-md-6">
                    <div class="form-group">
                      <label for="state">{{'add-state.form-add-state' | translate}}</label>
                      <input type="text" class="form-control" id="state"  placeholder="{{'add-state.form-add-state-placeholder' | translate}}"
                          name="state" [(ngModel)]="stateModel.state"
                          #state="ngModel" [ngClass]="{ 'is-invalid': f.submitted && state.invalid }" required>
                          <div *ngIf="f.submitted && state.invalid" class="invalid-feedback">
                            <div *ngIf="state.errors.required">{{'add-state.form-country-state-error-message' | translate}}</div>
                        </div>
                    </div>
                  </div>

                </div>
                <div class="button-wrapper">
                  <button class="btn btn-primary" [disabled]="loading || !f.form.valid">
                    <span *ngIf="!loading">{{'add-state.form-button' | translate}}</span>
                    <span *ngIf="loading" class="spinner-icon"><mat-icon><mat-spinner color="warn" diameter="20">
                    </mat-spinner></mat-icon></span>
                   </button>
                </div>
              </div>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
