.add-state-wrapper {
  margin-top: 5rem;

  .title-wrapper {
    margin-top: 1rem;

    h1 {
      font-size: 1.8rem;
    }

    .submit-button {
      margin-top: 1rem;
    }
  }

  .button-wrapper {
    margin-top: 0.5rem;
  }
}
