.content-body {
  margin-top: 5rem;
  margin-top: -2rem;

  .transaction-title h1 {
    font-size: 1.5rem;
    text-transform: uppercase;
  }

  table {
    width: 100%;
  }

  .transaction-route {
    margin-left: 2rem;
    margin-bottom: 2rem;
    margin-right: 1rem;
    min-height: 80vh;
  }

  .transaction-title {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .main-content {
    margin: 3rem;
    margin-top: 6rem;
  }

  .table-container {
    height: 600px;
    overflow: auto;
    background-color: #ffffff;
  }

  .mat-paginator-sticky {
    bottom: 0px;
    position: sticky;
    z-index: 10;
    background-color: #eee;
    padding-bottom: 5px;
  }

  .job-list-title {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
  }

  .list-job-filter {
    margin-bottom: 1rem;
    border: 1px solid #dddddd;
    padding: 10px;
    background-color: #ffffff;
    position: sticky;
    top: 3.2rem;
    z-index: 2000;
  }

  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  }


  .date-from {
    margin-right: 8px;
    position: relative;
    bottom: 6px;
    font-size: .8rem;
    color: var(--gray);
  }

  .search-with-date {
    margin-top: 1rem;
  }

  .filtered-button {
    margin-top: .4rem;
  }

  .action-menu {
    cursor: pointer;
    position: relative;
    top: 3px;
  }

  span.checked-btn {
    margin-left: 13px;
  }

}
