<section id="testim" class="testim">
              <div class="wrap">
                  <span id="right-arrow" class="arrow right fa fa-chevron-right"></span>
                  <span id="left-arrow" class="arrow left fa fa-chevron-left "></span>
                  <ul id="testim-dots" class="dots">
                      <li class="dot active"></li>
                      <li class="dot"></li>
                      <li class="dot"></li>
                      <li class="dot"></li>
                      <li class="dot"></li>

                      <!-- <li *ngFor="let item of testimonylist" [ngClass]="{'active': item.isDefault == 'true'}" class="dot"></li> -->

                  </ul>
                  {{ testimonylistFive }}
                  <div id="testim-content" class="cont">

                      <div class="active">
                          <h2>{{ testimonylistOne?.testimonialBy}}</h2>
                          <p><span [innerHTML]="testimonylistOne?.testimonial"></span></p>
                      </div>

                      <div>
                          <h2>{{ testimonylistTwo?.testimonialBy}}</h2>
                          <p><span [innerHTML]="testimonylistTwo?.testimonial"></span></p>
                      </div>

                      <div>
                          <h2>{{ testimonylistThree?.testimonialBy}}</h2>
                          <p><span [innerHTML]="testimonylistThree?.testimonial"></span></p>
                      </div>

                      <div>
                          <h2>{{ testimonylistFour?.testimonialBy}}</h2>
                          <p><span [innerHTML]="testimonylistFour?.testimonial"></span></p>
                      </div>

                      <div>
                          <h2>{{ testimonylistFive?.testimonialBy}}</h2>
                          <p><span [innerHTML]="testimonylistFive?.testimonial"></span></p>
                      </div>

                  </div>

              </div>
      </section>
