.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box div {
  width: 100px;
  height: 100px;
}

.title {
  margin-top: 5rem;

  h1 {
    font-size: 1.6rem;
    text-transform: uppercase;
  }
}

.sumit-button {
  margin-top: 1rem;
}

.main-content {
  margin-bottom: 2rem;
}

div#richtexteditor_1924200398_0_rte-edit-view {
  margin-top: 0rem;
}
