<div class="admin-wrapper">
  <div class="row no-gutters">
    <div class="col-sm-6 col-md-2">
      <app-admin-menu></app-admin-menu>
    </div>
    <div class="col-12 col-md-10 col-xs-12">
      <div class="content-body">
        <div class="main-content">
          <div class="container">
            <div class="row">
              <div class="col-6 col-md-2"></div>
              <div class="col-6 col-md-6">
                <div class="title">
                  <h1 class="title-heading">{{'add-faq.title' | translate}}</h1>
                </div>
                <div class="faq-form-wrapper">
                  <form [formGroup]="addFaqsForm">
                    <div class="form-group">
                      <label for="question">{{'add-faq.form-question' | translate}} *</label>
                      <input name="question" formControlName="question" required type="text" class="form-control" id="question"
                      [ngClass]="{ 'is-invalid': submitted && f.question.errors }">
                      <div *ngIf="submitted && f.question.errors" class="invalid-feedback">
                        <div *ngIf="f.question.errors.required">{{'add-faq.form-question-error-message' | translate}}</div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="answer">{{'add-faq.form-answer' | translate}} *</label>
                         <ejs-richtexteditor required name="answer"
                         [ngClass]="{ 'is-invalid': submitted && f.answer.errors }"
                         formControlName="answer" [toolbarSettings]='tools'></ejs-richtexteditor>
                      </div>

                      <div class="form-group">
                        <label for="answer">{{'add-faq.form-staus-label' | translate}} *</label>
                        <select formControlName="status" class="form-control form-control-sm">
                          <option value="">{{'add-faq.form-status' | translate}}</option>
                          <option value="published">{{'add-faq.form-status-published' | translate}}</option>
                          <option value="unpublished">{{'add-faq.form-status-unpublished' | translate}}</option>
                        </select>
                        <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
                          <div *ngIf="f.status.errors.required">{{'add-faq.form-status-error-message' | translate}}</div>
                        </div>
                      </div>
                    <div class="sumit-button">
                       <button class="btn btn-primary" (click)="addFaqs()" [disabled]="loading || !addFaqsForm.valid">
                        <span *ngIf="!loading">{{'add-faq.add-form-button' | translate}}</span>
                        <span *ngIf="loading" class="spinner-icon"><mat-icon><mat-spinner color="warn" diameter="20">
                        </mat-spinner></mat-icon></span>
                       </button>
                    </div>
                  </form>

                </div>

              </div>
              <div class="col-6 col-md-2"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
