<div class="message-wrapper">
  <div class="message container-fluid">
    <div class="message">
      <div class="row no-gutters">
        <div class="col-6 col-md-2">
          <app-menu></app-menu>
        </div>
        <div class="col-sm-6 col-md-10">
          <div class="message-route">
            <div class="message-title">
              <h1>Messagies</h1>
            </div>
            <div class="routed-content">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
