a{
  text-decoration: none;
  transition: all 0.6s ease;

  &:hover{
    transition: all 0.6s ease;
  }
}

// aside.sidebar {
//   margin-top: 2.9rem;
// }

.app{
  height: 100vh;
}
/* -------------
Sidebar
----------------*/
.sidebar {
  position: absolute;
  //width: 33.3333%;
  width: 17em;
  height: 100%;
  top: 0;
  overflow:hidden;
  background-color: #52b7d0;
  -webkit-transform: translateZ(0);
  visibility: visible;
  -webkit-backface-visibility: hidden;

  header{
    background-color: #09f;
    width: 100%;
    display:block;
    padding: 0.75em	1em;
  }
}

/* -------------
Sidebar Nav
----------------*/
.sidebar-nav {
  position: fixed;
  //width: 13em;
  background-color: #19222a;
  height: 100%;
  font-weight: 400;
  font-size: 1.2em;
  overflow: auto;
  padding-bottom: 6em;
  z-index: 9;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  padding-top: 0.5rem;
  margin-top: 3rem;

  ul{
    list-style:none;
    display: block;
    padding: 0;
    margin: 0;

    li{
      margin-left: 0;
      padding-left: 0;
      //min-width: 13em;
      display:inline-block;
      width: 100%;

      a{
        color: rgba(255,255,255,0.9);
        font-size: 0.8rem;
        padding: 1.05em	1em;
        position: relative;
        display:block;

        &:hover{
          background-color: rgba(0,0,0,0.9);
          // @include transition(all 0.6s ease);
        }
      }
/* -------------
Sidebar: icons
----------------*/
      i{
        font-size: 1.8em;
        padding-right: 0.5em;
        display: inline;
        vertical-align:middle;
      }
    }
  }

/* -------------
Nav-Flyout
----------------*/
  & .nav-flyout {
    position: absolute;
    background-color: #080D11;
    z-index: 9;
    left: 5.5em;
    top: 0;
    height: 100vh;
    transform: translateX(100%);
    transition: all 0.5s ease;
    padding-top: 0.5rem;

    a:hover{
      background-color: rgba(255,255,255, 0.05)
    }
  }

/* -------------
Hover
----------------*/
  & ul > li:hover{
      .nav-flyout{
        transform: translateX(0);
        transition: all 0.9s ease;
    }
  }
}
