<section class="app">
  <aside class="sidebar">
    <nav class="sidebar-nav">
      <ul>
        <li>
          <a [routerLink]="['/admin']"><i class="fa fa-clock-o icon-space" aria-hidden="true"></i> <span class="">Dashboard</span></a>
        </li>
        <li>
          <a><i class="fa fa-briefcase" aria-hidden="true"></i> <span>Jobs</span></a>
          <ul class="nav-flyout">
            <li>
              <a [routerLink]="['/admin/jobs-list']"><i class="fa fa-list-ul icon-space" aria-hidden="true"></i> Job Lists</a>
            </li>
            <li>
              <a [routerLink]="['/admin/add-job']"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add job</a>
            </li>
          </ul>
        </li>
        <li>
          <a [routerLink]="['/admin/companies-list']"><i class="fa fa-list-ul icon-space" aria-hidden="true"></i> Company Lists</a>
        </li>
        <li>
          <a><i class="fa fa-credit-card icon-space" aria-hidden="true"></i><span class="">Membership</span></a>
          <ul class="nav-flyout">
            <li>
              <a [routerLink]="['/admin/add-plan']"><i class="fa fa-plus-circle" aria-hidden="true"></i>Add Plan</a>
            </li>
            <li>
              <a [routerLink]="['/admin/plan-list']"><i class="fa fa-credit-card" aria-hidden="true"></i>Manage Plan</a>
            </li>
          </ul>
        </li>
        <li>
          <a [routerLink]="['/admin/unapproved-jobs']"><i class="fa fa-clock-o icon-space" aria-hidden="true"></i> <span class="">Unapproved Jobs</span></a>
        </li>
        <li>
          <a [routerLink]="['/admin/banned-jobs']"><i class="fa fa-ban icon-space" aria-hidden="true"></i> <span class="">Banned Jobs</span></a>
        </li>
        <li>
          <a [routerLink]="['/admin/expired-jobs']"><i class="fa fa-times-circle icon-space" aria-hidden="true"></i> <span class="">Expired Jobs</span></a>
        </li>
        <li>
          <a [routerLink]="['/admin/flaged-jobs']"><i class="fa fa-flag icon-space" aria-hidden="true"></i> <span class="">Flaged Jobs</span></a>
        </li>
        <li>
          <a><i class="fa fa-question-circle icon-space" aria-hidden="true"></i><span class=""> Faqs</span></a>
          <ul class="nav-flyout">
            <li>
              <a [routerLink]="['/admin/add-faq']"><i class="fa fa-plus icon-space" aria-hidden="true"></i> Add FAQs</a>
            </li>
            <li>
              <a [routerLink]="['/admin/faq-list']"><i class="fa fa-list-ul icon-space" aria-hidden="true"></i> Manage FAQs</a>
            </li>
          </ul>
        </li>
        <li>
          <a><i class="fa fa-smile-o icon-space" aria-hidden="true"></i><span class="">Testimonial</span></a>
          <ul class="nav-flyout">
            <li>
              <a [routerLink]="['/admin/add-testimonies']"><i class="fa fa-plus icon-space" aria-hidden="true"></i> Add Testimonial</a>
            </li>
            <li>
              <a [routerLink]="['/admin/list-testimonies']"><i class="fa fa-list-ul icon-space" aria-hidden="true"></i>List Testimonies</a>
            </li>
          </ul>
        </li>
        <li>
          <a><i class="fa fa-globe icon-space" aria-hidden="true"></i><span class="">Country</span></a>
          <ul class="nav-flyout">
            <li>
              <a [routerLink]="['/admin/add-countries']"><i class="fa fa-plus icon-space" aria-hidden="true"></i> Add Country</a>
            </li>
            <li>
              <a [routerLink]="['/admin/manage-country']"><i class="fa fa-list-ul icon-space" aria-hidden="true"></i>Manage Countries</a>
            </li>
          </ul>
        </li>
        <li>
          <a><i class="fa fa-globe icon-space" aria-hidden="true"></i><span class="">State</span></a>
          <ul class="nav-flyout">
            <li>
              <a [routerLink]="['/admin/add-states']"><i class="fa fa-plus icon-space" aria-hidden="true"></i> Add States</a>
            </li>
            <li>
              <a [routerLink]="['/admin/list-states']"><i class="fa fa-list-ul icon-space" aria-hidden="true"></i>List States</a>
            </li>
          </ul>
        </li>
        <li>
          <a><i class="fa fa-globe icon-space" aria-hidden="true"></i><span class="">City</span></a>
          <ul class="nav-flyout">
            <li>
              <a [routerLink]="['/admin/add-cities']"><i class="fa fa-plus icon-space" aria-hidden="true"></i> Add City</a>
            </li>
            <li>
              <a [routerLink]="['/admin/list-cities']"><i class="fa fa-list-ul icon-space" aria-hidden="true"></i>List Cities</a>
            </li>
          </ul>
        </li>
        <li>
          <a [routerLink]="['/admin/settings']"><i class="fa fa-cog icon-space" aria-hidden="true"></i> <span class="">Setting</span></a>
        </li>
      </ul>
    </nav>
  </aside>
</section>
