.job-details {
    margin-top: 3rem;

    .job-details__header {
      min-height: 19rem;
      background-color: #eee;
      padding-bottom: 2rem;
    }

    .job-title-wapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .job-title h1 {
        max-width: 800px;
        width: 100%;
        height: auto;
        margin: 0 auto;
        font-family: "Nunito", sans-serif;
        font-weight: 500;
        font-style: normal;
        text-rendering: optimizeLegibility;
        font-size: 50px;
        text-align: center;
        margin: 70px auto 60px;
        color: #333;
    }

    .top-block .ctas a {
        width: 250px!important;
        margin: 0 15px;
    }
    .top-block .ctas button, .top-block .ctas a, .top-block .ctas div {
        display: inline-block;
    }
    .tm-bright-blue-round-button:visited, .tm-bright-blue-round-button:focus {
        color: #fff;
    }
    .tm-bright-blue-round-button {
        -webkit-transition: background 200ms ease-out;
        -moz-transition: background 200ms ease-out;
        -ms-transition: background 200ms ease-out;
        -o-transition: background 200ms ease-out;
        transition: background 200ms ease-out;
        padding: .8rem 5rem;
        display: inline-block;
        background-color: #366ffb;
        line-height: 1.2em;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        font-family: "Nunito", sans-serif;
        font-weight: 700;
        font-style: normal;
        text-rendering: optimizeLegibility;
        font-size: 11px;
        border-radius: 25px;
        letter-spacing: 1px;
        cursor: pointer;
    }

    .top-block .ctas {
        padding: 0 0 70px;
    }
    .center {
        text-align: center;
    }

    .job-individual .job-side-section {
        float: left;
        width: 30%;
    }
    @media (min-width: 768px) {
        .sidebar-content:first-child {
            margin-top: 20px;
        }

        .save-for-later {
            text-align: left;
        }
    }

    .job-individual .job-post .job-post-description {
        font-family: georgia,Georgia,Serif;
        font-weight: 400;
        font-style: normal;
        text-rendering: optimizeLegibility;
        font-size: 17px;
        margin: 40px 0 0;
    }

    .sidebar-content {
        font-family: "Nunito", sans-serif;
        font-weight: 600;
        font-style: normal;
        text-rendering: optimizeLegibility;
        position: relative;
        padding: 0 20px;
        font-size: 14px;
        line-height: 20px;
        color: #666;
    }

    .sidebar-content .company-logo {
        width: 200px;
    }

    .sidebar-content p {
        margin: 15px 0 20px;
        font-family: Georgia;
    }


    @media (min-width: 991px){
        .sidebar-content .company-profile-preview-sidebar .company-profile-preview-sidebar-image img {
            margin-top: -50px;
        }
    }

    .sidebar-content .company-profile-preview-sidebar .company-profile-preview-sidebar-image img {
        width: 100%;
    }


    .sidebar-content .see-more-link {
        position: absolute;
        top: 15px;
        right: 10px;
        width: 60%;
        text-align: right;
    }
    .see-more-link {
        font-family: "Nunito", sans-serif;
        font-weight: 700;
        font-style: normal;
        text-rendering: optimizeLegibility;
        color: #3852d4;
        font-size: 12px;
        text-transform: uppercase;
        text-decoration: underline!important;
        display: inline-block;
    }
    .visible-xs {
        display: none!important;
    }

    .top-block .ctas {
        padding: 0 0 70px;
    }
    .center {
        text-align: center;
    }

    .top-block .ctas a {
        width: 250px!important;
        margin: 0 15px;
    }

    .sidebar-content .metadata-list {
        margin: 25px 0 20px;
    }
    .metadata-list {
        font-size: 12px;
    }


    .metadata-list .metadata-list_header {
        display: block;
    }
    .metadata-list .metadata-list_header {
        font-size: 12px;
        font-family: nunito sans,Helvetica,sans-serif;
        font-weight: 700;
        font-style: normal;
        text-rendering: optimizeLegibility;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #333;
        margin: 15px 0 0;
        padding: 0;
        margin-bottom: 0.6rem;
    }

    .metadata-list .metadata-list_items {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .job-individual .job-post .job-post-description {
        font-family: georgia,Georgia,Serif;
        font-weight: 400;
        font-style: normal;
        text-rendering: optimizeLegibility;
        font-size: 17px;
        margin: 40px 0 0;
    }

    .sidebar-content h3 {
        font-family: nunito sans,Helvetica,sans-serif;
        font-weight: 700;
        font-style: normal;
        text-rendering: optimizeLegibility;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #333;
    }
    .sidebar-content h3 {
        font-size: 16px;
        margin: 15px 0;
        border-bottom: 1px solid #ccc;
        padding-bottom: 15px;
    }

    .sidebar-content .company-profile-preview-sidebar .company-profile-preview-sidebar-image .tm-white-round-button {
        position: absolute;
        bottom: 10px;
        margin-left: 10px;
    }
    .tm-white-round-button {
        background-color: #fff;
        color: #333;
        padding: 7px 20px;
    }
    .tm-white-round-button {
        -webkit-transition: background 200ms ease-out;
        -moz-transition: background 200ms ease-out;
        -ms-transition: background 200ms ease-out;
        -o-transition: background 200ms ease-out;
        transition: background 200ms ease-out;
        padding: 10px 30px;
        border-style: solid;
        border-width: 2px;
        border-color: #fff;
        display: inline-block;
        background-color: transparent;
        line-height: 1.2em;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        font-family: nunito sans,Helvetica,sans-serif;
        font-weight: 700;
        font-style: normal;
        text-rendering: optimizeLegibility;
        font-size: 11px;
        border-radius: 25px;
        letter-spacing: 1px;
        cursor: pointer;
    }

    .job-body {
        padding: 2rem;
    }

    .company-profile-preview-sidebar {
        margin-top: 5rem;
    }

    .sidebar-content .mymyfavorite-box-container {
        margin-bottom: 10px;
    }
    .btn-block, .job-individual .job-post .myfavorite-box-container a, .job-individual .job-post .send-to-self button {
        width: 100%!important;
        display: block!important;
    }

    .sidebar-content .myfavorite-box-container .myfavorite, .sidebar-content .myfavorite-box-container .unmyfavorite, .fixed-apply-now .myfavorite-box-container .myfavorite, .fixed-apply-now .myfavorite-box-container .unmyfavorite {
        padding: 0;
    }
    .sidebar-content .myfavorite-box-container a, .fixed-apply-now .myfavorite-box-container a {
        color: #f87964;
        text-transform: uppercase;
        font-size: 13px;
        font-family: "Nunito", sans-serif;
        font-weight: 700;
        font-style: normal;
        text-rendering: optimizeLegibility;
        text-align: left;
    }
    .myfavorite-box-container .myfavorite, .myfavorite-box-container .unmyfavorite, .myfavorite-container .myfavorite, .myfavorite-container .unmyfavorite {
        display: inline-block;
        line-height: 1em;
        color: #fd745a;
        text-align: center;
        font-size: 18px;
        padding: 12px 11px 10px;
        border-radius: 36px;
        -webkit-transition: color 200ms ease-out;
        -moz-transition: color 200ms ease-out;
        -ms-transition: color 200ms ease-out;
        -o-transition: color 200ms ease-out;
        transition: color 200ms ease-out;
    }
}

.job-main-section {
    .job-individual .job-main-section {
        float: right;
        width: 70%;
        padding: 0 0 0 5px;
    }

    .job-individual .job-body {
        background-color: #fff;
        padding: 0 15px;
    }

    .job-individual .job-post .bottom-ctas {
        margin: 40px 0;
    }

    .job-individual .job-post .external-apply {
        margin: 0 0 20px;
    }
    .center {
        text-align: center;
    }

    .tm-bright-blue-round-button:visited, .tm-bright-blue-round-button:focus {
        color: #fff;
    }
    .tm-bright-blue-round-button {
        -webkit-transition: background 200ms ease-out;
        -moz-transition: background 200ms ease-out;
        -ms-transition: background 200ms ease-out;
        -o-transition: background 200ms ease-out;
        transition: background 200ms ease-out;
        padding: 12px 30px;
        display: inline-block;
        background-color: #366ffb;
        line-height: 1.2em;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        font-family: nunito sans,Helvetica,sans-serif;
        font-weight: 700;
        font-style: normal;
        text-rendering: optimizeLegibility;
        font-size: 11px;
        border-radius: 25px;
        letter-spacing: 1px;
        cursor: pointer;
    }
    .btn-block, .job-individual .job-post .myfavorite-box-container a, .job-individual .job-post .send-to-self button {
        width: 100%!important;
        display: block!important;
    }

    .apply-later .send-to-self {
        display: block;
    }


    .tm-input-grey-round-button:visited, .tm-input-grey-round-button:focus {
        color: #333;
    }
    .tm-input-grey-round-button {
        -webkit-transition: background 200ms ease-out;
        -moz-transition: background 200ms ease-out;
        -ms-transition: background 200ms ease-out;
        -o-transition: background 200ms ease-out;
        transition: background 200ms ease-out;
        padding: 12px 30px;
        display: inline-block;
        background-color: #ccc;
        line-height: 1.2em;
        text-align: center;
        text-transform: uppercase;
        color: #333;
        font-family: nunito sans,Helvetica,sans-serif;
        font-weight: 700;
        font-style: normal;
        text-rendering: optimizeLegibility;
        font-size: 11px;
        border-radius: 25px;
        letter-spacing: 1px;
        cursor: pointer;
    }
    .btn-block, .job-individual .job-post .myfavorite-box-container a, .job-individual .job-post .send-to-self button {
        width: 100%!important;
        display: block!important;
    }

    .btn-block, .job-individual .job-post .myfavorite-box-container a, .job-individual .job-post .send-to-self button {
        width: 100%!important;
        display: block!important;
    }


    .job-individual .job-post .job-flag-parent {
        font-family: "Nunito", sans-serif;
        font-weight: 700;
        font-style: normal;
        text-rendering: optimizeLegibility;
        text-transform: uppercase;
        font-size: 12px;
        margin: 20px auto;
    }
    .center {
        text-align: center;
    }

    .job-individual .job-post .external-apply {
        margin: 0 0 20px;
    }

    .send-to-friend {
        line-height: 1.2em;
        text-transform: uppercase;
        color: #000;
        font-weight: 700;
        font-style: normal;
        text-rendering: optimizeLegibility;
        font-size: 11px;
        border-radius: 25px;
        letter-spacing: 1px;
        margin-top: 1.5rem;
        background: #ddd;
        text-align: center;
        padding: 0.7rem;
        display: block;
    }

    .send-to-friend:hover {
        color: #fff;
        background-color: #999;
    }

    .save-for-later {
        line-height: 1.2em;
        text-transform: uppercase;
        color: #333;
        font-weight: 700;
        font-style: normal;
        text-rendering: optimizeLegibility;
        font-size: 11px;
        border-radius: 25px;
        letter-spacing: 1px;
        margin-top: 1.5rem;
        text-align: center;
        padding: 0.7rem;
        border: 1px solid #f87964;
        display: block;
    }

    .save-for-later:hover {
        color: #fff;
        background-color: #f87964;
    }

    #job-flag {
        color: #5e76bf;
        text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: 700;
    }

    #job-flag:hover {
        color: #f87964;
    }
}

.job-main-section {
    text-align: center;
    margin-top: 2rem;
}

.job-individual .job-post .external-apply {
    margin: 0 0 20px;
}

.job-flag-parent.center {
    margin-top: 2rem;
}

.job-details__apply {
    min-height: 15rem;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;

    .apply-form.container {
        padding-top: 2rem;
        padding-bottom: 4rem;
    }


    .button-wrapper {
        position: relative;
        width: 150px;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
      }

      .button-wrapper span.label {
        position: relative;
        z-index: 0;
        display: inline-block;
        width: 100%;
        background: #00bfff;
        cursor: pointer;
        color: #fff;
        padding: 10px 0;
        text-transform:uppercase;
        font-size:12px;
      }

      #upload {
          display: inline-block;
          position: absolute;
          z-index: 1;
          width: 100%;
          height: 50px;
          top: 0;
          left: 0;
          opacity: 0;
          cursor: pointer;
      }

      span.selected-file {
        text-transform: uppercase;
        font-size: .7rem;
        color: #53b6d0;
    }
}

.recormended_job {
    padding-bottom: 4rem;
    background-color: #f5f5f5;

    h1.recormended_job_header {
        text-align: center;
        margin-bottom: 1rem;
        font-size: 2rem;
    }

    h2 {
        font-size: 1.3rem;
        color: #53b6d0;
        text-transform: capitalize;
    }

    h5.card-title {
        font-size: 0.8rem;
        font-weight: bold;
        text-transform: uppercase;
        color: #999;
        margin-bottom: 2rem;
    }

    h4 {
        font-size: 1rem;
        margin-top: 2rem;
        text-transform: capitalize;
    }

    .mfe-vertical-tile__fav-icon {
        font-size: 22px;
    }

    .mfe-vertical-tile * {
        box-sizing: border-box;
        text-decoration: none;
    }

    .mfe-fav-btn {
        fill: #979797;
        fill-rule: evenodd;
        width: 24px;
        height: 24px;
        overflow: hidden;
    }

    .mfe-fav-btn:hover {
        fill: #E57373;
        cursor: pointer;
    }
}

.fixed-header-on {
    .docked-nav.job.open {
        top: 0;
    }
    .docked-nav.job {
        top: -200px;
    }
    .docked-nav.job {
        background-color: #f9f9f9;
        -moz-box-shadow: 0 10px 20px 0 #eee;
        -webkit-box-shadow: 0 10px 20px 0 #eee;
        box-shadow: 0 10px 20px 0 #eee;
        z-index: 1000;
        background-color: #fff;
        padding: 15px;
        top: -120px;
    }
    .docked-nav-base.open, .open.docked-sponsor, .open.docked-nav {
        top: 0;
    }
    .docked-nav {
        background-color: #333;
        z-index: 100;
        color: #fff;
        top: -57px;
    }
    .docked-nav-base, .docked-sponsor, .docked-nav {
        width: 100%;
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        position: fixed;
        -webkit-transition: top 200ms ease-in-out;
        -moz-transition: top 200ms ease-in-out;
        -ms-transition: top 200ms ease-in-out;
        -o-transition: top 200ms ease-in-out;
        transition: top 200ms ease-in-out;
        left: 0;
    }

    .docked-nav.job .docked-title {
        float: left;
        width: 70%;
    }

    .docked-nav.job .docked-ctas {
        float: left;
        width: 30%;
        margin-top: 20px;
        text-align: right;
    }

    .docked-nav.job .docked-ctas .myfavorite-container {
        display: inline-block;
    }

    .tm-bright-blue-round-button:visited, .tm-bright-blue-round-button:focus {
        color: #fff;
    }
    .tm-bright-blue-round-button {
        -webkit-transition: background 200ms ease-out;
        -moz-transition: background 200ms ease-out;
        -ms-transition: background 200ms ease-out;
        -o-transition: background 200ms ease-out;
        transition: background 200ms ease-out;
        padding: 12px 30px;
        display: inline-block;
        background-color: #366ffb;
        line-height: 1.2em;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        font-weight: 700;
        font-style: normal;
        text-rendering: optimizeLegibility;
        font-size: 11px;
        border-radius: 25px;
        letter-spacing: 1px;
        cursor: pointer;
    }

    .container:after {
        clear: both;
    }
    .container:before, .container:after {
        content: " ";
        display: table;
    }

    .docked-nav.job h4 {
        font-weight: 700;
        font-style: normal;
        text-rendering: optimizeLegibility;
        color: #999;
        text-transform: uppercase;
        font-size: 13px;
        margin: 10px 0 5px;
    }

    .docked-nav.job h3 {
        font-weight: 500;
        font-style: normal;
        text-rendering: optimizeLegibility;
        font-size: 28px;
        color: #333;
        margin: 0 0 10px;
    }

    .sticky {
        position: fixed;
    }


}

.pageNotFound {
  margin-top: 20%;
  text-align: center;
  height: 30vh;
}

.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.text-muted {
  color: #6c757d!important;
  text-transform: uppercase;
}
.to-apply .linkToJob {
  cursor: pointer;
}

.linkToJob {
  cursor: pointer;
}

.card-body:focus {
  outline: 0px !important;
}

.hide-header {
    display: none;
}

