<section class="fixed-header-on" (scroll)="onWindowScroll($event)" id="hideHeader" [hidden]="this.pageNotFound">
  <div id="job-nav" class="docked-nav job hidden-xs open">
      <div class="container">
        <div class="docked-title">
          <h4>{{ singleJob?.company_name }}</h4>
          <h3>{{ singleJob?.title }}</h3>
        </div>
        <div class="docked-ctas">
        <div class="myfavorite-container">
        </div>
          <span class="tm-bright-blue-round-button native to-apply hidden-xs" [ngx-scroll-to]="'#apply-inline-form'" href="#apply-inline-form">{{'job-detail.apply-now' | translate}}</span>
        </div>
      </div>
    </div>
</section>

<section class="job-details" [hidden]="this.pageNotFound">
  <div class="job-details__header">
  <div class="job-title-wapper">
    <div class="job-title">
      <h1>{{ singleJob?.title }}</h1>
      <div class="ctas center">
        <span class="tm-bright-blue-round-button to-apply native hidden-xs"
        [ngx-scroll-to]="'#apply-inline-form'"
         href="#apply-inline-form"
         alt="Project Manager, Professional Services - Apply Now">{{'job-detail.apply-now' | translate}}</span>
        </div>
    </div>
    <div class="job-created-details">
    </div>
  </div>
  </div>
  <div class="job-details__content" *ngIf="!isLoadingResults" [hidden]="this.pageNotFound">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-12 col-sm-6 col-md-4">
                <section class="job-side-section sidebar-content">
                    <a id="company-logo-link" [routerLink]="['/company/detail']"
                    [queryParams]="{ link: singleJob?.company_id}"><img class="company-logo"
                      [src]="singleJob?.logo" alt="Project Manager, Professional Services"></a>
                    <a id="company-name-link" class="company-link visible-xs see-more-link"
                    [routerLink]="['/company/detail']" [queryParams]="{ link: singleJob?.company_id}">
                      {{ singleJob?.company_name}}
                    <span aria-hidden="true" class="no-wrap-space">
                      <i aria-hidden="true" class="fa fa-long-arrow-right"></i></span>
                    </a>
                    <p class="hidden-xs"><span
                       [innerHTML]="(singleJob?.about.length > 800)? (singleJob?.about | slice: 0:800)+'...':(singleJob?.about)"></span><p>

                    <div class="metadata metadata-list">
                    <div class="metadata-list_section metadata-list_section--blue">
                    <h4 class="metadata-list_header">{{'job-detail.location' | translate}}</h4>
                    <ul class="metadata-list_items">
                      <li>
                        <span>{{ singleJob?.location }}</span>
                      </li>
                    </ul>
                    </div>
                    </div>
                    </section>
            </div>
            <div class="col-12 col-sm-6 col-md-8">
                <div class="job-body">
                    <div class="job-post">
                      <div class="job-post-description">
                        <span [innerHTML]="singleJob?.description"></span>
                        <span class="posted-date">Date posted: <b>{{ singleJob?.job_created | date }}</b></span>
                      </div>
                    </div>
                  </div>

                    <section class="job-main-section">
                      <div class="job-body">
                        <div class="job-post">

                          <div class="bottom-ctas">

                            <div class="shidden-xs">
                              <div class="external-apply center">
                                <span [ngx-scroll-to]="'#apply-inline-form'" class="tm-bright-blue-round-button to-apply btn-block apply-external"
                                  > {{'job-detail.apply-now' | translate}}
                                </span>
                              </div>
                            </div>

                            <div class="row">
                                <div class="col-12 col-md-6">
                                  <div>
                                      <a  class="send-to-friend" href="mailto:?Subject={{singleJob?.title}}&amp;{{'job-detail.email-job-info' | translate}}https://www.themuse.com/jobs/fetchrobotics/uxui-qa-engineer-a0e9f5?utm_source=job-individual"
                                      target="_blank">
                                       {{'job-detail.sent-to-friend' | translate}}</a>
                                  </div>
                                </div>
                                <div class="col-12 col-md-6">
                                  <div>
                                    <a class="save-for-later" href="#" data-original-title="" title="">
                                    <i class="fa fa-heart-o"></i> {{'job-detail.save-for-later' | translate}}</a>
                                  </div>
                                </div>
                              </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <div class="job-flag-parent center">
                                <div>
                                  <a id="job-flag" href="#"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{'job-detail.flag-job' | translate}}</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>

            </div>
        </div>
    </div>
  </div>
  <div class="job-details__apply" id="apply-inline-form" *ngIf="!isLoadingResults" [hidden]="this.pageNotFound">
    <div class="apply-form container">
      <form [formGroup]="applyForm" (ngSubmit)="onSubmit()">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="fullname">{{'job-detail.apply-form-full-name' | translate}}</label>
            <input type="text" class="form-control" id="fullname" formControlName="fullname"
            [ngClass]="{ 'is-invalid': submitted && f.fullname.errors }"
            placeholder="{{'job-detail.apply-form-full-name' | translate}}">
          </div>
          <div class="form-group col-md-6">
            <label for="location">{{'job-detail.apply-form-location' | translate}}</label>
            <input type="text" class="form-control" id="location" formControlName="location"
            [ngClass]="{ 'is-invalid': submitted && f.location.errors }"
            placeholder="{{'job-detail.apply-form-location' | translate}}">
          </div>
        </div>
        <div class="form-group">
          <label for="emailtype">{{'job-detail.apply-form-email' | translate}}</label>
          <input type="email" class="form-control" id="emailtype" formControlName="email"
          [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
          placeholder="{{'job-detail.apply-form-email-paceholder' | translate}}">
        </div>
        <div class="form-group">
          <label for="phonenumber">{{'job-detail.apply-form-phone-number' | translate}}</label>
          <input type="number" class="form-control" id="phonenumber" formControlName="phone"
          [ngClass]="{ 'is-invalid': submitted && f.phone.errors }"
          placeholder="{{'job-detail.apply-form-phone-number' | translate}}">
        </div>

        <div class="form-group" *ngIf="resumeExist">
          <mat-checkbox class="profilecv" (change)="profilecv($event)" formControlName="profilecv">{{'job-detail.profilecv' | translate}}</mat-checkbox>
        </div>

        <div class="button-wrapper" *ngIf="!appliedWithProfileCV">
            <span class="label">
             {{'job-detail.apply-form-upload' | translate}}
            </span>
              <input type="file" (input)="onChange($event); onUploadCV($event);"
              name="upload" id="upload" class="upload-box"
              placeholder="Upload File">
              <span class="selected-file"> {{ selectedResumeName }}</span>
        </div>

        <div class="form-group">
          <label for="introduce">{{'job-detail.apply-form-introduce' | translate}}</label>
          <textarea class="form-control" id="introduce" formControlName="aboutApplicant" rows="3"></textarea>
        </div>

        <button class="btn btn-primary" [disabled]="loading || applyForm.invalid">
          <span *ngIf="!loading">{{'job-detail.apply-form-submit' | translate}}</span>
          <span *ngIf="loading" class="spinner-icon"><mat-icon><mat-spinner color="warn" diameter="20"></mat-spinner></mat-icon></span>
         </button>
      </form>
    </div>
  </div>
</section>
<section class="recormended_job" *ngIf="!isLoadingResults" [hidden]="this.pageNotFound">
  <div class="recor_job_list container">
    <h1 class="recormended_job_header">{{'job-detail.apply-form-recommendation' | translate}}</h1>
    <div class="card-group">
      <div class="card linkToJob" *ngFor="let recommended of recommendedList">
        <div class="card-body" [routerLink]="['/job/detail']" [queryParams]="{ a: recommended.job_id}">
          <h5 class="card-title">{{ recommended.company_name}}</h5>
          <h2>{{ recommended.title }}</h2>
          <h4>{{ recommended.location }}</h4>
        </div>
        <div class="card-footer">
            <span class="pull-left"><small class="text-muted created-date">{{'job-detail.apply-posted' | translate}}
              {{ recommended.date_created | date }}</small></span>
          </div>
      </div>
  </div>
  </div>
</section>

<div *ngIf="isLoadingResults" [hidden]="this.pageNotFound">
  <div class="linear-background">
    <div class="inter-draw"></div>
    <div class="inter-crop"></div>
    <div class="inter-right--top"></div>
    <div class="inter-right--bottom"></div>
  </div>
  <div class="linear-background">
    <div class="inter-draw"></div>
    <div class="inter-crop"></div>
    <div class="inter-right--top"></div>
    <div class="inter-right--bottom"></div>
  </div>
  <div class="linear-background">
    <div class="inter-draw"></div>
    <div class="inter-crop"></div>
    <div class="inter-right--top"></div>
    <div class="inter-right--bottom"></div>
  </div>
</div>

<div *ngIf="this.pageNotFound">
  <h1 class="center-screen">
    <img width="30%" src="/assets/imgs/404-error.svg">
  </h1>
</div>


