<div class="main-social-wrapper">
  <div class="container">
    <form [formGroup]="socialSettingForm">

    <div class="row top_space_2">
      <div class="col-sm-12 col-lg-8">
        <div class="form-group row">
          <label for="facebook">{{'social.facebook' | translate}}</label>
          <input type="text" formControlName="facebook" class="form-control" id="facebook">
        </div>
      </div>
    </div>

    <div class="row top_space_2">
      <div class="col-sm-12 col-lg-8">
        <div class="form-group row">
          <label for="pinterest">{{'social.pinterest' | translate}}</label>
          <input type="text" formControlName="pinterest" class="form-control" id="pinterest">
        </div>
      </div>
    </div>

    <div class="row top_space_2">
      <div class="col-sm-12 col-lg-8">
        <div class="form-group row">
          <label for="twitter">{{'social.twitter' | translate}}</label>
          <input type="text" formControlName="twitter" class="form-control" id="twitter">
        </div>
      </div>
    </div>

    <div class="row top_space_2">
      <div class="col-sm-12 col-lg-8">
        <div class="form-group row">
          <label for="instagram">{{'social.instagram' | translate}}</label>
          <input type="email" formControlName="instagram" class="form-control" id="instagram">
        </div>
      </div>
    </div>

    <div class="row top_space_2">
      <div class="col-sm-12 col-lg-8">
        <div class="form-group row">
          <label for="linkdin">{{'social.linkdin' | translate}}</label>
          <input type="text" formControlName="linkdin" class="form-control" id="flinkdin">
        </div>
      </div>
    </div>

    <div class="row top_space_2">
      <div class="col-sm-12 col-lg-8">
        <div class="form-group row">
          <label for="tumblrl">{{'social.tumblrl' | translate}}</label>
          <input type="email" formControlName="tumblr" class="form-control" id="tumblr">
        </div>
      </div>
    </div>

    <div class="row top_space_2">
      <div class="col-sm-12 col-lg-8">
        <div class="form-group row">
          <label for="flickr">{{'social.flickr' | translate}}</label>
          <input type="text" formControlName="flickr" class="form-control" id="flickr">
        </div>
      </div>
    </div>

    <div class="row top_space_2">
        <button (click)="onSubmitSocial()" class="btn btn-primary" [disabled]="loading || socialSettingForm.invalid">
          <span *ngIf="!loading">{{'social.form-submit-button' | translate}}</span>
          <span *ngIf="loading" class="spinner-icon"><mat-icon><mat-spinner color="warn" diameter="20">
          </mat-spinner></mat-icon></span>
         </button>
    </div>
  </form>
  </div>
</div>

