.wrapper {
  ul {
    list-style-type: none;
  }

  .search_title {
    margin-left: 2rem;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
  }

  .pagination-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .search-section {
    background-color: #eeeeee;
    padding: 1rem;
  }

  .tab-button {
    box-shadow: 0 4px 2px -2px #ccc;
  }

  .tab-button-wrapper {
    margin-left: 2rem;
  }

  .active-button {
    border-bottom: 3px solid #52b7d0;
  }

  .activate-pointer {
    cursor: pointer;
  }

  .search-tabs__tab:hover {
    background-color: #dddddd;
    border-bottom: 3px solid #dddddd;
  }

  .job-tab-transform {
    background: transparent;
    text-transform: uppercase;
    font-size: 13px;
    padding-bottom: 0.7rem;
    padding-top: 1rem;
  }

  button.job-tab {
    width: 6rem;
  }

  button.company-tab {
    width: 8rem;
  }

}

.search-results-container {
  padding: 1.5rem;
}

.job-list-individual {
  margin-bottom: 10px;

  .mfe-job-tile {
    position: relative;
    color: #333;
    background-color: white;
    text-decoration: none !important;
    box-sizing: border-box;
    border-bottom: 1px #ddd solid;
    max-width: 770px;
    width: 100%;
    height: 125px;
    padding: 20px 15px;
    margin: 0;
    cursor: pointer;
  }

  .mfe-job-tile__link-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .mfe-job-tile__row {
    display: flex;
    margin-right: 60px;
  }

  .mfe-job-tile__column--left {
    width: 70%;
  }

  .mfe-job-tile__column {
      min-width: 75px;
      padding: 0 15px 0 0;
      margin: 0;
  }

  .mfe-job-tile__title {
    font-weight: 900;
    font-style: normal;
    font-size: 14px;
    background-color: transparent;
    color: #999;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
  }

  .mfe-job-tile__header {
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    background-color: transparent;
    color: #333;
    text-transform: none;
    margin: 0;
    padding: 0;
  }

  .locations {
    margin-right: 0.4rem;
    display: inline-block;
  }

  .mfe-job-tile__column--right {
    width: 30%;
  }
  .mfe-job-tile__column {
      min-width: 75px;
      padding: 0 15px 0 0;
      margin: 0;
  }

  .mfe-job-tile__row {
    display: flex;
    margin-right: 60px;
  }

  .mfe-job-tile__details {
    font-weight: 700;
    font-style: normal;
    font-size: 13px;
    background-color: transparent;
    color: #0ABA8A;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
  }

  .mfe-job-tile__details svg {
    margin-left: 5px;
  }

  svg:not(:root) {
      overflow: hidden;
  }

  .mfe-icon--green path {
    fill: #0ABA8A;
  }

  .mfe-tile-tag--smoke {
    background-color: #B7B7B7;
  }

  .mfe-tile-tag {
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #FFF;
    background-color: #53B6D0;
    font-size: 14px;
    letter-spacing: 1px;
    position: absolute;
    top: 10px;
    right: -10px;
    padding: 6.5px 8px 5.5px 8px;
    line-height: 1em;
    box-shadow: -1px 1px 2px 0px rgba(51, 51, 51, 0.3);
  }

  [role=button] {
    cursor: pointer;
  }

  .listing-page__content .button-pagination {
    margin: 20px 0;
    max-width: 770px;
  }

  .button-pagination {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
  }
}


.companies-results-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  max-width: 1100px;

  .company-tile-wrapper {
    width: 31%;
    margin-right: 2%;
    margin-bottom: 30px;
    overflow: hidden;
  }

  .company-tile {
    width: 100%;
    max-width: 340px;
    height: 340px;
    background-color: #fff;
    border-bottom: 3px solid #7de5ce;
    position: relative;
  }

  .company-tile__bg {
    width: 100%;
    position: relative;
    right: 0;
    left: 0;
    top: 0;
    z-index: 0;

    .company-tile__img {
      width: 100%;
    }
  }

  .company-tile__copy {
    padding-left: 15px;
    padding-bottom: 20px;
    padding-right: 13px;
    min-height: 120px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 20;
    color: rgba(0, 0, 0, 0.87);
  }

  .company-tile__copy h2 {
    font-weight: 500;
    font-size: 36px;
    line-height: 48px;
    font-size: 30px;
    margin-top: 10px;
    line-height: normal;
  }

  .company-tile__copy .metadata {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
  }

  .company-tile__copy .separating-slash {
    padding: 10px;
  }

  .field_company_type {
    text-transform: capitalize;
  }

  .search__title {
    font-weight: bold;
    text-transform: capitalize;
  }

  .search__job-level {
    .search__job-level--heading {
      margin-top: 1rem;
      color: #666;
    }
  }


}

.cancel-search {
  margin-left: 3.4rem;
}
