<div class="wrapper">
  <h1 class="h3_heading search_title">{{'search-page.search-title' | translate}}</h1>
  <div class="tabs-wrapper">
    <div class="tab-button">
      <div class="tab-button-wrapper">
        <button class="job-tab job-tab-transform" [ngClass]="{'active-button': isJob, 'activate-pointer search-tabs__tab': !isJob}"
         (click)="jobsTab()">{{'search-page.job-tab-title' | translate}}</button>
        <button class="company-tab job-tab-transform" [ngClass]="{'active-button': isCompany, 'activate-pointer search-tabs__tab': !isCompany}"
        (click)="companiesTab()">{{'search-page.company-tab-title' | translate}}</button>
      </div>
    </div>

    <div class="list__tab-wrapper">
      <div class="jobs-content" *ngIf="isJob">
        <div class="list__job-wrapper">
          <div class="row no-gutters">
            <div class="col-6 col-md-2 search-section">
              <!-- <app-search [checkTabsType]="checkTabsType" [title]="'All jobs'" (sendJobList)="getSearchedJobs($event)"></app-search> -->
              <p class="search__title">{{ title }}</p>
              <div class="search__form-job" *ngIf="checkTabsType === 'isJob'">
                <div class="search__form-field-job">
                  <form>
                    <div class="search__input">
                      <div class="form-group form-control__margin">
                        <input type="text" placeholder="{{'search-component.job-form-title-placeholder' | translate}}" name="job_title"
                        class="form-control form-control-sm" [(ngModel)]="searchFieldJobType.jobTitle">
                      </div>

                      <div class="form-group form-control__margin">
                        <input type="text" placeholder="{{'search-component.job-form-location-placeholder' | translate}}" name="location"
                        class="form-control form-control-sm" [(ngModel)]="searchFieldJobType.location">
                      </div>

                      <div class="form-group">
                        <label for="exampleFormControlSelect1">{{'add-job.form-category' | translate}} *</label>
                        <select class="custom-select form-control-sm"
                          name="category" [(ngModel)]="searchFieldJobType.category">
                          <option value="ads">{{'company-list.company-industry-ads' | translate}}</option>
                          <option value="architecture">{{'company-list.company-industry-architecture' | translate}}</option>
                          <option value="art">{{'company-list.company-industry-art' | translate}}</option>
                          <option value="biotechnology">{{'company-list.company-industry-biotechnology' | translate}}</option>
                          <option value="client">{{'company-list.company-industry-client' | translate}}</option>
                          <option value="consulting">{{'company-list.company-industry-consulting' | translate}}</option>
                          <option value="consumer">{{'company-list.company-industry-consumer' | translate}}</option>
                          <option value="education">{{'company-list.company-industry-education' | translate}}</option>
                          <option value="engineering">{{'company-list.company-industry-engineering' | translate}}</option>
                          <option value="entertainment">{{'company-list.company-industry-entertainment' | translate}}</option>
                          <option value="fashion">{{'company-list.company-industry-fashion' | translate}}</option>
                          <option value="finance">{{'company-list.company-industry-finance' | translate}}</option>
                          <option value="food">{{'company-list.company-industry-food' | translate}}</option>
                          <option value="government">{{'company-list.company-industry-government' | translate}}</option>
                          <option value="healthcare">{{'company-list.company-industry-healthcare' | translate}}</option>
                          <option value="insurance">{{'company-list.company-industry-insurance' | translate}}</option>
                          <option value="law">{{'company-list.company-industry-law' | translate}}</option>
                          <option value="manufacturing">{{'company-list.company-industry-manufacturing' | translate}}</option>
                          <option value="media">{{'company-list.company-industry-media' | translate}}</option>
                          <option value="estate">{{'company-list.company-industry-estate' | translate}}</option>
                          <option value="social">{{'company-list.company-industry-social' | translate}}</option>
                          <option value="social-media">{{'company-list.company-industry-social-media' | translate}}</option>
                          <option value="tech">{{'company-list.company-industry-tech' | translate}}</option>
                          <option value="telecom">{{'company-list.company-industry-telecom' | translate}}</option>
                          <option value="travel">{{'company-list.company-industry-travel' | translate}}</option>
                        </select>
                      </div>

                      <div class="form-group">
                        <label for="exampleFormControlSelect1">{{'search-component.job-form-level-title' | translate}}</label>
                        <select class="custom-select form-control-sm"
                          name="category" [(ngModel)]="searchFieldJobType.jobType">
                          <option value="full_time">{{'search-component.form-job-type-full-time' | translate}}</option>
                          <option value="part_time">{{'search-component.form-job-type-part-time' | translate}}</option>
                          <option value="freelance">{{'search-component.form-job-type-Freelance' | translate}} </option>
                          <option value="intenship">{{'search-component.form-job-type-intenship' | translate}} </option>
                          <option value="remote">{{'search-component.form-job-type-Remote' | translate}} </option>
                        </select>
                      </div>

                      <div class="form-group">
                        <label for="exampleFormControlSelect1">{{'search-component.job-form-company-size-title' | translate}}</label>
                        <select class="custom-select form-control-sm"
                          name="companysize" [(ngModel)]="searchFieldJobType.companysize">
                          <option value="small">{{'search-component.job-form-level-small' | translate}} </option>
                          <option value="medium">{{'search-component.job-form-level-medium' | translate}}</option>
                          <option value="large">{{'search-component.job-form-level-large' | translate}}</option>
                        </select>
                      </div>
                      <button class="btn btn-primary top_space_1" (click)="searchJobWithField()">Search</button>
                      <button class="btn btn-danger top_space_1 cancel-search" *ngIf="clearSearch" (click)="clearSearchJob()">X</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-10">
              <div class="search-results-container">

                <div *ngIf="resultsLength == 0" class="no-search-wrapper">
                  <div class="no-search-info"> <h2>
                    <img width="40" src="/assets/imgs/box.svg">
                    {{'manage-city.no-record-found' | translate}}</h2></div>
                </div>

                <div *ngIf="isLoadingResults">
                  <div class="linear-background">
                    <div class="inter-draw"></div>
                    <div class="inter-crop"></div>
                    <div class="inter-right--top"></div>
                    <div class="inter-right--bottom"></div>
                  </div>
                  <div class="linear-background">
                    <div class="inter-draw"></div>
                    <div class="inter-crop"></div>
                    <div class="inter-right--top"></div>
                    <div class="inter-right--bottom"></div>
                  </div>
                  <div class="linear-background">
                    <div class="inter-draw"></div>
                    <div class="inter-crop"></div>
                    <div class="inter-right--top"></div>
                    <div class="inter-right--bottom"></div>
                  </div>
                </div>
                <ul [hidden]="isLoadingResults || resultsLength == 0">
                  <li class="job-list-individual" *ngFor="let job of jobLists">
                    <div>
                      <div class="mfe-job-tile">
                        <a class="mfe-job-tile__link-wrapper" [routerLink]="['/job/detail']" [queryParams]="{ a: job.job_id}">
                          <div class="mfe-job-tile__row">
                            <div class="mfe-job-tile__column mfe-job-tile__column--left">
                              <div class="mfe-job-tile__title">
                                {{ job.company_name }}
                              </div>
                              <h2 class="mfe-job-tile__header">
                                {{ job.title }}
                              </h2>
                            </div>
                            <div class="mfe-job-tile__column mfe-job-tile__column--right">
                              <div class="mfe-job-tile__title">This job is in</div>
                              <h3 class="mfe-job-tile__header">
                                <span class="locations">{{ job.job_location }}</span>
                                </h3>
                            </div>
                          </div>
                          <div class="mfe-job-tile__row">
                            <span class="mfe-job-tile__details mfe-job-tile__details--details">
                              {{'search-component.job-view-full-posting' | translate}}
                              <svg data-name="Layer 1" viewBox="0 0 6.89 11.31" width="1em" height="1em"
                              class="mfe-icon mfe-icon--IconArrowRightShape mfe-icon--green"
                              style="height: 11px; width: 11px;">
                              <path fill="#53b6d0" d="M1.24 11.31L0 10.07l4.42-4.42L0 1.24 1.24 0l5.65 5.65-5.65 5.66z"></path>
                            </svg>
                          </span>
                        </div>
                      </a>
                    </div>
                  </div>

                </li>
              </ul>
              <div class="pagination-wrapper paginate">
                <pagination [totalItems]="resultsLength" [itemsPerPage]="10" (pageChanged)="pageChanged($event)"></pagination>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>

      <div class="companies-content" *ngIf="isCompany">
        <div class="list__job-company">
          <div class="row no-gutters">
            <div class="col-6 col-md-2 search-section">
              <form>
                <div class="form-group">
                  <label for="name"> {{'search-component.company-form-name' | translate}} </label>
                  <input type="text" name="companyName" [(ngModel)]="searchCompany.companyName"
                  placeholder="{{'search-component.company-form-name-placeholder' | translate}}" class="form-control">
                </div>

                <div class="form-group">
                  <label for="name"> {{'search-component.company-form-location' | translate}} </label>
                  <input type="text" name="companyLocation" [(ngModel)]="searchCompany.companyLocation"
                  placeholder="{{'search-component.company-form-location-placeholder' | translate}}" class="form-control">
                </div>
                <button (click)="searchCompanyField()" class="btn btn-primary top_space_2">Filtered</button>
                <button class="btn btn-danger top_space_1 cancel-search" *ngIf="clearCompanySearch" (click)="clearSearchCompanies()">X</button>

              </form>
            </div>
            <div class="col-sm-6 col-md-10">
              <div class="listing-page__content">
                <div class="search-results-container">
                  <div *ngIf="companyResultsLength == 0" class="no-search-wrapper">
                    <div class="no-search-info"> <h2>
                      <img width="40" src="/assets/imgs/box.svg">
                      {{'manage-city.no-record-found' | translate}}</h2></div>
                  </div>
                  <div *ngIf="isLoadingResults">
                    <div class="linear-background">
                      <div class="inter-draw"></div>
                      <div class="inter-crop"></div>
                      <div class="inter-right--top"></div>
                      <div class="inter-right--bottom"></div>
                    </div>
                    <div class="linear-background">
                      <div class="inter-draw"></div>
                      <div class="inter-crop"></div>
                      <div class="inter-right--top"></div>
                      <div class="inter-right--bottom"></div>
                    </div>
                    <div class="linear-background">
                      <div class="inter-draw"></div>
                      <div class="inter-crop"></div>
                      <div class="inter-right--top"></div>
                      <div class="inter-right--bottom"></div>
                    </div>
                  </div>
                  <div class="companies-results-wrapper" [hidden]="isLoadingCompanyResults || companyResultsLength == 0">
                    <div class="company-tile-wrapper" *ngFor="let company of getCompanies">
                      <div class="company-tile">
                        <a data-tile-link="true" [routerLink]="['/company/detail']" [queryParams]="{ link: company?.company_id}">
                          <div class="company-tile__bg">
                            <img class="company-tile__img"
                            [src]="company.profile_image" alt="Companies Now Hiring - MDA">
                          </div>
                          <div class="company-tile__copy">
                            <h2>{{company.company_name}}</h2>
                            <div class="metadata">
                              <span class="field_company_type">{{ company.category }}</span>
                              <span class="separating-slash"> / </span>
                              <span class="field_company_size"> {{ company.type }}</span>
                              <span class="separating-slash"> / </span>
                              <span class="field_company_location">{{ company.location }}</span>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="pagination-wrapper paginate">
                  <pagination [totalItems]="companyResultsLength" [itemsPerPage]="10" (pageChanged)="companyPageChanged($event)"></pagination>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>

