<div class="admin-wrapper">
  <div class="row no-gutters">
    <div class="col-sm-6 col-md-2">
      <app-admin-menu></app-admin-menu>
    </div>
    <div class="col-12 col-md-10 col-xs-12">
      <div class="content-body">
        <div class="main-content">
          <h1 class="job-list-title">{{'manage-jobs.title' | translate}} </h1>

          <div class="list-job-filter">
            <form [formGroup]="searchForm">
              <div class="row row-cols-4">
                <div class="col">
                  <input type="text" formControlName="name" required placeholder="{{'manage-jobs.form-name' | translate}}"
                  class="form-control form-control-sm" id="name">
                </div>
                <div class="col">
                  <input type="text" formControlName="location" required placeholder="{{'manage-jobs.form-location' | translate}} "
                  class="form-control form-control-sm" id="location">
                </div>
                <div class="col">
                  <select class="custom-select form-control-sm"
                  name="category" formControlName="category" id="validationTooltip04">
                  <option selected disabled value="">{{'manage-jobs.form-category' | translate}}</option>
                  <option value="company-industry-ads">{{'company-list.company-industry-ads' | translate}}</option>
                  <option value="architecture">{{'company-list.company-industry-architecture' | translate}}</option>
                  <option value="art">{{'company-list.company-industry-art' | translate}}</option>
                  <option value="biotechnology">{{'company-list.company-industry-biotechnology' | translate}}</option>
                  <option value="client">{{'company-list.company-industry-client' | translate}}</option>
                  <option value="consulting">{{'company-list.company-industry-consulting' | translate}}</option>
                  <option value="consumer">{{'company-list.company-industry-consumer' | translate}}</option>
                  <option value="education">{{'company-list.company-industry-education' | translate}}</option>
                  <option value="engineering">{{'company-list.company-industry-engineering' | translate}}</option>
                  <option value="entertainment">{{'company-list.company-industry-entertainment' | translate}}</option>
                  <option value="fashion">{{'company-list.company-industry-fashion' | translate}}</option>
                  <option value="finance">{{'company-list.company-industry-finance' | translate}}</option>
                  <option value="food">{{'company-list.company-industry-food' | translate}}</option>
                  <option value="government">{{'company-list.company-industry-government' | translate}}</option>
                  <option value="healthcare">{{'company-list.company-industry-healthcare' | translate}}</option>
                  <option value="insurance">{{'company-list.company-industry-insurance' | translate}}</option>
                  <option value="law">{{'company-list.company-industry-law' | translate}}</option>
                  <option value="manufacturing">{{'company-list.company-industry-manufacturing' | translate}}</option>
                  <option value="media">{{'company-list.company-industry-media' | translate}}</option>
                  <option value="estate">{{'company-list.company-industry-estate' | translate}}</option>
                  <option value="social">{{'company-list.company-industry-social' | translate}}</option>
                  <option value="social-media">{{'company-list.company-industry-social-media' | translate}}</option>
                  <option value="tech">{{'company-list.company-industry-tech' | translate}}</option>
                  <option value="telecom">{{'company-list.company-industry-telecom' | translate}}</option>
                  <option value="travel">{{'company-list.company-industry-travel' | translate}}</option>
                </select>
                </div>
                <div class="col">
                  <select class="custom-select form-control-sm"
                  name="status" formControlName="status">
                  <option selected disabled value="">{{'manage-jobs.form-status' | translate}}</option>
                  <option value="pending">{{'manage-jobs.status-pending' | translate}}</option>
                  <option value="approved">{{'manage-jobs.status-approved' | translate}}</option>
                  <option value="declined">{{'manage-jobs.status-declined' | translate}}</option>
                  <option value="review">{{'manage-jobs.status-under-review' | translate}}</option>
                </select>
                </div>
              </div>
              <div class="search-with-date">
                <div class="row row-cols-2">
                  <div class="col">
                    <div class="filtered-button">
                      <button *ngIf="isSearch" (click)="clearSearch()" class="btn btn-danger clear-search">
                        <span>{{'manage-country.clear-search' | translate}}</span>
                      </button>

                      <button (click)="onSearch()" class="btn btn-primary" [disabled]="searchLoading ">
                        <span *ngIf="!searchLoading">{{'manage-jobs.form-button' | translate}}</span>
                        <span *ngIf="searchLoading" class="spinner-icon"><mat-icon><mat-spinner color="warn" diameter="20">
                        </mat-spinner></mat-icon></span>
                      </button>
                    </div>
                  </div>
                  <div class="col">
                  </div>

                </div>
              </div>
          </form>
          </div>

          <div class="table-container mat-elevation-z8" [hidden]="isLoadingResults || resultsLength == 0">
            <table mat-table matSortActive="title" matSortDirection="asc" matSortDisableClear
             [dataSource]="dataSource" matSort>

              <!-- Checkbox Column -->
              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                  <mat-checkbox (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()"
                                [aria-label]="checkboxLabel()">
                  </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                  <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null"
                                [checked]="selection.isSelected(row)"
                                [aria-label]="checkboxLabel(row)">
                  </mat-checkbox>
                </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="company_name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'manage-jobs.table-header-company-name' | translate}}</th>
                <td mat-cell *matCellDef="let element"> {{element.company_name}} </td>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="location">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'manage-jobs.table-header-location' | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.location}} </td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'manage-jobs.table-header-category' | translate}} </th>
                <td mat-cell *matCellDef="let element">{{ element.category }} </td>
              </ng-container>

              <!-- Status Column -->
              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'manage-jobs.table-header-status' | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.status}} </td>
              </ng-container>


              <!-- Status Column -->
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
                <td mat-cell *matCellDef="let element">
                  <div class="action-menu">
                    <mat-icon [matMenuTriggerFor]="menu">more_vert</mat-icon>
                </div>

                <mat-menu #menu="matMenu">
                  <button (click)="navigateToCompany(element)" mat-menu-item>
                    <mat-icon>visibility</mat-icon>
                    <span>{{'manage-jobs.table-menu-view' | translate}}</span>
                  </button>
                  <!-- <button mat-menu-item>
                    <mat-icon>create</mat-icon>
                    <span>{{'manage-jobs.table-menu-edit' | translate}}</span>
                  </button> -->
                  <button (click)="deleteSingleCompany(element)" mat-menu-item>
                    <mat-icon style="color: red;">delete</mat-icon>
                    <span>{{'manage-jobs.table-menu-delete' | translate}}</span>
                  </button>
                </mat-menu>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator class="mat-paginator-sticky"
             #paginator
             [length] = "resultsLength"
             [pageSize] = "10"
             [pageSizeOptions] = "[5, 10, 25, 100]"
             (page)="getNext($event)">
            </mat-paginator>
          </div>

          <div *ngIf="isLoadingResults">
            <div class="linear-background">
              <div class="inter-draw"></div>
              <div class="inter-crop"></div>
              <div class="inter-right--top"></div>
              <div class="inter-right--bottom"></div>
            </div>
            <div class="linear-background">
              <div class="inter-draw"></div>
              <div class="inter-crop"></div>
              <div class="inter-right--top"></div>
              <div class="inter-right--bottom"></div>
            </div>
            <div class="linear-background">
              <div class="inter-draw"></div>
              <div class="inter-crop"></div>
              <div class="inter-right--top"></div>
              <div class="inter-right--bottom"></div>
            </div>
          </div>

          <div *ngIf="resultsLength == 0" class="no-search-wrapper">
            <div class="no-search-info"> <h2>{{'manage-city.no-record-found' | translate}}</h2></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
