<div class="admin-wrapper">
  <div class="row no-gutters">
    <div class="col-sm-6 col-md-2">
      <app-admin-menu></app-admin-menu>
    </div>
    <div class="col-12 col-md-10 col-xs-12">
      <div class="content-body">
        <div class="main-content">
          <h1 class="state-list-title">{{'manage-city.title' | translate}}</h1>

          <div class="list-state-filter">
            <form [formGroup]="searchForm">
              <div class="row row-cols-4">
                <div class="col">
                  <div class="form-group">
                    <select (change)="getSelectedCountryId($event)" id="country" class="form-control form-control-sm" name="country" required>
                      <option value="">{{'manage-city.form-country' | translate}}</option>
                      <option *ngFor="let country of countriesList" value="{{ country.id}}">{{ country.name }}</option>
                    </select>
                  </div>
                </div>
                <div class="col">
                  <select id="states" (change)="getSelectedstateId($event)" class="form-control form-control-sm" name="states" required>
                    <option value="">{{'manage-city.form-state' | translate}}</option>
                    <option *ngFor="let state of states" value="{{ state.id}}">{{ state.name }}</option>
                  </select>
                </div>

                <div class="col">
                  <div class="filtered-button">
                    <button class="btn btn-primary" (click)="onSearch()">{{'manage-city.form-button' | translate}}</button>
                    <span class="checked-btn">
                      <span class="checked-btn">
                        <button *ngIf="selection.hasValue()" (click)="onConfirmDeleteCity()" class="btn btn-danger" [disabled]="checkedDeleteLoader ">
                          <span *ngIf="!checkedDeleteLoader">{{'manage-city.checkbox-show-button' | translate}}</span>
                          <span *ngIf="checkedDeleteLoader" class="spinner-icon"><mat-icon><mat-spinner color="warn" diameter="20">
                          </mat-spinner></mat-icon></span>
                        </button>
                      </span>
                    </span>
                  </div>
                </div>
              </div>

          </form>
          </div>

          <div class="table-container mat-elevation-z8" [hidden]="noCityRecord || isLoadingResults">
            <table mat-table matSortActive="title" matSortDirection="asc" matSortDisableClear
             [dataSource]="dataSource" matSort>

              <!-- Checkbox Column -->
              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                  <mat-checkbox (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()"
                                [aria-label]="checkboxLabel()">
                  </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                  <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null"
                                [checked]="selection.isSelected(row)"
                                [aria-label]="checkboxLabel(row)">
                  </mat-checkbox>
                </td>
              </ng-container>

              <!-- Country Column -->
              <ng-container matColumnDef="country">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'manage-city.table-header-country' | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.countryName}} </td>
              </ng-container>

              <!-- State Column -->
              <ng-container matColumnDef="state">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'manage-city.table-header-state' | translate}}</th>
                <td mat-cell *matCellDef="let element"> {{element.stateName}} </td>
              </ng-container>

              <!-- City Column -->
              <ng-container matColumnDef="city">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'manage-city.table-header-city' | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.cityName}} </td>
              </ng-container>

              <!-- Status Column -->
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
                <td mat-cell *matCellDef="let element">
                  <div class="action-menu">
                    <mat-icon [matMenuTriggerFor]="menu">more_vert</mat-icon>
                </div>

                <mat-menu #menu="matMenu">
                  <button (click)="editCity(element)"mat-menu-item>
                    <mat-icon>create</mat-icon>
                    <span>{{'manage-city.table-menu-edit' | translate}}</span>
                  </button>
                  <button (click)="deleteSingleCity(element)" mat-menu-item>
                    <mat-icon style="color: red;">delete</mat-icon>
                    <span>{{'manage-city.table-menu-delete' | translate}}</span>
                  </button>
                </mat-menu>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator class="mat-paginator-sticky"
             #paginator
             [length] = "resultsLength"
             [pageSize] = "10"
             [pageSizeOptions] = "[5, 10, 25, 100]"
             [showFirstLastButtons]="true"
             (page)="getNext($event)">
            </mat-paginator>
          </div>

          <div *ngIf="isLoadingResults">
            <div class="linear-background">
              <div class="inter-draw"></div>
              <div class="inter-crop"></div>
              <div class="inter-right--top"></div>
              <div class="inter-right--bottom"></div>
            </div>
            <div class="linear-background">
              <div class="inter-draw"></div>
              <div class="inter-crop"></div>
              <div class="inter-right--top"></div>
              <div class="inter-right--bottom"></div>
            </div>
            <div class="linear-background">
              <div class="inter-draw"></div>
              <div class="inter-crop"></div>
              <div class="inter-right--top"></div>
              <div class="inter-right--bottom"></div>
            </div>
          </div>

          <div *ngIf="noCityRecord == true" class="no-search-wrapper">
            <div class="no-search-info"> <h2>{{'manage-city.no-record-found' | translate}}</h2></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="update-wrapper" *ngIf="showEditCityPanel" [@slideInOut]>
  <form (ngSubmit)="f.form.valid && onUpdateCity()" #f="ngForm">
    <span (click)="showEditCityPanel = false" class="material-icons close-icon">
      highlight_off
    </span>
    <div class="add-counrty-form">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-12">
            <div class="form-group">
              <label for="city">{{'add-city.form-city' | translate}}</label>
              <input type="text" class="form-control" id="city"  placeholder="City Name"
                  name="city" [(ngModel)]="cityModel.city"
                  #city="ngModel" [ngClass]="{ 'is-invalid': f.submitted && city.invalid }" required>
                  <div *ngIf="f.submitted && city.invalid" class="invalid-feedback">
                    <div *ngIf="city.errors.required">{{'add-city.form-city-error-message' | translate}}</div>
                </div>
            </div>
          </div>
        </div>
        <button class="btn btn-primary">
          <span *ngIf="!updateLoading">{{'add-country.form-button' | translate}}</span>
          <span *ngIf="updateLoading" class="spinner-icon"><mat-icon><mat-spinner color="warn" diameter="20">
          </mat-spinner></mat-icon></span>
         </button>
      </div>
    </div>
    </form>
</div>
