span.account-menu {
  font-weight: bold;
  padding-left: 1rem;
  padding-top: 2rem;
  display: none;
}

.company-menu-wrapper {
  background-color: #ffffff;
  margin-top: -19px;
  border-right: 1px solid #52b7d0;
  padding-top: 1rem;
  margin-left: -15px;
  height: 102%;
}

ul li {
  padding-top: 0.5rem;
  padding-left: 2rem;
  padding-bottom: 0.5rem;
  color: #707070;
  font-size: 0.9rem;
  font-family: "Nunito", sans-serif;
}

.menu {
  margin-top: 1.2rem;
}

.manage-job-title {
  margin-bottom: 2rem;
  margin-top: 1rem;
  margin-left: 2rem;
}

.job-section {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

ul li:hover, ul li:focus {
  background-color:#52b7d0;
  color: #ffffff;
  cursor: pointer;
  border-left: 2px solid #52b7d0;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
 }

ul {
  padding: 0;
  margin: 0;
}

a {
  color: #707070;
}

.icon-space {
  font-size: 1.3rem;
  width: 1.5rem;
}

.my-account li span {
  margin-left: 0.7rem;
  text-transform: capitalize;
}

a:hover {
  color: #ffffff;
  background-color:#52b7d0;
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}
