<div class="company-menu-wrapper">
  <div class="menu">
    <div class="account-section">
      <ul class="my-account">
        <li [routerLink]="['/company/dashboard']" [queryParams]="{ link: this.companyId}"><i class="fa fa-list-alt icon-space" aria-hidden="true"></i><span>
          {{'company-menu.dashboard' | translate}}
        </span></li>
        <li [routerLink]="['/company/detail']" [queryParams]="{ link: this.companyId}"><i class="fa fa-user icon-space" aria-hidden="true"></i><span>
          {{'company-menu.profile-public' | translate}}
        </span></li>
        <li [routerLink]="['/company/membership']"><i class="fa fa-credit-card icon-space" aria-hidden="true"></i><span>
          {{'company-menu.membership' | translate}}
        </span></li>
      </ul>
    </div>

    <div class="job-section">
      <ul class="my-account">
        <li [routerLink]="['/company/add-job']"><i class="fa fa-plus icon-space" aria-hidden="true"></i><span>
          {{'company-menu.add-job' | translate}}
        </span></li>
        <li [routerLink]="['/company/job-lists']"><i class="fa fa-list icon-space" aria-hidden="true"></i><span>
          {{'company-menu.jobs-list' | translate}}
        </span></li>
        <li [routerLink]="['/company/pending-jobs']"><i class="fa fa-clock-o icon-space" aria-hidden="true"></i><span>
          {{'company-menu.pending-jobs' | translate}}
        </span></li>
        <li [routerLink]="['/company/expired-jobs']"><i class="fa fa-times-circle icon-space" aria-hidden="true"></i><span>
          {{'company-menu.expired-jobs' | translate}}
        </span></li>
        <li [routerLink]="['/company/banned-jobs']"><i class="fa fa-ban icon-space" aria-hidden="true"></i><span>
          {{'company-menu.banned-jobs' | translate}}
        </span></li>
      </ul>
    </div>

  </div>
</div>
