<div class="transaction-wrapper">
  <div class="transaction container-fluid">
    <div class="transaction">
      <div class="row no-gutters">
        <div class="col-6 col-md-2">
          <app-menu></app-menu>
        </div>
        <div class="col-sm-6 col-md-10">
          <div class="transaction-route">

            <div class="transaction-title">
              <h1>Transactions</h1>
            </div>
            <div class="routed-content">
              <div class="form-row">
                <div class="form-group col-md-6">
                <input type="text" (keyup)="applyFilter($event)" placeholder="Search"
                  class="form-control form-control-sm" id="companyName">
                </div>
                <div class="form-group col-md-6">
                </div>
              </div>

              <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource">

                  <!-- Name Column -->
                  <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef> Title </th>
                    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                  </ng-container>

                  <!-- Weight Column -->
                  <ng-container matColumnDef="amount">
                    <th mat-header-cell *matHeaderCellDef> Amount </th>
                    <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
                  </ng-container>

                  <!-- Symbol Column -->
                  <ng-container matColumnDef="plan">
                    <th mat-header-cell *matHeaderCellDef> Plan </th>
                    <td mat-cell *matCellDef="let element"> {{element.plan}} </td>
                  </ng-container>

                  <!-- payment Column -->
                  <ng-container matColumnDef="payment">
                    <th mat-header-cell *matHeaderCellDef> Payment Method </th>
                    <td mat-cell *matCellDef="let element"> {{element.payment}} </td>
                  </ng-container>


                  <!-- Date Column -->
                  <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef> Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                  </ng-container>

                  <!-- Status Column -->
                  <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef> Status </th>
                    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
