.transaction-wrapper {
  margin-top: 4rem;

  .transaction-title h1 {
    font-size: 1.5rem;
    text-transform: uppercase;
  }

  table {
    width: 100%;
  }

  .transaction-route {
    margin-left: 2rem;
    margin-bottom: 2rem;
    margin-right: 1rem;
    min-height: 80vh;
  }

  .transaction-title {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

}
