.subnav-block.top-nav {
  background-color: #fff;
  border-bottom: 5px solid #53b6d0;
  height: 50px;
}

.company-list__wrapper {
  margin-top: 3.09rem;
}

.search-company {
  background-color: #fff;
  padding: 1rem;
}

span.company-list__search.filtere_search {
  font-weight: bold;
}

select#validationTooltip04 {
  width: 18rem;
  margin-top: -6px;
  font-size: 0.8rem;
}

.pagination-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

input.form-control.search-job {
  width: 17rem;
}

span.company-list__search {
  display: inline-block;
  margin-right: 1rem;
}

.subnav-block.fixed {
  top: 50px;
  position: fixed;
}

li.field_company_location {
  margin-left: 0.7rem;
}

.subnav-block {
  -webkit-transition: color 200ms ease-out;
  -moz-transition: color 200ms ease-out;
  -ms-transition: color 200ms ease-out;
  -o-transition: color 200ms ease-out;
  transition: color 200ms ease-out;
  width: 100%;
  display: block;
  text-align: center;
  z-index: 5000000;
}

.container1260 {
  max-width: 1260px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.subnav-block .browse.active, .subnav-block .search-filter.active, .subnav-block .search.active,
.subnav-block .user-favorites.active, .subnav-block .sent-applications.active,
.subnav-block .tdm-subnav li a.active, .subnav-block .mcc-subnav li a.active,
.subnav-block .dev-subnav li a.active, .subnav-block .dropdown-more a.active {
    background-color: #53b6d0;
    color: #fff;
}

.subnav-block .browse.active, .subnav-block .search-filter.active, .subnav-block .search.active {
  font-weight: 700;
}

.subnav-block .browse, .subnav-block .search-filter, .subnav-block .user-favorites, .subnav-block .sent-applications, .subnav-block .search {
  padding: 15px 25px 0;
  height: 45px;
}

.subnav-block .browse, .subnav-block .search-filter, .subnav-block .search {
  font-weight: 600;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-size: 14px;
  float: left;
}

.subnav-block .search-filter {
  padding: 15px 25px 0;
  height: 45px;
}


.top-header {
  background-color: #f9f9f9;
  -moz-box-shadow: 0 10px 20px 0 #eee;
  -webkit-box-shadow: 0 10px 20px 0 #eee;
  box-shadow: 0 10px 20px 0 #eee;
  background-color: #fff;
  margin-top: 100px;
}

.top-header:before, .top-header:after {
  content: " ";
  display: table;
}

.top-header .container1350 {
  padding: 40px 60px;
}
.container1350 {
  max-width: 1350px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.top-header .left {
  width: 65%;
  padding-right: 20px;
}
.top-header .left, .top-header .right {
  float: left;
}

.top-header h1 {
  font-size: 54px;
  font-weight: 900;
  font-style: normal;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
  margin: 0;
  line-height: 1.2em;
  font-weight: 400;
}

.top-header h2 {
  font-size: 35px;
  font-weight: 300;
  font-style: normal;
  text-rendering: optimizeLegibility;
  margin: 0;
  font-weight: 200;
}

.top-header .right {
  width: 35%;
}
.top-header .left, .top-header .right {
  float: left;
}

.top-header p {
  font-weight: 300;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-size: 17px;
}

.container1350:after {
  clear: both;
}
.container1350:before, .container1350:after {
  content: " ";
  display: table;
}

@media (max-width: 767px) {
  .top-header .left, .top-header .right {
    width: 100%;
    padding: 0;
  }

  .top-header h1 {
    font-size: 18px;
  }

  .top-header .right {
    width: 100%;
    padding: 0;
  }

  .top-header p {
    font-size: 14px;
    margin-top: 15px;
  }
}

@media (max-width: 767px) {
  .top-header h2 {
    font-size: 15px;
    margin-top: 10px;
  }
}

@media (max-width: 991px) {
  .top-header h2 {
    font-size: 18px;
  }

  .top-header p {
    font-size: 14px;
    line-height: 1.3em;
  }
}


.company-element {
  background-color: #f9f9f9;
  -moz-box-shadow: 0 10px 20px 0 #eee;
  -webkit-box-shadow: 0 10px 20px 0 #eee;
  box-shadow: 0 10px 20px 0 #eee;
  position: relative;
  display: block;
  background-color: #fff;
  max-width: 400px;
  margin-top: 37px;
  height: 432px;

  .company-element:before, .company-element:after {
    content: " ";
    display: table;
  }

  .company-element .tile-bg {
    top: 0;
  }
  .company-element .tile-bg {
      position: relative;
      left: 0;
      right: 0;
      background-color: #fff;
      z-index: 0;
  }

  .company-element .tile-bg img {
    width: 100%;
    height: 100%;
    display: block;
  }

  .company-element .tile-copy {
    bottom: 0;
    min-height: 137px;
    border-bottom: 3px solid #7de5ce;
  }

  .company-element .tile-copy {
      position: absolute;
      left: 0;
      right: 0;
      background-color: #fff;
      z-index: 20;
  }

  .company-element .tile-copy h2 {
    font-size: 30px;
  }

  .company-element h2, .company-element h3 {
      font-weight: 500;
      font-style: normal;
      text-rendering: optimizeLegibility;
      margin: 20px 15px 10px;
  }

  .company-element h2, .company-element h3 {
      display: block;
      color: #333;
  }

  .company-element .metadata {
    text-align: left;
    font-size: 13px;
    padding: 0 15px 20px;
    font-family: nunito sans,Helvetica,sans-serif;
    font-weight: 600;
    font-style: normal;
    text-rendering: optimizeLegibility;
    color: #333;
  }
  .metadata {
      display: inline-block;
      width: 100%;
  }

  .company-element .metadata li {
    display: inline-block;
    margin-bottom: 0;
    line-height: 20px;
    text-transform: capitalize;
  }

  .company-element .metadata li:after {
    content: '/';
    padding: 10px;
  }

  .company-element .favorite-container {
    top: 10px;
  }

  .company-element .favorite-container {
      z-index: 20;
      position: absolute;
      right: 10px;
  }

  .favorite-container .favorite, .favorite-container .unfavorite {
    display: inline-block;
    line-height: 1em;
    color: #fd745a;
    text-align: center;
    font-size: 18px;
    padding: 12px 11px 10px;
    border-radius: 36px;
    background-color: #fff;
    -webkit-transition: color 200ms ease-out;
    -moz-transition: color 200ms ease-out;
    -ms-transition: color 200ms ease-out;
    -o-transition: color 200ms ease-out;
    transition: color 200ms ease-out;
  }

  .company-element:after {
    clear: both;
  }
  .company-element:before, .company-element:after {
      content: " ";
      display: table;
  }
}


.browse-section .section {
  max-width: 1230px;
  width: 100%;
  height: auto;
  margin: 0 auto;

  .browse-section .section:before, .browse-section .section:after {
    content: " ";
    display: table;
  }

  .header-row {
    display: block;
    margin: 37px 15px 0;
  }

  .header-row .section-header {
    margin: 6px 20px 0 0;
    float: left;
    font-size: 32px;
    font-weight: 300;
    font-style: normal;
    text-rendering: optimizeLegibility;
    color: #666;
  }

  .header-row:after {
    clear: both;
  }
  .header-row:before, .header-row:after {
      content: " ";
      display: table;
  }
}

.browse-section {
  max-width: 1260px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding-bottom: 80px;
}


.block {

  .block:before, .block:after {
    content: " ";
    display: table;
  }

  .company-element {
    background-color: #f9f9f9;
    -moz-box-shadow: 0 10px 20px 0 #eee;
    -webkit-box-shadow: 0 10px 20px 0 #eee;
    box-shadow: 0 10px 20px 0 #eee;
    position: relative;
    display: block;
    background-color: #fff;
    max-width: 400px;
    margin-top: 37px;
    height: 432px;
    overflow: hidden;
  }

  .company-element .tile-bg {
    top: 0;
  }
  .company-element .tile-bg {
      position: relative;
      left: 0;
      right: 0;
      background-color: #fff;
      z-index: 0;
  }

  .company-element .tile-bg img {
    width: 100%;
    height: 100%;
    display: block;
  }

  .company-element .tile-copy {
    bottom: 0;
    min-height: 137px;
    border-bottom: 3px solid #7de5ce;
  }
  .company-element .tile-copy {
      position: absolute;
      left: 0;
      right: 0;
      background-color: #fff;
      z-index: 20;
  }

  .company-element .tile-copy h2 {
    font-size: 30px;
  }
  .company-element h2, .company-element h3 {
      font-weight: 500;
      font-style: normal;
      text-rendering: optimizeLegibility;
      margin: 20px 15px 10px;
  }
  .company-element h2, .company-element h3 {
      display: block;
      color: #333;
  }

  .company-element .metadata {
    text-align: left;
    font-size: 13px;
    padding: 0 15px 20px;
    font-weight: 600;
    font-style: normal;
    text-rendering: optimizeLegibility;
    color: #333;
  }
  .metadata {
      display: inline-block;
      width: 100%;
  }

  .company-element .metadata li {
    display: inline-block;
    margin-bottom: 0;
    line-height: 20px;
    text-transform: capitalize;
  }



  .company-element .favorite-container {
    top: 10px;
  }
  .company-element .favorite-container {
      z-index: 20;
      position: absolute;
      right: 10px;
  }

  .favorite-box-container .favorite, .favorite-box-container .unfavorite, .favorite-container .favorite, .favorite-container .unfavorite {
    display: inline-block;
    line-height: 1em;
    color: #fd745a;
    text-align: center;
    font-size: 18px;
    padding: 12px 11px 10px;
    border-radius: 36px;
    background-color: #fff;
    -webkit-transition: color 200ms ease-out;
    -moz-transition: color 200ms ease-out;
    -ms-transition: color 200ms ease-out;
    -o-transition: color 200ms ease-out;
    transition: color 200ms ease-out;
  }

  .company-element:after {
    clear: both;
  }
  .company-element:before, .company-element:after {
      content: " ";
      display: table;
  }
}


.back-to-browse {
  padding: 50px 0;
  text-align: center;
  background-color: #fff;
  border-top: 1px solid #53b6d0;
}

.full-width {
  width: 100%;
  position: relative;
}

.full-width:before, .full-width:after {
  content: " ";
  display: table;
}

.browse-cta {
  -webkit-transition: background 200ms ease-out;
  -moz-transition: background 200ms ease-out;
  -ms-transition: background 200ms ease-out;
  -o-transition: background 200ms ease-out;
  transition: background 200ms ease-out;
  width: auto;
  font-size: 16px;
  background-color: #53b6d0;
  display: inline-block;
  text-align: center;
  text-transform: capitalize;
  outline: none;
  cursor: pointer;
  padding: .9em 2.5em;
  font-weight: 600;
  font-style: normal;
  text-rendering: optimizeLegibility;
  line-height: 1.2em;
  color: #fff;
  border: 1px solid #53b6d0;

  &:hover {
    color: #fff;
    background-color: #34a0bc;
    border: 1px solid #34a0bc;
  }
}

.clear-search {
  margin-right: 1rem;
}

.no-search-info {
  width: 30rem;
  padding: 1rem;
  margin: auto;
  text-align: center;
}

