<div class="company-list__wrapper">
  <div class="search-company">
    <div class="flex-box-center">
      <div>
        <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
          <span class="company-list__search filtere_search">{{'company-list.company-list-form-filtered-result' | translate}}</span>
          <span class="company-list__search">
            <input type="text" formControlName="companyName"  class="form-control form-control-sm search-job" placeholder="{{'company-list.company-list-title-placeholder' | translate}}"></span>
          <span class="company-list__search">
            <input type="text" formControlName="companyLocation" class="form-control search-job form-control-sm" placeholder="{{'company-list.company-list-location-placeholder' | translate}}"></span>
          <span class="company-list__search">
            <select formControlName="companyCategory" class="form-control form-control-sm" id="companyCategory">
              <option disabled value="">{{'update-company-profile.form-company-category' | translate}}</option>
              <option value="{{'company-list.company-industry-ads' | translate}}">{{'company-list.company-industry-ads' | translate}}</option>
              <option value="{{'company-list.company-industry-architecture' | translate}}">{{'company-list.company-industry-architecture' | translate}}</option>
              <option value="{{'company-list.company-industry-art' | translate}}">{{'company-list.company-industry-art' | translate}}</option>
              <option value="{{'company-list.company-industry-biotechnology' | translate}}">{{'company-list.company-industry-biotechnology' | translate}}</option>
              <option value="{{'company-list.company-industry-client' | translate}}">{{'company-list.company-industry-client' | translate}}</option>
              <option value="{{'company-list.company-industry-consulting' | translate}}">{{'company-list.company-industry-consulting' | translate}}</option>
              <option value="{{'company-list.company-industry-consumer' | translate}}">{{'company-list.company-industry-consumer' | translate}}</option>
              <option value="{{'company-list.company-industry-education' | translate}}">{{'company-list.company-industry-education' | translate}}</option>
              <option value="{{'company-list.company-industry-engineering' | translate}}">{{'company-list.company-industry-engineering' | translate}}</option>
              <option value="{{'company-list.company-industry-entertainment' | translate}}">{{'company-list.company-industry-entertainment' | translate}}</option>
              <option value="{{'company-list.company-industry-fashion' | translate}}">{{'company-list.company-industry-fashion' | translate}}</option>
              <option value="{{'company-list.company-industry-finance' | translate}}">{{'company-list.company-industry-finance' | translate}}</option>
              <option value="{{'company-list.company-industry-food' | translate}}">{{'company-list.company-industry-food' | translate}}</option>
              <option value="{{'company-list.company-industry-government' | translate}}">{{'company-list.company-industry-government' | translate}}</option>
              <option value="{{'company-list.company-industry-healthcare' | translate}}">{{'company-list.company-industry-healthcare' | translate}}</option>
              <option value="{{'company-list.company-industry-insurance' | translate}}">{{'company-list.company-industry-insurance' | translate}}</option>
              <option value="{{'company-list.company-industry-law' | translate}}">{{'company-list.company-industry-law' | translate}}</option>
              <option value="{{'company-list.company-industry-manufacturing' | translate}}">{{'company-list.company-industry-manufacturing' | translate}}</option>
              <option value="{{'company-list.company-industry-media' | translate}}">{{'company-list.company-industry-media' | translate}}</option>
              <option value="{{'company-list.company-industry-estate' | translate}}">{{'company-list.company-industry-estate' | translate}}</option>
              <option value="{{'company-list.company-industry-social' | translate}}">{{'company-list.company-industry-social' | translate}}</option>
              <option value="{{'company-list.company-industry-social-media' | translate}}">{{'company-list.company-industry-social-media' | translate}}</option>
              <option value="{{'company-list.company-industry-tech' | translate}}">{{'company-list.company-industry-tech' | translate}}</option>
              <option value="{{'company-list.company-industry-telecom' | translate}}">{{'company-list.company-industry-telecom' | translate}}</option>
              <option value="{{'company-list.company-industry-travel' | translate}}">{{'company-list.company-industry-travel' | translate}}</option>
            </select>
          </span>

          <button *ngIf="isSearch" (click)="clearSearch()" class="btn btn-danger clear-search">
            <span>{{'manage-country.clear-search' | translate}}</span>
          </button>

          <button class="btn btn-primary" [disabled]="loading || !searchForm.valid">
            <span *ngIf="!loading">{{'company-list.search-button' | translate}}</span>
            <span *ngIf="loading" class="spinner-icon"><mat-icon><mat-spinner color="warn" diameter="20">
            </mat-spinner></mat-icon></span>
          </button>
        </form>
      </div>
    </div>
  </div>
  <section class="browse-section">

    <div *ngIf="resultsLength == 0" class="no-search-wrapper">
      <div class="no-search-info"> <h2>{{'manage-city.no-record-found' | translate}}</h2></div>
    </div>

    <div *ngIf="isLoadingResults">
      <div class="linear-background">
        <div class="inter-draw"></div>
        <div class="inter-crop"></div>
        <div class="inter-right--top"></div>
        <div class="inter-right--bottom"></div>
      </div>
      <div class="linear-background">
        <div class="inter-draw"></div>
        <div class="inter-crop"></div>
        <div class="inter-right--top"></div>
        <div class="inter-right--bottom"></div>
      </div>
      <div class="linear-background">
        <div class="inter-draw"></div>
        <div class="inter-crop"></div>
        <div class="inter-right--top"></div>
        <div class="inter-right--bottom"></div>
      </div>
    </div>

    <div [hidden]="isLoadingResults || resultsLength == 0" >
      <div class="section">
        <div class="header-row">
          <h3 class="section-header"> {{'company-list.company-list-title' | translate}} </h3>
        </div>
      </div>
      <div class="row block">
        <div class="col-6 col-md-4" *ngFor="let company of recentCompany">
          <div class="element company-element">
              <a [routerLink]="['/company/detail']" [queryParams]="{ link: company.company_id}">
            <div class="tile-bg">
              <img alt="Companies Now Hiring - {{ company.company_name }}" [src]="company.profile_image">
            </div>
            <div class="tile-copy">
              <h2>{{ company.company_name }}</h2>
              <ul class="metadata">
                <li *ngFor="let category of company.company_category" class="field_company_type">{{ category }}, </li>
                <li class="field_company_size">{{ company.type }}, </li>
                <li class="field_company_location"> {{ company.location }}</li>
              </ul>
            </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    </section>


    <section class="full-width back-to-browse">
      <div class="pagination-wrapper">
        <pagination [totalItems]="resultsLength" [itemsPerPage]="10" (pageChanged)="pageChanged($event)"></pagination>
      </div>
    </section>
</div>

