<div class="admin-wrapper">
  <div class="row no-gutters">
    <div class="col-sm-6 col-md-2">
      <app-admin-menu></app-admin-menu>
    </div>
    <div class="col-12 col-md-10 col-xs-12">
      <div class="content-body">
        <div class="main-content">
          <h1 class="job-list-title">{{'manage-country.title' | translate}}</h1>

          <div class="list-job-filter">
            <form [formGroup]="searchForm">
              <div class="row row-cols-3">
                <div class="col">
                  <input type="text" formControlName="name" required
                  placeholder="{{'manage-country.form-name-placeholder' | translate}}"
                  class="form-control form-control-sm" id="name">
                </div>
                <div class="col">
                  <input type="text" formControlName="countryCode" required
                  placeholder="{{'manage-country.form-name-countryCode-placeholder' | translate}}"
                  class="form-control form-control-sm" id="countryCode">
                </div>
                <div class="col">
                  <div class="filtered-button">
                    <button *ngIf="isSearch" (click)="clearSearch()" class="btn btn-danger clear-search">
                      <span>{{'manage-country.clear-search' | translate}}</span>
                    </button>

                    <button (click)="onSearch()" class="btn btn-primary" >
                      <span *ngIf="!searchLoading">{{'manage-country.form-button' | translate}}</span>
                      <span *ngIf="searchLoading" class="spinner-icon"><mat-icon><mat-spinner color="warn" diameter="20">
                      </mat-spinner></mat-icon></span>
                    </button>

                    <span class="checked-btn">
                      <button *ngIf="this.selection.selected.length >= 1" (click)="onConfirmDeleteCountry()" class="btn btn-danger" [disabled]="checkedDeleteLoader ">
                        <span *ngIf="!checkedDeleteLoader">{{'manage-country.checkbox-show-button' | translate}}</span>
                        <span *ngIf="checkedDeleteLoader" class="spinner-icon"><mat-icon><mat-spinner color="warn" diameter="20">
                        </mat-spinner></mat-icon></span>
                      </button>

                    </span>
                  </div>
                </div>
              </div>
          </form>
          </div>

          <div class="table-container mat-elevation-z8" [hidden]="this.resultsLength == 0 || searchFound == false">
            <table mat-table matSortActive="title" matSortDirection="asc" matSortDisableClear
             [dataSource]="dataSource" matSort>

              <!-- Checkbox Column -->
              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                  <mat-checkbox (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()"
                                [aria-label]="checkboxLabel()">
                  </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                  <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null"
                                [checked]="selection.isSelected(row)"
                                [aria-label]="checkboxLabel(row)">
                  </mat-checkbox>
                </td>
              </ng-container>

              <!-- Sortname Column -->
              <ng-container matColumnDef="sortname">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'manage-country.table-header-sortname' | translate}}</th>
                <td mat-cell *matCellDef="let element"> {{element.sortname}} </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'manage-country.table-header-name' | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>

              <!-- PhoneCode Column -->
              <ng-container matColumnDef="phoneCode">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'manage-country.table-header-phoneCode' | translate}}</th>
                <td mat-cell *matCellDef="let element"> {{element.phonecode}} </td>
              </ng-container>

              <!-- Status Column -->
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
                <td mat-cell *matCellDef="let element">
                  <div class="action-menu">
                    <mat-icon [matMenuTriggerFor]="menu">more_vert</mat-icon>
                </div>

                <mat-menu #menu="matMenu">
                  <button (click)="editCountry(element)" mat-menu-item>
                    <mat-icon>create</mat-icon>
                    <span>{{'manage-faqs.table-menu-edit' | translate}}</span>
                  </button>
                  <button (click)="deleteSingleCountry(element)" mat-menu-item>
                    <mat-icon style="color: red;">delete</mat-icon>
                    <span>{{'manage-faqs.table-menu-delete' | translate}}</span>
                  </button>
                </mat-menu>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>


            <mat-paginator class="mat-paginator-sticky"
             #paginator
             [length] = "resultsLength"
             [pageSize] = "10"
             [pageSizeOptions] = "[5, 10, 25, 100]"
             (page)="getNext($event)">
            </mat-paginator>
          </div>

          <div *ngIf="isLoadingResults">
            <div class="linear-background">
              <div class="inter-draw"></div>
              <div class="inter-crop"></div>
              <div class="inter-right--top"></div>
              <div class="inter-right--bottom"></div>
            </div>
            <div class="linear-background">
              <div class="inter-draw"></div>
              <div class="inter-crop"></div>
              <div class="inter-right--top"></div>
              <div class="inter-right--bottom"></div>
            </div>
            <div class="linear-background">
              <div class="inter-draw"></div>
              <div class="inter-crop"></div>
              <div class="inter-right--top"></div>
              <div class="inter-right--bottom"></div>
            </div>
          </div>

          <div *ngIf="searchFound == false" [hidden]="isLoadingResults" class="no-search-wrapper">
            <div class="no-search-info"> <h2>{{'manage-country.no-search' | translate}}</h2></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="update-wrapper" *ngIf="showEditCountryPanel" [@slideInOut]>
  <form (ngSubmit)="f.form.valid && onUpdateCountry()" #f="ngForm">
    <span (click)="showEditCountryPanel = false" class="material-icons close-icon">
      highlight_off
    </span>
    <div class="add-counrty-form">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-12">
            <div class="form-group">
              <label for="sortnamecode">{{'add-country.form-sortnamecode-label' | translate}}</label>
              <input type="text" class="form-control" id="sortnamecode" placeholder="{{'add-country.form-sortnamecode-placeholder' | translate}}"
                  name="sortnamecode" [(ngModel)]="countryModel.sortnamecode"
                  #sortnamecode="ngModel" [ngClass]="{ 'is-invalid': f.submitted && sortnamecode.invalid }" required>
                  <div *ngIf="f.submitted && sortnamecode.invalid" class="invalid-feedback">
                    <div *ngIf="sortnamecode.errors.required">{{'add-country.form-sortnamecode-error-message' | translate}}</div>
                </div>
            </div>
          </div>
          <div class="col-12 col-md-12">
            <div class="form-group">
              <label for="country">{{'add-country.form-country-label' | translate}}</label>
              <input type="text" class="form-control" id="country"  placeholder="{{'add-country.form-country-placeholder' | translate}}"
                  name="country" [(ngModel)]="countryModel.country"
                  #country="ngModel" [ngClass]="{ 'is-invalid': f.submitted && country.invalid }" required>
                  <div *ngIf="f.submitted && country.invalid" class="invalid-feedback">
                    <div *ngIf="country.errors.required">{{'add-country.form-country-error-message' | translate}}</div>
                </div>
            </div>
          </div>
          <div class="col-12 col-md-12">
            <div class="form-group">
              <label for="phoneCode">{{'add-country.form-phoneCode-label' | translate}}</label>
              <input type="text" class="form-control" id="phoneCode"  placeholder="{{'add-country.form-phoneCode-placeholder' | translate}}" name="phoneCode"
                  [(ngModel)]="countryModel.phoneCode"
                  #phoneCode="ngModel" [ngClass]="{ 'is-invalid': f.submitted && phoneCode.invalid }" required>
                  <div *ngIf="f.submitted && phoneCode.invalid" class="invalid-feedback">
                    <div *ngIf="phoneCode.errors.required">{{'add-country.form-phoneCode-error-message' | translate}}</div>
                </div>
            </div>
          </div>
        </div>
        <button class="btn btn-primary">
          <span *ngIf="!updateLoading">{{'add-country.form-button' | translate}}</span>
          <span *ngIf="updateLoading" class="spinner-icon"><mat-icon><mat-spinner color="warn" diameter="20">
          </mat-spinner></mat-icon></span>
         </button>
      </div>
    </div>
    </form>
</div>
