<div class="company-list__wrapper">
  <section class="browse-section">
    <div>

      <div class="section">
        <div class="header-row">
          <h3 class="section-header"> {{'saved-company.saved-favorite-company' | translate}} </h3>
        </div>
      </div>
      <div class="row block">
        <div class="col-6 col-md-4" *ngFor="let company of savedCompany">
          <div class="element company-element">
            <a href="/companies/kdmengineering?ref=the-muse-team-picks-0" data-tile-link="true" target="_self">
            <div class="tile-bg">
              <img alt="Companies Now Hiring - {{ company.company_name }}" [src]="company.company_proile_image">
            </div>
            <div class="tile-copy">
              <h2>{{ company.company_name }}</h2>
              <ul class="metadata">
                <li *ngFor="let category of company.company_category" class="field_company_type">{{ category }}, </li>
                <li class="field_company_size">{{ company.company_keyword }}, </li>
                <li class="field_company_location"> {{ company.company_location }}</li>
              </ul>
            </div>
            </a>
            <div class="favorite-container">
              <div><a aria-label="favorite" href="#" class="favorite" data-original-title="" title="">
                <i aria-hidden="true" class="fa fa-heart-o"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </section>

    <section class="full-width back-to-browse">
      <div class="pagination-wrapper">
        <pagination [totalItems]="30"></pagination>
      </div>
    </section>
</div>

