/* You can add global styles to this file, and also import other style files */
@import 'assets/sass/checkbox.scss';
@import 'assets/sass/browse-file.scss';
@import '~ngx-toastr/toastr';
@import "~ngx-smart-modal/ngx-smart-modal";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$color1: rgba(31, 24, 32, 1);
$color2: rgba(232, 119, 39, 1);
$color3: rgba(221, 70, 108, 1);
$color4: rgba(240, 188, 212, 1);
$color5: rgba(173, 221, 130, 1);

body {
    background-color: #f8f9fa!important;
}

* {
  font-family: "Nunito", sans-serif;
}

// remove default style
input, button, submit { border: none; outline: none;}
button:focus { outline: none; }
select {
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

.msg-modal { width: 75%; max-width: 100vw; min-height: 200vh; border-radius: 10px; padding: 12px 0 0 0; }

nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    border-bottom: 1px solid #eee;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: #999;
}


.form-control {
    border-radius: 0.2rem;
}

.h1_heading {
    font-size: 2.5rem;
}

.h2_heading {
    font-size: 1.875rem;
}

.h3_heading {
    font-size: 1.563rem;
}

.icon_width_1 {
    width: 1.063rem;
}

.icon_width_2 {
    width: 1.875rem;
}

.icon_width_3 {
    width: 5.625rem;
}

.icon_width_4 {
    width: 8.75rem;
}

.shadow_1 {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 3px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    background-clip: padding-box;
}

.top_space_1 {
    margin-top: 0.625rem;
}

.top_space_2 {
    margin-top: 0.938rem;
}

.top_space_3 {
    margin-top: 1.25rem;
}

.space_around_1 {
    padding: 0.625rem;
}

.space_around_outside_1 {
    margin: 0.625rem;
}

.space_around_outside_1 {
    margin: 1.25rem;
}

.space_around_2 {
    padding: 1.25rem;
}

.space_around_outside_1 {
    padding: 0.625rem;
}

.space_around_outside_2 {
    padding: 1.25rem;
}


/// Btn style
.sign_up_previous_btn {
    margin-right: 0.625rem;
}

a:hover {
    color: #0056b3;
    text-decoration: none;
}

.form-group {
    margin-bottom: 0.3rem;
}

a {
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.flex-box-center {
  display: flex;
  align-items: center;
  justify-content: center;
}


.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    text-transform: uppercase;
    font-size: .699rem;
    font-weight: bold;
    padding: .4rem 2rem;
}

.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  text-transform: uppercase;
  font-size: .699rem;
  font-weight: bold;
  padding: .4rem 2rem;
}


.btn-outline-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  text-transform: uppercase;
  font-size: .699rem;
  font-weight: bold;
  padding: .4rem 2rem;
}


body ul li {
  padding: 0;
  margin: 0;
}

// form field style
input.form-control:focus {
  box-shadow: none;
  border-color: #53b6d0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  border-width: 1px;
}


a:active {
    color: transparent;
}

.form-control__margin {
  margin-bottom: 1rem;
}

// Table css style
.mat-elevation-z8 {
  border: 1px solid #dddddd;
  box-shadow: none;
}

.mat-row:hover {
  background-color: #eeeeee;
}

th.mat-header-cell:last-of-type {
  padding-right: 0px;
  width: 3rem;
}

tr.mat-footer-row, tr.mat-row {
  height: 48px;
  cursor: pointer;
}

.mat-header-cell {
  font-weight: bold;
}

td.mat-cell.cdk-cell.cdk-column-location.mat-column-location {
  width: 250px;
  padding: 7px;
}

td.mat-cell.cdk-cell.cdk-column-reasons.mat-column-reasons {
  width: 20rem;
  padding: 5px;
}

td.mat-cell.cdk-cell.cdk-column-question.mat-column-question {
  width: 20rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
}

td.mat-cell.cdk-cell.cdk-column-testimonial.mat-column-testimonial {
  width: 40%;
  padding-top: 6px;
  padding-right: 1rem;
}

td.mat-cell.cdk-cell.cdk-column-answer.mat-column-answer {
  width: 30rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
}

th.mat-header-cell.cdk-header-cell.ng-tns-c193-0.cdk-column-question.mat-column-question.mat-table-sticky {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
}

.mat-sort-header-container.ng-tns-c193-1.mat-sort-header-sorted {
  margin-left: 1rem;
}

// Toaster style
.toast-top-right {
  top: 74px;
  right: 35px;
}

.toast-container .ngx-toastr:hover {
  box-shadow: 0 0 3px #000000;
  opacity: 1;
  cursor: pointer;
}

// box shadow style
.shadow {
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
}

// Responsive css

// Placeholder style
::-webkit-input-placeholder { /* Edge */
  font-size: 0.8rem;
  font-style: italic;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-size: 0.8rem;
  font-style: italic;
}

::placeholder {
  font-size: 0.8rem;
  font-style: italic;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



// checkbox style
.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: var(--primary);
}

label.mat-checkbox-layout {
  position: relative;
  top: 5px;
  margin-right: 1rem;
}




// Pagination

.page-item.active .page-link {
  z-index: 1;
  color: #2a2c2f;
  background-color: #7de5ce;
  border-color: #7de5ce;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.7rem 1rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #333333;
  background-color: #fff;
  border: 1px solid #dee2e6;
}
// colors

$color-1: #2E4057; // Pickled Bluewood
$color-2: #64a281; // Aqua Forest
$color-3: #ffffff; // White

// fonts

$primary-font: 'PT Sans', sans-serif;

// border-radius

$border-radius: .25em;

.search-results-container {
  padding: 1.5rem;
  min-height: 70vh;
}

/* --------------------------------
custom icons - customize the small arrow inside the next and prev buttons
-------------------------------- */

.cd-pagination.custom-icons .button a {
    position: relative;
  }
  .cd-pagination.custom-icons .button:first-of-type a {
    padding-left: 2.4em;
  }
  .cd-pagination.custom-icons .button:last-of-type a {
    padding-right: 2.4em;
  }
  .cd-pagination.custom-icons .button:first-of-type a::before,
  .cd-pagination.custom-icons .button:last-of-type a::after {
    content: '';
    position: absolute;
    display: inline-block;
    width: 16px;
    height: 16px;
    top: 50%;
    margin-top: -8px;
  }
  .cd-pagination.custom-icons .button:first-of-type a::before {
    left: .8em;
  }
  .cd-pagination.custom-icons .button:last-of-type a::after {
    right: .8em;
    transform: rotate(180deg);
  }
  // End pagination class


  // Editor style
  .e-richtexteditor .e-rte-content .e-content, .e-richtexteditor .e-source-content .e-content {
    background: unset;
    box-sizing: border-box;
    height: 100%;
    min-height: 100px;
    outline: 0 solid transparent;
    overflow-x: auto;
    padding: 16px;
    position: relative;
    text-align: inherit;
    z-index: 2;
    min-height: 14rem;
    margin-top: 2rem;
  }

  div#richtexteditor_1517271356_0_rte-edit-view {
    margin-top: 0rem;
  }


  // Chips
  .mat-form-field-underline {
    background-color: transparent !important;
  }

  .mat-form-field-wrapper {
    padding-bottom: 0rem !important;
  }

  .mat-form-field-infix {
    padding: .5em 0;
    border-top: 0px !important;
  }

  .mat-form-field-ripple {
    position: absolute;
    left: 0;
    width: 0% !important;
  }

  //checkbox style
  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: var(--blue);
  }

  .mat-radio-button.mat-accent .mat-radio-inner-circle,
  .mat-radio-button.mat-accent .mat-radio-ripple
  .mat-ripple-element:not(.mat-radio-persistent-ripple),
  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
  .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    background-color: var(--blue);
 }


 //calender style
 .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: unset;
 }


// Tabs style
.mat-tab-labels {
  background-color: #52b7d0;
}

.mat-tab-label-content {
  color: #ffffff;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #1a222a;
}

//Button spinner

.green-progress .mat-progress-bar-fill::after {
  background-color: #52b7d0 !important;
}


// Loader
@keyframes placeHolderShimmer{
  0%{
      background-position: -468px 0
  }
  100%{
      background-position: 468px 0
  }
}

.linear-background {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 1000px 104px;
  height: 130px;
  position: relative;
  overflow: hidden;
}
.inter-draw{
  background: #f8f9fa;
  width: 100%;
  height: 100px;
  position: absolute;
  top: 100px;
}
.inter-right--top{
  background: #f8f9fa;
  width: 100%;
  height: 20px;
  position: absolute;
  top: 20px;
  left: 100px;
}
.inter-right--bottom{
  background: #f8f9fa;
  width: 100%;
  height: 50px;
  position: absolute;
  top: 60px;
  left: 100px;
}
.inter-crop{
  background: #f8f9fa;
  width: 20px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 100px;
}

.table-loader.ng-tns-c351-0 {
  padding: 1rem;
  border: 1px solid #eee;
}

