<div class="update-profile-wrapper">
  <div class="update-profile-form">
    <div *ngIf="showAccountNotVerified" class="alert alert-warning email-approved">
      <b>
        {{'setting-user.email-not-verified' | translate}}
      </b>
    </div>
    <div class="update-profile-title">
      <h3>{{'create-company.create-company-title' | translate}}</h3>
    </div>
    <div class="form-wrapper">
      <form [formGroup]="createCompanyForm" (ngSubmit)="onSubmit()">
        <div class="upload-image">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="companyName">{{'update-company-profile.form-company-name' | translate}} *</label>
            <input formControlName="companyName" disabled="disabled" required type="text" class="form-control form-control-sm" id="companyName"
            [ngClass]="{ 'is-invalid': submitted && f.companyName.errors }">
            <div *ngIf="submitted && f.companyName.errors" class="invalid-feedback">
              <div *ngIf="f.companyName.errors.required">{{'update-company-profile.form-company-name-error' | translate}}</div>
            </div>
            </div>
            <div class="form-group col-md-6">
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="companyLocation">{{'update-company-profile.form-company-location' | translate}} *</label>
          <input formControlName="companyLocation" type="text" class="form-control form-control-sm" id="companyLocation"
          [ngClass]="{ 'is-invalid': submitted && f.companyLocation.errors }">
          <div *ngIf="submitted && f.companyLocation.errors" class="invalid-feedback">
            <div *ngIf="f.companyLocation.errors.required">{{'update-company-profile.form-company-location-error' | translate}}</div>
          </div>
          </div>
          <div class="form-group col-md-6">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <div class="form-group">
              <label for="companySize">{{'update-company-profile.form-company-size' | translate}} *</label>
              <select formControlName="companySize" class="form-control form-control-sm" id="companySize">
                <option selected disabled value="">{{'update-company-profile.form-company-size' | translate}}</option>
                <option value="small">{{'company-size.company-small' | translate}}</option>
                <option value="medium">{{'company-size.company-medium' | translate}}</option>
                <option value="large">{{'company-size.company-large' | translate}}</option>
              </select>
            </div>
          </div>
          <div class="form-group col-md-6">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="companyCategory">{{'update-company-profile.form-company-category' | translate}} *</label>
            <select formControlName="companyCategory" class="form-control form-control-sm" id="companyCategory">
              <option disabled value="">{{'update-company-profile.form-company-category' | translate}}</option>
              <option value="{{'company-list.company-industry-ads' | translate}}">{{'company-list.company-industry-ads' | translate}}</option>
              <option value="{{'company-list.company-industry-architecture' | translate}}">{{'company-list.company-industry-architecture' | translate}}</option>
              <option value="{{'company-list.company-industry-art' | translate}}">{{'company-list.company-industry-art' | translate}}</option>
              <option value="{{'company-list.company-industry-biotechnology' | translate}}">{{'company-list.company-industry-biotechnology' | translate}}</option>
              <option value="{{'company-list.company-industry-client' | translate}}">{{'company-list.company-industry-client' | translate}}</option>
              <option value="{{'company-list.company-industry-consulting' | translate}}">{{'company-list.company-industry-consulting' | translate}}</option>
              <option value="{{'company-list.company-industry-consumer' | translate}}">{{'company-list.company-industry-consumer' | translate}}</option>
              <option value="{{'company-list.company-industry-education' | translate}}">{{'company-list.company-industry-education' | translate}}</option>
              <option value="{{'company-list.company-industry-engineering' | translate}}">{{'company-list.company-industry-engineering' | translate}}</option>
              <option value="{{'company-list.company-industry-entertainment' | translate}}">{{'company-list.company-industry-entertainment' | translate}}</option>
              <option value="{{'company-list.company-industry-fashion' | translate}}">{{'company-list.company-industry-fashion' | translate}}</option>
              <option value="{{'company-list.company-industry-finance' | translate}}">{{'company-list.company-industry-finance' | translate}}</option>
              <option value="{{'company-list.company-industry-food' | translate}}">{{'company-list.company-industry-food' | translate}}</option>
              <option value="{{'company-list.company-industry-government' | translate}}">{{'company-list.company-industry-government' | translate}}</option>
              <option value="{{'company-list.company-industry-healthcare' | translate}}">{{'company-list.company-industry-healthcare' | translate}}</option>
              <option value="{{'company-list.company-industry-insurance' | translate}}">{{'company-list.company-industry-insurance' | translate}}</option>
              <option value="{{'company-list.company-industry-law' | translate}}">{{'company-list.company-industry-law' | translate}}</option>
              <option value="{{'company-list.company-industry-manufacturing' | translate}}">{{'company-list.company-industry-manufacturing' | translate}}</option>
              <option value="{{'company-list.company-industry-media' | translate}}">{{'company-list.company-industry-media' | translate}}</option>
              <option value="{{'company-list.company-industry-estate' | translate}}">{{'company-list.company-industry-estate' | translate}}</option>
              <option value="{{'company-list.company-industry-social' | translate}}">{{'company-list.company-industry-social' | translate}}</option>
              <option value="{{'company-list.company-industry-social-media' | translate}}">{{'company-list.company-industry-social-media' | translate}}</option>
              <option value="{{'company-list.company-industry-tech' | translate}}">{{'company-list.company-industry-tech' | translate}}</option>
              <option value="{{'company-list.company-industry-telecom' | translate}}">{{'company-list.company-industry-telecom' | translate}}</option>
              <option value="{{'company-list.company-industry-travel' | translate}}">{{'company-list.company-industry-travel' | translate}}</option>
            </select>
          </div>
          <div class="form-group col-md-6">
          </div>
        </div>
        <div class="logo-wrapper">
          <div class="form-row">
            <div class="form-group col-md-6">
              <div class="form-group">
                <label for="fileNameLogo">Add Logo *</label>
                <div class="file-upload">
                  <div class="file-select">
                    <div class="file-select-button" id="fileNameLogo">{{'update-company-profile.form-company-choose-logo' | translate}}</div>
                    <div class="file-select-name" id="noLogoFile">{{'update-company-profile.form-company-choose-no-file' | translate}}</div>
                    <input type="file" accept="image/*" (change)="onFileSelectedLogo($event)" name="logo" id="chooseFilelogo">
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <div class="logo-image">
              </div>
            </div>
          </div>


        </div>
        <div class="profile-image-wrapper">
          <div class="form-row">
            <div class="form-group col-md-6">
              <div class="form-group">
                <label for="fileName">Add Profile Image *</label>
                <div class="file-upload">
                  <div class="file-upload">
                    <div class="file-select">
                      <div class="file-select-button" id="fileName">{{'update-company-profile.form-company-choose-profile' | translate}}</div>
                      <div class="file-select-name" id="noFile">{{'update-company-profile.form-company-choose-no-file' | translate}}</div>
                      <input type="file" accept="image/*" (change)="onFileSelectedProfileImg($event)" #chooseProfileImg name="profileImage" id="chooseProfileImg">
                    </div>
                   <span class="profile-size-note">{{'update-company-profile.form-company-note' | translate}}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <div class="profile-image">
              </div>
            </div>
          </div>
        </div>

        <div class="social-link">
          <div class="form-row">
            <div class="form-group col-md-6">
              <div class="form-group">
                <label for="companyEmail">{{'update-company-profile.form-company-email' | translate}} *</label>
                <div class="input-group">
                  <input type="email" disabled="disabled" formControlName="companyEmail" class="form-control form-control-sm"
                  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                  [ngClass]="{ 'is-invalid': submitted && f.companyEmail.errors }" />
                  <div *ngIf="submitted && f.companyEmail.errors" class="invalid-feedback">
                    <div *ngIf="f.companyEmail.errors.required">{{'update-company-profile.form-company-email-error' | translate}}</div>
                    <div *ngIf="f.companyEmail.errors.email">{{'update-company-profile.form-company-invalid-email' | translate}}</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <div class="form-group">
                <label for="companyEmailJob">{{'update-company-profile.form-company-job-email' | translate}} *</label>
                <div class="input-group">
                  <input type="email" formControlName="companyEmailJob" class="form-control form-control-sm"
                  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                  [ngClass]="{ 'is-invalid': submitted && f.companyEmailJob.errors }" />
                  <div *ngIf="submitted && f.companyEmailJob.errors" class="invalid-feedback">
                    <div *ngIf="f.companyEmailJob.errors.required">{{'update-company-profile.form-company-job-email-error' | translate}}</div>
                    <div *ngIf="f.companyEmailJob.errors.email">{{'update-company-profile.form-company-invalid-email' | translate}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <div class="form-group">
                <label for="website">{{'update-company-profile.form-company-website' | translate}}</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fa fa-globe" aria-hidden="true"></i></div>
                  </div>
                  <input type="text" formControlName="website" class="form-control form-control-sm" id="website">
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <div class="form-group">
                <label for="youtube">{{'update-company-profile.form-company-youtube' | translate}}</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fa fa-youtube-play" aria-hidden="true"></i></div>
                  </div>
                  <input type="text" formControlName="youtube" class="form-control form-control-sm" id="youtube">
                </div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-4">
              <div class="form-group">
                <label for="facebook">{{'update-company-profile.form-company-facebook' | translate}}</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fa fa-facebook" aria-hidden="true"></i>
                    </div>
                  </div>
                  <input type="text" formControlName="facebook" class="form-control form-control-sm" id="facebook">
                </div>
              </div>
            </div>
            <div class="form-group col-md-4">
              <div class="form-group">
                <label for="linkedin">{{'update-company-profile.form-company-linkdin' | translate}}</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </div>
                  </div>
                  <input type="text" formControlName="linkdin" class="form-control form-control-sm" id="linkedin">
                </div>
              </div>
            </div>

            <div class="form-group col-md-4">
              <div class="form-group">
                <label for="linkedin">{{'update-company-profile.form-company-twitter' | translate}}</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fa fa-twitter" aria-hidden="true"></i>
                    </div>
                  </div>
                  <input type="text" formControlName="twitter" class="form-control form-control-sm" id="twitter">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="company-discription-wrapper">
            <label for="exampleFormControlTextarea1">{{'update-company-profile.form-company-discription' | translate}} *</label>
            <ejs-richtexteditor formControlName="aboutCompany" name="aboutCompany" [toolbarSettings]='tools'></ejs-richtexteditor>
          </div>
        </div>
         <button class="btn btn-primary" [disabled]="loading || !createCompanyForm.valid">
          <span *ngIf="!loading">{{'update-company-profile.form-button-submit' | translate}}</span>
          <span *ngIf="loading" class="spinner-icon"><mat-icon><mat-spinner color="warn" diameter="20">
          </mat-spinner></mat-icon></span>
        </button>
      </form>
    </div>
  </div>
</div>
