.update-profile-wrapper {
  width: 50rem;
  margin: auto;
  top: 4rem;
  background-color: #ffffff;
  padding: 2rem;
  padding-top: 4rem;

  .logo-wrapper {
    margin-top: 1rem;
  }

  .company-discription-wrapper {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .update-profile-title {
    text-transform: uppercase;
    margin-bottom: 1rem;
  }

  .form-wrapper {
    margin-bottom: 3rem;
  }

  .logo-image {
    width: 15rem;
    margin-left: 4rem;
    height: 5rem;
    float: right;
  }

  .profile-image {
    width: 15rem;
    margin-left: 4rem;
    height: 5rem;
    float: right;

    img {
      width: 14rem;
    }
  }

  .profile-size-note {
    float: left;
  }

  .social-link {
    margin-top: 3rem;
  }

}

.e-richtexteditor .e-rte-content .e-content,
.e-richtexteditor .e-source-content .e-content {
  background: unset;
  box-sizing: border-box;
  height: 100%;
  min-height: 100px;
  outline: 0 solid transparent;
  overflow-x: auto;
  padding: 10px;
  position: relative;
  text-align: inherit;
  z-index: 2;
  min-height: 14rem;
  margin-top: 0rem;
}
