.company-detail {

    .logo {
        text-align: center;
        margin-top: 4rem;
    }

    .about-company-info {
        padding: 2rem 2rem;
    }

    .company-info-line {
        margin: 2rem 0rem;
        border-bottom-style: dashed;
        border-color: #ddd;
    }


}

li.profiles-nav__list-item.active-profile__nav {
  border-bottom: 4px solid #52b6d0;
}

.navbar-company {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  /* padding: .5rem 1rem; */
}

.company-profile-nav {
    box-shadow: 0 5px 5px rgba(0,0,0,.05);
    z-index: 4;

    .profile-nav {
        width: 100%;
        background-color: #fff;
        position: relative;
        z-index: 4;
    }

    .profiles-nav__list {
        max-width: 1600px;
        margin: auto;
        list-style-type: none;
        text-align: center;
        white-space: nowrap;
        overflow-x: auto;
        cursor: pointer;
    }

    .profiles-nav__list-item {
        margin: 0 20px;
        padding: 15px;
        display: inline-block;
        position: relative;
    }

    .profiles-nav__anchor--active {
        font-weight: 700;
        font-style: normal;
        text-rendering: optimizeLegibility;
    }
    .profiles-nav__anchor {
        font-weight: 600;
        font-style: normal;
        text-rendering: optimizeLegibility;
        font-size: 19px;
        text-transform: capitalize;
        color: #666;
    }

    .profiles-nav-container {
        min-height: 54px;
        padding-bottom: 15px;
    }


}

.job-info-discription {
  display: flex;
  justify-content: space-between;
  width: 25rem;
}

.company-info__industries {
    margin-top: 20px;
}

.company-info__industries--title {
    line-height: 1.1;
    margin-bottom: 10px;
}
.company-info__name, .company-info__industries--title {
    font-weight: 500;
    font-style: normal;
    text-rendering: optimizeLegibility;
    font-size: 0.8rem;
    text-transform: uppercase;
    color: #333;
    font-weight: bold;
}

.company-tags-container {
    display: flex;
    flex-wrap: wrap;
}

.company-tags-container a {
    font-weight: 200;
    white-space: nowrap;
}
.company-tags__size {
    color: #f06222;
}
.company-tags {
    font-weight: 600;
    font-style: normal;
    text-rendering: optimizeLegibility;
    -webkit-transition: background 200ms ease-out;
    -moz-transition: background 200ms ease-out;
    -ms-transition: background 200ms ease-out;
    -o-transition: background 200ms ease-out;
    transition: background 200ms ease-out;
    font-size: 16px;
    display: inline-block;
    color: #fff;
    padding: 10px 20px;
    margin: 5px 10px 5px 0;
    border-radius: 25px;
    background-color: #b5bbc1;
}

a.company-tags:hover {
    color: #fff;
}
a.company-tags__size:hover {
    background-color: #d14b0e;
}

.company-culture {
    min-height: 33rem;
}

.company-job-list {
    min-height: 20rem;
    .search_sec {
        margin-bottom: 2rem;
    }
}

.company-job-list {
    margin-top: 2rem;
    margin-bottom: 2rem;

    h1.job-list-title-heading {
        text-align: center;
    }

    .job-name {
        font-size: 1.3rem;
    }

    .company-state i {
        color: #16a8d8;
    }

    .open-icon i {
        color: #ef8c45;
    }

    .varify i {
        color: #4bd518;
    }

    .icon-sp {
        margin-right: 1rem;
    }

    .job-tab {
        margin-top: 3rem;
        text-align: center;
    }

    .job-tab .job-tab-switch {
        text-align: center;
        width: auto;
        float: none;
        display: inline-block;
        padding: 5px;
        border: 1px solid #ddd;
        border-radius: 30px;
        background: #fff none repeat scroll 0 0;
    }

    .job-tab-switch li {
        display: inline-block;
    }

    .job-tab-switch li>a {
        border-radius: 30px !important;
        display: inline-block !important;
        padding: 10px 30px !important;
        text-transform: capitalize !important;
        color: #111;
        font-weight: 500 !important;
    }

    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        color: #fff;
        background-color: #007bff;
    }

    .job-tab-switch li>a.active {
        border-radius: 30px !important;
        display: inline-block !important;
        padding: 10px 30px !important;
        text-transform: capitalize !important;
        color: #fff;
        font-weight: 500 !important;
        background: #25AD60 none repeat scroll 0 0 !important;
    }
    .nav-pills .nav-link {
        -webkit-border-radius: 0.25rem;
        border-radius: 0.25rem;
    }

    .top-company-list-wraper {
        display: block;
        margin-bottom: 15px;
        background: #fff none repeat scroll 0 0;
        border: 1px solid #eee;
        -webkit-transition: all 0.4s ease 0s;
        transition: all 0.4s ease 0s;
        padding: 1.5rem;
        border-radius: 4px;
    }


    .top-company-list-wraper:hover {
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    }

    .top-company-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 0;
        top: 0;
        justify-content: space-around;
    }

    .company-list-details {
        flex: 1;
    }

    .company-list-logo {
        width: 9rem;
    }

    .aboutCompany {
      font-size: 1rem;
    }

    .filter-list {
        margin-bottom: 1rem;
    }

    span.posted {
        margin-right: 6rem;
    }

    span.employement {
        margin-right: 3rem;
    }

    span.employer {
        margin-right: 5rem;
    }

    .card-body {
        padding: 0.4rem;
    }

    .card-header {
        padding: 7px;
        margin-bottom: 0;
        background-color: rgba(0,0,0,.03);
        border-bottom: 1p;
        font-size: 1rem;
        border-bottom: 0;
    }
}

.nav-onschroll {
  position: fixed;
  width: 100%;
  top: 45px;
}
