<section id="home">
    <div class="row no-gutters company-detail">
        <div [style.background]="'url(' + profile_image + ')'" class="col-12 col-sm-6 col-md-6 company-left"
        style="height: 93.3vh; width: 400px;">

        </div>
        <div class="col-12 col-sm-6 col-md-6 company-right">
            <div class="logo">
                <img *ngIf="companyLogo" width="200" class="signUp_lo__img" [src]="companyLogo">
            </div>
            <div class="about-company-info">
              <p>
                  <span class="aboutCompany" [innerHTML]="about"></span>
              </p>
            <div class="company-info-line"></div>
            <div class="work-at">
                <h2>{{'company-detail.company-work-at' | translate}} {{company_name }}</h2>
                <span class="location-icon">
                    <img width="30" class="signUp_lo__img" src="/assets/icons/maps-and-flags.svg">
                </span>
                <span class="location-name">
                   <span> {{ location }} </span>
                </span>
              </div>

              <div class="company-info__industries">
                  <div class="company-info__industries--title">{{'company-detail.company-keyword' | translate}}</div>
                  <div class="company-tags-container">
                    <span class="company-tags company-tags__size">{{ type }}</span>
                    <span class="company-tags company-tags__size">{{ category }}</span>
                </div>
              </div>

            </div>
        </div>
    </div>
</section>

<nav id="profile-nav" class="profile-nav company-profile-nav navbar-company navbar-light bg-light">
    <ul class="profiles-nav__list">
        <li [ngx-scroll-to]="'#home'" (click)="getScrollNav($event, 'about')" [ngClass]="{'active-profile__nav': addActiveClass == 'about'}"
          class="profiles-nav__list-item">
          <a class="profiles-nav__anchor profiles-nav__anchor--active about">{{'company-detail.company-menu-about' | translate}}</a>&nbsp; </li>
        <li [ngx-scroll-to]="'#module'" (click)="getScrollNav($event, 'our-culture')"
          [ngClass]="{'active-profile__nav': addActiveClass == 'our-culture'}" class="profiles-nav__list-item"><a
          class="profiles-nav__anchor our-culture">{{'company-detail.company-menu-our-culture' | translate}}</a>&nbsp; </li>
        <li [ngx-scroll-to]="'#job'" (click)="getScrollNav($event, 'job')"
          [ngClass]="{'active-profile__nav': addActiveClass == 'job'}" class="profiles-nav__list-item"><a
          class="profiles-nav__anchor job">{{'company-detail.company-menu-jobs' | translate}}</a>&nbsp; </li>
        <li [ngx-scroll-to]="'#edit'" (click)="getScrollNav($event, 'edit')"
          [ngClass]="{'active-profile__nav': addActiveClass == 'edit'}" class="profiles-nav__list-item"><a
          class="profiles-nav__anchor edit">{{'company-detail.company-menu-edit' | translate}}</a>&nbsp; </li>
    </ul>
</nav>

<section class="company-job-list" id="job">
    <div class="container">
            <div class="row">
                    <div class="col-12 col-md-4">
                        <div class="search_sec">
                            <div class="des_text">
                                <h3>{{'company-detail.company-current-jobs-at' | translate}} {{ company_name }}</h3>
                                <p> {{'company-detail.company-explore-job-search' | translate}} </p>
                            </div>
                            <div class="des_text">
                                <form>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="search_job"  placeholder="{{'company-detail.company-search-job-placeholder' | translate}} {{ company_name }}">
                                    </div>
                                    <button class="btn btn-primary">{{'company-detail.company-search-button' | translate}}</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-8">
                            <div class="job-list">
                                    <div class="job-list-body">
                                       <div class="top-company-list-wraper" *ngFor="let job of companyJobList">
                                             <div class="top-company-list">
                                                <div class="company-list-details">
                                                   <h3 class="job-name"><a href="#">{{ job.job_title }}</a></h3>
                                                   <span class="company-state icon-sp"> {{ job.location }} <i class="icon ion-md-navigation"></i> </span>
                                                   <span class="open-icon icon-sp"><i class="icon ion-md-alarm"></i> {{ job.created_at }} </span>
                                                   <span class="varify icon-sp">{{ job.job_salary }}</span>
                                                </div>
                                                <div class="company-list-btn">
                                                   <a href="#" class="jobguru-btn">{{'company-detail.company-apply' | translate}}</a>
                                                </div>
                                             </div>
                                          </div>
                                    </div>
                              </div>
                    </div>
                </div>
    </div>
</section>





