.activate-wrapper {
  height: 60vh;
}

.wrapper {
  width: 37rem;
  height: 17rem;
  margin: auto;
  margin-top: auto;
  margin-top: 9rem;
}

.icon {
  width: 10rem;
  margin: auto;
  margin-top: 1rem;
}

h2.approved-text {
  text-align: center;
  margin-top: 2rem;
}

.error-icon {
  width: 12rem;
  margin: auto;
}

h2.failed-text {
  text-align: center;
}
