<div class="activate-wrapper">
  <div class="wrapper">
    <div class="success" *ngIf="activated">
      <div class="icon"> <img src="/assets/imgs/approved.svg"></div>
      <div class="success-message">
        <h2 class="approved-text">{{'activate-email.success-message' | translate}}</h2>
      </div>
    </div>

    <div class="error" *ngIf="!activated">
      <div class="error-icon"><img width="200" src="/assets/imgs/unapproved.svg"></div>
      <div class="error-message">
        <h2 class="failed-text">{{'activate-email.error-message' | translate}}</h2>
      </div>
    </div>

  </div>
</div>
