.main-social-wrapper {
  margin-top: 1rem;
  width: 50rem;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 3rem;

  .logo-image {
    width: 15rem;
    height: 5rem;
  }

  .row.logo-row {
    background-color: #eeeeee;
    padding-top: 1rem;
    border-top: 1px solid #52b7d0;
  }

  .row.favicon-row {
    background-color: #eeeeee;
    padding-top: 1rem;
    border-bottom: 1px solid #52b7d0;
    margin-top: 1rem;
  }

  .specific-checkbox {
    margin-right: 1rem;
  }

  #mat-radio-2 {
    margin-right: 0.7rem;
  }
}
