<div class="main-social-wrapper">
  <div class="container">
    <form [formGroup]="socialForm">
      <div class="row top_space_2">
        <div class="col-sm-12 col-lg-8">
          <div class="form-group row">
            <label for="site-slogan">{{'social-login.google-app-id' | translate}}</label>
            <input type="text" formControlName="googleAppId" class="form-control" id="phone">
          </div>
        </div>
      </div>

      <div class="row top_space_2">
        <div class="col-sm-12 col-lg-8">
          <div class="form-group row">
            <label for="site-slogan">{{'social-login.google-app-secret' | translate}}</label>
            <input type="text" formControlName="googleAppSecret" class="form-control" id="phone">
          </div>
        </div>
      </div>

      <div class="row top_space_2">
        <button (click)="onSubmit()" class="btn btn-primary">
          {{'social-login.form-submit-button' | translate}}
        </button>
      </div>
    </form>

  </div>
</div>
