.email-template-wrapper {

  width: 50rem;
  margin: auto;
  margin-bottom: 3rem;
  margin-top: 2rem;

  .toggle-panel  .mat-expansion-panel-header-title,
  .toggle-panel  .mat-expansion-panel-header-description {
    flex-basis: 0;
  }

  .toggle-panel .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }

  h3.short-code-title {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 1rem;
  }

  .email-submit {
    margin-left: 0rem;
  }

}
