<div class="email-template-wrapper">
  <div class="container">
    <form [formGroup]="emailTemplateForm">
    <mat-accordion class="toggle-panel" multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{'email-template.account-confirmation-email-title' | translate}}
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>

          <div class="row top_space_2">
            <div class="col-sm-12 col-lg-12">
              <div class="form-group row">
                <label for="createAccountSubject">{{'email-template.form-confirmation-email-subject' | translate}} *</label>
                <input type="text" formControlName="createAccountSubject" required class="form-control" id="createAccountSubject"
                [ngClass]="{ 'is-invalid': submitted && emailTemplateFormGetter.createAccountSubject.errors }">
                <div *ngIf="submitted && emailTemplateFormGetter.createAccountSubject.errors" class="invalid-feedback">
                  <div *ngIf="emailTemplateFormGetter.createAccountSubject.errors.required">
                    {{'email-template.form-confirmation-email-subject-error-message' | translate}}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row top_space_2">
            <div class="col-sm-12 col-lg-12">
              <div class="form-group row">
                <label for="createAccountMessage">{{'email-template.form-confirmation-email-message' | translate}} *</label>
                <ejs-richtexteditor required name="createAccountMessage" formControlName="createAccountMessage"
              [toolbarSettings]='tools'></ejs-richtexteditor>
                <div *ngIf="submitted && emailTemplateFormGetter.createAccountMessage.errors" class="invalid-feedback">
                  <div *ngIf="emailTemplateFormGetter.createAccountMessage.errors.required">
                    {{'email-template.form-confirmation-email-message-error-message' | translate}}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="tags">
            <h3 class="short-code-title">{{'email-template.short-code' | translate}}</h3>
            <table class="table table-striped">
              <tbody>
                <tr>
                  <td>{{'{USER_FULLNAME}'}}</td>
                  <td>{{'email-template.short-code-user-full-name' | translate}}</td>
                </tr>
                <tr>
                  <td>{{'{EMAIL}'}}</td>
                  <td>{{'email-template.short-code-user-email' | translate}}</td>
                </tr>
                <tr>
                  <td>{{'{SITE_TITLE}'}}</td>
                  <td>{{'email-template.short-code-website-title' | translate}}</td>
                </tr>
                <tr>
                  <td>{{'{SITE_URL}'}}</td>
                  <td>{{'email-template.short-code-website-url' | translate}}</td>
                </tr>
                <tr>
                  <td>{{'{CONFIRMATION_LINK}'}}</td>
                  <td>{{'email-template.short-code-registration-confirm-link' | translate}}</td>
                </tr>
              </tbody>
            </table>
          </div>

      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{'email-template.forgot-password-email-title' | translate}}
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="row top_space_2">
          <div class="col-sm-12 col-lg-12">
            <div class="form-group row">
              <label for="forgotPasswordSubject">{{'email-template.form-forgot-password-subject' | translate}} *</label>
              <input type="text" formControlName="forgotPasswordSubject" required class="form-control" id="forgotPasswordSubject"
              [ngClass]="{ 'is-invalid': submitted && emailTemplateFormGetter.forgotPasswordSubject.errors }">
              <div *ngIf="submitted && emailTemplateFormGetter.forgotPasswordSubject.errors" class="invalid-feedback">
                <div *ngIf="emailTemplateFormGetter.forgotPasswordSubject.errors.required">
                  {{'email-template.form-forgot-password-subject-error-message' | translate}}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row top_space_2">
          <div class="col-sm-12 col-lg-12">
            <div class="form-group row">
              <label for="forgotPasswordMessage">{{'email-template.form-forgot-password-message' | translate}} *</label>
              <ejs-richtexteditor required name="forgotPasswordMessage" formControlName="forgotPasswordMessage"
              [toolbarSettings]='tools'></ejs-richtexteditor>
              <div *ngIf="submitted && emailTemplateFormGetter.forgotPasswordMessage.errors" class="invalid-feedback">
                <div *ngIf="emailTemplateFormGetter.forgotPasswordMessage.errors.required">
                  {{'email-template.form-forgot-password-message-error-message' | translate}}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="tags">
          <h3 class="short-code-title">{{'email-template.short-code' | translate}}</h3>
          <table class="table table-striped">
            <tbody>
              <tr>
                <td>{{'{USER_FULLNAME}'}}</td>
                <td>{{'email-template.short-code-user-full-name' | translate}}</td>
              </tr>
              <tr>
                <td>{{'{EMAIL}'}}</td>
                <td>{{'email-template.short-code-user-email' | translate}}</td>
              </tr>
              <tr>
                <td>{{'{SITE_TITLE}'}}</td>
                <td>{{'email-template.short-code-website-title' | translate}}</td>
              </tr>
              <tr>
                <td>{{'{FORGET_PASSWORD_LINK}'}}</td>
                <td>{{'email-template.short-code-forgot-password-reser-link' | translate}}</td>
              </tr>
            </tbody>
          </table>
        </div>

      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{'email-template.job-approval-email-title' | translate}}
          </mat-panel-title>
          <mat-panel-description>

          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="row top_space_2">
          <div class="col-sm-12 col-lg-12">
            <div class="form-group row">
              <label for="approvedJobTitle">{{'email-template.form-job-approval-subject' | translate}} *</label>
              <input type="text" formControlName="approvedJobTitle" required class="form-control" id="approvedJobTitle"
              [ngClass]="{ 'is-invalid': submitted && emailTemplateFormGetter.approvedJobTitle.errors }">
              <div *ngIf="submitted && emailTemplateFormGetter.approvedJobTitle.errors" class="invalid-feedback">
                <div *ngIf="emailTemplateFormGetter.approvedJobTitle.errors.required">
                  {{'email-template.form-job-approval-subject-error-message' | translate}}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row top_space_2">
          <div class="col-sm-12 col-lg-12">
            <div class="form-group row">
              <label for="approvedJobMessage">{{'email-template.form-job-approval-message' | translate}} *</label>
              <ejs-richtexteditor required name="approvedJobMessage" formControlName="approvedJobMessage"
              [toolbarSettings]='tools'></ejs-richtexteditor>
              <div *ngIf="submitted && emailTemplateFormGetter.approvedJobMessage.errors" class="invalid-feedback">
                <div *ngIf="emailTemplateFormGetter.approvedJobMessage.errors.required">
                  {{'email-template.form-job-approval-message-error-message' | translate}}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="tags">
          <h3 class="short-code-title">Short Codes</h3>
          <table class="table table-striped">
            <tbody>
              <tr>
                <td>{{'{COMPANY_NAME}'}}</td>
                <td>{{'email-template.short-code-company-name' | translate}}</td>
              </tr>
              <tr>
                <td>{{'{COMPANT_EMAIL}'}}</td>
                <td>{{'email-template.short-code-company-email' | translate}}</td>
              </tr>
              <tr>
                <td>{{'{JOB_TITLE}'}}</td>
                <td>{{'email-template.short-code-job-title' | translate}}</td>
              </tr>
              <tr>
                <td>{{'{JOB_LINK}'}}</td>
                <td>{{'email-template.short-code-job-link' | translate}}</td>
              </tr>
              <tr>
                <td>{{'{SITE_TITLE}'}}</td>
                <td>{{'email-template.short-code-website-title' | translate}}</td>
              </tr>
              <tr>
                <td>{{'{SITE_LINK}'}}</td>
                <td>{{'email-template.short-code-website-url' | translate}}</td>
              </tr>
            </tbody>
          </table>
        </div>


      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{'email-template.apply-for-job-email-title' | translate}}
          </mat-panel-title>
          <mat-panel-description>

          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="row top_space_2">
          <div class="col-sm-12 col-lg-12">
            <div class="form-group row">
              <label for="applyJobTitle">{{'email-template.form-apply-for-job-email-subject' | translate}} *</label>
              <input type="text" formControlName="applyJobTitle" required class="form-control" id="applyJobTitle"
              [ngClass]="{ 'is-invalid': submitted && emailTemplateFormGetter.applyJobTitle.errors }">
              <div *ngIf="submitted && emailTemplateFormGetter.applyJobTitle.errors" class="invalid-feedback">
                <div *ngIf="emailTemplateFormGetter.applyJobTitle.errors.required">
                  {{'email-template.form-apply-for-job-email-subject-error-message' | translate}}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row top_space_2">
          <div class="col-sm-12 col-lg-12">
            <div class="form-group row">
              <label for="applyJobMessage">{{'email-template.form-apply-for-job-email-message' | translate}} *</label>
              <ejs-richtexteditor required name="applyJobMessage" formControlName="applyJobMessage"
              [toolbarSettings]='tools'></ejs-richtexteditor>
              <div *ngIf="submitted && emailTemplateFormGetter.applyJobMessage.errors" class="invalid-feedback">
                <div *ngIf="emailTemplateFormGetter.applyJobMessage.errors.required">
                  {{'email-template.form-apply-for-job-email-message-error-message' | translate}}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="tags">
          <h3 class="short-code-title">{{'email-template.short-code' | translate}}</h3>
          <table class="table table-striped">
            <tbody>
              <tr>
                <td>{{'{COMPANY_NAME}'}}</td>
                <td>{{'email-template.short-code-company-name' | translate}}</td>
              </tr>
              <tr>
                <td>{{'{COMPANT_EMAIL}'}}</td>
                <td>{{'email-template.short-code-company-email' | translate}}</td>
              </tr>
              <tr>
                <td>{{'{JOB_TITLE}'}}</td>
                <td>{{'email-template.short-code-job-title' | translate}}</td>
              </tr>
              <tr>
                <td>{{'{JOB_LINK}'}}</td>
                <td>{{'email-template.short-code-job-link' | translate}}</td>
              </tr>
              <tr>
                <td>{{'{APPLICANT_NAME}'}}</td>
                <td>{{'email-template.short-code-applicant-name' | translate}}</td>
              </tr>
              <tr>
                <td>{{'{APPLICANT_EMAIL}'}}</td>
                <td>{{'email-template.short-code-applicant-email' | translate}}</td>
              </tr>
              <tr>
                <td>{{'{RESUME_LINK}'}}</td>
                <td>{{'email-template.short-code-applicant-resume-link' | translate}}</td>
              </tr>
              <tr>
                <td>{{'{APPLICANT_MESSAGE}'}}</td>
                <td>{{'email-template.short-code-applicant-message' | translate}}</td>
              </tr>
              <tr>
                <td>{{'{SITE_TITLE}'}}</td>
                <td>{{'email-template.short-code-website-title' | translate}}</td>
              </tr>
              <tr>
                <td>{{'{SITE_LINK}'}}</td>
                <td>{{'email-template.short-code-website-url' | translate}}</td>
              </tr>

            </tbody>
          </table>
        </div>
      </mat-expansion-panel>

    </mat-accordion>
    <div class="row top_space_2 email-submit ">
      <button (click)="onSubmit()" class="btn btn-primary" [disabled]="loading || emailTemplateForm.invalid">
        <span *ngIf="!loading">{{'email-template.form-submit-button' | translate}}</span>
        <span *ngIf="loading" class="spinner-icon"><mat-icon><mat-spinner color="warn" diameter="20"></mat-spinner></mat-icon></span>
       </button>
    </div>
    </form>
  </div>
</div>
