.box {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  user-select: none;

  label {
    color: #4D4D4D;
    position: absolute;
    z-index: 10;
    padding-left: 24px;
    cursor: pointer;
    font-size: 0.8rem;
  }

  input {
      opacity: 0;
      visibility: hidden;
      position: absolute;

      &:checked {

          ~ .check {
            border-color: #4D4D4D;
            box-shadow: 0px 0px 0px 15px #52b7d0 inset;

              &::after {
                  opacity: 1;
                  transform: scale(1);
              }
          }
      }
  }

  .check {
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 100px;
    background-color: #FFF;
    border: 2px solid #52b7d0;
    box-shadow: 0px 0px 0px 0px #52b7d0 inset;
    transition: all 0.15s cubic-bezier(0, 1.05, 0.72, 1.07);


      &::after {
          content: '';
          width: 100%;
          height: 100%;
          opacity: 0;
          z-index: 4;
          position: absolute;
          transform: scale(0);
          background-size: 50%;
          background-repeat: no-repeat;
          background-position: center;
          transition-delay: 0.2s !important;
          transition: all 0.25s cubic-bezier(0, 1.05, 0.72, 1.07);
      }
  }
}
